/* You can add global styles to this file, and also import other style files */

@import '~perfect-scrollbar/css/perfect-scrollbar.css';
@import "~@ng-select/ng-select/themes/default.theme.css";


.ps .ps__scrollbar-y-rail {
    left: 3px;
    right: auto;
}
.card-0 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.card-1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card-1:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.card-3 {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.card-4 {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-5 {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.btnc {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 5px;
}

.btnc:hover {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.btnc:active {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.cursor-pointer {
    cursor: pointer;
}

.dropdown-toggle::after {
    /* margin-left: 60px !important; */
    color: #fff;
}

.custom-class .selected-list {
    font-size: 16px;
    font-weight: 600;
}

.tg-formbannersearch input {
    text-indent: 10px;
}

.tg-formbannersearch input::placeholder {
    text-indent: 10px;
}
.card-box {
    padding: 6px 0;
    border-radius: 0;
    /* background: #184194; */
    height: 84px;
}
.btn-next{
    border-radius: 0 !important;
  background-color:#184194;
  border-color: #184194 !important;
  color: #fff;
  padding: 3px !important;
  font-size: 12px !important;
}
.dropdown-btn{
    border: 1px solid #ced4da !important;
}
.loader-conteiner{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.5;
}
.listloader {
    position: absolute;
    left: 9%;
    right: 0;
    margin: auto;
    top: 50%;
    border: 6px solid #f3f3f3; /* Light grey */
    border-top: 6px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.text-small{
    font-size: 10px;
    font-weight: bold;
}
.click-here:hover{
    color: blue;
    cursor: pointer;
    text-decoration: underline

}
/* .dropdown-list{
    z-index: 0 !important;
} */
.update-style{
    text-align: right;
    margin-top: 35px;

}