

<div class="top-nav-container">
  <div class="row no-gutters">
  
    <div class="col-md-12 midMenu">
   
      <div class="row no-gutters">
        <div class="col-md-12">
       
          <nav class="navbar navbar-expand-md bg-info navbar-dark">
              <a class="navbar-brand" href="#">
                <img src="assets/logo/logonew.jpg" style="width:90px"/>
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="nav ">
                    <li class="nav-item">
                        <a class="nav-link " id="navbardrop" [routerLink]="['/'+currentUserType]">
                          Dashboard
                        </a>
                    </li>
                  </ul>
              </div>
            </nav>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="main-container">
  <router-outlet></router-outlet>
</div>
