.pricing-table .list-group > .list-group-item,
.wrapper {
    width: 100%;
    float: left;
    padding-right: 0;
    padding-left: 0;
}

/* .navbar{
  height: 65px;
} */

@media (min-width: 768px) {
    .midMenu.col-md-9 {
        flex: 0 0 79%;
        max-width: 79%;
    }
}

.cartButton button {
    width: 100%;
}

@media (min-width: 768px) {
    .col-md-1.cartButton {
        flex: 0 0 4.333333%;
        max-width: 4.333333%;
    }
}

.logoMenu {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
}

.logoMenu a {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 50px;
    line-height: 32px;
}

.nav-link {
    color: #fff;
    font-weight: 400;
}
.nav-label {
    color: #fff;
}

.dropdown-menu.active {
    display: block;
}

.pointer {
    cursor: pointer;
}

.main-container {
    /* margin-top: 100px; */
}

.logoMenu {
    background: white;
}

.top-nav-container {
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
    box-shadow: 0 1px 3px rgba(173, 171, 171, 0.12), 0 1px 2px rgba(138, 132, 132, 0.24);
}
.text-white {
    color: #fff;
}
