@media only screen and (max-width: 800px) {
    .btn-center {
        text-align: center !important;
    }
}

@media only screen and (min-width: 800px) {
    .left-margin {
        margin-left: 50px;
    }
}

.card-front{
    background: url('../../assets/img/front.png');
    background-repeat: no-repeat;
}

.card-back{
    background: url('../../assets/img/back.png');
    background-repeat: no-repeat;
}

.card-name{
    margin-left: 42px;
    color: blue;
    font-weight: bolder;
}

.card-number{
    margin-left: 10px;
    right:0px;
}

.btn {
    font-size: 15px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 8px;
    border-radius: 4px;
    margin:5px;
}

.section {
    padding: 90px 0;
}

.card {
   /* left:200px*/
    top:50px;
}

.btn-success:disabled {
    opacity: 0.2 !important;
}