<div class="container" id="non-printable">
  <div class="row">
    <div class="col-md-12">
      <div class="card-info change-password">
        <div class="card green-card">
          <div class="card-header">Thank you for supporting to school safety program discount card. You can customize your card below.</div>
          <div class="card-body">
            <div class="alert alert-success alert-dismissible fade show" *ngIf="showSuccessMsg">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong>{{message}}</strong>
            </div>
            <div class="alert alert-danger alert-dismissible fade show" *ngIf="showFailureMsg">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong>{{message}}</strong>
            </div>
            <div class="row">
              <div class="col-md-6 edit-card-details">
                <div class="form-group">
                  <label for="firstName">You can change name on the card here</label>
                  <div class="input-group">
                    <input AlphabetsSpaceDot="true" type="text" class="form-control mr-2" name="firstName" [(ngModel)]="firstName" placeholder="First Name"
                      (keydown)="checkNameLength($event)" (paste)="pasteCheck($event)" (change)="checkName()">
                    <input AlphabetsSpaceDot="true" type="text" class="form-control mr-2" name="lastName" (change)="checkName()" [(ngModel)]="lastName"
                      placeholder="Last Name" (keydown)="checkNameLength($event)" (paste)="pasteCheck($event)">
                  </div>
                  <div *ngIf="invalidDetails" class="text-danger small">
                    Name on the card is required
                  </div>
                  <!-- input-group.// -->
                </div>
                <div class="form-group">
                  <label for="email">Optional: We will email you the card at:</label>
                  <div class="input-group">
                    <input type="text" class="form-control" name="email" [(ngModel)]="email" placeholder="Email Address" (change)="validateEmail()">
                  </div>
                  <div *ngIf="!validEmail && !emailRequired" class="text-danger small">
                    {{invalidEmailMessage}}
                  </div>
                  <div *ngIf="emailRequired" class="text-danger small">
                    Email is required.
                  </div>
                  <!-- input-group.// -->
                </div>
                <!-- form-group.// -->
              </div>

              <div class="col-md-6 col-sm-12 printable-card-otr">
                <div class="card-front printable-card" id="printable">
                  <div class="printable-info">
                    <div class="print-card-name">
                      <span *ngIf="card.firstName">{{firstName}}</span>
                      <span *ngIf="card.lastName">{{' '+lastName}}</span>
                    </div>
                    <div class="print-card-no">{{card.number}}</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 card-btns-grp">
                <div class="btn-grp-1 btn-center">
                  <button class="btn btn-success btn-sm" [disabled]="invalidDetails" (click)="saveCard()">Save Card</button>
                  <button class="btn btn-success btn-sm" [disabled]="invalidDetails" (click)="printImage()">Print My Card</button>
                  <button class="btn btn-success btn-sm" [disabled]="!validEmail || emailRequired || !disableEmail || invalidDetails" (click)="emailCard()">Email My Card</button>
                </div>
              </div>
              <div class="col-md-6 text-center card-btns-grp">
                <div class="btn-grp-2 btn-center">
                  <button class="btn btn-success btn-sm" (click)="buyMore()" [disabled]="!showAllBtns">Buy More Cards</button>
                  <button class="btn btn-success btn-sm" (click)="addBusiness()" [disabled]="!showAllBtns">Add My Business</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- card-body.// -->
    </div>
  </div>
</div>

<img class="card" *ngIf="imageBase64" [src]="imageBase64" id="printable" />