<div class="container privacy">
  <div class="card" style="padding:3rem">
    <div class="row">
      <div class="col-md-12 text-right">
        <button class="btn btn-primary back-btn" type="button" (click)="navToHome()">Go Back</button>
      </div>
    </div>
    <h3 class="first-head">Welcome to MV1Stop!</h3>
    <p>Thanks for using Insurance Across America LLC DBA MV1Stop products and services (“Services”). The
      company is located at 119 SW Maynard Rd, Suite 270, Cary, NC United States.</p>
    <p>By using our Services, you are agreeing to these terms. Please read them carefully.</p>
    <p>Our Services are very diverse, so sometimes additional terms or product requirements (including age
      requirements) may apply. Additional terms will be available with the relevant Services, and those additional
      terms become part of your agreement with us if you use those Services.</p>
    <h3 class="first-head">Using MV1Stop Services</h3>
    <p>You must comply with all policies published to warrant the Services provided.</p>
    <p>Misuse of Services can result in legal and warrant concerns. For example, don’t interfere with our Services or
      try to access them using a method other than the interface and the instructions that we provide. You may use
      our Services only as permitted by law, including applicable export and re-export control laws and regulations.
      MV1Stop has the right to suspend or stop Services to anyone if terms and policies are not complied with.</p>
    <p>Ownership rights of any intellectual property in MV1Stop Services or the Content you access belongs solely to
      MV1Stop and may not be used outside the scope of MV1Stop Services without prior written approval. These
      terms do not grant you the right to use any branding or logos used in our Services. Don’t remove, obscure, or
      alter any legal notices displayed in or along with our Services.</p>
    <p>In connection with your use of the Services, MV1Stop may send you service announcements, administrative
      messages, and other information. You have the option to opt out of these communications.</p>
    <p>Some of our Services are available on mobile devices. Do not use such Services in a way that distracts you and
      prevents you from obeying traffic or safety laws.</p>
    <h3 class="first-head">Modifying and Terminating MV1Stop Services</h3>
    <p>MV1Stop is constantly changing and improving our Services and may add or remove functionalities or features,
      suspend or stop a Service altogether.</p>
    <p>You can stop using MV1Stop Services at any time.</p>
    <h3 class="first-head">MV1Stop Warranties and Disclaimers</h3>
    <p>MV1Stop provides our Services using a commercially reasonable level of skill and care and hope you find value
      in our services.</p>
    <p>OTHER THAN AS EXPRESSLY SET OUT IN THESE TERMS OR ADDITIONAL TERMS, NEITHER MV1Stop
      NOR ITS SUPPLIERS OR DISTRIBUTORS MAKE ANY SPECIFIC PROMISES ABOUT THE SERVICES. FOR
      EXAMPLE, WE DON’T MAKE ANY COMMITMENTS ABOUT THE CONTENT WITHIN THE SERVICES, THE
      SPECIFIC FUNCTIONS OF THE SERVICES, OR THEIR RELIABILITY, AVAILABILITY, OR ABILITY TO MEET
      YOUR NEEDS. WE PROVIDE THE SERVICES “AS IS”. SOME JURISDICTIONS PROVIDE FOR CERTAIN WARRANTIES, LIKE THE IMPLIED
      WARRANTY OF
      MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. TO THE
      EXTENT PERMITTED BY LAW, WE EXCLUDE ALL WARRANTIES.</p>
    <h3 class="first-head">Liability for MV1Stop Services</h3>
    <p>WHEN PERMITTED BY LAW, MV1Stop, AND MV1Stop’s SUPPLIERS AND DISTRIBUTORS, WILL NOT BE
      RESPONSIBLE FOR LOST PROFITS, REVENUES, OR DATA, FINANCIAL LOSSES OR INDIRECT, SPECIAL,
      CONSEQUENTIAL, EXEMPLARY, OR PUNITIVE DAMAGES.</p>
    <p>TO THE EXTENT PERMITTED BY LAW, THE TOTAL LIABILITY OF MV1Stop, AND ITS SUPPLIERS AND
      DISTRIBUTORS, FOR ANY CLAIMS UNDER THESE TERMS, INCLUDING FOR ANY IMPLIED WARRANTIES,
      IS LIMITED TO THE AMOUNT YOU PAID TO USE MV1Stop SERVICES..</p>
    <p>IN ALL CASES, MV1Stop, AND ITS SUPPLIERS AND DISTRIBUTORS, WILL NOT BE LIABLE FOR ANY LOSS
      OR DAMAGE THAT IS NOT REASONABLY FORESEEABLE.</p>
    <h3 class="first-head">Business uses of MV1Stop Services</h3>
    <p>If you are using MV1Stop Services on behalf of a business, that business accepts these terms. It will hold
      harmless and indemnify MV1Stop and its affiliates, officers, agents, and employees from any claim, suit or action
      arising from or related to the use of the Services or violation of these terms, including any liability or
      expense
      arising from claims, losses, damages, suits, judgments, litigation costs and attorneys’ fees.</p>
    <h3 class="first-head">About these Terms</h3>

    <p>MV1Stop may modify these terms or any additional terms that apply to a Service, for example: reflect changes to
      the law or changes to MV1Stop Services. You should look at the terms regularly. We’ll post notice of
      modifications to these terms on this page. MV1Stop will post notice of modified additional terms in the
      applicable
      Service. Changes will not apply retroactively and will become effective no sooner than (14) days after they are
      posted. However, changes addressing new functions for a Service or changes made for legal reasons will be
      effective immediately. If you do not agree to the modified terms for a MV1Stop Service, you should discontinue
      your use of the Service.</p>
    <p>If there is a conflict between these terms and the additional terms, the additional terms will take precedence
      for
      the conflict.</p>
    <p>These terms control the relationship between MV1Stop and you. They do not create any third party beneficiary
      rights.</p>
    <p>If it turns out that a particular term is not enforceable, this will not affect any other terms.</p>
    <p>The laws of North Carolina, U.S.A., excluding North Carolina’s conflict of laws rules, will apply to any
      disputes
      arising out of or relating to these terms or MV1Stop Services. All claims arising out of or relating to these
      terms
      or MV1Stop Services, will be litigated exclusively in the federal or state courts of Wake County, North Carolina,
      USA, and you and MV1Stop consent to personal jurisdiction in those courts.</p>
    <p>For further information contact operations@mv1stop.com</p>
  </div>
</div>