<angular2-multiselect [data]="dropdownList" [(ngModel)]="selectedItems" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
  (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)">
  <c-search>
    <ng-template>
      <input type="text" (keyup)="onSearch($event)" placeholder="Type here.." style="border: none;width: 100%; height: 100%;outline: none;"
      />
    </ng-template>
  </c-search>
</angular2-multiselect>