<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
            <div class="col-md-4 mb-3">
                <div class="search-container">
                  <div class="input-group">
                     <input type="text" class="form-control" style="margin-right:10px;"
                    [(ngModel)]="searchText1" placeholder="Search" (keypress)="searchEnter($event)">
                    <span class="input-group-btn pt-2" >
                        <i class="fa fa-search" aria-hidden="true" title="search" (click)="page=1;FilterData()" ></i>
                    </span>
                  </div>
                </div>
              </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered" style="border: 1px solid #dee2e6;;overflow-x:auto">
              <thead>
                <tr>
                  <th>IMPORTED ON</th>
                  <th>STATUS</th>
                  <th>MESSAGE</th>
                  <th>SUCCESS COUNT</th>
                  <th>FAILURE COUNT</th>
                  <th>EXECUTION TIME</th>
                  <th>ACTION</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let d of historyData ">
                  <td>{{d.importDate | date:'MM/dd/yy'}}</td>
                  <td>{{d.status}}</td>
                  <td>{{d.message}}</td>
                  <td>{{d.successCount}}</td>
                  <td>{{d.failureCount}}</td>
                  <td>{{d.executionTime / 1000}}</td>
                  <td>
                    <button class="btn btn-info no-radius" type="button" (click)="download(d.id)">Download</button>
                  </td>

                </tr>
              </tbody>
            </table>
            <div class="col-md-12">
              <ngb-pagination *ngIf="historyData?.length && totalPages!=1" [maxSize]="5" [boundaryLinks]="true" [rotate]="false"
                [collectionSize]="totalElements" [pageSize]="20" (pageChange)="pageChanged($event)" [(page)]="page"></ngb-pagination>
            </div>
            <div class="col-md-12" *ngIf="!historyData?.length">
              <h5>No Data Available</h5>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="listLoader" class="loader-conteiner">
  <div class="listloader">
  </div>
</div>