<hr/>
<div class="container">
  <div class="row payment-sec">
    <div class="col-lg-4 col-md-4 offset-lg-0">
      <div class="sidebar">
        <!-- User Widget -->
        <div class="">
          <div class="category-block top-margin">
            <div class="header">
              <img width="200" height="80" src="assets/img/ssp-logo.png" />
            </div>
            <div class="header">
              <h5>SSP Discount</h5>
              <h5>Membership Card</h5>
              <h4>$30</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class=" col-lg-8 col-md-8 payment-rt-sec">
      <div class="alert alert-success alert-dismissible fade show" *ngIf="paymentSuccess">
        <strong>Success!</strong> Thank you for your donation.
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
      <div class="alert alert-danger alert-dismissible fade show" *ngIf="paymentFailure">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>{{errorMsg}}</strong>
      </div>
      <div class="widget change-password">
        <div class="card-body">
          <h4 class="text-success">{{schoolsMessage}}</h4>
          <div class="d-flex flex-row-reverse pb-2">
            <div>
              <img width="30" height="20" src="http://bootstrap-ecommerce.com/main/images/icons/pay-visa.png">
              <img width="30" height="20" src="http://bootstrap-ecommerce.com/main/images/icons/pay-mastercard.png">
              <img width="30" height="20" src="http://bootstrap-ecommerce.com/main/images/icons/pay-american-ex.png">
            </div>
          </div>
          <form role="form" [formGroup]="paymentDetailsForm">
            <div class="row">
              <!-- form-group.// -->
              <div class="col-md-12">
                <div class="form-group">
                  <div class="input-group">
                    <input type="text" class="form-control" OnlyNumber="true" formControlName="cardNumber" [(ngModel)]="userDetails.cardNo" maxlength="19"
                      placeholder="XXXX XXXX XXXX XXXX" (input)="setNumberAlignment([4,9,14], 'card', $event)" (change)="alignCard()"
                      (paste)="pasteCheck($event)" (focus)="onFocus()" (blur)="onBlur()">
                  </div>
                  <div *ngIf="paymentDetailsForm.controls.cardNumber.invalid && (paymentDetailsForm.controls.cardNumber.dirty || paymentDetailsForm.controls.cardNumber.touched)"
                    class="text-danger small">
                    <div *ngIf="showCardError && paymentDetailsForm.controls.cardNumber.hasError('required')">
                      {{cardNumberRequiredMessage}}
                    </div>
                  </div>
                  <div class="text-danger small" *ngIf="!validCardNumber && !paymentDetailsForm.controls.cardNumber.hasError('required')">
                    {{invalidCardNumberMessage}}
                  </div>  
                  <!-- input-group.// -->
                </div>
              </div>
              <!-- form-group.// -->
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <div class="form-inline">
                    <select class="form-control" formControlName="expiryMonth" [(ngModel)]="expiryMonth" style="width:45%">
                      <option value=undefined disabled>MM</option>
                      <option *ngFor="let month of createMonthRange()" [value]="month">{{month}}</option>
                    </select>
                    <span style="width:10%; text-align: center"> / </span>
                    <select class="form-control" formControlName="expiryYear" [(ngModel)]="expiryYear" style="width:45%">
                      <option value=undefined disabled>YY</option>
                      <option *ngFor="let year of createYearRange(15)" [value]="year">{{year}}</option>
                    </select>
                    <div *ngIf="(paymentDetailsForm.controls.expiryMonth.invalid) && (paymentDetailsForm.controls.expiryMonth.dirty || paymentDetailsForm.controls.expiryMonth.touched)"
                      class="text-danger small">
                      <div *ngIf="paymentDetailsForm.controls.expiryMonth.hasError('required')">
                        {{validTillMonthRequiredMessage}}
                      </div>
                    </div>
                    <div *ngIf="(paymentDetailsForm.controls.expiryYear.invalid) && (paymentDetailsForm.controls.expiryYear.dirty || paymentDetailsForm.controls.expiryYear.touched)"
                      class="text-danger small">
                      <div *ngIf="paymentDetailsForm.controls.expiryYear.hasError('required')">
                        {{validTillYearRequiredMessage}}
                      </div>
                    </div>  
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <input class="form-control" formControlName="cvv" OnlyNumber="true" [(ngModel)]="userDetails.cvv" type="text" placeholder="CVV"
                    maxlength="3" (change)="validateCVV()" (paste)="pasteCheck($event)">
                  <div *ngIf="paymentDetailsForm.controls.cvv.invalid && (paymentDetailsForm.controls.cvv.dirty || paymentDetailsForm.controls.cvv.touched)"
                    class="text-danger small">
                    <div *ngIf="paymentDetailsForm.controls.cvv.hasError('required')">
                      <div *ngIf="!paymentDetailsForm.controls.cvv.pristine">
                          {{cvvRequiredMessage}} 
                      </div>
                    </div>
                  </div>
                  <div class="text-danger small" *ngIf="!validCVV && !paymentDetailsForm.controls.cvv.hasError('required')">
                    {{invalidCVVMessage}}
                  </div>
                </div>
                <!-- form-group.// -->
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <div class="input-group">
                    <input type="text" AlphabetsSpaceDot = "true" class="form-control" formControlName="firstName" [(ngModel)]="userDetails.firstName" placeholder="First Name" maxlength="22" (paste)="checkLength($event)">
                  </div>
                  <div *ngIf="paymentDetailsForm.controls.firstName.invalid && (paymentDetailsForm.controls.firstName.dirty || paymentDetailsForm.controls.firstName.touched)"
                    class="text-danger small">
                    <div *ngIf="paymentDetailsForm.controls.firstName.hasError('required')">
                      {{firstNameRequiredMessage}}
                    </div>
                  </div>
                  <!-- input-group.// -->
                </div>
                <!-- form-group.// -->
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <div class="input-group">
                    <input type="text" AlphabetsSpaceDot = "true" class="form-control" formControlName="lastName" [(ngModel)]="userDetails.lastName" placeholder="Last Name" maxlength="22" (paste)="checkLength($event)">
                  </div>
                  <div *ngIf="paymentDetailsForm.controls.lastName.invalid && (paymentDetailsForm.controls.lastName.dirty || paymentDetailsForm.controls.lastName.touched)"
                    class="text-danger small">
                    <div *ngIf="paymentDetailsForm.controls.lastName.hasError('required')">
                      {{lastNameRequiredMessage}}
                    </div>
                  </div>
                  <!-- input-group.// -->
                </div>
                <!-- form-group.// -->
              </div>
            </div>


            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <div class="input-group">
                    <input type="text" class="form-control" formControlName="address" [(ngModel)]="userDetails.street" placeholder="Address" maxlength="22" (paste)="checkLength($event)">
                  </div>
                  <div *ngIf="paymentDetailsForm.controls.address.invalid && (paymentDetailsForm.controls.address.dirty || paymentDetailsForm.controls.address.touched)"
                    class="text-danger small">
                    <div *ngIf="paymentDetailsForm.controls.address.hasError('required')">
                      {{addressRequiredMessage}}
                    </div>
                  </div>
                  <!-- input-group.// -->
                </div>
                <!-- form-group.// -->
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <div class="input-group">
                    <input type="text" class="form-control" formControlName="street" [(ngModel)]="userDetails.addr" placeholder="Apartment, Suite (Optional)" maxlength="22" (paste)="checkLength($event)">
                  </div>
                  <!-- input-group.// -->
                </div>
                <!-- form-group.// -->
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <div class="input-group">
                    <input type="text" class="form-control" formControlName="city" [(ngModel)]="userDetails.city" placeholder="City" maxlength="22" (paste)="checkLength($event)">
                  </div>
                  <div *ngIf="paymentDetailsForm.controls.city.invalid && (paymentDetailsForm.controls.city.dirty || paymentDetailsForm.controls.city.touched)"
                    class="text-danger small">
                    <div *ngIf="paymentDetailsForm.controls.city.hasError('required')">
                      {{cityRequiredMessage}}
                    </div>
                  </div>
                  <!-- input-group.// -->
                </div>
                <!-- form-group.// -->
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <div class="input-group">
                    <select class="form-control" formControlName="state" [(ngModel)]="userDetails.state">
                      <option value=undefined disabled>State</option>
                      <option *ngFor="let state of stateList" [value]="state.name">{{state.name}}</option>
                    </select>
                  </div>
                  <div *ngIf="paymentDetailsForm.controls.state.invalid && (paymentDetailsForm.controls.state.dirty || paymentDetailsForm.controls.state.touched)"
                    class="text-danger small">
                    <div *ngIf="paymentDetailsForm.controls.state.hasError('required')">
                      {{stateRequiredMessage}}
                    </div>
                  </div>
                  <!-- input-group.// -->
                </div>
                <!-- form-group.// -->
              </div>

            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <div class="input-group">
                    <input type="text" class="form-control" OnlyNumber="true" formControlName="zipcode" [(ngModel)]="userDetails.zip" maxlength="5"
                      placeholder="ZIP Code" (change)="validateZip()" (paste)="pasteCheck($event)">
                  </div>
                  <div *ngIf="paymentDetailsForm.controls.zipcode.invalid && (paymentDetailsForm.controls.zipcode.dirty || paymentDetailsForm.controls.zipcode.touched)"
                    class="text-danger small">
                    <div *ngIf="paymentDetailsForm.controls.zipcode.hasError('required')">
                      {{zipRequiredMessage}}
                    </div>
                  </div>
                  <div class="text-danger small" *ngIf="!validZip && !paymentDetailsForm.controls.zipcode.hasError('required')">
                    {{invalidZipMessage}}
                  </div>
                  <!-- input-group.// -->
                </div>
                <!-- form-group.// -->
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <div class="input-group">
                    <select class="form-control" formControlName="country" [(ngModel)]="userDetails.country">
                      <option value=undefined disabled>Country</option>
                      <option value="USA">USA</option>
                    </select>
                  </div>
                  <div *ngIf="paymentDetailsForm.controls.country.invalid && (paymentDetailsForm.controls.country.dirty || paymentDetailsForm.controls.country.touched)"
                    class="text-danger small">
                    <div *ngIf="paymentDetailsForm.controls.country.hasError('required')">
                      {{countryRequiredMessage}}
                    </div>
                  </div>
                  <!-- input-group.// -->
                </div>
                <!-- form-group.// -->
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <div class="input-group">
                    <input type="text" class="form-control" OnlyNumber="true" formControlName="phone" [(ngModel)]="userDetails.phone" placeholder="Phone"
                      maxlength="12" (input)="setNumberAlignment([3,7], 'phone', $event)" (change)="alignPhone()" (paste)="pasteCheck($event)">
                  </div>
                  <!-- input-group.// -->
                  <div *ngIf="paymentDetailsForm.controls.phone.invalid && (paymentDetailsForm.controls.phone.dirty || paymentDetailsForm.controls.phone.touched)"
                    class="text-danger small">
                    <div *ngIf="paymentDetailsForm.controls.phone.hasError('required')">
                      {{phoneRequiredMessage}}
                    </div>
                  </div>
                  <div class="text-danger small" *ngIf="!validPhone && !paymentDetailsForm.controls.phone.hasError('required')">
                    {{invalidMobileNumberMessage}}
                  </div>
                  <div class="text-danger small" *ngIf="invalidAreaCode && validPhone && !paymentDetailsForm.controls.phone.hasError('required')">
                    Area code is invalid
                  </div>
                </div>
                <!-- form-group.// -->
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <div class="input-group">
                    <input type="text" class="form-control" formControlName="email" [(ngModel)]="userDetails.email" placeholder="Email (Optional)"
                      (change)="validateEmail()" maxlength="30">
                  </div>
                  <div *ngIf="!validEmail" class="text-danger small">
                    {{invalidEmailMessage}}
                  </div>
                  <!-- input-group.// -->
                </div>
                <!-- form-group.// -->
              </div>
            </div>
            <!-- row.// -->
            <button class="btn btn-success btn-block" type="button" (click)="completeDonation()" [disabled]="paymentDetailsForm.invalid || !validEmail">
              Purchase SSP Membership Card </button>
          </form>

        </div>
        <!-- card-body.// -->
      </div>

    </div>
  </div>
</div>