.card-body {
    padding: 0px !important; 
}

.right {
    bottom:0;
    position: absolute;
    left:0; 
    top: 0;
}

.main {
    position: relative;
}

@media only screen and (min-width: 768px) {
    .top-margin {
        padding-top: 85px !important;
    }
}

@media only screen and (max-width: 800px) {
    .btn {
        font-size: 15px;
        letter-spacing: 1px;
        display: inline-block;
        padding: 15px 10px;
        border-radius: 4px;
    }    
}


.font-color{
    color: #333;
}