.table.table-bordered thead tr th {
    border-right: 1px solid #dee2e6;
}

.table.table-bordered thead tr th:last-child {
    border-right: 0;
}
.btn.btnc {
    border-radius: 5px;
}

.form-actions .card-body button:first-child {
    margin-right: 20px;
}
