<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Facility</h4>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12 col-lg-12">
          <hr>
          <div class="form-body">
            <div class="card-body">
              <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label">Preferred Phone :</label>
                        <input type="text" id="prefPhone" [(ngModel)]="prefPhone" class="form-control"
                          required maxlength="10">

                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label">Preferred Email :</label>
                        <input type="email" id="prefEmail" disabled [(ngModel)]="sumbitFacilityData.prefEmail" class="form-control"
                          required>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label">Mobile Phone :</label>
                        <input type="tel" id="prefMobile"[(ngModel)]="prefMobile"class="form-control"
                           maxlength="10">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group has-success">
                        <label class="control-label">Do you speak Spanish</label>
                        <select class="form-control custom-select" [(ngModel)]="speaks_spanish">
                          <option value="false" default>No</option>
                          <option value="true">Yes</option>
                        </select>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label">Business/Agency Name :</label>
                        <input type="text" id="prefCompany"[(ngModel)]="prefCompany"class="form-control"
                           >
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group has-success">
                        <label class="control-label">Mechanic on Duty?</label>
                        <select class="form-control custom-select" [(ngModel)]="mechDuty">
                          <option value="N" default>No</option>
                          <option value="Y">Yes</option>
                        </select>

                      </div>

                    </div>
                    <div class="col-md-6">
                      <div class="form-group has-success">
                        <label class="control-label">Comment</label>
                        <textarea class="form-control" type="text" [(ngModel)]="comments" maxlength="50"></textarea>

                      </div>

                    </div>

                  </div>
                  <div class="buttons" style="margin-top:-5px;margin-bottom:20px">
                      <button type="submit" class="btn btn-info" type="submit" (click)="submitFacility(speaks_spanish)">
                         Update</button>
                    
                    </div>
                  <hr>
                  <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="control-label">ISN :</label>
                          <input type="text" id="licenseName" disabled class="form-control" [(ngModel)]="sumbitFacilityData.isn" required>
                         
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="control-label">Mobile Phone :</label>
                          <input type="text"  [(ngModel)]="sumbitFacilityData.mobile" disabled class="form-control" required>
                        
                        </div>
                      </div>
                    </div>
                    <div class="row ">

                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="control-label">Week Day Hours :</label>
                            <input type="text" id="weekDayHours" disabled [(ngModel)]="sumbitFacilityData.weekDayHours"  class="form-control"
                              required>
                           
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="control-label"> Saturday Hours :</label>
                            <input type="text" id="saturdayHours" disabled  [(ngModel)]="sumbitFacilityData.saturdayHours" class="form-control "
                              required>
                          
                          </div>
                        </div>
                      </div>
                      <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="control-label"> Sunday Hours :</label>
                              <input type="text" id="licenseName" disabled [(ngModel)]="sumbitFacilityData.sundayHours" class="form-control"
                                required>
                            
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="control-label">City :</label>
                              <input type="text" id="city1" disabled  [(ngModel)]="sumbitFacilityData.city" class="form-control" required>
                             
                            </div>
                          </div>
                        </div>



                        <div class="row">

                            <div class="col-md-6">
                              <div class="form-group">
                                <label class="control-label">State :</label>
                                <input type="text" id="state" disabled  [(ngModel)]="sumbitFacilityData.state" class="form-control" required>
                               
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label class="control-label"> County:</label>
                                <input type="text" id="county" disabled  [(ngModel)]="sumbitFacilityData.county" class="form-control" required>
                              
                              </div>
                            </div>

                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label class="control-label"> Zip:</label>
                                  <input type="text" id="zipCode" disabled  [(ngModel)]="sumbitFacilityData.zipCode" class="form-control" required>
                                 
                                </div>
                              </div>
                            </div>
                  <hr>
                  <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="control-label">Business Name :</label>
                          <input type="text" id="licenseName" disabled class="form-control" [(ngModel)]="sumbitFacilityData.name"  required>
                         
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="control-label">BusinessAddress :</label>
                          <input type="text" id="address" disabled  [(ngModel)]="sumbitFacilityData.address" class="form-control" required>
                      
                        </div>
                      </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="control-label">Business Phone:</label>
                            <input type="text" id="licenseName" disabled  [(ngModel)]="sumbitFacilityData.bPhone" class="form-control" required>
                          
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="control-label">Business Email :</label>
                            <input type="text"  [(ngModel)]="sumbitFacilityData.bEmail" disabled class="form-control" required>
                            
                          </div>
                        </div>
                      </div>
                      <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="control-label">Inspection Type:</label>
                              <input type="text" id="insp_type" disabled  [(ngModel)]="sumbitFacilityData.insp_type"  class="form-control"
                                required>
                             
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="control-label">Mech Duty:</label>
                              <input type="text"  [(ngModel)]="sumbitFacilityData.mech_duty" disabled class="form-control" required>
                             
                            </div>
                          </div>
                        </div>
          </div>
          </div>
      </div>
    </div>
  </div>



      </div>


    </div>
  </div>
</div>



