<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-4 mb-3">
            <div class="search-container">
              <div class="input-group">
                <input type="text" class="form-control"  style="margin-right:10px;"
                  [(ngModel)]="searchText1" placeholder="Search" (keypress)="searchEnter($event)" >
                  <span class="input-group-btn pt-2" >
                      <i class="fa fa-search" aria-hidden="true" title="search" (click)="page=1;FilterData()" ></i>
                  </span>
              </div>
            </div>
          </div>
          <div class="col-md-5 text-right mb-3">
            <button class="btn btn-info no-radius " type="button" style="margin-right:-15px;" *ngIf="!showFilterFlag"
              (click)="showFilter()">FILTERS</button>
            <button class="btn btn-info no-radius " type="button" style="margin-right:-15px;" *ngIf="showFilterFlag"
              (click)="hideFilter()">HIDE</button>
          </div>
          <div class="col-md-3 text-right mb-3">
            <div class="dropdown">
              <button [disabled]="mv1loader" type="button" class="btn btn-info no-radius dropdown-toggle" data-toggle="dropdown">
                <span *ngIf="!mv1loader">DOWNLOAD</span>
                <span *ngIf="mv1loader">DOWNLOADING <i class="fa fa-spinner fa-spin"></i> </span>
              </button>
              <div class="dropdown-menu" style="    border: 1px solid #7d8b92;
              border-radius: 0;">
                <a class="dropdown-item" (click)="downloadCSV('CSV')">CSV</a>
                <a class="dropdown-item" (click)="downloadCSV('XLS')">XLS</a>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="showFilterFlag">
          <form (ngSubmit)="searchText1='';page=1;FilterData()">
            <div class="row mb-20">

              <div class="col-md-2">
                <label>FNAME</label>
                <input class="form-control serachbox" type="text" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="fName" (keypress)="getFirstName()" (blur)="emptyFname()" />
                <ul class="list-overflow dropdown-menu"
                  [ngClass]="{'dynamicheight':!fnamehide,'dnoneHeight':fnameData == '','hiden':fName == '' }"
                  style="display: block">
                  <li class="list" *ngIf="fnameData == ''"><a>No Data</a></li>
                  <li class="list" *ngFor="let k of fnameData" [ngClass]="{'none':fnameData == ''}"
                    (click)="changeFname(k)" [hidden]="fnamehide"> <a>{{k}}</a></li>
                </ul>
              </div>
              <div class="col-md-2">
                <label>LNAME</label>
                <input class="form-control serachbox" type="text" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="lName" (keypress)="getLastName()" (blur)="emptyLname()" />
                <ul class="list-overflow dropdown-menu"
                  [ngClass]="{'dynamicheight':!lnamehide,'dnoneHeight':lnameData == '','hiden':lName == '' }"
                  style="display: block">
                  <li class="list" *ngIf="lnameData == ''"><a>No Data</a></li>
                  <li class="list" *ngFor="let k of lnameData" [ngClass]="{'none':lnameData == ''}"
                    (click)="changeLname(k)" [hidden]="lnamehide"> <a>{{k}}</a></li>
                </ul>
              </div>
              <div class="col-md-2">
                <label for="licStatus">U-TYPE</label>
                <select class="form-control serachbox" name="uType" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="uType" (change)="userType(uType)">
                  <option value="AGENT">Agent</option>
                  <option value="FACILITY">Facility</option>
                </select>
              </div>
              <div class="col-md-2">
                <label>NPN</label>
                <input class="form-control serachbox" type="text" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="fnpn" (keypress)="getnpnList()" [disabled]="!uTypeFlag" (blur)="emptyNpn()" />
                <ul class="list-overflow dropdown-menu"
                  [ngClass]="{'dynamicheight':!npnhide,'dnoneHeight':npnData == '','hiden':fnpn == '' }"
                  style="display: block">
                  <li class="list" *ngIf="npnData == ''"><a>No Data</a></li>
                  <li class="list" *ngFor="let k of npnData" (click)="changenpn(k)" [ngClass]="{'none':npnData == ''}"
                    [hidden]="npnhide"> <a>{{k}}</a></li>
                </ul>
              </div>
              <div class="col-md-2">
                <label>ISN</label>
                <input class="form-control serachbox" type="text" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="fisn" (keypress)="getisnList()" [disabled]="!facType" (blur)="emptyIsn()" />
                <ul class="list-overflow dropdown-menu"
                  [ngClass]="{'dynamicheight':!isnhide,'dnoneHeight':isnData == '','hiden':fisn == '' }"
                  style="display: block">
                  <li class="list" *ngIf="isnData == ''"><a>No Data</a></li>
                  <li class="list" *ngFor="let k of isnData" (click)="changeisn(k)" [ngClass]="{'none':isnData == ''}"
                    [hidden]="isnhide"> <a>{{k}}</a></li>
                </ul>
              </div>

              <div class="col-md-2">
                <label for="licStatus">INC STATUS</label>
                <select class="form-control serachbox" name="licStatus" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="licStatus">
                  <option value="yes">ACTIVE</option>
                  <option value="no">INACTIVE</option>
                </select>
              </div>
            </div>

            <div class="row mb-20">
              <div class="col-md-2">
                <label>STATE</label>
                <select class="form-control serachbox" name="selectedStateName" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="selectedStateName">
                  <option value="{{s.name}}" *ngFor="let s of stateData">{{s.name}}</option>
                </select>
              </div>

              <div class="col-md-2">
                <label>COUNTY</label>
                <input class="form-control serachbox" type="text" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="countyName" (keypress)="getCountyList()" (blur)="emptyCounty()" />
                <ul class="list-overflow dropdown-menu"
                  [ngClass]="{'dynamicheight':!countyHide,'dnoneHeight':options == '','hiden':countyName == '' }"
                  style="display: block;">
                  <li class="list" *ngIf="options == ''"><a>No Data</a></li>
                  <li class="list" *ngFor="let k of options" [ngClass]="{'none':options == ''}"
                    (click)="changeCounty(k)" [hidden]="countyHide">
                    <a> {{k}}</a> </li>
                </ul>
              </div>
              <div class="col-md-2">
                <label>ZIP</label>
                <input class="form-control serachbox" type="text" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="fZipcode" (keypress)="getZipList()" maxlength="5" (blur)="emptyZip()" />
                <ul class="list-overflow dropdown-menu"
                  [ngClass]="{'dynamicheight':!zipHide,'dnoneHeight':getZipData == '','hiden':fZipcode == '' }"
                  style="display: block">
                  <li class="list" *ngIf="getZipData == ''"><a>No Data</a></li>
                  <li class="list" *ngFor="let k of getZipData" [ngClass]="{'none':getZipData == ''}"
                    (click)="changezip(k)" [hidden]="zipHide"> <a>{{k}}</a></li>
                </ul>
              </div>
              <div class="col-md-2">
                <label>CITY</label>
                <input class="form-control serachbox" type="text" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="fCity" (keypress)="getCityList()" (blur)="emptyCity()" />
                <ul class="list-overflow dropdown-menu"
                  [ngClass]="{'dynamicheight':!cityHide,'dnoneHeight':cityData == '','hiden':fCity == '' }"
                  style="display: block">
                  <li class="list" *ngIf="cityData == ''"><a>No Data</a></li>
                  <li class="list" *ngFor="let k of cityData" (click)="changeCity(k)" [hidden]="cityHide"> <a>{{k}}</a>
                  </li>
                </ul>
              </div>
              <div class="col-md-2">
                <label for="incStatus">INC A/B</label>
                <select class="form-control serachbox" name="incStatus" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="incStatus">
                  <option value="member">Member</option>
                  <option value="certified">Certified</option>
                  <option value="preCert">P-Certified</option>
                  <option value="qualified">Qualified</option>
                  <option value="nonQualified">N-Qualified</option>
                </select>
              </div>
              <div class="col-md-2">
                <label>B-NAME</label>
                <input class="form-control serachbox" type="text" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="fcompany" (keypress)="getBuisnessList()" (blur)="emptyCompany()" />
                <ul class="list-overflow dropdown-menu"
                  [ngClass]="{'dynamicheight':!buisnesshide,'dnoneHeight':buisnessData == '','hiden':fcompany == '' }"
                  style="display: block">
                  <li class="list" *ngIf="buisnessData == ''"><a>No Data</a></li>
                  <li class="list" *ngFor="let k of buisnessData" (click)="changeBuisness(k)"
                    [ngClass]="{'none':buisnessData == ''}" [hidden]="buisnesshide">
                    <a>{{k}}</a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="row mb-20">
              <div class="col-md-2">
                <label>P-DATE</label>
                <input type="date" class="form-control serachbox" name="payment_date"
                  [ngModelOptions]="{standalone: true}" [(ngModel)]="payment_date">
              </div>
              <div class="col-md-3">
                <label>FROM</label>
                <input type="date" class="form-control serachbox" name="startDate" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="startDate">
              </div>
              <div class="col-md-3">
                <label>TO</label>
                <input type="date" class="form-control serachbox" name="endDate" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="endDate">
              </div>
              <div class="col-md-2">
                <label></label>
                <button class="btn btn-info btn-block no-radius" style="margin-top: 8px" type="submit">VIEW</button>
              </div>
              <div class="col-md-2">
                <label></label>
                <button class="btn btn-info btn-block no-radius" style="margin-top: 8px" (click)="resetFilterData()"
                  type="button">RESET</button>
              </div>
            </div>
          </form>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table table-bordered" style="border: 1px solid #dee2e6;">
                <thead>
                  <tr>
                    <th>PDATE <i class="fa fa-sort-asc iconsize" *ngIf="!npnFlag"
                        (click)="sortNpn('asc','paymentDate')"></i>
                      <i class="fa fa-sort-desc iconsize" (click)="sortNpn('desc','paymentDate')" *ngIf="npnFlag"></i>
                    </th>

                    <th>U TYPE <i class="fa fa-sort-asc iconsize" *ngIf="!userTypeFlag"
                        (click)="sortNpn('asc','uType')"></i>
                      <i class="fa fa-sort-desc iconsize" (click)="sortNpn('desc','uType')" *ngIf="userTypeFlag"></i>
                    </th>

                    <th>FNAME <i class="fa fa-sort-asc iconsize" *ngIf="!nameFlag"
                        (click)="sortNpn('asc','firstName')"></i>
                      <i class="fa fa-sort-desc iconsize" (click)="sortNpn('desc','firstName')" *ngIf="nameFlag"></i>
                    </th>
                    <th>LNAME <i class="fa fa-sort-asc iconsize" *ngIf="!lastnameFlag"
                        (click)="sortNpn('asc','lastName')"></i>
                      <i class="fa fa-sort-desc iconsize" (click)="sortNpn('desc','lastName')" *ngIf="lastnameFlag"></i>
                    </th>
                    <th>Amount <i class="fa fa-sort-asc iconsize" *ngIf="!amountFlag"
                        (click)="sortNpn('asc','amount')"></i>
                      <i class="fa fa-sort-desc iconsize" (click)="sortNpn('desc','amount')" *ngIf="amountFlag"></i>
                    </th>
                    <th>NPN/ISN</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let pay of reportsData ">
                    <td>{{pay.paymentDate | date:'MM/dd/yy'}}</td>
                    <td>{{pay.userType | titlecase}}</td>
                    <td>{{pay.agentFirstName | titlecase}}</td>
                    <td>{{pay.agentLastName | titlecase}}</td>
                    <td>$ {{pay.amount}} </td>
                    <td>
                      <span *ngIf="pay.userType == 'AGENT'">{{pay.npn}}</span>
                      <span *ngIf="pay.userType == 'FACILITY'">{{pay.isn}}</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-md-12">
            <ngb-pagination *ngIf="reportsData.length && totalPages!=1" [maxSize]="5" [boundaryLinks]="true"
              [pageSize]="50" [rotate]="false" [collectionSize]="totalElements" (pageChange)="pageChanged($event)"
              [(page)]="page"></ngb-pagination>
          </div>
          <div class="col-md-12 text-center" *ngIf="!reportsData.length">
            <h5>No Data Available</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="listLoader" class="loader-conteiner">
  <div class="listloader">
  </div>
</div>