.load{
    color:blue;
}

.category-block{
    position: relative;
    height:320px;
}

.absolute-left {
    position: absolute;
    top: 270px;
    left: -50px;
    width: 25px;
    height: 70px;
    font-size: 20px;
}


.absolute-right {
    position: absolute;
    top: 270px;
    right: -50px;
    width: 25px;
    height: 70px;
    font-size: 20px;
}


.icon-bg-1 {
    background: #bc02d3;
    box-shadow: 0px 7px 16px 0px rgba(0, 0, 0, 0.09);
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    margin-bottom: 6px;
    border-radius: 40px;
  }
  
  .icon {
    color: #fff;
    font-size: 13px;
  }

.page-item a{
    width:100%;
    padding: 0px 10px;
    color: white;
}

.pages {
    color: black !important;
}

.mobile-number-highlight{
    background-color: #83c11f;
    color: white;
    padding: 3px;
}