<hr>
<div class="container">
  <div class="card">
    <div class="card-body">
      <h3 class='text-center'>
        <span *ngIf="selectedCategory">{{selectedCategory.name}}
          <span *ngIf="selectedCategory.name == 'ALL'">Businesses</span>
        </span> offering Discounts</h3>
      <div class="row">
        <div class="offset-md-2 col-md-8">
          <h6 class='text-center'>
            Find out the local businesses who are offering discounts for the School Safety Discount Card</h6>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <select class="form-control" name="categories" [(ngModel)]="selectedCategory" (change)="getBusinesses()">
              <option [ngValue]="defaultCategory">{{defaultCategory.name}}</option>
              <option *ngFor="let category of categoriesList" [ngValue]="category">{{category.name}}</option>
            </select>
          </div>
        </div>
      </div>
      <br/>
      <div class="table-responsive" *ngIf="businessList && businessList.length>0">
        <table class="table table-bordered">
          <thead>
            <tr class="text-center">
              <th>Category Logo</th>
              <th>Name & Address</th>
              <th>Discount</th>
              <th>Phone</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let business of businessList">
              <td align="center" style="width: 15%;word-wrap: break-word;">
                <div class="icon-bg-1">
                  <i class="icon fa fa-{{getIcon(selectedCategory.name)}}"></i>
                </div>
              </td>
              <td align="center" style="width: 35%;word-wrap: break-word;">{{business.name}}
                <br>{{business.address}}</td>
              <td align="center" style="width: 30%;word-wrap: break-word;">Discount {{business.discount}}%
                <br> {{business.url}}
              </td>
              <td class="text-center" style="width: 20%;word-wrap: break-word;">
                <span class='mobile-number-highlight'>{{business.phone}}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="text-center pt-3" *ngIf="!businessList || businessList.length == 0">
        No Data Found
      </div>
      <ul class="pagination justify-content-center" *ngIf="pageCount">
        <li class="page-item">
          <a class="page-link btn btn-success" href="javascript:void(0);" (click)="showPrev()">Prev</a>
        </li>
        <li class="page-item" *ngFor="let page of createPageRange()">
          <a class="page-link btn" [ngClass]="{'btn-success':page == selectedCategory.pageId, 'btn-light pages':page != selectedCategory.pageId}"
            href="javascript:void(0);" (click)="getSelectedPage(page)">{{page}}</a>
        </li>
        <li class="page-item">
          <a class="page-link btn btn-success" href="javascript:void(0);" (click)="showNext()">Next</a>
        </li>
      </ul>
    </div>
  </div>
</div>