<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-6">
            <div class="dropdown btn-group mr-1 mb-1">
              <input type="file" #file class="file-btn" (change)="selectFile($event,file)" accept=".csv">
              <button class="btn btnc" (click)="file.click()">Select File</button>
            </div>
          </div>
          <div class="col-sm-6">
            <h4 style="margin-top:1%;font-weight: 500"> Upload CSV </h4>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <p>
              <ngb-progressbar type="warning" [value]="fileUploadProgress" [striped]="true" [animated]="true">
                <i>{{fileUploadProgress}}%</i>
              </ngb-progressbar>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-10 col-l-8">
    <div class="card">
      <div class="card-header bg-info">
        <h4 class="m-b-0 text-white">Upload Facility</h4>
      </div>
      <form [formGroup]="uploadFacilityForm" (ngSubmit)="uploadFacilityForm.invalid ==false? showFormError():facilityFormSubmit(uploadFacilityForm)">
        <div class="card-body">
          <h4 class="card-title">Facility Info :</h4>
        </div>
        <hr>


        <div class="form-body">
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Facility Name :</label>
                  <input type="text" id="licenseName" class="form-control" formControlName="name" placeholder="Facility Name" required>
                    <div *ngIf="formSubmmit &&  uploadFacilityForm.controls['name'].invalid " class="alert alert-danger">
                      <div > Field is required. </div>
                    </div>
                </div>
              </div>

            </div>


            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Address :</label>
                  <input type="text" id="address" formControlName="address" class="form-control" placeholder="Address" required>
                  <div *ngIf="formSubmmit  && uploadFacilityForm.controls['address'].invalid" class="alert alert-danger">
                    <div > Field is required. </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">City :</label>
                  <input type="text" id="city1" formControlName="city" class="form-control" placeholder="City" required>
                  <div *ngIf="formSubmmit  && uploadFacilityForm.controls['city'].invalid" class="alert alert-danger">
                    <div > Field is required. </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row ">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label"> Zip Code :</label>
                  <input type="text" id="zipCode" formControlName="zipCode" class="form-control" placeholder="Zip Code" required>
                  <div *ngIf="formSubmmit  && uploadFacilityForm.controls['zipCode'].invalid" class="alert alert-danger">
                    <div > Field is required. </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Week Day Hours :</label>
                  <input type="text" id="weekDayHours" formControlName="weekDayHours" class="form-control" placeholder="Week Day Hours" required>
                  <div *ngIf="formSubmmit  && uploadFacilityForm.controls['weekDayHours'].invalid" class="alert alert-danger">
                    <div > Field is required. </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row ">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label"> Saturday Hours :</label>
                  <input type="text" id="saturdayHours" formControlName="saturdayHours" class="form-control " placeholder="Saturday Hours" required>
                  <div *ngIf="formSubmmit  && uploadFacilityForm.controls['saturdayHours'].invalid" class="alert alert-danger">
                    <div > Field is required. </div>
                  </div>
                </div>
              </div>

            </div>

                  <hr>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label"> Sunday Hours :</label>
                  <input type="text" id="licenseName" formControlName="sundayHours" class="form-control" placeholder="Sunday Hours" required>
                  <div *ngIf="formSubmmit  && uploadFacilityForm.controls['sundayHours'].invalid" class="alert alert-danger">
                    <div > Field is required. </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Phone :</label>
                  <input type="text" formControlName="phone" class="form-control" placeholder="Phone " required>
                  <div *ngIf="formSubmmit  && uploadFacilityForm.controls['phone'].invalid" class="alert alert-danger">
                    <div > Field is required. </div>
                  </div>
                </div>
              </div>
            </div>



          <div class="form-actions">
            <div class="card-body">
              <button type="submit" class="btn btn-success" type="submit" >
                <i class="fa fa-check" ></i> Save</button>
              <button type="button" class="btn btn-dark" (click)="formSubmmit = false">Cancel</button>
            </div>
          </div>
        </div>
        </div>
      </form>
    </div>
  </div>
</div>
