<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="agentType">
            <h2><span jhiTranslate="iaaApp.agentType.detail.title">Agent Type</span> {{agentType.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="iaaApp.agentType.name">Name</span></dt>
                <dd>
                    <span>{{agentType.name}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.agentType.zipAreaId">Zip Area Id</span></dt>
                <dd>
                    <span>{{agentType.zipAreaId}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.agentType.agent">Agent</span></dt>
                <dd>
                    <div *ngIf="agentType.agentId">
                        <a [routerLink]="['/agent-mv', agentType.agentId, 'view']">{{agentType.agentId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/agent-type-mv', agentType.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
