<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-agent-type-mv-heading" jhiTranslate="iaaApp.agentType.home.createOrEditLabel">Create or edit a Agent Type</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!agentType.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="agentType.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.agentType.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="agentType.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.agentType.zipAreaId" for="field_zipAreaId">Zip Area Id</label>
                    <input type="number" class="form-control" name="zipAreaId" id="field_zipAreaId"
                        [(ngModel)]="agentType.zipAreaId" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.agentType.agent" for="field_agent">Agent</label>
                    <select class="form-control" id="field_agent" name="agent" [(ngModel)]="agentType.agentId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="agentOption.id" *ngFor="let agentOption of agents; trackBy: trackAgentById">{{agentOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
