<div>
    <h2 id="page-heading">
        <span jhiTranslate="iaaApp.agentType.home.title">Agent Types</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-agent-type-mv" [routerLink]="['/agent-type-mv/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="iaaApp.agentType.home.createLabel">
            Create new Agent Type
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="agentTypes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="iaaApp.agentType.name">Name</span></th>
            <th><span jhiTranslate="iaaApp.agentType.zipAreaId">Zip Area Id</span></th>
            <th><span jhiTranslate="iaaApp.agentType.agent">Agent</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let agentType of agentTypes ;trackBy: trackId">
                <td><a [routerLink]="['/agent-type-mv', agentType.id, 'view' ]">{{agentType.id}}</a></td>
                <td>{{agentType.name}}</td>
                <td>{{agentType.zipAreaId}}</td>
                <td>
                    <div *ngIf="agentType.agentId">
                        <a [routerLink]="['../agent-mv', agentType.agentId , 'view' ]" >{{agentType.agentId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/agent-type-mv', agentType.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/agent-type-mv', agentType.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'agent-type-mv/'+ agentType.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
