.form-control:focus {
    box-shadow: none;
}
input,
input::-webkit-input-placeholder {
    font-size: 12px;
}

.dropdown-toggle:after {
    margin-left: 16.255em;
}

.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
    box-shadow: none;
}
.btn,
.custom-file-control:before {
    text-transform: none;
}
.btn-secondary.active.custom-file-control:before,
.btn-secondary.custom-file-control:active:before,
.btn-secondary.custom-file-control:focus:before,
.btn-secondary.custom-file-control:hover:before,
.btn-secondary.focus.custom-file-control:before,
.btn.btn-secondary.active,
.btn.btn-secondary.focus,
.btn.btn-secondary:active,
.btn.btn-secondary:focus,
.btn.btn-secondary:hover,
.open > .btn-secondary.dropdown-toggle.custom-file-control:before,
.open > .btn.btn-secondary.dropdown-toggle {
    background-color: white;
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show > .btn-secondary.dropdown-toggle {
    background-color: white;
    color: rgb(99, 99, 99);
}
.cardDetails {
    position: relative;
}
.fa.faIcon {
    position: absolute;
    bottom: 10px;
    right: 35px;
}
.card .payment {
    background-color: #efefef1f;
}
.btn.btn-outline-primary:active:hover {
    background-color: rgb(0, 161, 126);
    color: white;
}
.btn.btn-outline-primary:hover {
    background-color: rgb(0, 161, 126);
    color: white;
}

.card::-webkit-scrollbar {
    width: 8px;
    background: rgb(247, 255, 255);
}
.card::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.card::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
