<div class="container">
  <div class="card">
    <h2 class="card-header info-color white-text text-center py-4">
      <strong class="text-primary">Checkout form</strong>

    </h2>
    <div class="card-body px-lg-5 pt-5">
      <form class="text-center" style="color: #757575;">

        <div class="row ">
          <div class="col" style="text-align:left">
            <label for="inputZip">First name</label>
            <input type="text" class="form-control" placeholder="First name">
          </div>
          <div class="col" style="text-align:left">
            <label for="inputZip">Last name</label>
            <input type="text" class="form-control" placeholder="Last name">
          </div>
        </div>

        <div class="row pt-5">
          <div class="col  " style="text-align:left">
            <label for="inputZip">Username</label>
            <input type="text" class="form-control" placeholder="Username">
          </div>
        </div>
        <div class="row pt-5">
          <div class="col" style="text-align:left">
            <label for="inputZip">Email (Optional)</label>
            <input type="text" class="form-control" placeholder="m1212@gmail.com">
          </div>
        </div>
        <div class="row pt-5">
          <div class="col" style="text-align:left">
            <label for="inputZip">Address</label>
            <input type="text" class="form-control" placeholder="1234 main st">
          </div>
        </div>
        <div class="row pt-5">
          <div class="col" style="text-align:left">
            <label for="inputZip">Address (Optional)</label>
            <input type="text" class="form-control" placeholder="Apartments">
          </div>
        </div>
        <div class="row ">
          <div class="col pt-5" style="text-align:left">
            <label for="inputZip">Country</label>
            <!-- <input type="text" class="form-control"> -->
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle pb-0 pl-0" style="width:100%;text-align:left; border-bottom:1px solid #b4b4b4"
                type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Choose:
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
          </div>
          <div class="col pt-5" style="text-align:left">
            <label for="inputZip">State</label>
            <!-- <input type="text" class="form-control"> -->
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle pb-0 pl-0" style="width:100%;text-align:left; border-bottom:1px solid #b4b4b4"
                type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Choose:
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
          </div>
          <div class="col pt-5" style="text-align:left">
            <label for="inputZip">Zip</label>
            <input type="number" class="form-control">

          </div>



        </div>
        <div class="pt-5" style="display:flex;padding-top:4px;">
          <div class="custom-control custom-checkbox pt-1">
            <input type="checkbox" class="custom-control-input" id="customControlAutosizing">
            <label class="custom-control-label" for="customControlAutosizing">Shipping address is the same as my
              billing address</label>
          </div>
        </div>
        <div class="" style="display:flex;padding-top:4px;">
          <div class="custom-control custom-checkbox pt-1">
            <input type="checkbox" class="custom-control-input" id="customControlAutosizing1">
            <label class="custom-control-label" for="customControlAutosizing1">Save this information for next time</label>
          </div>
        </div>
        <hr>
      </form>
    </div>
  </div>

  <div class="card mt-5 mb-5 ">
    <h5 class="card-header payment text-center">
      <img class="img-responsive" src="http://i76.imgup.net/accepted_c22e0.png" style="width:25%">
    </h5>
    <div class="card-body">
      <div class="row col-md-12">
        <div class="col-md-3 pl-0">
          <h6 class="pt-1 text-left">
            <strong>Payment Mode</strong>
          </h6>
        </div>
        <div class="col-md-9">
          <div class="custom-control custom-radio mr-4" style="float:left;padding-top:4px;">
            <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
            <label class="custom-control-label" for="customRadio1">Credit card</label>
          </div>
          <div class="custom-control custom-radio  mr-4" style="float:left;padding-top:4px;">
            <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
            <label class="custom-control-label" for="customRadio2">Debit card</label>
          </div>
          <div class="custom-control custom-radio  mr-4" style="float:left;padding-top:4px;">
            <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
            <label class="custom-control-label" for="customRadio3">Paypal</label>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>

      <hr>

      <div class="row ">
        <div class="col pt-5" style="text-align:left">
          <label for="inputZip">Name on card</label>
          <input type="text" class="form-control cardDetails" placeholder="Full name as displayed on card">
          <i class="faIcon fa fa-user" aria-hidden="true"></i>

        </div>
        <div class="col pt-5" style="text-align:left">
          <label for="inputZip">Credit card number</label>
          <input type="number" class="form-control cardDetails">
          <i class="faIcon fa fa-credit-card" aria-hidden="true"></i>

        </div>
      </div>
      <div class="row pb-5">
        <div class="col pt-5 col-md-3" style="text-align:left">
          <label for="inputZip">Expiration</label>
          <input type="text" class="form-control cardDetails" placeholder="MM/YY">
          <i class="faIcon fa fa-calendar" aria-hidden="true"></i>

        </div>
        <div class="col pt-5 col-md-3 " style="text-align:left">
          <label for="inputZip">CVV*</label>
          <input type="text" class="form-control cardDetails" placeholder="">
          <i class="faIcon fa fa-lock" aria-hidden="true"></i>

        </div>
        <div class="offset-md-6"></div>
      </div>
    </div>
  </div>
  <hr>
  <button class="btn btn-outline-primary btn-rounded btn-block  my-4 mt-5" type="submit">CONTINUE TO CHECKOUT</button>



</div>
