<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-6">
            <div class="dropdown btn-group mr-1 mb-1">
              <input type="file" #file class="file-btn" (change)="selectFile($event,file)" accept=".csv">
              <button class="btn btnc" (click)="file.click()">Select File</button>
            </div>
          </div>
          <div class="col-sm-6">
            <h4 style="margin-top:1%;font-weight: 500"> Upload CSV </h4>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <p>
              <ngb-progressbar type="warning" [value]="fileUploadProgress" [striped]="true" [animated]="true">
                <i>{{fileUploadProgress}}%</i>
              </ngb-progressbar>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-10 col-l-8">
    <div class="card">
      <div class="card-header bg-info">
        <h4 class="m-b-0 text-white">Upload Agent</h4>
      </div>
      <form [formGroup]="uploadAgentForm" (ngSubmit)="uploadAgentForm.invalid ==false? showFormError():agentFormSubmit(uploadAgentForm)">
        <div class="card-body">
          <h4 class="card-title">Agent Info :</h4>
        </div>
        <hr>


        <div class="form-body">
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">License Number :</label>
                  <input type="text" id="licenseName" class="form-control" formControlName="licNumber" placeholder="License Number" required>
                    <div *ngIf="uploadAgentForm.controls['licNumber'].touched && uploadAgentForm.controls['licNumber'].invalid " class="alert alert-danger">
                      <div > Field is required. </div>
                    </div>
                </div>
              </div>

            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">National Producer Number(NPN) :</label>
                  <input type="text" id="npn" formControName="npn" class="form-control" placeholder="National Producer Number" required>
                  <div *ngIf="uploadAgentForm.controls['npn'].touched && uploadAgentForm.controls['npn'].invalid" class="alert alert-danger">
                    <div > Field is required. </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">NAIC NUMBER :</label>
                  <input type="text" id="npn1" formControlName="naicno" class="form-control" placeholder="NAICO" required>
                  <div *ngIf="uploadAgentForm.controls['naicno'].touched && uploadAgentForm.controls['naicno'].invalid" class="alert alert-danger">
                    <div > Field is required. </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row ">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label"> Agent First Name :</label>
                  <input type="text" id="firstName" formControlName="firstName" class="form-control" placeholder="First Name" required>
                  <div *ngIf="uploadAgentForm.controls['firstName'].touched && uploadAgentForm.controls['firstName'].invalid" class="alert alert-danger">
                    <div > Field is required. </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label"> Agent Middle Name :</label>
                  <input type="text" id="middleName" formControlName="middleName" class="form-control" placeholder="Middle Name" required>
                  <div *ngIf="uploadAgentForm.controls['middleName'].touched && uploadAgentForm.controls['middleName'].invalid" class="alert alert-danger">
                    <div > Field is required. </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row ">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label"> Agent Last Name :</label>
                  <input type="text" id="lastName" formControlName="lastName" class="form-control " placeholder="Last Name" required>
                  <div *ngIf="uploadAgentForm.controls['lastName'].touched && uploadAgentForm.controls['lastName'].invalid" class="alert alert-danger">
                    <div > Field is required. </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                  <div class="form-group has-success">
                    <label class="control-label">Suffix </label>
                    <select class="form-control custom-select" formControlName="suffix" required>
                      <option value="Jr">Jr</option>
                      <option value="Sr" default>Sr</option>
                    </select>
                    <div *ngIf="uploadAgentForm.controls['suffix'].touched && uploadAgentForm.controls['suffix'].invalid" class="alert alert-danger">
                      <div > Field is required. </div>
                    </div>
                  </div>
                </div>

            </div>

            <h4 class="card-title m-t-38">Business Info :</h4>
            <hr>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label"> Business Entity Name :</label>
                  <input type="text" id="licenseName" formControlName="businessName" class="form-control" placeholder="Business Entity Name " required>
                  <div *ngIf="uploadAgentForm.controls['businessName'].touched && uploadAgentForm.controls['businessName'].invalid" class="alert alert-danger">
                    <div > Field is required. </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label"> Federal Employer Identification Number (FEIN) :</label>
                  <input type="text" formControlName="fein" class="form-control" placeholder="Federal Employer Identification Number (FEIN) " required>
                  <div *ngIf="uploadAgentForm.controls['fein'].touched && uploadAgentForm.controls['fein'].invalid" class="alert alert-danger">
                    <div > Field is required. </div>
                  </div>
                </div>
              </div>
            </div>





            <hr>
            <div class="row">
              <div class="col-md-8 ">
                <div class="form-group">
                  <label> Business Address 1 :</label>
                  <input type="text" formControlName="bAddr1" class="form-control" required>
                  <div *ngIf="uploadAgentForm.controls['bAddr1'].touched && uploadAgentForm.controls['bAddr1'].invalid" class="alert alert-danger">
                    <div > Field is required. </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8 ">
                <div class="form-group">
                  <label> Business Address 2 :</label>
                  <input type="text" formControlName="bAddr2" class="form-control">
                  <div *ngIf="uploadAgentForm.controls['bAddr2'].touched && uploadAgentForm.controls['bAddr2'].invalid" class="alert alert-danger">
                    <div > Field is required. </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8 ">
                <div class="form-group">
                  <label> Business Address 3 :</label>
                  <input type="text" formControlName="bAddr3" class="form-control">
                  <div *ngIf="uploadAgentForm.controls['bAddr3'].touched && uploadAgentForm.controls['bAddr3'].invalid" class="alert alert-danger">
                    <div > Field is required. </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label> Business City :</label>
                  <input type="text" formControlName="bCity" class="form-control" required>
                  <div *ngIf="uploadAgentForm.controls['bCity'].touched && uploadAgentForm.controls['bCity'].invalid" class="alert alert-danger">
                    <div > Field is required. </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label> Business County :</label>
                  <input type="text" formControlName="bCounty" class="form-control" required>
                  <div *ngIf="uploadAgentForm.controls['bCounty'].touched && uploadAgentForm.controls['bCounty'].invalid" class="alert alert-danger">
                    <div > Field is required. </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Business State :</label>
                  <input type="text" formControlName="bState" class="form-control" required>
                  <div *ngIf="uploadAgentForm.controls['bState'].touched && uploadAgentForm.controls['bState'].invalid" class="alert alert-danger">
                    <div > Field is required. </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Business Zip :</label>
                  <input type="text" formControlName="bZip" class="form-control" required>
                  <div *ngIf="uploadAgentForm.controls['bZip'].touched && uploadAgentForm.controls['bZip'].invalid" class="alert alert-danger">
                    <div > Field is required. </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label> Business Country :</label>
                  <select formControlName="bCountry" class="form-control custom-select" required>
                    <option default >--Select your Country--</option>
                    <option value="India">India</option>
                    <option value="SriLanka">Sri Lanka</option>
                    <option value="USA">USA</option>
                  </select>
                  <div *ngIf="uploadAgentForm.controls['bCountry'].touched && uploadAgentForm.controls['bCountry'].invalid" class="alert alert-danger">
                    <div > Field is required. </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Business Phone :</label>
                  <input type="text" formControlName="bPhone" class="form-control">
                  <div *ngIf="uploadAgentForm.controls['bPhone'].touched && uploadAgentForm.controls['bPhone'].invalid" class="alert alert-danger">
                    <div > Field is required. </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Business Mobile :</label>
                  <input type="text" formControlName="bMobile" class="form-control" required>
                  <div *ngIf="uploadAgentForm.controls['bMobile'].touched && uploadAgentForm.controls['bMobile'].invalid" class="alert alert-danger">
                    <div > Field is required. </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label>Business Email :</label>
                  <input type="email" formControlName="bEmail" class="form-control" required>
                  <div *ngIf="uploadAgentForm.controls['bEmail'].touched && uploadAgentForm.controls['bEmail'].invalid" class="alert alert-danger">
                    <div > Field is required. </div>
                  </div>
                </div>
              </div>

            </div>

            <h4 class="card-title">Licence Info :</h4>
            <hr>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">License Type :</label>
                  <input type="text" id="licenseName" formControlName="licType" class="form-control" placeholder="License Type" required>
                  <div *ngIf="uploadAgentForm.controls['licType'].touched && uploadAgentForm.controls['licType'].invalid" class="alert alert-danger">
                    <div > Field is required. </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Line of Authority :</label>
                  <input type="text" id="licenseName" formControlName="lineAuth" class="form-control" placeholder="Line of Authority" required>
                  <div *ngIf="uploadAgentForm.controls['lineAuth'].touched && uploadAgentForm.controls['lineAuth'].invalid" class="alert alert-danger">
                    <div > Field is required. </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label"> Licence Status :</label>
                  <input type="text"  formControlName="licStatus" class="form-control" placeholder="Licence Status" required>
                  <div *ngIf="uploadAgentForm.controls['licStatus'].touched  && uploadAgentForm.controls['licStatus'].invalid" class="alert alert-danger">
                    <div > Field is required. </div>
                  </div>

                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">First Active Date :</label>
                  <input type="date" id="licenseName" formControlName="firstActiveDate" class="form-control"
                    placeholder="First Active Date" required>
                    <div *ngIf="uploadAgentForm.controls['firstActiveDate'].touched && uploadAgentForm.controls['firstActiveDate'].invalid" class="alert alert-danger">
                      <div > Field is required. </div>
                    </div>
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Effective Date :</label>
                  <input type="date" id="licenseName" formControlName="effectiveDate" class="form-control" placeholder="Effective Date " required>
                  <div *ngIf="uploadAgentForm.controls['effectiveDate'].touched && uploadAgentForm.controls['effectiveDate'].invalid" class="alert alert-danger">
                    <div > Field is required. </div>
                  </div>

                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Expiration Date :</label>
                  <input type="date" id="licenseName" formControlName="expDate" class="form-control" placeholder="Expiration Date" required>
                  <div *ngIf="uploadAgentForm.controls['expDate'].touched && uploadAgentForm.controls['expDate'].invalid" class="alert alert-danger">
                    <div > Field is required. </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Domicile State :</label>
                  <input type="text" id="licenseName" formControlName="domState" class="form-control" placeholder="Domicile State" required>
                  <div *ngIf="uploadAgentForm.controls['domState'].touched && uploadAgentForm.controls['domState'].invalid" class="alert alert-danger">
                    <div > Field is required. </div>
                  </div>

                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Resident State :</label>
                  <input type="text" id="licenseName" formControlName="resState" class="form-control" placeholder="Resident State" required>
                  <div *ngIf="uploadAgentForm.controls['resState'].touched && uploadAgentForm.controls['resState'].invalid" class="alert alert-danger">
                    <div > Field is required. </div>
                  </div>
                </div>
              </div>

            </div>
            <h4 class="card-title">Producer Info :</h4>
            <hr>
            <div class="row">
              <div class="col-md-8 ">
                <div class="form-group">
                  <label> Producer's Address 1</label>
                  <input type="text" formControlName="pAddr1" class="form-control" required>
                  <div *ngIf="uploadAgentForm.controls['pAddr1'].touched && uploadAgentForm.controls['pAddr1'].invalid" class="alert alert-danger">
                    <div > Field is required. </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8 ">
                <div class="form-group">
                  <label> Producer's Address 2</label>
                  <input type="text" formControlName="pAddr2" class="form-control">
                  <div *ngIf="uploadAgentForm.controls['pAddr2'].touched && uploadAgentForm.controls['pAddr2'].invalid" class="alert alert-danger">
                    <div > Field is required. </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-8 ">
                <div class="form-group">
                  <label> Producer's Address 3</label>
                  <input type="text" formControlName="pAddr3" class="form-control">
                  <div *ngIf="uploadAgentForm.controls['pAddr3'].touched && uploadAgentForm.controls['pAddr3'].invalid" class="alert alert-danger">
                    <div > Field is required. </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label> Producer's City</label>
                  <input type="text" formControlName="pCity" class="form-control" required>
                  <div *ngIf="uploadAgentForm.controls['pCity'].touched && uploadAgentForm.controls['pCity'].invalid" class="alert alert-danger">
                    <div > Field is required. </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label> Producer's County</label>
                  <input type="text" formControlName="pCounty" class="form-control" required>
                  <div *ngIf="uploadAgentForm.controls['pCounty'].touched && uploadAgentForm.controls['pCounty'].invalid" class="alert alert-danger">
                    <div > Field is required. </div>
                  </div>
                </div>
              </div>


            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label> Producer's State</label>
                  <input type="text" formControlName="pState" class="form-control" required>
                  <div *ngIf="uploadAgentForm.controls['pState'].touched && uploadAgentForm.controls['pState'].invalid" class="alert alert-danger">
                    <div > Field is required. </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Producer's zip:</label>
                  <input type="text" formControlName="pZip" class="form-control" required>

                  <div *ngIf="uploadAgentForm.controls['pZip'].touched && uploadAgentForm.controls['pZip'].invalid" class="alert alert-danger">
                    <div > Field is required. </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label> Producer's Country :</label>
                  <select formControlName="pCountry" class="form-control custom-select" required>
                      <option default >--Select your Country--</option>
                      <option value="India">India</option>
                      <option value="SriLanka">Sri Lanka</option>
                      <option value="USA">USA</option>
                  </select>
                  <div *ngIf="uploadAgentForm.controls['pCountry'].touched && uploadAgentForm.controls['pCountry'].invalid" class="alert alert-danger">
                    <div > Field is required. </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="row">


              <div class="col-md-6">
                <div class="form-group has-success">
                  <label>Is Producer's CE Compliance :</label>
                  <select class="form-control custom-select" formControlName="isCECompliant" required>
                    <option value="Yes">Yes</option>
                    <option value="No" default>No</option>
                  </select>
                  <div *ngIf="uploadAgentForm.controls['isCECompliant'].touched && uploadAgentForm.controls['isCECompliant'].invalid" class="alert alert-danger">
                    <div > Field is required. </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group has-success">
                  <label class="control-label">Do you speak Spanish </label>
                  <select class="form-control custom-select" formControlName="speaksSpanish" >
                    <option value="Yes">Yes</option>
                    <option value="No" default>No</option>
                  </select>
                  <div *ngIf="uploadAgentForm.controls['speaksSpanish'].touched && uploadAgentForm.controls['speaksSpanish'].invalid" class="alert alert-danger">
                    <div > Field is required. </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-actions">
            <div class="card-body">
              <button type="submit" class="btn btn-success" type="submit" >
                <i class="fa fa-check"></i> Save</button>
              <button type="button" class="btn btn-dark">Cancel</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
