.file-btn {
    display: none;
}

.btn.btnc {
    border-radius: 5px;
}

.form-actions .card-body button:first-child {
    margin-right: 20px;
}
.select-btn{
  position: absolute;
    top: 18px;
}
.btn-info{
  border-radius: 0 !important
}
