<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-payment-mv-heading" jhiTranslate="iaaApp.payment.home.createOrEditLabel">Create or edit a Payment</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!payment.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="payment.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.payment.amount" for="field_amount">Amount</label>
                    <input type="number" class="form-control" name="amount" id="field_amount"
                        [(ngModel)]="payment.amount" required/>
                    <div [hidden]="!(editForm.controls.amount?.dirty && editForm.controls.amount?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.amount?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.amount?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.payment.txnId" for="field_txnId">Txn Id</label>
                    <input type="text" class="form-control" name="txnId" id="field_txnId"
                        [(ngModel)]="payment.txnId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.payment.uuId" for="field_uuId">Uu Id</label>
                    <input type="text" class="form-control" name="uuId" id="field_uuId"
                        [(ngModel)]="payment.uuId" required/>
                    <div [hidden]="!(editForm.controls.uuId?.dirty && editForm.controls.uuId?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.uuId?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.payment.status" for="field_status">Status</label>
                    <select class="form-control" name="status" [(ngModel)]="payment.status" id="field_status"  required>
                        <option value="INITIATED">{{'iaaApp.PayStatus.INITIATED' | translate}}</option>
                        <option value="SUCCESS">{{'iaaApp.PayStatus.SUCCESS' | translate}}</option>
                        <option value="FAILURE">{{'iaaApp.PayStatus.FAILURE' | translate}}</option>
                        <option value="AWAITED">{{'iaaApp.PayStatus.AWAITED' | translate}}</option>
                    </select>
                    <div [hidden]="!(editForm.controls.status?.dirty && editForm.controls.status?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.status?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.payment.gatewayResp" for="field_gatewayResp">Gateway Resp</label>
                    <input type="text" class="form-control" name="gatewayResp" id="field_gatewayResp"
                        [(ngModel)]="payment.gatewayResp" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.payment.profileId" for="field_profileId">Profile Id</label>
                    <input type="number" class="form-control" name="profileId" id="field_profileId"
                        [(ngModel)]="payment.profileId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.payment.cartId" for="field_cartId">Cart Id</label>
                    <input type="number" class="form-control" name="cartId" id="field_cartId"
                        [(ngModel)]="payment.cartId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.payment.createdAt" for="field_createdAt">Created At</label>
                    <div class="d-flex">
                        <input id="field_createdAt" type="datetime-local" class="form-control" name="createdAt" [(ngModel)]="createdAt"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.payment.updatedAt" for="field_updatedAt">Updated At</label>
                    <div class="d-flex">
                        <input id="field_updatedAt" type="datetime-local" class="form-control" name="updatedAt" [(ngModel)]="updatedAt"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.payment.isDeleted" for="field_isDeleted">Is Deleted</label>
                    <input type="checkbox" class="form-control" name="isDeleted" id="field_isDeleted"
                        [(ngModel)]="payment.isDeleted" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
