<div>
    <h2 id="page-heading">
        <span jhiTranslate="iaaApp.payment.home.title">Payments</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-payment-mv" [routerLink]="['/payment-mv/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="iaaApp.payment.home.createLabel">
            Create new Payment
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="payments">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="iaaApp.payment.amount">Amount</span></th>
            <th><span jhiTranslate="iaaApp.payment.txnId">Txn Id</span></th>
            <th><span jhiTranslate="iaaApp.payment.uuId">Uu Id</span></th>
            <th><span jhiTranslate="iaaApp.payment.status">Status</span></th>
            <th><span jhiTranslate="iaaApp.payment.gatewayResp">Gateway Resp</span></th>
            <th><span jhiTranslate="iaaApp.payment.profileId">Profile Id</span></th>
            <th><span jhiTranslate="iaaApp.payment.cartId">Cart Id</span></th>
            <th><span jhiTranslate="iaaApp.payment.createdAt">Created At</span></th>
            <th><span jhiTranslate="iaaApp.payment.updatedAt">Updated At</span></th>
            <th><span jhiTranslate="iaaApp.payment.isDeleted">Is Deleted</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let payment of payments ;trackBy: trackId">
                <td><a [routerLink]="['/payment-mv', payment.id, 'view' ]">{{payment.id}}</a></td>
                <td>{{payment.amount}}</td>
                <td>{{payment.txnId}}</td>
                <td>{{payment.uuId}}</td>
                <td jhiTranslate="{{'iaaApp.PayStatus.' + payment.status}}">{{payment.status}}</td>
                <td>{{payment.gatewayResp}}</td>
                <td>{{payment.profileId}}</td>
                <td>{{payment.cartId}}</td>
                <td>{{payment.createdAt | date:'medium'}}</td>
                <td>{{payment.updatedAt | date:'medium'}}</td>
                <td>{{payment.isDeleted}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/payment-mv', payment.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/payment-mv', payment.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'payment-mv/'+ payment.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
