<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="payment">
            <h2><span jhiTranslate="iaaApp.payment.detail.title">Payment</span> {{payment.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="iaaApp.payment.amount">Amount</span></dt>
                <dd>
                    <span>{{payment.amount}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.payment.txnId">Txn Id</span></dt>
                <dd>
                    <span>{{payment.txnId}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.payment.uuId">Uu Id</span></dt>
                <dd>
                    <span>{{payment.uuId}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.payment.status">Status</span></dt>
                <dd>
                    <span jhiTranslate="{{'iaaApp.PayStatus.' + payment.status}}">{{payment.status}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.payment.gatewayResp">Gateway Resp</span></dt>
                <dd>
                    <span>{{payment.gatewayResp}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.payment.profileId">Profile Id</span></dt>
                <dd>
                    <span>{{payment.profileId}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.payment.cartId">Cart Id</span></dt>
                <dd>
                    <span>{{payment.cartId}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.payment.createdAt">Created At</span></dt>
                <dd>
                    <span>{{payment.createdAt}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.payment.updatedAt">Updated At</span></dt>
                <dd>
                    <span>{{payment.updatedAt}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.payment.isDeleted">Is Deleted</span></dt>
                <dd>
                    <span>{{payment.isDeleted}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/payment-mv', payment.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
