


body {
  overflow-x: hidden; width: 100%;
	margin: 0; padding: 0;
}

.sky {
  background: linear-gradient(#fff 0, #fff 100%);
   height: 60%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.sky .cloud {
  background: #f2f2f2;
  border-radius: 200px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  height: 39px;
  margin-right: -102px;
  position: absolute;
  right: 0%;
  width: 102px;
}

.sky .cloud.variant-1 {
  top: 20%;
  -webkit-transform: scale(0.2);
  -webkit-animation: clouds-in-out 96s 0s infinite linear;
}
.sky .cloud.variant-2 {
  top: 84%;
  -webkit-transform: scale(0.4);
  -webkit-animation: clouds-in-out 167s 0s infinite linear;
}
.sky .cloud.variant-3 {
  top: 64%;
  -webkit-transform: scale(0.5);
  -webkit-animation: clouds-in-out 208s 0s infinite linear;
}
.sky .cloud.variant-4 {
  top: 74%;
  -webkit-transform: scale(0.4);
  -webkit-animation: clouds-in-out 99s 0s infinite linear;
}
.sky .cloud.variant-5 {
  top: 41%;
  -webkit-transform: scale(1.1);
  -webkit-animation: clouds-in-out 100s 0s infinite linear;
}

.sky .cloud.variant-9 {
  top: 41%;
  -webkit-transform: scale(1.1);
  -webkit-animation: clouds-in-out 100s 60s infinite linear;
}

.sky .cloud.variant-10 {
  top: 51%;
  -webkit-transform: scale(0.8);
  -webkit-animation: clouds-in-out 200s 300s infinite linear;
}
.sky .cloud.variant-11 {
  top: 11%;
  -webkit-transform: scale(0.5);
  -webkit-animation: clouds-in-out 300s 200s infinite linear;
}
.sky .cloud.variant-12 {
  top: 21%;
  -webkit-transform: scale(0.1);
  -webkit-animation: clouds-in-out 400s 100s infinite linear;
}
.sky .cloud:before, .sky .cloud:after {
  background: #f2f2f2;
  border-radius: 100px;
  content: '';
  height: 45px;
  left: 10px;
  position: absolute;
  top: -10px;
  width: 60px;

  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  transform: rotate(30deg);
}

 .sky .cloud.doller:before {
  background-image:url("doller.svg");
	 background-repeat: no-repeat;
  border-radius: 100px;
  content: '';
  height: 45px;
  left: 10px;
  position: absolute;
  top: -10px;
  width: 60px;
	background-color: transparent;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
.sky .cloud.doller:after{display: none}
@-webkit-keyframes shadow-in-out {
  0% {
    opacity: 0;
    width: 0;
  }
  33% {
    opacity: 1;
    width: 60px;
  }
  66% {
    opacity: 1;
    width: 60px;
  }
  100% {
    opacity: 0;
    width: 0;
  }
}
@-webkit-keyframes clouds-in-out {
  0% {
    right: 0%;
  }
  100% {
    right: 105%;
  }
}
.icons-build {background-image:url("bg-skyline-combined.svg");
    height: 200px;
    z-index: 999; width: 100%;
    position: relative;
    top: 400px;
}

.icons-build img{  width: 100%;
    position: relative;

}
