<div>
    <h2 id="page-heading">
        <span jhiTranslate="iaaApp.zipArea.home.title">Zip Areas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-zip-area-mv" [routerLink]="['/zip-area-mv/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="iaaApp.zipArea.home.createLabel">
            Create new Zip Area
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="zipAreas">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="iaaApp.zipArea.name">Name</span></th>
            <th><span jhiTranslate="iaaApp.zipArea.zip">Zip</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let zipArea of zipAreas ;trackBy: trackId">
                <td><a [routerLink]="['/zip-area-mv', zipArea.id, 'view' ]">{{zipArea.id}}</a></td>
                <td>{{zipArea.name}}</td>
                <td>{{zipArea.zip}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/zip-area-mv', zipArea.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/zip-area-mv', zipArea.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'zip-area-mv/'+ zipArea.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
