<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="zipArea">
            <h2><span jhiTranslate="iaaApp.zipArea.detail.title">Zip Area</span> {{zipArea.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="iaaApp.zipArea.name">Name</span></dt>
                <dd>
                    <span>{{zipArea.name}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.zipArea.zip">Zip</span></dt>
                <dd>
                    <span>{{zipArea.zip}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/zip-area-mv', zipArea.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
