<section class="hero-area bg-1 text-center overly bg-image-height">
  <!-- Container Start -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- Header Contetnt -->
        <div class="content-block">
          <div class="spacing">
            <img width='200' height='80' src="assets/img/ssp-logo.png" />
          </div>
          <div class="row">
            <div class="offset-lg-2 offset-md-2 col-md-5">
              <p>{{message}}
              </p>
            </div>
            <div class="col-md-2 btn-padding-99">
              <div class="donate-btn-holder">
                <button class="btn btn-success" (click)="donate()" style="padding: 10px 26px !important;">SUPPORT</button>
              </div>
            </div>
          </div>
        </div>
        <!-- Advance Search -->
        <div class="row">
          <div class="offset-md-2 col-md-8">
            <div class="advance-search padding-left-47">
              <form>
                <div class="row">
                  <!-- Store Search -->
                  <div class="col-lg-4 col-md-12 col-sm-12">
                    <autocomplete [url]="stateUrl" [dropdown]="'dropdown'" [searchField]="stateSearchField" [title]="stateTitle" (selected)="changeState($event)"></autocomplete>
                  </div>
                  <div class="col-lg-4 col-md-12 col-sm-12">
                    <autocomplete [url]="countyUrl" [dropdown]="'dropdown'" [searchField]="countySearchField" [title]="countyTitle" (selected)="changeDistrict($event)"></autocomplete>
                  </div>
                  <div class="col-lg-4 col-md-12 col-sm-12">
                    <autocomplete [url]="cityUrl" [dropdown]="'dropdown'" [searchField]="citySearchField" [title]="cityTitle" (selected)="changeCity($event)"></autocomplete>
                  </div>
                </div>
                <br/>
                <div class="row">
                  <div class="col-lg-9 col-md-12 col-sm-12">
                    <autocomplete [url]="schoolUrl" [dropdown]="'dropdown'" [searchField]="schoolSearchField" [title]="schoolTitle" (selected)="changeSchool($event)"></autocomplete>
                  </div>
                  <div class="col-lg-2 col-md-8 col-sm-8">
                    <div class="block d-flex">
                      <button class="btn btn-success" (click)="donate()" style="padding: 10px 26px !important;">SUPPORT</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- Container End -->
</section>