.bg-image-height {
    height: 98vh !important;
}

.spacing {
    margin-top: 20px;
    margin-bottom: 20px;
}

@media only screen and (min-width: 813px) {
    .btn-padding-99{
        padding-top:12px;
        padding-left: 99px !important;
    }
}


@media only screen and (max-width: 812px) {
    .col-lg-9.col-md-12 .with-chevron {
        width: 85% !important;
      }
}

.padding-left-47{
    padding-left: 47px;
}