
@media only screen and (max-width: 800px) {
    .align-btn{
        align-content: center !important;
    }
}


.btn {
    font-size: 15px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 8px;
    border-radius: 4px;
}