<hr/>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="widget change-password">
        <h3 class="widget-header user">
          <i class="fa fa-check-circle" aria-hidden="true"></i>
          YES, I want to add my business to offer discounts for more local visibility for the School Safety Program Discount Card
          Membership
        </h3>
        <div class="card-body">
          <div class="alert alert-success alert-dismissible fade show" *ngIf="showSuccessMsg">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{message}}</strong>
          </div>
          <div class="alert alert-danger alert-dismissible fade show" *ngIf="showFailureMsg">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{message}}</strong>
          </div>
          <form role="form" [formGroup]="addBusinessForm">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <div class="input-group">
                    <input type="text" class="form-control" formControlName="name" [(ngModel)]="business.name" placeholder="Name" maxlength="50">
                  </div>
                  <div *ngIf="addBusinessForm.controls.name.invalid && (addBusinessForm.controls.name.dirty || addBusinessForm.controls.name.touched)"
                    class="text-danger small">
                    <div *ngIf="addBusinessForm.controls.name.hasError('required')">
                      {{businessNameRequiredMsg}}
                    </div>
                  </div>
                  <!-- input-group.// -->
                </div>
              </div>
              <!-- form-group.// -->
              <div class="col-md-6">
                <div class="form-group">
                  <div class="input-group">
                    <input type="text" class="form-control" formControlName="street" [(ngModel)]="business.street" placeholder="St Address" maxlength="30">
                  </div>
                  <div *ngIf="addBusinessForm.controls.street.invalid && (addBusinessForm.controls.street.dirty || addBusinessForm.controls.street.touched)"
                    class="text-danger small">
                    <div *ngIf="addBusinessForm.controls.street.hasError('required')">
                      {{addressRequiredMessage}}
                    </div>
                  </div>
                </div>
                <!-- input-group.// -->
              </div>
            </div>
            <div class="row">
              <!-- form-group.// -->
              <div class="col-md-6">
                <div class="form-group">
                  <div class="input-group">
                    <select class="form-control" formControlName="state" [(ngModel)]="business.state">
                      <option value=undefined disabled>State</option>
                      <option *ngFor="let state of stateList" [value]="state.name">{{state.name}}</option>
                    </select>
                  </div>
                  <div *ngIf="addBusinessForm.controls.state.invalid && (addBusinessForm.controls.state.dirty || addBusinessForm.controls.state.touched)"
                    class="text-danger small">
                    <div *ngIf="addBusinessForm.controls.state.hasError('required')">
                      {{stateRequiredMessage}}
                    </div>
                  </div>
                  <!-- input-group.// -->
                </div>
                <!-- form-group.// -->
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <div class="input-group">
                    <input type="text" class="form-control" OnlyNumber="true" maxlength="12" formControlName="phone" [(ngModel)]="business.phone"
                      (input)="setNumberAlignment([3,7], $event)" (change)="alignPhone()" placeholder="Phone" (paste)="pasteCheck($event)">
                  </div>
                  <div *ngIf="addBusinessForm.controls.phone.invalid && (addBusinessForm.controls.phone.dirty || addBusinessForm.controls.phone.touched)"
                    class="text-danger small">
                    <div *ngIf="addBusinessForm.controls.phone.hasError('required')">
                      {{phoneRequiredMessage}}
                    </div>
                  </div>
                  <div class="text-danger small" *ngIf="!validPhone && !addBusinessForm.controls.phone.hasError('required')">
                    {{invalidMobileNumberMessage}}
                  </div>
                  <div class="text-danger small" *ngIf="invalidAreaCode && validPhone && !addBusinessForm.controls.phone.hasError('required')">
                    Area code is invalid
                  </div>
                  <!-- input-group.// -->
                </div>
                <!-- form-group.// -->
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <div class="input-group">
                    <select class="form-control" formControlName="discount" [(ngModel)]="business.discount">
                      <option value=undefined disabled>% Discount</option>
                      <option value="10">10</option>
                      <option value="15">15</option>
                      <option value="20">20</option>
                    </select>
                  </div>
                  <div *ngIf="addBusinessForm.controls.discount.invalid && (addBusinessForm.controls.discount.dirty || addBusinessForm.controls.discount.touched)"
                    class="text-danger small">
                    <div *ngIf="addBusinessForm.controls.discount.hasError('required')">
                      {{discountRequiredMsg}}
                    </div>
                  </div>
                  <!-- input-group.// -->
                </div>
                <!-- form-group.// -->
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <div class="input-group">
                    <select class="form-control" formControlName="type" [(ngModel)]="business.type">
                      <option value=undefined disabled>Type</option>
                      <option *ngFor="let category of categoriesList" [value]="category.name">{{category.name}}</option>
                    </select>
                  </div>
                  <div *ngIf="addBusinessForm.controls.type.invalid && (addBusinessForm.controls.type.dirty || addBusinessForm.controls.type.touched)"
                    class="text-danger small">
                    <div *ngIf="addBusinessForm.controls.type.hasError('required')">
                      {{businessTypeRequiredMsg}}
                    </div>
                  </div>
                  <!-- input-group.// -->
                </div>
                <!-- form-group.// -->
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <div class="input-group">
                    <input type="text" class="form-control" formControlName="city" [(ngModel)]="business.city" placeholder="City"  maxlength="22">
                  </div>
                  <div *ngIf="addBusinessForm.controls.city.invalid && (addBusinessForm.controls.city.dirty || addBusinessForm.controls.city.touched)"
                    class="text-danger small">
                    <div *ngIf="addBusinessForm.controls.city.hasError('required')">
                      {{cityRequiredMessage}}
                    </div>
                  </div>
                  <!-- input-group.// -->
                </div>
                <!-- form-group.// -->
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <div class="input-group">
                    <input type="text" class="form-control" OnlyNumber="true" maxlength="5" formControlName="zipcode" [(ngModel)]="business.zip" placeholder="Zip"
                      (change)="validateZip()" (paste)="pasteCheck($event)">
                  </div>
                  <div *ngIf="addBusinessForm.controls.zipcode.invalid && (addBusinessForm.controls.zipcode.dirty || addBusinessForm.controls.zipcode.touched)"
                    class="text-danger small">
                    <div *ngIf="addBusinessForm.controls.zipcode.hasError('required')">
                      {{zipRequiredMessage}}
                    </div>
                  </div>
                  <div class="text-danger small" *ngIf="!validZip && !addBusinessForm.controls.zipcode.hasError('required')">
                    {{invalidZipMessage}}
                  </div>
                  <!-- input-group.// -->
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <!-- form-group.// -->
                <div class="form-group">
                  <div class="input-group">
                    <input type="text" class="form-control" formControlName="website" [(ngModel)]="business.site" placeholder="Website (Optional)"  maxlength="50">
                  </div>
                  <!-- input-group.// -->
                </div>
                <!-- form-group.// -->
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <div class="input-group">
                    <input type="text" class="form-control" formControlName="email" [(ngModel)]="business.email" placeholder="Email (Optional)" (change)="validateEmail()"  maxlength="30">
                  </div>
                  <div *ngIf="!validEmail" class="text-danger small">
                    {{invalidEmailMessage}}
                  </div>
                  <!-- input-group.// -->
                </div>
                <!-- form-group.// -->
              </div>
            </div>
            <div class="float-right align-btn">
              <button class="subscribe btn btn-success btn-block" type="button" [disabled]="addBusinessForm.invalid || addClicked || !validEmail" (click)="addBusiness()">Register My Business</button>
            </div>
          </form>
        </div>
        <!-- card-body.// -->
      </div>
    </div>
  </div>
</div>