<div>
    <h2 id="page-heading">
        <span jhiTranslate="sspDcApp.business.home.title">Businesses</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-business-mv" [routerLink]="['/business-mv/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="sspDcApp.business.home.createLabel">
            Create new Business
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="businesses">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="sspDcApp.business.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="discount"><span jhiTranslate="sspDcApp.business.discount">Discount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="website"><span jhiTranslate="sspDcApp.business.website">Website</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createdAt"><span jhiTranslate="sspDcApp.business.createdAt">Created At</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="updatedAt"><span jhiTranslate="sspDcApp.business.updatedAt">Updated At</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="verifiedAt"><span jhiTranslate="sspDcApp.business.verifiedAt">Verified At</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="isVerified"><span jhiTranslate="sspDcApp.business.isVerified">Is Verified</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="isActive"><span jhiTranslate="sspDcApp.business.isActive">Is Active</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="isDeleted"><span jhiTranslate="sspDcApp.business.isDeleted">Is Deleted</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="profileId"><span jhiTranslate="sspDcApp.business.profile">Profile</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="contactId"><span jhiTranslate="sspDcApp.business.contact">Contact</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="addressId"><span jhiTranslate="sspDcApp.business.address">Address</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let business of businesses ;trackBy: trackId">
                <td><a [routerLink]="['/business-mv', business.id, 'view' ]">{{business.id}}</a></td>
                <td>{{business.name}}</td>
                <td>{{business.discount}}</td>
                <td>{{business.website}}</td>
                <td>{{business.createdAt | date:'medium'}}</td>
                <td>{{business.updatedAt | date:'medium'}}</td>
                <td>{{business.verifiedAt | date:'medium'}}</td>
                <td>{{business.isVerified}}</td>
                <td>{{business.isActive}}</td>
                <td>{{business.isDeleted}}</td>
                <td>
                    <div *ngIf="business.profileId">
                        <a [routerLink]="['../profile-mv', business.profileId , 'view' ]" >{{business.profileId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="business.contactId">
                        <a [routerLink]="['../contact-mv', business.contactId , 'view' ]" >{{business.contactId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="business.addressId">
                        <a [routerLink]="['../address-mv', business.addressId , 'view' ]" >{{business.addressId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/business-mv', business.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/business-mv', business.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'business-mv/'+ business.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="businesses && businesses.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
