<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="business">
            <h2><span jhiTranslate="sspDcApp.business.detail.title">Business</span> {{business.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="sspDcApp.business.name">Name</span></dt>
                <dd>
                    <span>{{business.name}}</span>
                </dd>
                <dt><span jhiTranslate="sspDcApp.business.discount">Discount</span></dt>
                <dd>
                    <span>{{business.discount}}</span>
                </dd>
                <dt><span jhiTranslate="sspDcApp.business.website">Website</span></dt>
                <dd>
                    <span>{{business.website}}</span>
                </dd>
                <dt><span jhiTranslate="sspDcApp.business.createdAt">Created At</span></dt>
                <dd>
                    <span>{{business.createdAt}}</span>
                </dd>
                <dt><span jhiTranslate="sspDcApp.business.updatedAt">Updated At</span></dt>
                <dd>
                    <span>{{business.updatedAt}}</span>
                </dd>
                <dt><span jhiTranslate="sspDcApp.business.verifiedAt">Verified At</span></dt>
                <dd>
                    <span>{{business.verifiedAt}}</span>
                </dd>
                <dt><span jhiTranslate="sspDcApp.business.isVerified">Is Verified</span></dt>
                <dd>
                    <span>{{business.isVerified}}</span>
                </dd>
                <dt><span jhiTranslate="sspDcApp.business.isActive">Is Active</span></dt>
                <dd>
                    <span>{{business.isActive}}</span>
                </dd>
                <dt><span jhiTranslate="sspDcApp.business.isDeleted">Is Deleted</span></dt>
                <dd>
                    <span>{{business.isDeleted}}</span>
                </dd>
                <dt><span jhiTranslate="sspDcApp.business.profile">Profile</span></dt>
                <dd>
                    <div *ngIf="business.profileId">
                        <a [routerLink]="['/profile-mv', business.profileId, 'view']">{{business.profileId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="sspDcApp.business.contact">Contact</span></dt>
                <dd>
                    <div *ngIf="business.contactId">
                        <a [routerLink]="['/contact-mv', business.contactId, 'view']">{{business.contactId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="sspDcApp.business.address">Address</span></dt>
                <dd>
                    <div *ngIf="business.addressId">
                        <a [routerLink]="['/address-mv', business.addressId, 'view']">{{business.addressId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="sspDcApp.business.category">Category</span></dt>
                <dd>
                    <span *ngFor="let category of business.categories; let last = last">
                        <a [routerLink]="['/category-mv', category?.id, 'view' ]">{{category.name}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/business-mv', business.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
