<div class="sec-header">
  <div id="app">
    <nav class="navbar navbar-expand-sm fixed-top navbar-light">
      <div class="container-fluid new-container">
        <a class="navbar-brand" href="#">
          <img class="img-box" src="assets/logo/logonew.jpg">
        </a>
        <label class="lang-item" *ngIf="!langFlag"><a (click)="switchLanguage('en')">English </a></label>
        <label class="lang-item" *ngIf="langFlag"><a (click)="switchLanguage('es')">Español</a></label>
        <div class="dropdown">
          <button type="button" class="btn btn-gray-dark dropdown-toggle hambuger-btn" data-toggle="dropdown">
            <i class="fa fa-bars"></i>
          </button>
          <div class="dropdown-menu" style="left:-117px">
            <a class="dropdown-item mouse menu-left" *ngIf="isLoggedIn" (click)="navigateProfile()">

              <img [src]=logoImage class="logoImageh"> {{loginUser | titlecase}}
            </a>
            <a class="dropdown-item menu-left" [routerLink]="['/agent-profile/login']" *ngIf="!isLoggedIn"><img
                class="logoImageh" [src]=logoImage>
              <span> {{"menu.first" | translate}}</span><br>
              <span style="padding-left: 38px;">Agents/Facilities</span>
            </a>
            <a class="dropdown-item menu-left" (click)="openHelpPopup()"><img class="logoImageh" [src]=logoImage>
              {{"menu.second" | translate}}</a>
            <a class="dropdown-item menu-left" href="https://www.schoolsafetyprogram.org" target="_blank"><img
                class="logoImageh" [src]=logoImage>
              {{"menu.third"
              | translate}}</a>
            <a class="dropdown-item menu-left" [routerLink]="['/aboutus']"><img class="logoImageh" [src]=logoImage> {{"menu.fourth" |
              translate}}</a>
            <a class="dropdown-item menu-left" style="cursor:pointer" (click)="terms()"><img class="logoImageh"
                [src]=logoImage>
              {{"menu.fifth" | translate}}</a>
            <a *ngIf="isLoggedIn" class="dropdown-item menu-left" href="#" (click)="logout()"><img class="logoImageh"
                [src]=logoImage>
              {{"menu.sixth" | translate}}</a>
          </div>
        </div>
      </div>
    </nav>
  </div>

</div>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Contact our Service Center at 855-344-1918</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</ng-template>



<div class="fulldiv" [style.height.px]="dynamicHeight -70">
  <div class="sky">
    <div class="cloud variant-1"></div>
    <div class="cloud variant-2"></div>
    <div class="cloud variant-3"></div>
    <div class="cloud variant-4"></div>
    <div class="cloud variant-5"></div>
    <div class="cloud variant-10"></div>
    <div class="cloud variant-11"></div>
    <div class="cloud variant-12"></div>
    <div class="cloud variant-9"></div>
  </div>
  <section class="wrapper ">
    <div class="row gutters mt-25">
      <div class="col-md-12 text-center">
        <h2 class="header-font pt-35">{{"main.h1" | translate}}</h2>
        <h2 class="header-font">{{"main.h3" | translate}}</h2>
      </div>
    </div>
  </section>
  <section class="all-cards" style="position:ralative">
    <div class="container container-box">

      <div class="row gutters lg-mt" style="padding-bottom: 68px">
        <div class="col-md-4">
          <div class="col-md-12 box-property">

            <div class="card card-box" id="view" [ngClass]="{'dynamic-red':agentColorFlag,'grey-back':agentgreyFlag}"
              (click)="viewAgent()">

              <div class="card-body" >
                <div class="row">

                  <div class="col-md-12 text-center p0 mt-15">
                    <p class="mb-0 f-size">{{"box.b" | translate}} </p>
                    <p class="f-size">{{"box.b1" | translate}}</p>
                  </div>


                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="col-md-12 box-property">
            <div class="card card-box" [ngClass]="{'dynamic-red':getProofColorFlag,'grey-back':getgreyFlag}"
              (click)="getProof()">

              <div class="card-body">
                <div class="row">

                  <div class="col-md-12 text-center p0 mt-15">
                    <p class="mb-0 f-size">{{"box.b" | translate}} </p>
                    <p class="mb-0 f-size">{{"box.b3" | translate}}</p>
                  </div>


                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="col-md-12 box-property">
            <div class="card card-box" [ngClass]="{'dynamic-red':facilityColorFlag,'grey-back':facgreyFlag}"
              (click)="viewFacility()">

              <div class="card-body" >
                <div class="row">

                  <div class="col-md-12 text-center p0 mt-15">
                    <p class="mb-0 f-size">{{"box.b" | translate}} </p>
                    <p class="mb-0 f-size">{{"box.b2" | translate}}</p>
                  </div>


                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="row gutters top-div" id="top-div" style="width: 100%" *ngIf="agentColorFlag">
          <div class="col-md-12 text-center">
            <label class="sec-head">{{"box-click.b1-head" | translate}} </label>
          </div>
          <div class="col-md-4"></div>
          <div class="col-md-4 text-center">
            <input type="text" class="form-control input-back inputhover" [ngClass]="{'errorborder':agentErrorFlag}"
              id="agentBox" placeholder="{{'box-placeholder.p1' | translate}}" [(ngModel)]="model.name"
              (blur)="checkName(model.name)">
            <label class="error" *ngIf="agentErrorFlag">Required</label>
          </div>
          <div class="col-md-4"></div>

          <div class="col-md-4"></div>
          <div class="col-md-2 mt-15 text-center p-r-0" style="padding-left:-1px">
            <input type="text" class="form-control input-back inputhover phoneinput"
              [ngClass]="{'errorborder':errorphoneFlag}" title="{{'box-placeholder.p2' | translate}}"
              placeholder="{{'box-placeholder.p2' | translate}} " [(ngModel)]="model.phone" mask="000-000-0000" required
              (blur)="checkValidation(model.phone)">
            <label class="error" *ngIf="errorphoneFlag">Required 10 digit</label>
          </div>
          <div class="col-md-2 mt-15 text-center">
            <input type="text" class="form-control input-back inputhover"
              [ngClass]="{'errorborder':errorZip && model.checked || (errorZip && model.companyName) }" placeholder="{{'box-placeholder.p11' | translate}}"
              [(ngModel)]="model.zip" maxlength="5" [required]="model.checked" (blur)="checkZip(model.zip)">
            <i class="fa fa-info info-icon" placement="right" ngbTooltip="{{'tooltip.t1' | translate}}"></i>
            <label class="error"  *ngIf="(errorZip && model.checked) || (errorZip && model.companyName) ">Required 5 digit</label>
          </div>

          <div class="col-md-2"> 

          </div>
          <div class="col-md-2">
          </div>


          <div class="col-md-4"></div>
          <div class="col-md-4 mt-15 text-center">
            <input type="email" class="form-control input-back inputhover" [ngClass]="{'errorborder':errorEmail}"
              placeholder="{{'box-placeholder.p4' | translate}}" [(ngModel)]="model.email"
              (blur)="checkEmailVa(model.email)">
            <label class="error" *ngIf="errorEmail">Required format</label>
          </div>
          <div class="col-md-4"></div>


          <div class="row wdth-100">
            <div class="col-md-3"></div>
            <div class="col-md-7 mt-15 box-cont text-left">
              <p class="mb-0" style="color: #000;">

                {{"select-option.r1" | translate}} <span
                  style="    font-weight: bold;text-decoration: underline;font-style: italic;">{{"select-option.r5" | translate}}
                </span> {{"select-option.r6" | translate}} <span class="error" *ngIf="chooseError">Select atleast
                  one</span></p>
            </div>
            <div class="col-md-2">
            </div>
          </div>

          <div class="row wdth-100" style=" margin-bottom: 10px;">
            <div class="col-md-3"></div>
            <div class="col-md-5 mt-15 box-cont text-left">
              <p class="mb-0 label-quest first-in-box">
                1. {{"select-option.r2" | translate}} <span
                  style="float:right;color: #848080;font-weight: 100;">Check</span></p>
            </div>
            <div class="col-md-1">
              <p class="mb-0 " style="padding-top: 8px;">
                <input type="checkbox" class="checkbx" [(ngModel)]="model.checked" (click)="checkAgent($event)"></p>
            </div>
            <div class="col-md-1 text-center"><button class="btn btn-danger btn-red find-btn"
                [disabled]="!findButtonFlag1" type="button" (click)="findAgent('AGENT')">{{'find' |
                translate}}</button></div>
          </div>


          <div class="row wdth-100" style="    margin-bottom: 15px;">
            <div class="col-md-3"></div>
            <div class="col-md-4 mt-15 box-cont text-left">
              <p class="mb-0 label-quest first-in-box">

                2. {{"select-option.r3" | translate}} <span
                  style="float:right;color: #848080;font-weight: 100;">Type</span></p>
            </div>
            <div class="col-md-2">
              <p class="mb-0" style="padding-top: 8px">
                <input type="text" class="select-box " [(ngModel)]="model.companyName" (keyup)="getCompList()" />
                <li class="search-con" [hidden]="selectedCompany" *ngFor="let k of companydataArray"
                  (click)="selectComapny(k)">{{k}}</li>
              </p>
            </div>

            <div class="col-md-1 text-center">
              <button class="btn btn-danger btn-red find-btn1" [disabled]="!findButtonFlag2" type="button"
                (click)="findAgent('AGENT')">{{'find' |
                translate}}</button></div>
          </div>

          <div class="row wdth-100">
            <div class="col-md-3"></div>
            <div class="col-md-4 mt-15 box-cont text-left" style="margin-top: 0;">

              <p class="mb-0 label-quest first-in-box">
                3. {{"select-option.r4" | translate}} <span
                  style="float:right;color: #848080;font-weight: 100;">Type</span> </p>
            </div>
            <div class="col-md-2">
              <p class="mb-0">

                <input type="text" class="select-box " [(ngModel)]="model.agentName" (keyup)="getAgeList()" />
                <li class="search-con" [hidden]="selectedagentName" *ngFor="let k of agentdataArray"
                  (click)="selectAgentName(k)">{{k}}</li>
              </p>
            </div>
            <div class="col-md-1 text-center">
              <button class="btn btn-danger btn-red find-btn2" type="button" [disabled]="!findButtonFlag3"
                (click)="findAgent('AGENT')">{{'find' |
                    translate}}</button>
            </div>
          </div>
        </div>


        <!-- Facility Starts -->

        <div class="row gutters " style="width: 100%"
          *ngIf="!agentColorFlag && !facilityColorFlag && !getProofColorFlag">
          <div class="col-md-12 text-center">
            <h3>{{"link.l1" | translate}} <span class="label-color">{{"link.l2" | translate}}!</span> </h3>
          </div>
        </div>

        <div class="row gutters" [ngClass]="{'animatediv':nextFacFlag}" [hidden]="hideFac" style="width: 100%"
          *ngIf="facilityColorFlag">
          <div class="col-md-12 text-center">
            <label class="sec-head">{{"box-click.b2-head" | translate}}</label>
          </div>
          <div class="col-md-4"></div>
          <div class="col-md-4 text-center">
            <input type="text" class="form-control input-back inputhover" [ngClass]="{'errorborder':agentErrorFlag}"
              id="facilityBox" placeholder="{{'box-placeholder.p1' | translate}}" [(ngModel)]="faclitymodel.name"
              (blur)="checkName(faclitymodel.name)">
            <label class="error" *ngIf="agentErrorFlag">Required</label>
          </div>
          <div class="col-md-4"></div>

          <div class="col-md-4"></div>
          <div class="col-md-2 mt-15 text-center  p-r-0" style="padding-left:-1px">
            <input type="text" class="form-control input-back inputhover phoneinput"
              placeholder="{{'box-placeholder.p2' | translate}}" title="{{'box-placeholder.p2' | translate}}"
              [ngClass]="{'errorborder':errorphoneFlag}" [(ngModel)]="faclitymodel.phone" mask="000-000-0000"
              (blur)="checkValidation(faclitymodel.phone)">
            <label class="error" *ngIf="errorphoneFlag">Required 10 digit</label>

          </div>
          <div class="col-md-2 mt-15 text-center">
            <input type="text" class="form-control input-back inputhover" [ngClass]="{'errorborder':errorZip}"
              placeholder="{{'box-placeholder.p11' | translate}}" maxlength="5" [(ngModel)]="faclitymodel.zip"
              (blur)="checkZip(faclitymodel.zip)"><i class="fa fa-info info-icon" placement="right"
              ngbTooltip="{{'tooltip.t2' | translate}}"></i>
            <label class="error" *ngIf="errorZip">Required 5 digit</label>
          </div>
          <div class="col-md-4"></div>



          <div class="col-md-4"></div>
          <div class="col-md-4 mt-15">
            <input type="text" class="form-control input-back inputhover" [ngClass]="{'errorborder':errorEmail}"
              placeholder="{{'box-placeholder.p4' | translate}}" [(ngModel)]="faclitymodel.email"
              (blur)="checkEmailVa(faclitymodel.email)">
            <label class="error" *ngIf="errorEmail">Required Format</label>
          </div>
          <div class="col-md-4"></div>

          <div class="col-md-5"></div>
          <div class="col-md-2 mt-15 text-center">
            <button class="btn btn-danger btn-red btn-block" (click)="findFacility()">Next
            </button>
          </div>
          <div class="col-md-5"></div>


        </div>

        <!-- New Slider -->

        <div class="row gutters" [ngClass]="{'animatedivback':backFacFlag}" [hidden]="!hideFac" style="width: 100%"
          *ngIf="facilityColorFlag">
          <div class="col-md-12 text-center">
            <label class="sec-head">{{"box-click.b2-head-1" | translate}}</label>
          </div>
          <!-- Question-1 -->
          <div class="col-md-2"></div>
          <div class="col-md-5 questions">
            <label class="ques-font">{{"questions.radio-1" | translate}}</label>
          </div>
          <div class="col-md-1 p-0  text-center">
            <label class="radio-inline mr-20">
              <input type="radio" name="vRegistration" value="yes" [(ngModel)]="faclitymodel.vRegistration"
                (change)="checkEmission()">
              {{"vtype.v1" |
              translate}}</label>
          </div>
          <div class="col-md-1 p-0 text-center">
            <label class="radio-inline mr-20">
              <input type="radio" name="vRegistration" value="no" [(ngModel)]="faclitymodel.vRegistration"
                (change)="checkEmission()">
              {{"vtype.v2" |
              translate}}</label>
          </div>
          <div class="col-md-3">
            <button type="button" class="btn btn-next" style="margin-left: 4px;" *ngIf="firstButtonFlag"
              (click)="nextButton()">Next</button>
          </div>
          <!-- Question -2 -->
          <div class="col-md-2"></div>
          <div class="col-md-5 questions d-none" [ngClass]="{'d-block': emissionFlag2}">
            <label class="ques-font">{{"questions.radio-2" | translate}}</label>
          </div>
          <div class="col-md-1 p-0 text-center d-none" [ngClass]="{'d-block': emissionFlag2}">
            <label class="radio-inline mr-20">
              <input type="radio" name="vDiesel" value="yes" [(ngModel)]="faclitymodel.vDiesel"
                (change)="checkDiesel()">
              {{"vtype.v1" |
              translate}}</label>
          </div>
          <div class="col-md-1 p-0 text-center d-none" [ngClass]="{'d-block': emissionFlag2}">
            <label class="radio-inline mr-20">
              <input type="radio" name="vDiesel" value="no" [(ngModel)]="faclitymodel.vDiesel" (change)="checkDiesel()">
              {{"vtype.v2" |
              translate}}</label>
          </div>
          <div class="col-md-3">
            <button type="button" class="btn btn-next btn-back-blue" *ngIf="secondButtonFlag"
              (click)="backButton()">Back</button>
            <button type="button" class="btn btn-next" style="margin-left: 4px;" *ngIf="secondButtonFlag"
              (click)="secondButton()">Next</button>
          </div>
          <!-- Question-3 -->
          <div class="col-md-2"></div>
          <div class="col-md-5 questions d-none" [ngClass]="{'d-block': diseselFlag}">
            <label class="ques-font">{{"questions.radio-3" | translate}}</label>
          </div>
          <div class="col-md-1 p-0 text-center d-none" [ngClass]="{'d-block': diseselFlag}">
            <label class="radio-inline mr-20">
              <input type="radio" name="vFarm" value="yes" [(ngModel)]="faclitymodel.vFarm" (change)="checkFarm()">
              {{"vtype.v1" |
              translate}}</label>
          </div>
          <div class="col-md-1 p-0 text-center d-none" [ngClass]="{'d-block': diseselFlag}">
            <label class="radio-inline mr-20">
              <input type="radio" name="vFarm" value="no" [(ngModel)]="faclitymodel.vFarm" (change)="checkFarm()">
              {{"vtype.v2" |
              translate}}</label>
          </div>
          <div class="col-md-3">
            <button type="button" class="btn btn-next btn-back-blue" *ngIf="thirdButtonFlag"
              (click)="backthirdButton()">Back</button>
            <button type="button" class="btn btn-next" style="margin-left: 4px;" *ngIf="thirdButtonFlag"
              (click)="thirdButton()">Next</button>
          </div>
          <!-- /Questions end -->
          <div class="col-md-4"></div>
          <div class="col-md-4 text-left ">
            <input type="text" class="form-control input-back inputhover d-none" [ngClass]="{'d-block':vFarFlag}"
              [(ngModel)]="faclitymodel.county" placeholder="{{'box-placeholder.p6' | translate}}"
              (keyup)="getCountyList($event)">
            <li class="search-con" [hidden]="selectedCounty" *ngFor="let k of dataArray"
              (click)="selectCounty(k.name,k.id)">{{k.name}}</li>
            <label class="error" *ngIf="errorCounty">Required</label>
          </div>
          <div class="col-md-4">
            <button type="button" class="btn btn-next btn-back-blue" style="margin-top: 6px;" *ngIf="fourthButtonFlag"
              (click)="backFourthButton()">Back</button>
            <button type="button" class="btn btn-next" style="margin-top: 6px;margin-left: 4px;"
              *ngIf="fourthButtonFlag" (click)="fourthButton()">Next</button>
          </div>

          <div class="col-md-3"></div>
          <div class="col-md-3 text-right mt-10">
            <input type="text" class="form-control input-back inputhover d-none"
              [ngClass]="{'d-block':checkCountyFound}" maxlength="4" [(ngModel)]="faclitymodel.vehicleYear"
              (blur)="checkvYear(faclitymodel.vehicleYear)" placeholder="{{'box-placeholder.p5' | translate}}">
            <label class="error" *ngIf="errorvYear">Required 4 digit</label>
            <label class="error" *ngIf="exceedYear">Not More than {{currentYear }}</label>
          </div>
          <div class="col-md-3 text-right mt-10">
            <input type="text" class="form-control input-back inputhover d-none"
              [ngClass]="{'d-block':checkCountyFound}" [(ngModel)]="faclitymodel.mileage"
              placeholder="{{'box-placeholder.p10' | translate}}">
            <label class="error" *ngIf="mileageFlag">Required</label>
          </div>
          <div class="col-md-3">
            <button type="button" class="btn btn-next" style="margin-top: 18px;" *ngIf="fifthButtonFlag"
              (click)="backFifthButton()">Back</button>
            <button type="button" class="btn btn-next" style="margin-top: 18px;margin-left: 4px;"
              *ngIf="fifthButtonFlag" (click)="checkMileage(faclitymodel.mileage)">Next</button>
          </div>



          <div class="col-md-2"></div>
          <div class="col-md-8 text-center mt-10" style="margin-top:30px">
            <p class="emission-color para-mb" *ngIf="emiisionFlag  || checkMileageFlag">{{"rules.r1" | translate}}</p>
            <p class="emission-color para-mb" *ngIf="diseselFlag2 || vFarFlag2 || checkCountyFlag || mileageyearFlag ">{{"rules.r3"
              | translate}}</p>
            <p class="emission-color para-mb"
              *ngIf="emiisionFlag || diseselFlag2 || vFarFlag2  || checkCountyFlag || checkEmissionMileage || checkMileageFlag || mileageyearFlag">{{"rules.r2"
              | translate}}</p>
          </div>
          <div class="col-md-2"></div>


          <div class="col-md-4"></div>
          <div class="col-md-2 mt-10">
            <button class="btn btn-danger btn-back-blue btn-block" (click)="backFac()">Back</button></div>
          <div class="col-md-2 mt-10">
            <button type="button" *ngIf="hideButtonFlag" class="btn btn-danger btn-back-blue btn-block"
              (click)="searchFacility('FACILITY')">{{'find'
              | translate}}</button>
          </div>
          <div class="col-md-4"></div>
        </div>


        <!-- Starts Proof -->
        <div class="row gutters" [ngClass]="{'animatediv':nextProofFlag}" [hidden]="hideProof" style="width: 100%"
          *ngIf="getProofColorFlag">
          <div class="col-md-12 text-center">
            <label class="sec-head">{{"box-click.b3-head" | translate}}</label>
          </div>
          <div class="col-md-4"></div>
          <div class="col-md-4 mt-15 text-center">
            <input type="text" class="form-control input-back inputhover" id="proofBox"
              placeholder="{{'box-placeholder.p1' | translate}}" [ngClass]="{'errorborder':agentErrorFlag}"
              [(ngModel)]="proofModel.name" (blur)="checkName(proofModel.name)">
            <label class="error" *ngIf="agentErrorFlag">Required</label>

          </div>
          <div class="col-md-4"></div>

          <div class="col-md-4"></div>
          <div class="col-md-2 mt-15 text-center  p-r-0">
            <input type="text" class="form-control input-back inputhover phoneinput"
              placeholder="{{'box-placeholder.p2' | translate}}" title="{{'box-placeholder.p2' | translate}}"
              [ngClass]="{'errorborder':errorphoneFlag}" [(ngModel)]="proofModel.phone" mask="000-000-0000"
              (blur)="checkValidation(proofModel.phone)">
            <label class="error" *ngIf="errorphoneFlag">Required 10 digit</label>

          </div>
          <div class="col-md-2 mt-15 text-center" style="padding-left:-1px">
            <input type="text" class="form-control input-back inputhover" [ngClass]="{'errorborder':errorEmail}"
              placeholder="{{'box-placeholder.p9' | translate}}" [(ngModel)]="proofModel.email"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" (blur)="checkEmail(proofModel.email)">
            <label class="error" *ngIf="errorEmail">Required Format</label>
          </div>
          <div class="col-md-2 mt-15"></div>
          <div class="col-md-2"></div>

          <div class="col-md-5"></div>
          <div class="col-md-2 mt-15 text-center">
            <button class="btn btn-danger btn-red btn-block" (click)="findProof()">Next</button>
          </div>
          <div class="col-md-5  mt-15">
          </div>

        </div>

        <!-- New Proof Slider -->
        <div class="row gutters" style="width: 100%" [ngClass]="{'animatedivback':backProofFlag}" [hidden]="!hideProof"
          *ngIf="getProofColorFlag">
          <div class="col-md-12 text-center">
            <label class="sec-head">{{"box-click.b3-head-1" | translate}}</label>
          </div>
          <div class="col-md-3"></div>
          <div class="col-md-3 mt-15 text-center">
            <input type="text" class="form-control input-back inputhover" (keyup)="getLastNameList($event)"
              placeholder="{{'box-placeholder.p7' | translate}}" [(ngModel)]="proofModel.lastname">
            <li class="search-con" [hidden]="selectedLastName" *ngFor="let k of dataLastName"
              (click)="selectLastName(k)">{{k.name}}</li>
          </div>
          <div class="col-md-3 mt-15 text-center">
            <input type="text" class="form-control input-back inputhover" (keyup)="getCompanyNameArray($event)"
              placeholder="{{'box-placeholder.p8' | translate}}" [(ngModel)]="proofModel.company">
            <li class="search-con" [hidden]="selectedCompanyName" *ngFor="let k of dataCompany"
              (click)="selectCompnayName(k)">{{k.name}}</li>

          </div>

          <div class="col-md-3 "></div>

          <div class="col-md-3"></div>
          <div class="col-md-3 mt-15 text-center">
            <input type="text" class="form-control input-back inputhover"
              placeholder="{{'box-placeholder.p3' | translate}}" [(ngModel)]="proofModel.zip" maxlength="5">
            <i class="fa fa-info info-icon" placement="right" ngbTooltip="{{'tooltip.t3' | translate}}"></i>
            <label class="error" *ngIf="lastNameFlag">Required any one field</label>
          </div>
          <div class="col-md-3 mt-15">
            <button type="button" class="btn btn-danger btn-red btn-block" (click)="searchProof('INSURANCE')">{{'find'
              |
              translate}}</button>

          </div>
          <div class="col-md-3"></div>


          <div class="col-md-5"></div>
          <div class="col-md-2 mt-15 text-center">
            <button class="btn btn-danger btn-back-blue btn-block" (click)="backProof()">Back</button>

          </div>
          <div class="col-md-5"></div>

        </div>



      </div>
    </div>
    <div class="row gutters " style="width: 100%">
      <div class="col-md-4">
        <img class="img-set ab-row img1" src="assets/slider/1.png">
      </div>
      <div class="col-md-4">
      </div>
      <div class="col-md-4 text-right">
        <img class="img-set ab-row img2" src="assets/slider/2.png">
      </div>

    </div>


  </section>
</div>

<style>
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #e9ecef;
    color: #000;
    text-align: center;
  }
</style>
<div class="footer">
  <p class="mb-0">{{'footer.l2' | translate}} © {{currentDate | date:'yyyy'}} {{'footer.l1' | translate}}</p>
  <p class="mb-0 pos" (click)="navToPrivacy()">{{'footer.l3' | translate}}</p>
</div>
<ng-template #facModal let-c="close" let-d="dismiss" let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Get Inspection Place</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label class="radio-inline mr-20">
            <input type="radio" name="vType" value="gasoline" [(ngModel)]="vType"> Gasoline</label>
          <label class="radio-inline">
            <input type="radio" name="vType" value="diesal" [(ngModel)]="vType"> Diesal</label>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" [(ngModel)]="vmodalNo" placeholder="Modal No.">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" [(ngModel)]="insCounty" placeholder="Enter County Of Registration"
            (blur)="checkInsurance()">
        </div>
        <div class="form-group" *ngIf="getInspected">
          <label class="text-center">Your Vehicle required Saftey Emission Insurance</label>
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-info btn-block" [disabled]="vType=='' || vmodalNo=='' || insCounty==''"
            (click)="searchInspection()">Search</button>
        </div>

      </div>
    </div>
  </div>
</ng-template>


<ng-template #getProf let-p="close" let-q="dismiss" let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Get Inspection Proof</h4>
    <button type="button" class="close" aria-label="Close" (click)="q('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="FirstName" [(ngModel)]="prfFirstName">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Company Name" [(ngModel)]="prfComName">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Zipcode" [(ngModel)]="prfZipcode" maxlength="5">
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-info btn-block" (click)="searchProof()">Search</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>