<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="address">
            <h2><span jhiTranslate="iaaApp.address.detail.title">Address</span> {{address.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="iaaApp.address.addr1">Addr 1</span></dt>
                <dd>
                    <span>{{address.addr1}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.address.addr2">Addr 2</span></dt>
                <dd>
                    <span>{{address.addr2}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.address.addr3">Addr 3</span></dt>
                <dd>
                    <span>{{address.addr3}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.address.zip">Zip</span></dt>
                <dd>
                    <span>{{address.zip}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.address.region">Region</span></dt>
                <dd>
                    <span>{{address.region}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.address.country">Country</span></dt>
                <dd>
                    <span>{{address.country}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.address.createdAt">Created At</span></dt>
                <dd>
                    <span>{{address.createdAt}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.address.updatedAt">Updated At</span></dt>
                <dd>
                    <span>{{address.updatedAt}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.address.city">City</span></dt>
                <dd>
                    <div *ngIf="address.cityId">
                        <a [routerLink]="['/city-mv', address.cityId, 'view']">{{address.cityId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="iaaApp.address.county">County</span></dt>
                <dd>
                    <div *ngIf="address.countyId">
                        <a [routerLink]="['/county-mv', address.countyId, 'view']">{{address.countyId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="iaaApp.address.state">State</span></dt>
                <dd>
                    <div *ngIf="address.stateId">
                        <a [routerLink]="['/state-mv', address.stateId, 'view']">{{address.stateId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/address-mv', address.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
