<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-address-mv-heading" jhiTranslate="iaaApp.address.home.createOrEditLabel">Create or edit a Address</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!address.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="address.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.address.addr1" for="field_addr1">Addr 1</label>
                    <input type="text" class="form-control" name="addr1" id="field_addr1"
                        [(ngModel)]="address.addr1" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.address.addr2" for="field_addr2">Addr 2</label>
                    <input type="text" class="form-control" name="addr2" id="field_addr2"
                        [(ngModel)]="address.addr2" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.address.addr3" for="field_addr3">Addr 3</label>
                    <input type="text" class="form-control" name="addr3" id="field_addr3"
                        [(ngModel)]="address.addr3" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.address.zip" for="field_zip">Zip</label>
                    <input type="text" class="form-control" name="zip" id="field_zip"
                        [(ngModel)]="address.zip" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.address.region" for="field_region">Region</label>
                    <input type="text" class="form-control" name="region" id="field_region"
                        [(ngModel)]="address.region" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.address.country" for="field_country">Country</label>
                    <input type="text" class="form-control" name="country" id="field_country"
                        [(ngModel)]="address.country" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.address.createdAt" for="field_createdAt">Created At</label>
                    <div class="d-flex">
                        <input id="field_createdAt" type="datetime-local" class="form-control" name="createdAt" [(ngModel)]="createdAt"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.address.updatedAt" for="field_updatedAt">Updated At</label>
                    <div class="d-flex">
                        <input id="field_updatedAt" type="datetime-local" class="form-control" name="updatedAt" [(ngModel)]="updatedAt"
                        />
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.address.city" for="field_city">City</label>
                    <select class="form-control" id="field_city" name="city" [(ngModel)]="address.cityId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="cityOption.id" *ngFor="let cityOption of cities; trackBy: trackCityById">{{cityOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.address.county" for="field_county">County</label>
                    <select class="form-control" id="field_county" name="county" [(ngModel)]="address.countyId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="countyOption.id" *ngFor="let countyOption of counties; trackBy: trackCountyById">{{countyOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.address.state" for="field_state">State</label>
                    <select class="form-control" id="field_state" name="state" [(ngModel)]="address.stateId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="stateOption.id" *ngFor="let stateOption of states; trackBy: trackStateById">{{stateOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
