<div>
    <h2 id="page-heading">
        <span jhiTranslate="iaaApp.agentDistribution.home.title">Agent Distributions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-agent-distribution-mv" [routerLink]="['/agent-distribution-mv/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="iaaApp.agentDistribution.home.createLabel">
            Create new Agent Distribution
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="agentDistributions">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="iaaApp.agentDistribution.slot">Slot</span></th>
            <th><span jhiTranslate="iaaApp.agentDistribution.type">Type</span></th>
            <th><span jhiTranslate="iaaApp.agentDistribution.zip">Zip</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let agentDistribution of agentDistributions ;trackBy: trackId">
                <td><a [routerLink]="['/agent-distribution-mv', agentDistribution.id, 'view' ]">{{agentDistribution.id}}</a></td>
                <td>{{agentDistribution.slot}}</td>
                <td>{{agentDistribution.type}}</td>
                <td>
                    <div *ngIf="agentDistribution.zipId">
                        <a [routerLink]="['../zip-area-mv', agentDistribution.zipId , 'view' ]" >{{agentDistribution.zipId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/agent-distribution-mv', agentDistribution.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/agent-distribution-mv', agentDistribution.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'agent-distribution-mv/'+ agentDistribution.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
