<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-agent-distribution-mv-heading" jhiTranslate="iaaApp.agentDistribution.home.createOrEditLabel">Create or edit a Agent Distribution</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!agentDistribution.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="agentDistribution.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.agentDistribution.slot" for="field_slot">Slot</label>
                    <input type="number" class="form-control" name="slot" id="field_slot"
                        [(ngModel)]="agentDistribution.slot" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.agentDistribution.type" for="field_type">Type</label>
                    <input type="text" class="form-control" name="type" id="field_type"
                        [(ngModel)]="agentDistribution.type" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.agentDistribution.zip" for="field_zip">Zip</label>
                    <select class="form-control" id="field_zip" name="zip" [(ngModel)]="agentDistribution.zipId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="zipAreaOption.id" *ngFor="let zipAreaOption of zips; trackBy: trackZipAreaById">{{zipAreaOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
