<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="agentDistribution">
            <h2><span jhiTranslate="iaaApp.agentDistribution.detail.title">Agent Distribution</span> {{agentDistribution.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="iaaApp.agentDistribution.slot">Slot</span></dt>
                <dd>
                    <span>{{agentDistribution.slot}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.agentDistribution.type">Type</span></dt>
                <dd>
                    <span>{{agentDistribution.type}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.agentDistribution.zip">Zip</span></dt>
                <dd>
                    <div *ngIf="agentDistribution.zipId">
                        <a [routerLink]="['/zip-area-mv', agentDistribution.zipId, 'view']">{{agentDistribution.zipId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/agent-distribution-mv', agentDistribution.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
