.form-control:focus {
    box-shadow: none;
}
input,
input::-webkit-input-placeholder {
    font-size: 1rem;
}

.dropdown-toggle:after {
    margin-left: 16.255em;
}

.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
    box-shadow: none;
}
.btn,
.custom-file-control:before {
    text-transform: none;
}
.btn-secondary.active.custom-file-control:before,
.btn-secondary.custom-file-control:active:before,
.btn-secondary.custom-file-control:focus:before,
.btn-secondary.custom-file-control:hover:before,
.btn-secondary.focus.custom-file-control:before,
.btn.btn-secondary.active,
.btn.btn-secondary.focus,
.btn.btn-secondary:active,
.btn.btn-secondary:focus,
.btn.btn-secondary:hover,
.open > .btn-secondary.dropdown-toggle.custom-file-control:before,
.open > .btn.btn-secondary.dropdown-toggle {
    background-color: white;
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show > .btn-secondary.dropdown-toggle {
    background-color: white;
    color: rgb(99, 99, 99);
}
.cardDetails {
    position: relative;
}
.fa.faIcon {
    position: absolute;
    bottom: 10px;
    right: 35px;
}
.card .payment {
    background-color: #efefef1f;
}
.btn.btn-outline-primary:active:hover {
    background-color: rgb(0, 161, 126);
    color: white;
}
.btn.btn-outline-primary:hover {
    background-color: rgb(0, 161, 126);
    color: white;
}

.card::-webkit-scrollbar {
    width: 8px;
    background: rgb(247, 255, 255);
}
.card::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.card::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
.back-color {
    background: #fff;
    margin-top: 12px;
}

.form-control {
    color: #000 !important;
}
.custom-error{
  font-size: 10px;
  color: red;
}




/* e-cheque card tab */

.cardsIcon{
    margin-left: -5px;
    margin-right: 10px;
}

.Checkout{
    /* width: 67%;*/
    margin-left: 16.5%; 
}

.wrap {
  padding: 15px 0px 0px 0px;
}

.label1 {
  position: relative;
  display: inline-block;
  text-align: center;
  margin-right: 30px;
}
.label2 {
  position: relative;
  display: inline-block;
  text-align: center;
  /* margin-left: 14px; */
}

.btn1:hover {
  cursor: pointer !important;
}

.btn1:active {
  /* box-shadow: 0 1px #666 !important; */
  /* transform: translateY(2px) !important; */
}

.btn1 {
  font-size: 18px;
  font-weight: bold;
  height: 50px;
  /* width: 100px; */
  box-shadow: 0 3px #999;
  text-align: center;
}

.btn-sık {
  transition: all 0.2s ease;
  background-color: white;
  border:1px solid #60b7e4 !important;
  box-shadow: 0 0px #61a0c7 !important;
  min-width: 235px;
  border-radius: 3px;
}

/* btn-sık::selection {
  background: green;
} */

input[type="radio"] {
  position: absolute;
  visibility: hidden;
}

input[type="radio"]+div {
  position: relative;
}

input[type="radio"]:checked+div {
    background-color: #e1f4ff;
    border: 1px solid #12a0da;
}

input[type="radio"]+div>span {
  color: #455a64;
}

input[type="radio"]+div>span {
  position: relative;
  top: 22%;
}

input[type="radio"]:checked+div::before {
  font-family: FontAwesome;
  content: "\f058";
  position: absolute;
  bottom: 40px;
  font-size: 22px;
  color: #60b7e4;
  right: -18px;
  animation: fall 0.5s forwards;
}

@keyframes fall {
  100% {
    -webkit-transform: translate(-5px, 5px) ;
    -moz-transform: translate(-5px, 5px) ;
    -o-transform: translate(-5px, 5px) ;
    -ms-transform: translate(-5px, 5px) ;
    transform: translate(-5px, 5px);
  }
}

@-moz-keyframes fall {
  100% {
    -webkit-transform: translate(-5px, 5px) ;
    -moz-transform: translate(-5px, 5px) ;
    -o-transform: translate(-5px, 5px) ;
    -ms-transform: translate(-5px, 5px) ;
    transform: translate(-5px, 5px) ;
  }
}

@-webkit-keyframes fall {
  100% {
    -webkit-transform: translate(-5px, 5px);
    -moz-transform: translate(-5px, 5px);
    -o-transform: translate(-5px, 5px) ;
    -ms-transform: translate(-5px, 5px) ;
    transform: translate(-5px, 5px) ;
  }
}



/* radio button */


[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    padding-right: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666 !important;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #b1b1b1;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #1976d2;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}


.cheque_height{
    height: 170px;
}