<div class="container-fluid">
  <h2 class="Checkout">Checkout</h2>

  <div class="wrap text-center" *ngIf="!isAdmin">
    <label class="label1" (click)="makeCardPayment(f)">
      <input type="radio" checked name="radio">
      <div class="btn1 btn-sık">
        <span class="fa fa-credit-card cardsIcon"></span>
        <span>Card</span>
      </div>
    </label>
    <label class="label2" (click)="makeChequePayment(f)">
      <input type="radio" name="radio">
      <div class="btn1 btn-sık">
        <span class="fas fa-money-check cardsIcon"></span>
        <span>e-Cheque</span>
      </div>
    </label>
  </div>
  <hr class="hr">

  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="row">

      <div class="col-md-8 card offset-md-2" style="box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);">

        <div class="card border-none " style="box-shadow: none">
          <form class="text-center" action="index.html" style="color: #757575;background: #fff;" (ngSubmit)="f.form.valid && onSubmit()"
            #f="ngForm" class="form-horizontal form-material" id="paymentForm">



            <div class="row back-color">

              <div class="col-md-6">
                  <div class="">
                      <div class="form-group">
                        <label>Amount</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="fa fa-usd" aria-hidden="true"></i>
                            </span>
                          </div>
                          <input disabled type="text"  class="form-control font-property" name="amount" [(ngModel)]="model.amount" #amount="ngModel"
                            required />
                        </div>
                      </div>
                    </div>
                    <div class="" *ngIf="!isAdmin && isEChequePayment">
                        <div class="form-group">
                          <label>Routing Number</label>
                          <input type="text" class="form-control font-property"  (focus)="getFocus1()" (blur)="blur()" name="routingNumber" [ngClass]="{ 'is-invalid': f.submitted && routingNumber.invalid }"
                            [(ngModel)]="model.routingNumber" #routingNumber="ngModel" pattern="\d{9}" maxlength="9" required />
                          <div *ngIf="f.submitted && routingNumber.invalid " class="invalid-feedback">
                            <div *ngIf="f.submitted && routingNumber.invalid">Incorrect routing number.</div>
                          </div>
                        </div>
                      </div>
              </div>
              <div class="col-md-6"  *ngIf="!isAdmin && isEChequePayment">
                  <img src="assets/images/check_1.png" alt="cheque1.png" *ngIf="check1" class="img-responsive cheque_height">
                  <img src="assets/images/check_2.png" alt="cheque2.png" *ngIf="check2" class="img-responsive cheque_height">
                  <img src="assets/images/check_3.png" alt="cheque3.png" *ngIf="check3" class="img-responsive cheque_height">
              </div>
            
             


           
              <div class="col-md-6" *ngIf="!isAdmin && !isEChequePayment">
                <div class="form-group">
                  <label>Card No.</label>
                  <input type="text" class="form-control font-property" #inputFocus name="cardNo" [ngClass]="{ 'is-invalid': f.submitted && cardNo.invalid }"
                    [(ngModel)]="model.cardNo" #cardNo="ngModel" pattern="[0-9]{12,19}" required />
                  <div *ngIf="f.submitted && cardNo.invalid " class="invalid-feedback">
                    <div *ngIf="f.submitted && cardNo.invalid">Incorrect card number.</div>
                  </div>
                </div>
              </div>

              <!-- <div class="col-md-6" *ngIf="!isAdmin && isEChequePayment">
                  <img src="assets/images/check_1.png" alt="cheque1.png">
                  <img src="assets/images/check_2.png" alt="cheque2.png">
                  <img src="assets/images/check_3.png" alt="cheque3.png">
              </div> -->
             
            
            

              <div class="col-md-6" *ngIf="isAdmin">
                <div class="form-group">
                  <label>Cheque No.</label>
                  <input type="text" class="form-control font-property" name="chequeNo" [ngClass]="{ 'is-invalid': f.submitted && chequeNo.invalid }"
                    [(ngModel)]="model.chequeNo" #chequeNo="ngModel" pattern="\d{9}" maxlength="9" required />
                  <div *ngIf="f.submitted && chequeNo.invalid " class="invalid-feedback">
                    <div *ngIf="f.submitted && chequeNo.invalid">Incorrect cheque number.</div>
                  </div>
                </div>
              </div>

              <div class="col-md-6 mt-2 pt-1"  *ngIf="!isAdmin && isEChequePayment">
                <div class="form-group">
                  <label>Account Number</label>
                  <input type="text" class="form-control font-property"   (focus)="getFocus2()" (blur)="blur()" name="accountNumber" [ngClass]="{ 'is-invalid': f.submitted && accountNumber.invalid }"
                    [(ngModel)]="model.accountNumber" #accountNumber="ngModel" pattern="[0-9]{10,12}" required />
                  <div *ngIf="f.submitted && accountNumber.invalid " class="invalid-feedback">
                    <div *ngIf="f.submitted && accountNumber.invalid">Incorrect account number.</div>
                  </div>
                </div>
              </div>


              <div class="col-md-6 mt-2 pt-1" *ngIf="!isAdmin && isEChequePayment">
                <div class="form-group">
                  <label class="d-block">Account Type</label>
                  <div class="btn-group" style="padding:7px 0">
                    <p class="m-0">
                      <input type="radio" id="test1" name="accountType" value="C"   (change)="model.accountType=$event.target.value" checked="true">
                      <label for="test1">Checking</label>
                    </p>
                    <p class="m-0">
                      <input type="radio" id="test2" name="accountType" value="S"  (change)="model.accountType=$event.target.value">
                      <label for="test2">Savings</label>
                    </p>
                  </div>

               
                </div>
              </div>

            </div>

            <div class="row back-color" *ngIf="!isAdmin && !isEChequePayment">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Cvv</label>
                  <input type="text" class="form-control font-property" name="cvv" [ngClass]="{ 'is-invalid': f.submitted && cvv.invalid }"
                    [(ngModel)]="model.cvv" #cvv="ngModel" required pattern="[0-9]{3,4}" />
                  <div *ngIf="f.submitted && cvv.invalid " class="invalid-feedback">
                    <div *ngIf="f.submitted && cvv.invalid">Incorrect cvv number</div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>MM</label>
                  <input type="text" class="form-control font-property" name="month" [ngClass]="{ 'is-invalid': f.submitted && month.invalid }"
                    [(ngModel)]="model.month" #month="ngModel" required maxlength="2" (blur)="checkMonth(model.month)" />
                  <div *ngIf="f.submitted && month.invalid " class="invalid-feedback">
                    <div *ngIf="f.submitted && month.invalid">Expiry date is required</div>
                  </div>
                  <div class="custom-error" *ngIf="monthFlag">Month is Exceeded</div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>YY</label>
                  <input type="text" class="form-control font-property" name="year" [ngClass]="{ 'is-invalid': f.submitted && year.invalid }"
                    [(ngModel)]="model.year" #year="ngModel" required maxlength="2" (blur)="checkYear(model.year)" />
                  <div *ngIf="f.submitted && year.invalid " class="invalid-feedback">
                    <div *ngIf="f.submitted && year.invalid">Expiry date is required</div>
                  </div>
                  <div class="custom-error" *ngIf="yearFlag">Year between (18-36)</div>
                </div>
              </div>

            </div>
            <div class="row back-color" *ngIf="isAdmin">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Transaction Type</label>
                  <input type="text" class="form-control font-property" name="txnType" [(ngModel)]="model.txnType" #txnType="ngModel" disabled/>
                  <!-- <div *ngIf="f.submitted && cvv.invalid " class="invalid-feedback">
                    <div *ngIf="f.submitted && cvv.invalid">Incorrect cvv number</div>
                  </div> -->
                </div>
              </div>

            </div>
            <hr>
            <div class="row back-color">
              <div class="col-md-6">
                <div class="form-group">
                  <label>First Name</label>
                  <input type="text" class="form-control font-property" name="firstName" [ngClass]="{ 'is-invalid': f.submitted && firstName.invalid }"
                    [(ngModel)]="model.firstName" #firstName="ngModel" required />

                  <div *ngIf="f.submitted && firstName.invalid " class="invalid-feedback">
                    <div *ngIf="f.submitted && firstName.invalid">First Name is required</div>

                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Last Name</label>
                  <input type="text" class="form-control font-property" name="lastName" [ngClass]="{ 'is-invalid': f.submitted && lastName.invalid }"
                    [(ngModel)]="model.lastName" #lastName="ngModel" required />
                  <div *ngIf="f.submitted && lastName.invalid " class="invalid-feedback">
                    <div *ngIf="f.submitted && lastName.invalid">Last Name is required</div>

                  </div>
                </div>
              </div>
            </div>

            <div class="row back-color">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Phone</label>
                  <input type="text" class="form-control font-property" name="phone" [ngClass]="{ 'is-invalid': f.submitted && phone.invalid }"
                    [(ngModel)]="model.phone" #phone="ngModel" required maxlength="10" minlength="10" />
                  <div *ngIf="f.submitted && phone.invalid " class="invalid-feedback">
                    <div *ngIf="f.submitted && phone.invalid">Phone number is required (10 digit)</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Email</label>
                  <input type="email" class="form-control font-property" name="email" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }"
                    [(ngModel)]="model.email" #email="ngModel" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" />
                  <div *ngIf="f.submitted && email.invalid " class="invalid-feedback">
                    <div *ngIf="f.submitted && email.invalid">Email is required</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row back-color">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Address</label>
                  <input type="text" class="form-control font-property" name="addr" [ngClass]="{ 'is-invalid': f.submitted && addr.invalid }"
                    [(ngModel)]="model.addr" #addr="ngModel" required />
                  <div *ngIf="f.submitted && addr.invalid " class="invalid-feedback">
                    <div *ngIf="f.submitted && addr.invalid">Address is required</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Street</label>
                  <input type="text" class="form-control font-property" name="street" [(ngModel)]="model.street" #street="ngModel" />
                </div>
              </div>
            </div>

            <div class="row back-color">
              <div class="col-md-6">
                <div class="form-group">
                  <label>City</label>
                  <input type="text" class="form-control font-property" name="city" [ngClass]="{ 'is-invalid': f.submitted && city.invalid }"
                    [(ngModel)]="model.city" #city="ngModel" required />
                  <div *ngIf="f.submitted && city.invalid " class="invalid-feedback">
                    <div *ngIf="f.submitted && city.invalid">City name is required</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>State</label>
                  <select class="form-control font-property" name="state" [ngClass]="{ 'is-invalid': f.submitted && state.invalid }" [(ngModel)]="model.state"
                    #state="ngModel" required>
                    <option value=undefined disabled>--Select State--</option>
                    <option *ngFor="let state of statesList" value={{state.name}}>{{state.name}}</option>

                  </select>

                  <div *ngIf="f.submitted && state.invalid " class="invalid-feedback">
                    <div *ngIf="f.submitted && state.invalid">State name is required</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row back-color">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Zip</label>
                  <input type="text" class="form-control font-property" name="zip" [ngClass]="{ 'is-invalid': f.submitted && zip.invalid }"
                    [(ngModel)]="model.zip" #zip="ngModel" required maxlength="5" />
                  <div *ngIf="f.submitted && zip.invalid " class="invalid-feedback">
                    <div *ngIf="f.submitted && zip.invalid">Zip code is required</div>
                  </div>

                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Country</label>
                  <select class="form-control font-property" name="country" [ngClass]="{ 'is-invalid': f.submitted && country.invalid }" [(ngModel)]="model.country"
                    #country="ngModel" required>
                    <option value="USA" [selected]="true">USA</option>
                  </select>

                  <div *ngIf="f.submitted && country.invalid " class="invalid-feedback">
                    <div *ngIf="f.submitted && country.invalid">Country name is required</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row back-color">
              <div class="col-md-12">
                <button class="btn btn-info btn-block" style="border-radius:0" type="submit" [disabled]="!loading || monthFlag || yearFlag">
                  <span *ngIf="loading">Continue To Checkout</span>
                  <span *ngIf="!loading">Payment Processing...</span>

                </button>
              </div>
            </div>
          </form>
        </div>
      
      </div>
    </div>
  </div>
</div>
