<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.reset.title}">JHipster password reset</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
          <style>
			#activate{
				background-color:#184194 ;
				width:110px;
				height:30px;
				border-radius:10px;
				text-align:center;
				padding-top: 10px;
			}
			.link{
				color:#fff !important;	
				text-decoration:none
			}
		</style>
    </head>
    <body>
        <p th:text="#{email.reset.greeting(${user.login})}">
            Dear
        </p>
        <p th:text="#{email.reset.text1}">
            For your JHipster account a password reset was requested, please click on the URL below to reset it:
        </p>
     <!--    <p>
            <a th:href="@{|${baseUrl}/#/reset/finish?key=${user.resetKey}|}"
             th:text="@{|${baseUrl}/#/reset/finish?key=${user.resetKey}|}">Login link</a>
        </p> -->
         <p>
          <div id="activate">
			<a th:href="@{|${baseUrl}/#/reset/finish?key=${user.resetKey}|}" class="link"  type="button">
				Click Here			
			</a>
		  </div>
        </p>
        <p>
            <span th:text="#{email.reset.text2}">Regards, </span>
            <br/>
            <em th:text="#{email.signature}">JHipster.</em>
        </p>
    </body>
</html>
