<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Document</title>

<style>
.table {
text-align: justify;

}

.footer {

background: #00BB94;
text-align: center;
height: 40px;
box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img2 {
width: 93px;
position: absolute;
top: 27px;
right: 0;
left: 0;
text-align: center;
margin: auto;
}

.img1 {
padding-left: 175px
}

.header {
height: 130px;
padding-top: 0px;
padding-bottom: 0;
background: #00BB94;
font-size: 2.1rem;
color: #fff;
box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bold {
font-weight: bold
}

.content {
padding-left: 15%;
padding-right: 15%;
background-color: #fff
}

.p-footer {
padding-top: 10px;
color: #fff;
margin-top: 0;
}

.img22 {

padding-left: 38%;
 padding-top: 3%;
}

table {
width: 100%;
background: #fff;
}

hr {
border: 2px solid #00BB94;
background-color: #fff;
margin-left: 20%;
margin-right: 20%;
;

}

.shadow {
border: 1px solid #948c8c;
box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

p {
padding-left: 20px;
margin-top: 2px;
margin-bottom: 0
}
.p-m{
margin-top: 0;
margin-bottom: 0;
}
.p-p{
padding-top: 0;
padding-bottom: 0
}

</style>
</head>

<body>
<div class="content">
<div class="header">

<img src="https://mv1stop.com//assets/logo/logonew.jpg" class="img22" style="width:160px"> 

</div>

<div class="shadow">

<table class="table">
<tbody>
<tr>
<td>

<p>Dear
<span class="bold"><span th:text="${user.firstName}"></span>,</span>
</p>
<p>Thank you for your purchase! </p>
<p>This is your electronic receipt. We appreciate your business </p>
<p>and welcome you to the MV1Stop Get It Now Service Network!</p>
</td>

</tr>

</tbody>
</table>
<table class="table">
<span th:if="${user.packSubVM}">
<tbody>
	<tr>
		<th><p>Zip Code</p></th>
		<th><p>No.of Slots</p></th>
		<th><p>Amount</p></th>
	</tr>
		<span:block th:each="sub : ${user.packSubVM}">
			<tr>
			<td class="p-p"><p class="p-m"><span th:text="${sub.zip}"></span></p></td>
			<td class="p-p"><p class="p-m"><span th:text="${sub.slots}"></span></p></td>
			<td class="p-p"><p class="p-m"><span th:text="${sub.amount}"></span></p></td>
			</tr>
		</span>
	<tr>
	<td>
		<p class="bold">Total</p>
	</td>
	<td><p></p></td>
	<td>
		<p>	<span class="bold"><span th:text="${user.totalAmount}"></span></span> </p>
	</td>
	</tr>
</tbody>
<br>

</span>
<!-- #end  -->

</table>
<table class="table">
<tr>
<td>
<p id="cardNo" th:if="${user.cardNo}">By Visa <span th:text="${user.cardNo}"></span> Transaction Date/Time <span th:text="${user.transactionTime}"></span></p>
<p id="accountNo"  th:if="${user.accountNumber}">By ACH <span th:text="${user.accountNumber}"></span> Transaction Date/Time <span th:text="${user.transactionTime}"></span></p>
<p id="chequeNo" th:if="${user.cheque_no}">By Cheque <span th:text="${user.cheque_no}"></span> Transaction Date/Time <span th:text="${user.transactionTime}"></span></p>

</td>
</tr>
</table>
<hr>
<table class="table">
<tr>
<td>
<p class="bold">Regards,</p>
<p>The Team at MV1Stop</p>
<p>PO Box 4202</p>
<p>Cary,27519,NC</p>
<p>Support Email: support@mv1stop.com</p>
</td>

</tr>
</table>
</div>
<div class="footer">
<p class="p-footer">
copyright @<span th:text="${user.copyRight}"></span> Insurance Across America
</p>
</div>

</div>

</body>

</html>