<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="agentLic">
            <h2><span jhiTranslate="iaaApp.agentLic.detail.title">Agent Lic</span> {{agentLic.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="iaaApp.agentLic.licNumber">Lic Number</span></dt>
                <dd>
                    <span>{{agentLic.licNumber}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.agentLic.type">Type</span></dt>
                <dd>
                    <span>{{agentLic.type}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.agentLic.authority">Authority</span></dt>
                <dd>
                    <span>{{agentLic.authority}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.agentLic.firstActiveDate">First Active Date</span></dt>
                <dd>
                    <span>{{agentLic.firstActiveDate}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.agentLic.effectiveDate">Effective Date</span></dt>
                <dd>
                    <span>{{agentLic.effectiveDate}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.agentLic.expirationDate">Expiration Date</span></dt>
                <dd>
                    <span>{{agentLic.expirationDate}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.agentLic.createdAt">Created At</span></dt>
                <dd>
                    <span>{{agentLic.createdAt}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.agentLic.updatedAt">Updated At</span></dt>
                <dd>
                    <span>{{agentLic.updatedAt}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.agentLic.isActive">Is Active</span></dt>
                <dd>
                    <span>{{agentLic.isActive}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.agentLic.isDeleted">Is Deleted</span></dt>
                <dd>
                    <span>{{agentLic.isDeleted}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.agentLic.producer">Producer</span></dt>
                <dd>
                    <div *ngIf="agentLic.producerId">
                        <a [routerLink]="['/producer-mv', agentLic.producerId, 'view']">{{agentLic.producerId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/agent-lic-mv', agentLic.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
