<div>
    <h2 id="page-heading">
        <span jhiTranslate="iaaApp.agentLic.home.title">Agent Lics</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-agent-lic-mv" [routerLink]="['/agent-lic-mv/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="iaaApp.agentLic.home.createLabel">
            Create new Agent Lic
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="agentLics">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="iaaApp.agentLic.licNumber">Lic Number</span></th>
            <th><span jhiTranslate="iaaApp.agentLic.type">Type</span></th>
            <th><span jhiTranslate="iaaApp.agentLic.authority">Authority</span></th>
            <th><span jhiTranslate="iaaApp.agentLic.firstActiveDate">First Active Date</span></th>
            <th><span jhiTranslate="iaaApp.agentLic.effectiveDate">Effective Date</span></th>
            <th><span jhiTranslate="iaaApp.agentLic.expirationDate">Expiration Date</span></th>
            <th><span jhiTranslate="iaaApp.agentLic.createdAt">Created At</span></th>
            <th><span jhiTranslate="iaaApp.agentLic.updatedAt">Updated At</span></th>
            <th><span jhiTranslate="iaaApp.agentLic.isActive">Is Active</span></th>
            <th><span jhiTranslate="iaaApp.agentLic.isDeleted">Is Deleted</span></th>
            <th><span jhiTranslate="iaaApp.agentLic.producer">Producer</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let agentLic of agentLics ;trackBy: trackId">
                <td><a [routerLink]="['/agent-lic-mv', agentLic.id, 'view' ]">{{agentLic.id}}</a></td>
                <td>{{agentLic.licNumber}}</td>
                <td>{{agentLic.type}}</td>
                <td>{{agentLic.authority}}</td>
                <td>{{agentLic.firstActiveDate | date:'medium'}}</td>
                <td>{{agentLic.effectiveDate | date:'medium'}}</td>
                <td>{{agentLic.expirationDate | date:'medium'}}</td>
                <td>{{agentLic.createdAt | date:'medium'}}</td>
                <td>{{agentLic.updatedAt | date:'medium'}}</td>
                <td>{{agentLic.isActive}}</td>
                <td>{{agentLic.isDeleted}}</td>
                <td>
                    <div *ngIf="agentLic.producerId">
                        <a [routerLink]="['../producer-mv', agentLic.producerId , 'view' ]" >{{agentLic.producerId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/agent-lic-mv', agentLic.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/agent-lic-mv', agentLic.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'agent-lic-mv/'+ agentLic.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
