<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-agent-lic-mv-heading" jhiTranslate="iaaApp.agentLic.home.createOrEditLabel">Create or edit a Agent Lic</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!agentLic.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="agentLic.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.agentLic.licNumber" for="field_licNumber">Lic Number</label>
                    <input type="text" class="form-control" name="licNumber" id="field_licNumber"
                        [(ngModel)]="agentLic.licNumber" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.agentLic.type" for="field_type">Type</label>
                    <input type="text" class="form-control" name="type" id="field_type"
                        [(ngModel)]="agentLic.type" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.agentLic.authority" for="field_authority">Authority</label>
                    <input type="text" class="form-control" name="authority" id="field_authority"
                        [(ngModel)]="agentLic.authority" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.agentLic.firstActiveDate" for="field_firstActiveDate">First Active Date</label>
                    <div class="d-flex">
                        <input id="field_firstActiveDate" type="datetime-local" class="form-control" name="firstActiveDate" [(ngModel)]="firstActiveDate"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.agentLic.effectiveDate" for="field_effectiveDate">Effective Date</label>
                    <div class="d-flex">
                        <input id="field_effectiveDate" type="datetime-local" class="form-control" name="effectiveDate" [(ngModel)]="effectiveDate"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.agentLic.expirationDate" for="field_expirationDate">Expiration Date</label>
                    <div class="d-flex">
                        <input id="field_expirationDate" type="datetime-local" class="form-control" name="expirationDate" [(ngModel)]="expirationDate"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.agentLic.createdAt" for="field_createdAt">Created At</label>
                    <div class="d-flex">
                        <input id="field_createdAt" type="datetime-local" class="form-control" name="createdAt" [(ngModel)]="createdAt"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.agentLic.updatedAt" for="field_updatedAt">Updated At</label>
                    <div class="d-flex">
                        <input id="field_updatedAt" type="datetime-local" class="form-control" name="updatedAt" [(ngModel)]="updatedAt"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.agentLic.isActive" for="field_isActive">Is Active</label>
                    <input type="checkbox" class="form-control" name="isActive" id="field_isActive"
                        [(ngModel)]="agentLic.isActive" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.agentLic.isDeleted" for="field_isDeleted">Is Deleted</label>
                    <input type="checkbox" class="form-control" name="isDeleted" id="field_isDeleted"
                        [(ngModel)]="agentLic.isDeleted" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.agentLic.producer" for="field_producer">Producer</label>
                    <select class="form-control" id="field_producer" name="producer" [(ngModel)]="agentLic.producerId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="producerOption.id" *ngFor="let producerOption of producers; trackBy: trackProducerById">{{producerOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
