<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <div class="row">
            <div class="col-sm-8">
                <h4 style="margin-top:1%;font-weight: 500"> Bulk Upload CSV </h4>
              </div>
          <div class="col-sm-4">
            <div class="dropdown btn-group mr-1 mb-1 select-btn">
              <input type="file" #file class="file-btn" (change)="selectFile($event,file)" accept=".csv">
              <button class="btn btnc btn-info" (click)="file.click()">Select File</button>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-lg-8">
            <p>
              <ngb-progressbar type="warning" [value]="fileUploadProgress" [striped]="true" [animated]="true">
                <i>{{fileUploadProgress}}%</i>
              </ngb-progressbar>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


