<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-price-package-mv-heading" jhiTranslate="iaaApp.pricePackage.home.createOrEditLabel">Create or edit a Price Package</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!pricePackage.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="pricePackage.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.pricePackage.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="pricePackage.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.pricePackage.rank" for="field_rank">Rank</label>
                    <select class="form-control" name="rank" [(ngModel)]="pricePackage.rank" id="field_rank" >
                        <option value="ONE">{{'iaaApp.PageRank.ONE' | translate}}</option>
                        <option value="TWO">{{'iaaApp.PageRank.TWO' | translate}}</option>
                        <option value="THREE">{{'iaaApp.PageRank.THREE' | translate}}</option>
                        <option value="FOUR">{{'iaaApp.PageRank.FOUR' | translate}}</option>
                        <option value="FIVE">{{'iaaApp.PageRank.FIVE' | translate}}</option>
                        <option value="SIX">{{'iaaApp.PageRank.SIX' | translate}}</option>
                        <option value="SEVEN">{{'iaaApp.PageRank.SEVEN' | translate}}</option>
                        <option value="EIGHT">{{'iaaApp.PageRank.EIGHT' | translate}}</option>
                        <option value="NINE">{{'iaaApp.PageRank.NINE' | translate}}</option>
                        <option value="TEN">{{'iaaApp.PageRank.TEN' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.pricePackage.price" for="field_price">Price</label>
                    <input type="number" class="form-control" name="price" id="field_price"
                        [(ngModel)]="pricePackage.price" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.pricePackage.desc" for="field_desc">Desc</label>
                    <input type="text" class="form-control" name="desc" id="field_desc"
                        [(ngModel)]="pricePackage.desc" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
