<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="pricePackage">
            <h2><span jhiTranslate="iaaApp.pricePackage.detail.title">Price Package</span> {{pricePackage.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="iaaApp.pricePackage.name">Name</span></dt>
                <dd>
                    <span>{{pricePackage.name}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.pricePackage.rank">Rank</span></dt>
                <dd>
                    <span jhiTranslate="{{'iaaApp.PageRank.' + pricePackage.rank}}">{{pricePackage.rank}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.pricePackage.price">Price</span></dt>
                <dd>
                    <span>{{pricePackage.price}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.pricePackage.desc">Desc</span></dt>
                <dd>
                    <span>{{pricePackage.desc}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/price-package-mv', pricePackage.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
