<div>
    <h2 id="page-heading">
        <span jhiTranslate="iaaApp.pricePackage.home.title">Price Packages</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-price-package-mv" [routerLink]="['/price-package-mv/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="iaaApp.pricePackage.home.createLabel">
            Create new Price Package
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="pricePackages">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="iaaApp.pricePackage.name">Name</span></th>
            <th><span jhiTranslate="iaaApp.pricePackage.rank">Rank</span></th>
            <th><span jhiTranslate="iaaApp.pricePackage.price">Price</span></th>
            <th><span jhiTranslate="iaaApp.pricePackage.desc">Desc</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let pricePackage of pricePackages ;trackBy: trackId">
                <td><a [routerLink]="['/price-package-mv', pricePackage.id, 'view' ]">{{pricePackage.id}}</a></td>
                <td>{{pricePackage.name}}</td>
                <td jhiTranslate="{{'iaaApp.PageRank.' + pricePackage.rank}}">{{pricePackage.rank}}</td>
                <td>{{pricePackage.price}}</td>
                <td>{{pricePackage.desc}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/price-package-mv', pricePackage.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/price-package-mv', pricePackage.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'price-package-mv/'+ pricePackage.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
