<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="dMVLocation">
            <h2><span jhiTranslate="iaaApp.dMVLocation.detail.title">DMV Location</span> {{dMVLocation.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="iaaApp.dMVLocation.name">Name</span></dt>
                <dd>
                    <span>{{dMVLocation.name}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.dMVLocation.address">Address</span></dt>
                <dd>
                    <span>{{dMVLocation.address}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.dMVLocation.city">City</span></dt>
                <dd>
                    <span>{{dMVLocation.city}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.dMVLocation.state">State</span></dt>
                <dd>
                    <span>{{dMVLocation.state}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.dMVLocation.postalCode">Postal Code</span></dt>
                <dd>
                    <span>{{dMVLocation.postalCode}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.dMVLocation.country">Country</span></dt>
                <dd>
                    <span>{{dMVLocation.country}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.dMVLocation.mainPhone">Main Phone</span></dt>
                <dd>
                    <span>{{dMVLocation.mainPhone}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.dMVLocation.faxNumber">Fax Number</span></dt>
                <dd>
                    <span>{{dMVLocation.faxNumber}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.dMVLocation.weekdaysHrs">Weekdays Hrs</span></dt>
                <dd>
                    <span>{{dMVLocation.weekdaysHrs}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.dMVLocation.saturdayHrs">Saturday Hrs</span></dt>
                <dd>
                    <span>{{dMVLocation.saturdayHrs}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.dMVLocation.directions">Directions</span></dt>
                <dd>
                    <span>{{dMVLocation.directions}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/dmv-location', dMVLocation.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
