<div>
    <h2 id="page-heading">
        <span jhiTranslate="iaaApp.dMVLocation.home.title">DMV Locations</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-dmv-location" [routerLink]="['/dmv-location/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="iaaApp.dMVLocation.home.createLabel">
            Create new DMV Location
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="dMVLocations">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="iaaApp.dMVLocation.name">Name</span></th>
            <th><span jhiTranslate="iaaApp.dMVLocation.address">Address</span></th>
            <th><span jhiTranslate="iaaApp.dMVLocation.city">City</span></th>
            <th><span jhiTranslate="iaaApp.dMVLocation.state">State</span></th>
            <th><span jhiTranslate="iaaApp.dMVLocation.postalCode">Postal Code</span></th>
            <th><span jhiTranslate="iaaApp.dMVLocation.country">Country</span></th>
            <th><span jhiTranslate="iaaApp.dMVLocation.mainPhone">Main Phone</span></th>
            <th><span jhiTranslate="iaaApp.dMVLocation.faxNumber">Fax Number</span></th>
            <th><span jhiTranslate="iaaApp.dMVLocation.weekdaysHrs">Weekdays Hrs</span></th>
            <th><span jhiTranslate="iaaApp.dMVLocation.saturdayHrs">Saturday Hrs</span></th>
            <th><span jhiTranslate="iaaApp.dMVLocation.directions">Directions</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let dMVLocation of dMVLocations ;trackBy: trackId">
                <td><a [routerLink]="['/dmv-location', dMVLocation.id, 'view' ]">{{dMVLocation.id}}</a></td>
                <td>{{dMVLocation.name}}</td>
                <td>{{dMVLocation.address}}</td>
                <td>{{dMVLocation.city}}</td>
                <td>{{dMVLocation.state}}</td>
                <td>{{dMVLocation.postalCode}}</td>
                <td>{{dMVLocation.country}}</td>
                <td>{{dMVLocation.mainPhone}}</td>
                <td>{{dMVLocation.faxNumber}}</td>
                <td>{{dMVLocation.weekdaysHrs}}</td>
                <td>{{dMVLocation.saturdayHrs}}</td>
                <td>{{dMVLocation.directions}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/dmv-location', dMVLocation.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/dmv-location', dMVLocation.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'dmv-location/'+ dMVLocation.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
