<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-dmv-location-heading" jhiTranslate="iaaApp.dMVLocation.home.createOrEditLabel">Create or edit a DMV Location</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!dMVLocation.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="dMVLocation.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.dMVLocation.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="dMVLocation.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.dMVLocation.address" for="field_address">Address</label>
                    <input type="text" class="form-control" name="address" id="field_address"
                        [(ngModel)]="dMVLocation.address" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.dMVLocation.city" for="field_city">City</label>
                    <input type="text" class="form-control" name="city" id="field_city"
                        [(ngModel)]="dMVLocation.city" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.dMVLocation.state" for="field_state">State</label>
                    <input type="text" class="form-control" name="state" id="field_state"
                        [(ngModel)]="dMVLocation.state" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.dMVLocation.postalCode" for="field_postalCode">Postal Code</label>
                    <input type="text" class="form-control" name="postalCode" id="field_postalCode"
                        [(ngModel)]="dMVLocation.postalCode" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.dMVLocation.country" for="field_country">Country</label>
                    <input type="text" class="form-control" name="country" id="field_country"
                        [(ngModel)]="dMVLocation.country" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.dMVLocation.mainPhone" for="field_mainPhone">Main Phone</label>
                    <input type="text" class="form-control" name="mainPhone" id="field_mainPhone"
                        [(ngModel)]="dMVLocation.mainPhone" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.dMVLocation.faxNumber" for="field_faxNumber">Fax Number</label>
                    <input type="text" class="form-control" name="faxNumber" id="field_faxNumber"
                        [(ngModel)]="dMVLocation.faxNumber" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.dMVLocation.weekdaysHrs" for="field_weekdaysHrs">Weekdays Hrs</label>
                    <input type="text" class="form-control" name="weekdaysHrs" id="field_weekdaysHrs"
                        [(ngModel)]="dMVLocation.weekdaysHrs" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.dMVLocation.saturdayHrs" for="field_saturdayHrs">Saturday Hrs</label>
                    <input type="text" class="form-control" name="saturdayHrs" id="field_saturdayHrs"
                        [(ngModel)]="dMVLocation.saturdayHrs" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.dMVLocation.directions" for="field_directions">Directions</label>
                    <input type="text" class="form-control" name="directions" id="field_directions"
                        [(ngModel)]="dMVLocation.directions" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
