<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="school">
            <h2><span jhiTranslate="sspDcApp.school.detail.title">School</span> {{school.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="sspDcApp.school.stateCode">State Code</span></dt>
                <dd>
                    <span>{{school.stateCode}}</span>
                </dd>
                <dt><span jhiTranslate="sspDcApp.school.districtCode">District Code</span></dt>
                <dd>
                    <span>{{school.districtCode}}</span>
                </dd>
                <dt><span jhiTranslate="sspDcApp.school.orgType">Org Type</span></dt>
                <dd>
                    <span>{{school.orgType}}</span>
                </dd>
                <dt><span jhiTranslate="sspDcApp.school.orgId">Org Id</span></dt>
                <dd>
                    <span>{{school.orgId}}</span>
                </dd>
                <dt><span jhiTranslate="sspDcApp.school.schoolName">School Name</span></dt>
                <dd>
                    <span>{{school.schoolName}}</span>
                </dd>
                <dt><span jhiTranslate="sspDcApp.school.address">Address</span></dt>
                <dd>
                    <span>{{school.address}}</span>
                </dd>
                <dt><span jhiTranslate="sspDcApp.school.city">City</span></dt>
                <dd>
                    <span>{{school.city}}</span>
                </dd>
                <dt><span jhiTranslate="sspDcApp.school.state">State</span></dt>
                <dd>
                    <span>{{school.state}}</span>
                </dd>
                <dt><span jhiTranslate="sspDcApp.school.zip">Zip</span></dt>
                <dd>
                    <span>{{school.zip}}</span>
                </dd>
                <dt><span jhiTranslate="sspDcApp.school.county">County</span></dt>
                <dd>
                    <span>{{school.county}}</span>
                </dd>
                <dt><span jhiTranslate="sspDcApp.school.phone">Phone</span></dt>
                <dd>
                    <span>{{school.phone}}</span>
                </dd>
                <dt><span jhiTranslate="sspDcApp.school.principal">Principal</span></dt>
                <dd>
                    <span>{{school.principal}}</span>
                </dd>
                <dt><span jhiTranslate="sspDcApp.school.schoolType">School Type</span></dt>
                <dd>
                    <span>{{school.schoolType}}</span>
                </dd>
                <dt><span jhiTranslate="sspDcApp.school.createdAt">Created At</span></dt>
                <dd>
                    <span>{{school.createdAt}}</span>
                </dd>
                <dt><span jhiTranslate="sspDcApp.school.updatedAt">Updated At</span></dt>
                <dd>
                    <span>{{school.updatedAt}}</span>
                </dd>
                <dt><span jhiTranslate="sspDcApp.school.isActive">Is Active</span></dt>
                <dd>
                    <span>{{school.isActive}}</span>
                </dd>
                <dt><span jhiTranslate="sspDcApp.school.isDeleted">Is Deleted</span></dt>
                <dd>
                    <span>{{school.isDeleted}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/school-mv', school.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
