<div>
    <h2 id="page-heading">
        <span jhiTranslate="sspDcApp.school.home.title">Schools</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-school-mv" [routerLink]="['/school-mv/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="sspDcApp.school.home.createLabel">
            Create new School
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="schools">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="sspDcApp.school.stateCode">State Code</span></th>
            <th><span jhiTranslate="sspDcApp.school.districtCode">District Code</span></th>
            <th><span jhiTranslate="sspDcApp.school.orgType">Org Type</span></th>
            <th><span jhiTranslate="sspDcApp.school.orgId">Org Id</span></th>
            <th><span jhiTranslate="sspDcApp.school.schoolName">School Name</span></th>
            <th><span jhiTranslate="sspDcApp.school.address">Address</span></th>
            <th><span jhiTranslate="sspDcApp.school.city">City</span></th>
            <th><span jhiTranslate="sspDcApp.school.state">State</span></th>
            <th><span jhiTranslate="sspDcApp.school.zip">Zip</span></th>
            <th><span jhiTranslate="sspDcApp.school.county">County</span></th>
            <th><span jhiTranslate="sspDcApp.school.phone">Phone</span></th>
            <th><span jhiTranslate="sspDcApp.school.principal">Principal</span></th>
            <th><span jhiTranslate="sspDcApp.school.schoolType">School Type</span></th>
            <th><span jhiTranslate="sspDcApp.school.createdAt">Created At</span></th>
            <th><span jhiTranslate="sspDcApp.school.updatedAt">Updated At</span></th>
            <th><span jhiTranslate="sspDcApp.school.isActive">Is Active</span></th>
            <th><span jhiTranslate="sspDcApp.school.isDeleted">Is Deleted</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let school of schools ;trackBy: trackId">
                <td><a [routerLink]="['/school-mv', school.id, 'view' ]">{{school.id}}</a></td>
                <td>{{school.stateCode}}</td>
                <td>{{school.districtCode}}</td>
                <td>{{school.orgType}}</td>
                <td>{{school.orgId}}</td>
                <td>{{school.schoolName}}</td>
                <td>{{school.address}}</td>
                <td>{{school.city}}</td>
                <td>{{school.state}}</td>
                <td>{{school.zip}}</td>
                <td>{{school.county}}</td>
                <td>{{school.phone}}</td>
                <td>{{school.principal}}</td>
                <td>{{school.schoolType}}</td>
                <td>{{school.createdAt | date:'medium'}}</td>
                <td>{{school.updatedAt | date:'medium'}}</td>
                <td>{{school.isActive}}</td>
                <td>{{school.isDeleted}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/school-mv', school.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/school-mv', school.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'school-mv/'+ school.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
