<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-producer-mv-heading" jhiTranslate="iaaApp.producer.home.createOrEditLabel">Create or edit a Producer</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!producer.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="producer.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.producer.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="producer.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.producer.ceCompliance" for="field_ceCompliance">Ce Compliance</label>
                    <input type="checkbox" class="form-control" name="ceCompliance" id="field_ceCompliance"
                        [(ngModel)]="producer.ceCompliance" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.producer.addr" for="field_addr">Addr</label>
                    <select class="form-control" id="field_addr" name="addr" [(ngModel)]="producer.addrId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="addressOption.id" *ngFor="let addressOption of addrs; trackBy: trackAddressById">{{addressOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
