<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="producer">
            <h2><span jhiTranslate="iaaApp.producer.detail.title">Producer</span> {{producer.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="iaaApp.producer.name">Name</span></dt>
                <dd>
                    <span>{{producer.name}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.producer.ceCompliance">Ce Compliance</span></dt>
                <dd>
                    <span>{{producer.ceCompliance}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.producer.addr">Addr</span></dt>
                <dd>
                    <div *ngIf="producer.addrId">
                        <a [routerLink]="['/address-mv', producer.addrId, 'view']">{{producer.addrId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/producer-mv', producer.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
