<div>
    <h2 id="page-heading">
        <span jhiTranslate="iaaApp.producer.home.title">Producers</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-producer-mv" [routerLink]="['/producer-mv/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="iaaApp.producer.home.createLabel">
            Create new Producer
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="producers">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="iaaApp.producer.name">Name</span></th>
            <th><span jhiTranslate="iaaApp.producer.ceCompliance">Ce Compliance</span></th>
            <th><span jhiTranslate="iaaApp.producer.addr">Addr</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let producer of producers ;trackBy: trackId">
                <td><a [routerLink]="['/producer-mv', producer.id, 'view' ]">{{producer.id}}</a></td>
                <td>{{producer.name}}</td>
                <td>{{producer.ceCompliance}}</td>
                <td>
                    <div *ngIf="producer.addrId">
                        <a [routerLink]="['../address-mv', producer.addrId , 'view' ]" >{{producer.addrId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/producer-mv', producer.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/producer-mv', producer.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'producer-mv/'+ producer.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
