<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="contact">
            <h2><span jhiTranslate="iaaApp.contact.detail.title">Contact</span> {{contact.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="iaaApp.contact.phone">Phone</span></dt>
                <dd>
                    <span>{{contact.phone}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.contact.officePhone">Office Phone</span></dt>
                <dd>
                    <span>{{contact.officePhone}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.contact.email">Email</span></dt>
                <dd>
                    <span>{{contact.email}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.contact.address">Address</span></dt>
                <dd>
                    <div *ngIf="contact.addressId">
                        <a [routerLink]="['/address-mv', contact.addressId, 'view']">{{contact.addressId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/contact-mv', contact.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
