<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-contact-mv-heading" jhiTranslate="iaaApp.contact.home.createOrEditLabel">Create or edit a Contact</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!contact.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="contact.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.contact.phone" for="field_phone">Phone</label>
                    <input type="text" class="form-control" name="phone" id="field_phone"
                        [(ngModel)]="contact.phone" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.contact.officePhone" for="field_officePhone">Office Phone</label>
                    <input type="text" class="form-control" name="officePhone" id="field_officePhone"
                        [(ngModel)]="contact.officePhone" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.contact.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                        [(ngModel)]="contact.email" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.contact.address" for="field_address">Address</label>
                    <select class="form-control" id="field_address" name="address" [(ngModel)]="contact.addressId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="addressOption.id" *ngFor="let addressOption of addresses; trackBy: trackAddressById">{{addressOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
