<div class="container privacy">

  <div class="card" style="padding:3rem">
    <div class="row">
      <div class="col-md-12 text-right">
        <button class="btn btn-primary back-btn" type="button" (click)="navToHome()">Go Back</button>
      </div>
    </div>
    <h3 class="first-head">MV1Stop Privacy Policy</h3>
    <p>Last updated: February 20, 2019</p>
    <p>MV1Stop and our corporate affiliates (&quot;we&quot; or &quot;us&quot;), highly value and respect your privacy.
      This privacy policy
      (&quot;Policy&quot;) outlines which information is collected when you (&quot;you&quot; or &quot;your&quot;)
      access
      and use the website, 
      products and services provided by MV1Stop (which, together, are referred to as the &quot;Services&quot;), and how
      MV1Stop protects and uses it. The Policy also wishes to make sure that you are aware of the options available
      to you when you access and use MV1Stop Services.</p>
    <p>Please take a moment to familiarize yourself with the Policy before using Mv1Stop Services. Feel free to email
      us at operations@mv1stop.com if you have any questions.</p>
    <p>By accessing or using MV1Stop Services, you agree to this Policy and to the Terms of Service. If you do not
      agree to this Policy or Terms of Service, please do not access or otherwise use MV1Stop Services or any
      information contained herein.</p>
    <h4 class="first-head">Protection of Children’s Privacy</h4>
    <p>IF YOU ARE UNDER 18 YEARS OF AGE, THEN PLEASE DO NOT USE OR ACCESS THE SERVICES
      AT ANY TIME OR IN ANY MANNER.</p>
    <p>Protecting the privacy of young children is especially important. For that reason, MV1Stop does not knowingly
      collect or maintain Personal Information from persons under 18 years-of-age. If MV1Stop learns that Personal
      Information of persons under 18-years-of-age has been collected on or through the Services, MV1Stop will take
      the appropriate steps to delete this information.</p>
    <p>If it comes to MV1Stop’s attention through reliable means that a registered user is a child under 18 years old,
      we will cancel the user&#39;s account and/or access to the Services.</p>
    <h4 class="first-head">Collection of Personal Information</h4>
    <p class="second-head"><b>Keeping your information private and secure is incredibly important to MV1Stop. These
        pages explain
        what is collected and why it is collected.</b></p>
    <p>Please note: MV1Stop only collects what is needed and only shares when it’s necessary to provide you with
      outstanding service.</p>

    <table class="table">
      <thead>
        <tr>
          <th style="width:30%;font-weight: bold;">Personal info we
            collect</th>
          <th style="width:30%;font-weight: bold;">Why we collect it?</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Your name,
            phone, zip code</td>
          <td>This is a necessary part of the account creation process. It’s the way that MV1Stop will
            connect you with insurance agents/companies that can provide you with the best value
            (price, service and availability).</td>
        </tr>
        <tr>
          <td>Your email
            address
            (optional)</td>
          <td>MV 1Stop may use this information to contact you for future services or information that
            you may find interesting and/or valuable.</td>
        </tr>
      </tbody>
    </table>
    <h4 class="second-head">If you are a first time user please read the following disclosure:</h4>
    <h3 class="second-head">Does MV1Stop share my information with others?</h3>
    <p>MV1Stop will not share or sell your information to any outside vendors for marketing purposes. MV1Stop will
      share certain personal information with partners and providers in order to run our service. MV1Stop may share
      non-personally identifiable information in order to improve modeling and perform aggregate reporting,
      including by use of Google Analytics and other related services provided by Google (for more information on
      how Google Analytics collects and processes data visit: https://policies.google.com/privacy/partners).</p>
    <p>Third parties, such as Facebook, may use cookies, web beacons, and other storage technologies to collect or
      receive information from MV1Stop’s website and use that information to provide target ads. If you’d like to opt
      out of the collection and use of information for ad targeting, send MV1Stop an email to
      operations@mv1stop.com</p>
    <h4 class="second-head">How do you protect my information?</h4>
    <p>MV1Stop restricts access of your information to MV1Stop employees and others who must use it to provide our
      products and services. MV1Stop also maintains electronic and procedural safeguards to protect your
      information.</p>
    <h4 class="second-head">How does MV1Stop communicate with its customers?</h4>
    <p>MV1Stop primarily messages our customers through email and/or text. Certain email and text communication
      related to your account do not include an unsubscribe option. Please ensure that the email and current phone
      MV1Stop has on record is accurate.</p>
    <h4 class="second-head">Who should use MV1Stop’s website?</h4>
    <p>MV1Stop products and services are intended for anyone of legal driving age and older; we do not market any
      products or services to children under the legal driving age or knowingly collect any information from children
      under the legal driving age. If MV1Stop becomes aware that information is or has been submitted by or
      collected from a child under the legal driving age, the information will be deleted.</p>
    <h4 class="second-head">Will MV1Stop ever change this Privacy Policy?</h4>
    <p>As MV1Stop evolves, updating this policy may be required. No matter what MV1Stop change is made,
      MV1Stop will always maintain our commitment to protecting your privacy. MV1Stop will post all revisions,
      along with their effective dates. MV1Stop recommends that you check this page every so often to make sure
      you’re familiar with the latest policy. MV1Stop will ask for your consent to policy changes if required by
      applicable law; in other cases, please note that your continued use of the Service after any change means that
      you agree with, and consent to be bound by, the new Privacy Policy.</p>
    <h4 class="first-head">General, Governing Law and Jurisdiction</h4>
    <p>MV1Stop reserves the right to discontinue or modify any aspect of the Services at any time. This Policy,
      together with MV1Stop’s Terms of Service and any other legal notices published on our website shall constitute
      the entire agreement concerning MV1Stop Services. If any provision of this Policy is deemed invalid by a court
      of competent jurisdiction, the invalidity of such provision shall not affect the validity of the remaining
      provisions of this Policy, which shall remain in full force and effect, provided, however, that in such event
      this
      Policy shall be interpreted so as to give effect, to the greatest extent consistent with, and permitted by,
      applicable law, to the meaning and intention of the excluded provision as determined by such court of
      competent jurisdiction.</p>
    <p>This Policy shall be governed by the laws of the State of North Carolina, without respect to its conflict of
      laws
      principles. MV1Stop and any person or business agrees to submit to the personal and exclusive jurisdiction of
      the courts located in the State where the service was provided, and waive any jurisdictional, venue, or
      inconvenient forum objections to such courts.</p>
  </div>
</div>