<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="profile">
            <h2><span jhiTranslate="sspDcApp.profile.detail.title">Profile</span> {{profile.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="sspDcApp.profile.firstName">First Name</span></dt>
                <dd>
                    <span>{{profile.firstName}}</span>
                </dd>
                <dt><span jhiTranslate="sspDcApp.profile.lastName">Last Name</span></dt>
                <dd>
                    <span>{{profile.lastName}}</span>
                </dd>
                <dt><span jhiTranslate="sspDcApp.profile.email">Email</span></dt>
                <dd>
                    <span>{{profile.email}}</span>
                </dd>
                <dt><span jhiTranslate="sspDcApp.profile.type">Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'sspDcApp.ProfileType.' + profile.type}}">{{profile.type}}</span>
                </dd>
                <dt><span jhiTranslate="sspDcApp.profile.userId">User Id</span></dt>
                <dd>
                    <span>{{profile.userId}}</span>
                </dd>
                <dt><span jhiTranslate="sspDcApp.profile.createdAt">Created At</span></dt>
                <dd>
                    <span>{{profile.createdAt}}</span>
                </dd>
                <dt><span jhiTranslate="sspDcApp.profile.updatedAt">Updated At</span></dt>
                <dd>
                    <span>{{profile.updatedAt}}</span>
                </dd>
                <dt><span jhiTranslate="sspDcApp.profile.isActive">Is Active</span></dt>
                <dd>
                    <span>{{profile.isActive}}</span>
                </dd>
                <dt><span jhiTranslate="sspDcApp.profile.isDeleted">Is Deleted</span></dt>
                <dd>
                    <span>{{profile.isDeleted}}</span>
                </dd>
                <dt><span jhiTranslate="sspDcApp.profile.address">Address</span></dt>
                <dd>
                    <div *ngIf="profile.addressId">
                        <a [routerLink]="['/address-mv', profile.addressId, 'view']">{{profile.addressId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="sspDcApp.profile.contacts">Contacts</span></dt>
                <dd>
                    <div *ngIf="profile.contactsId">
                        <a [routerLink]="['/contact-mv', profile.contactsId, 'view']">{{profile.contactsId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/profile-mv', profile.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
