<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-4 mb-3">
            <div class="search-container">

              <div class="input-group">
                <input type="text" class="form-control" style="margin-right:10px;" [(ngModel)]="searchText1" (keypress)="searchEnter($event)"
                  placeholder="Search">
                <span class="input-group-btn pt-2">
                  <i class="fa fa-search" aria-hidden="true" title="search" (click)="page=1;FilterData()"></i>
                </span>
              </div>

            </div>
          </div>
          <div class="col-md-5 text-right mb-3">
            <button class="btn btn-info no-radius " type="button" style="margin-right:-15px;" *ngIf="!showFilterFlag"
              (click)="showFilter()">
              FILTERS
            </button>
            <button class="btn btn-info no-radius " type="button" style="margin-right:-15px;" *ngIf="showFilterFlag"
              (click)="hideFilter()">HIDE
            </button>

          </div>
          <div class="col-md-3 text-right mb-3">
            <div class="dropdown">
              <button [disabled]="mv1loader" type="button" class="btn btn-info no-radius dropdown-toggle"
                data-toggle="dropdown">
                <span *ngIf="!mv1loader">DOWNLOAD</span>
                <span *ngIf="mv1loader">DOWNLOADING <i class="fa fa-spinner fa-spin"></i> </span>
              </button>
              <div class="dropdown-menu" style="    border: 1px solid #7d8b92;
                border-radius: 0;">
                <a class="dropdown-item" (click)="downloadCSV('CSV')">CSV</a>
                <a class="dropdown-item" (click)="downloadCSV('XLS')">XLS</a>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="showFilterFlag">
          <form (ngSubmit)="searchText1='';page=1;FilterData()">
            <div class="row">
              <div class="col-md-2">
                <label>NPN</label>
                <input class="form-control serachbox" type="text" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="fnpn" (keypress)="getnpnList()" (blur)="emptyNpn()" />
                <ul class="list-overflow dropdown-menu"
                  [ngClass]="{'dynamicheight':!npnhide,'dnoneHeight':npnData == '','hiden':fnpn == '' }"
                  style="display: block">
                  <li class="list" *ngIf="npnData == ''"><a>No Data</a></li>
                  <li class="list" *ngFor="let k of npnData" (click)="changenpn(k)" [ngClass]="{'none':npnData == ''}"
                    [hidden]="npnhide"> <a>{{k}}</a></li>
                </ul>
              </div>
              <div class="col-md-2">
                <label>FNAME</label>
                <input class="form-control serachbox" type="text" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="fName" (keypress)="getFirstName()" (blur)="emptyFname()" />
                <ul class="list-overflow dropdown-menu"
                  [ngClass]="{'dynamicheight':!fnamehide,'dnoneHeight':fnameData == '','hiden':fName == '' }"
                  style="display: block">
                  <li class="list" *ngIf="fnameData == ''"><a>No Data</a></li>
                  <li class="list" *ngFor="let k of fnameData" [ngClass]="{'none':fnameData == ''}"
                    (click)="changeFname(k)" [hidden]="fnamehide"> <a>{{k}}</a></li>
                </ul>
              </div>
              <div class="col-md-2">
                <label>LNAME</label>
                <input class="form-control serachbox" type="text" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="lName" (keypress)="getLastName()" (blur)="emptyLname()" />
                <ul class="list-overflow dropdown-menu"
                  [ngClass]="{'dynamicheight':!lnamehide,'dnoneHeight':lnameData == '','hiden':lName == '' }"
                  style="display: block">
                  <li class="list" *ngIf="lnameData == ''"><a>No Data</a></li>
                  <li class="list" *ngFor="let k of lnameData" [ngClass]="{'none':lnameData == ''}"
                    (click)="changeLname(k)" [hidden]="lnamehide"> <a>{{k}}</a></li>
                </ul>
              </div>


              <div class="col-md-2">
                <label for="selectedStateName">STATE</label>
                <select class="form-control serachbox" name="selectedStateName" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="selectedStateName">
                  <option value="{{s}}" *ngFor="let s of stateData">{{s}}</option>
                </select>


              </div>

              <div class="col-md-2">

                <label for="incStatus">INC A/B</label>
                <select class="form-control serachbox" name="incStatus" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="incStatus">
                  <option value="member">Member</option>
                  <option value="certified">Certified</option>
                  <option value="preCert">P-Certified</option>
                  <option value="qualified">Qualified</option>
                  <option value="nonQualified">N-Qualified</option>

                </select>

              </div>

              <div class="col-md-2">
                <label for="licStatus">INC STATUS</label>
                <select class="form-control serachbox" name="licStatus" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="licStatus">
                  <option value="yes">ACTIVE</option>
                  <option value="no">INACTIVE</option>
                </select>

              </div>
            </div>

            <div class="row " style=" margin-top:20px;margin-bottom:20px">
              <div class="col-md-2">

                <label>COUNTY</label>
                <input class="form-control serachbox" type="text" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="countyName" (keypress)="getCountyList()" (blur)="emptyCounty()" />
                <ul class="list-overflow dropdown-menu"
                  [ngClass]="{'dynamicheight':!countyHide,'dnoneHeight':options == '','hiden':countyName == '' }"
                  style="display: block;">
                  <li class="list" *ngIf="options == ''"><a>No Data</a></li>
                  <li class="list" *ngFor="let k of options" [ngClass]="{'none':options == ''}"
                    (click)="changeCounty(k)" [hidden]="countyHide">
                    <a> {{k}}</a> </li>

                </ul>

              </div>
              <div class="col-md-2">
                <label>ZIP</label>
                <input class="form-control serachbox" type="text" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="fZipcode" (keypress)="getZipList()" maxlength="5" (blur)="emptyZip()" />
                <ul class="list-overflow dropdown-menu"
                  [ngClass]="{'dynamicheight':!zipHide,'dnoneHeight':getZipData == '','hiden':fZipcode == '' }"
                  style="display: block">
                  <li class="list" *ngIf="getZipData == ''"><a>No Data</a></li>
                  <li class="list" *ngFor="let k of getZipData" [ngClass]="{'none':getZipData == ''}"
                    (click)="changezip(k)" [hidden]="zipHide"> <a>{{k}}</a></li>
                </ul>



              </div>
              <div class="col-md-2">
                <label>CITY</label>
                <input class="form-control serachbox" type="text" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="fCity" (keypress)="getCityList()" (blur)="emptyCity()" />
                <ul class="list-overflow dropdown-menu"
                  [ngClass]="{'dynamicheight':!cityHide,'dnoneHeight':cityData == '','hiden':fCity == '' }"
                  style="display: block">
                  <li class="list" *ngIf="cityData == ''"><a>No Data</a></li>
                  <li class="list" *ngFor="let k of cityData" (click)="changeCity(k)" [hidden]="cityHide"> <a>{{k}}</a>
                  </li>
                </ul>

              </div>
              <div class="col-md-2">
                <label>COMPANY</label>
                <input class="form-control serachbox" type="text" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="fcompany" (keypress)="getCompanyList()" (blur)="emptyCompany()" />
                <ul class="list-overflow dropdown-menu"
                  [ngClass]="{'dynamicheight':!companyhide,'dnoneHeight':companyData == '','hiden':fcompany == '' }"
                  style="display: block">
                  <li class="list" *ngIf="companyData == ''"><a>No Data</a></li>
                  <li class="list" *ngFor="let k of companyData" (click)="changeCompany(k)"
                    [ngClass]="{'none':companyData == ''}" [hidden]="companyhide">
                    <a>{{k}}</a>
                  </li>
                </ul>
              </div>
              <div class="col-md-2">
                <label></label>
                <button class="btn btn-info btn-block no-radius" style="margin-top: 8px" type="submit">VIEW</button>
              </div>
              <div class="col-md-2">
                <label></label>
                <button class="btn btn-info btn-block no-radius" style="margin-top: 8px" (click)="resetFilterData()"
                  type="button">RESET</button>
              </div>
            </div>
          </form>
        </div>

        <div class="row" style="text-align:right">
          <div class="col-md-4"></div>
          <div class="col-md-6">
          </div>
          <div class="col-md-2">
          </div>
        </div>
      </div>

      <div class="table-responsive" style="overflow-x: auto;">
        <table class="table table-bordered" style="border: 1px solid #dee2e6;;overflow-x:auto">
          <thead>
            <tr>


              <th class="text-center">NPN <i class="fa fa-sort-asc iconsize" *ngIf="!npnFlag"
                  (click)="sortNpn('asc','npn')"></i>
                <i class="fa fa-sort-desc iconsize" (click)="sortNpn('desc','npn')" *ngIf="npnFlag"></i>
              </th>

              <th>F NAME <i class="fa fa-sort-asc iconsize" *ngIf="!nameFlag" (click)="sortNpn('asc','firstName')"></i>
                <i class="fa fa-sort-desc iconsize" (click)="sortNpn('desc','firstName')" *ngIf="nameFlag"></i></th>
              <th>L NAME</th>

              <th>INC STAT</th>
              <th>INC A/B</th>

              <th>EFF DATE <i class="fa fa-sort-asc iconsize" *ngIf="!dateFlag" (click)="sortNpn('asc','effDate')"></i>
                <i class="fa fa-sort-desc iconsize" (click)="sortNpn('desc','effDate')" *ngIf="dateFlag"></i></th>
              <th>CERT <i class="fa fa-sort-asc iconsize" *ngIf="!certFlag" (click)="sortNpn('asc','certified')"></i>
                <i class="fa fa-sort-desc iconsize" (click)="sortNpn('desc','certified')" *ngIf="certFlag"></i></th>

              <th>P-CERT <i class="fa fa-sort-asc iconsize" *ngIf="!preCertFlag"
                  (click)="sortNpn('asc','preCertified')"></i>
                <i class="fa fa-sort-desc iconsize" (click)="sortNpn('desc','preCertified')" *ngIf="preCertFlag"></i>
              </th>


            </tr>
          </thead>
          <tbody>

            <tr *ngFor="let agentData of agentDataList ">
              <td class="text-center"> <span class="hoverIcon"
                  (click)="editAgent(agentData.npn,agentData.profileId)">{{agentData?.npn}}</span>
              </td>

              <td>{{agentData?.firstName | titlecase}}</td>
              <td>{{agentData?.lastName | titlecase}}</td>

              <td>{{agentData?.incStatus | titlecase}}</td>
              <td>{{agentData?.incABName | titlecase}}</td>

              <td>{{agentData?.effectiveDate | date:'MM/dd/yy'}}</td>
              <td><span *ngIf="agentData?.certified == true">Y</span>
                <span *ngIf="agentData?.certified == false">N</span></td>
              <td>
                <span *ngIf="agentData?.preCertified == true">Y</span>
                <span *ngIf="agentData?.preCertified == false">N</span>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="col-md-12">
          <ngb-pagination *ngIf="agentDataList.length && totalPages!=1" [maxSize]="5" [pageSize]="50"
            [boundaryLinks]="true" [collectionSize]="totalElements" (pageChange)="pageChanged($event)" [(page)]="page">
          </ngb-pagination>
        </div>
        <div class="col-md-12 text-center" *ngIf="!agentDataList.length">
          <h5>No Data Available</h5>
        </div>
      </div>
    </div>
  </div>
</div>




<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Edit Agent :</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12 col-lg-12">
        <div class="form-body">

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Preferred Phone :</label>
                <input type="text" id="prefPhone" [(ngModel)]="prefPhone" class="form-control" required maxlength="10">

              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Preferred Email :</label>
                <input type="email" id="prefEmail" disabled [(ngModel)]="submitAgentData.prefEmail" class="form-control"
                  required>

              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Second Phone:</label>
                <input type="email" id="secondPhone" [(ngModel)]="submitAgentData.secondPhone" class="form-control"
                  maxlength="10">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Mobile Phone :</label>
                <input type="tel" id="prefMobile" [(ngModel)]="prefMobile" class="form-control" maxlength="10">
              </div>
            </div>
          </div>
          <div class="row">

            <div class="col-md-6">
              <div class="form-group has-success">
                <label class="control-label">Do you speak Spanish</label>
                <select class="form-control custom-select" [(ngModel)]="speaksSpanish">
                  <option value="false" default>No</option>
                  <option value="true">Yes</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Business/Agency Name :</label>
                <input type="text" id="prefCompany" [(ngModel)]="prefCompany" class="form-control">
              </div>
            </div>
          </div>

          <div class="row">

            <div class="col-md-6">
              <div class="form-group has-success">
                <label class="control-label">Are you an Independent agent?</label>
                <select class="form-control custom-select" [(ngModel)]="comments">
                  <option value="no" default>No</option>
                  <option value="yes">Yes</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Who is your Primary Insurance Company?</label>
                <input type="text" id="prefCompany" (keyup)="getCompanyNameArray($event)" [(ngModel)]="insuranceCompany" class="form-control">
              <li class="search-con" [hidden]="selectedCompanyName" *ngFor="let k of dataCompany"
              (click)="selectCompnayName(k)">{{k.name}}</li>
              </div>
            </div>
          </div>

          <div class="row">


            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Additional Carriers</label>
                <br>
                    <label class="text-small">Adding 'additional carriers' to your profile will increase the per slot rates for Page1 and Page 2.
                      <span class="click-here"> <a  (click)="openInfo()">Click here to know more </a></span> </label>
                <ng-multiselect-dropdown  (click)="dropdownEvent($event)"  [placeholder]="'Select Company'" [data]="dropdownList"
                  [(ngModel)]="selectedItems" [ngModelOptions]="{standalone: true}" [settings]="dropdownSettings"
                  (onSelect)="onItemSelectInc($event)" (onDeSelect)="OnItemDeSelect($event)">
                </ng-multiselect-dropdown>
                <!-- [disabled]="!validFlag" -->
              </div>
            </div>
            <div class="col-md-6 update-style">
              <label class="control-label"></label>
              <div class="buttons">
                <button [disabled]="modalLoader" type="submit" style="margin-top: 7px;" class="btn btn-info" type="submit"
                  (click)="submitAgent(speaksSpanish,d)">
                  <span *ngIf="!modalLoader">Update</span>
                  <span *ngIf="modalLoader">Updating <i class="fa fa-spinner fa-spin"></i> </span>
        </button>

              </div>
            </div>

          </div>


          <div class="header">
            <h4 class="modal-title">Purchased Subscription :</h4>
          </div>
          <hr>
          <div class="col-md-12">
            <div class="col-sm-12">
              <div style="margin-top:30px">

                <div class="row ">

                  <div class="main-body col">
                    <div>
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th>Zip</th>
                            <th>Membership</th>
                            <th>From</th>
                            <th>To</th>
                            <th>Qty</th>
                            <th>Price</th>

                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let key of subscribeData">
                            <td>
                              <span *ngIf="key.packageId == 3">INC A/B</span>
                              <span *ngIf="key.packageId != 3">{{key.zipcode}}</span>
                            </td>
                            <td>
                              <span *ngIf="key.packageId == 3">INC A/B</span>
                              <span *ngIf="key.packageId == 1">Page 1</span>
                              <span *ngIf="key.packageId == 2">Page 2</span></td>
                            <td>{{key.createdAt | date:'MM/dd/yy'}}</td>
                            <td>{{key.validTill | date:'MM/dd/yy'}}</td>
                            <td>{{key.slots}}</td>
                            <td>
                              <!-- <span *ngIf="key.packageId == 3"> $ {{key.slots * 25}}</span>
                              <span *ngIf="key.packageId == 1"> $ {{key.slots * 100}}</span>
                              <span *ngIf="key.packageId == 2"> $ {{key.slots * 50}}</span> -->


                              <span *ngIf="key.packageId == 1">                  
                                <span *ngIf="agentData <= 0">  ${{key.slots * 100}}</span>  
                                <span *ngIf="agentData <= 3 && agentData> 0"> ${{key.slots * 300}}</span>  
                                <span *ngIf="agentData == 4 || agentData == 5 && agentData > 0"> ${{key.slots * 400}}</span>
                               </span>
                              <span *ngIf="key.packageId == 2">
                                 <span *ngIf="agentData <= 0"> ${{key.slots * 50}}</span>  
                                 <span *ngIf="agentData <= 3 && agentData > 0">  ${{key.slots * 150}}</span>  
                                 <span *ngIf="agentData == 4 || agentData == 5 && agentData > 0"> ${{key.slots * 200}}</span>                   
                             </span>
                             <span *ngIf="key.packageId == 3" class="premiumn"> ${{key.slots * 25}}</span>

                            </td>

                          </tr>
                        </tbody>
                      </table>

                    </div>
                  </div>

                </div>
              </div>


            </div>
          </div>
          <hr>
        </div>


        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">License Number :</label>
              <input type="text" id="licenseName" class="form-control" [(ngModel)]="submitAgentData.licNumber" required
                readonly>

            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">NPN :</label>
              <input type="text" id="npn" [(ngModel)]="submitAgentData.npn" class="form-control" required readonly>

            </div>
          </div>
        </div>

        <div class="row ">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">First Name :</label>
              <input type="text" id="firstName" [(ngModel)]="submitAgentData.firstName"
                [value]="uploadAgentForm.get('firstName').value | titlecase" class="form-control" required readonly>

            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Middle Name :</label>
              <input type="text" id="middleName" [(ngModel)]="submitAgentData.middleName"
                [value]="uploadAgentForm.get('middleName').value | titlecase" class="form-control" required readonly>

            </div>
          </div>
        </div>

        <div class="row ">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Last Name :</label>
              <input type="text" id="lastName" [(ngModel)]="submitAgentData.lastName"
                [value]="uploadAgentForm.get('lastName').value | titlecase" class="form-control " required readonly>

            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group has-success">
              <label class="control-label">Suffix </label>

              <input type="text" id="suffix" [(ngModel)]="submitAgentData.suffix" class="form-control " required
                readonly>

            </div>
          </div>

        </div>

        <h4 class="card-title m-t-38">Business Info :</h4>
        <hr>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label"> Business Entity Name :</label>
              <input type="text" id="licenseName" [(ngModel)]="submitAgentData.businessName"
                [value]="uploadAgentForm.get('businessName').value | titlecase" class="form-control" required readonly>

            </div>
          </div>
          <div class="col-md-6 ">
            <div class="form-group">
              <label class="control-label"> Business Address 1 :</label>
              <input type="text" [(ngModel)]="submitAgentData.bAddr1" class="form-control" required readonly
                [value]="uploadAgentForm.get('bAddr1').value | titlecase">

            </div>
          </div>
        </div>
        <div class="row">

          <div class="col-md-6 ">
            <div class="form-group">
              <label class="control-label"> Business Address 2 :</label>
              <input type="text" [(ngModel)]="submitAgentData.bAddr2" class="form-control"
                [value]="uploadAgentForm.get('bAddr2').value | titlecase" readonly>

            </div>
          </div>
          <div class="col-md-6 ">
            <div class="form-group">
              <label class="control-label"> Business Address 3 :</label>
              <input type="text" [(ngModel)]="submitAgentData.bAddr3" class="form-control" readonly>

            </div>
          </div>
        </div>

        <div class="row">

          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label"> Business City :</label>
              <input type="text" [(ngModel)]="submitAgentData.bCityName" class="form-control" required readonly>

            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Business State :</label>
              <input type="text" [(ngModel)]="submitAgentData.bStateName" class="form-control" required readonly>

            </div>
          </div>
        </div>

        <div class="row">

          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Business Zip :</label>
              <input type="text" [(ngModel)]="submitAgentData.bZip" class="form-control" required readonly
                maxlength="5">

            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label"> Business Country :</label>

              <input type="text" [(ngModel)]="submitAgentData.bCountry" class="form-control" required readonly>


            </div>
          </div>
        </div>


        <div class="row">

          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Business Phone :</label>
              <input type="text" [(ngModel)]="submitAgentData.bPhone" class="form-control" readonly>

            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Business Mobile :</label>
              <input type="text" [(ngModel)]="submitAgentData.bMobile" class="form-control" maxlength="10" required
                readonly>

            </div>
          </div>
        </div>

        <div class="row">

          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Business County :</label>
              <input type="text" [(ngModel)]="submitAgentData.bCountyName" class="form-control" required readonly>

            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Business Email :</label>
              <input type="email" [(ngModel)]="submitAgentData.bEmail" class="form-control" required readonly>

            </div>
          </div>

        </div>

        <h4 class="card-title">Licence Info :</h4>
        <hr>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">License Type :</label>
              <input type="text" id="licType" [(ngModel)]="submitAgentData.licType" class="form-control"
                [value]="uploadAgentForm.get('licType').value | titlecase" required readonly>

            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Line of Authority :</label>
              <input type="text" id="lineAuth" [(ngModel)]="submitAgentData.lineAuth" class="form-control"
                [value]="uploadAgentForm.get('lineAuth').value | titlecase" required readonly>

            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label"> Licence Status :</label>
              <input type="text" [(ngModel)]="submitAgentData.licStatus" class="form-control"
                [value]="uploadAgentForm.get('licStatus').value | titlecase" required readonly>

            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">First Active Date : </label>
              <input type="text" id="firstActiveDate" [ngModel]="submitAgentData.firstActiveDate | date:'MM/dd/yy'"
                class="form-control" required readonly>

            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Effective Date :</label>
              <input type="text" id="effectiveDate" [ngModel]="submitAgentData.effectiveDate | date:'MM/dd/yy'"
                class="form-control" required readonly>


            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Expiration Date :</label>
              <input type="text" id="expDate" [ngModel]="submitAgentData.expDate | date:'MM/dd/yy'" class="form-control"
                required readonly>

            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Domicile State :</label>
              <input type="text" id="dStateName" [(ngModel)]="submitAgentData.dStateName" class="form-control" required
                readonly>


            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Resident State :</label>
              <input type="text" id="resState" [(ngModel)]="submitAgentData.resState" class="form-control" required
                readonly>

            </div>
          </div>

        </div>
        <h4 class="card-title">Mailing Info :</h4>
        <hr>
        <div class="row">
          <div class="col-md-6 ">
            <div class="form-group">
              <label class="control-label"> Mailing Address 1</label>
              <input type="text" [(ngModel)]="submitAgentData.pAddr1" class="form-control"
                [value]="uploadAgentForm.get('pAddr1').value | titlecase" required readonly>

            </div>
          </div>
          <div class="col-md-6 ">
            <div class="form-group">
              <label class="control-label"> Mailing Address 2</label>
              <input type="text" [(ngModel)]="submitAgentData.pAddr2" class="form-control"
                [value]="uploadAgentForm.get('pAddr2').value | titlecase" readonly>

            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-md-6 ">
            <div class="form-group">
              <label class="control-label"> Mailing Address 3</label>
              <input type="text" [(ngModel)]="submitAgentData.pAddr3" class="form-control" readonly>

            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label"> Mailing City</label>
              <input type="text" [(ngModel)]="submitAgentData.pCityName" class="form-control" required readonly>

            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label"> Mailing State</label>
              <input type="text" [(ngModel)]="submitAgentData.pStateName" class="form-control" required readonly>

            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label"> Mailing Country :</label>

              <input type="text" [(ngModel)]="submitAgentData.pCountry" class="form-control" required readonly>


            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label"> Mailing County :</label>

              <input type="text" [(ngModel)]="submitAgentData.pCountyName" class="form-control" required readonly>


            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Mailing zip:</label>
              <input type="text" [(ngModel)]="submitAgentData.pZip" class="form-control" required readonly>

            </div>
          </div>
        </div>
        <div class="row">

          <div class="col-md-6">
            <div class="form-group has-success">
              <label class="control-label">Is Producer's CE Compliance :</label>

              <input type="text" [(ngModel)]="submitAgentData.isCECompliant" class="form-control" required readonly>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
</ng-template>


<ng-template #clickToCall let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Call</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <input type="text" class="form-control" [(ngModel)]="phoneNo" placeholder="Phone Number" />
      </div>
      <div class="col-md-12" style="margin-top: 10px">
        <button class="btn btn-info" type="button" (click)="callToAgent()">Call</button>
      </div>
    </div>
  </div>
</ng-template>
<div *ngIf="listLoader" class="loader-conteiner">
  <div class="listloader">
  </div>
</div>

<ng-template #infoView let-s="close" let-n="dismiss" let-modal>

  <div class="modal-body">
<div class="row">
  <div class="col-md-12 text-center">
    <h4>Disclaimer</h4>
  </div>
</div>
  </div>
</ng-template>

<ng-template #alertModal let-p="close" let-q="dismiss" let-modal>

  <div class="modal-body">
<div class="row">
  <div class="col-md-12 text-center">
    <h4>Alert</h4>
  </div>
  <div class="col-md-12">
   <p>
     The last update for additional companies was less than 90 day's ago kindly try later.
   </p>
  </div>
  <div class="col-md-12 text-center">
    <button class="btn btn-info" (click)="q('Cross click')">Ok</button>
  </div>
</div>
  </div>
</ng-template>

