<!--<div style="text-align:center">
  <button type="button" class="btn btn-primary" (click)="redirectToDonate()">DONATE</button>
</div> -->
<section>
  <header></header>
</section>
<router-outlet></router-outlet>


