<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="address">
            <h2><span jhiTranslate="sspDcApp.address.detail.title">Address</span> {{address.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="sspDcApp.address.addr">Addr</span></dt>
                <dd>
                    <span>{{address.addr}}</span>
                </dd>
                <dt><span jhiTranslate="sspDcApp.address.street">Street</span></dt>
                <dd>
                    <span>{{address.street}}</span>
                </dd>
                <dt><span jhiTranslate="sspDcApp.address.city">City</span></dt>
                <dd>
                    <span>{{address.city}}</span>
                </dd>
                <dt><span jhiTranslate="sspDcApp.address.zip">Zip</span></dt>
                <dd>
                    <span>{{address.zip}}</span>
                </dd>
                <dt><span jhiTranslate="sspDcApp.address.region">Region</span></dt>
                <dd>
                    <span>{{address.region}}</span>
                </dd>
                <dt><span jhiTranslate="sspDcApp.address.state">State</span></dt>
                <dd>
                    <span>{{address.state}}</span>
                </dd>
                <dt><span jhiTranslate="sspDcApp.address.country">Country</span></dt>
                <dd>
                    <span>{{address.country}}</span>
                </dd>
                <dt><span jhiTranslate="sspDcApp.address.createdAt">Created At</span></dt>
                <dd>
                    <span>{{address.createdAt}}</span>
                </dd>
                <dt><span jhiTranslate="sspDcApp.address.updatedAt">Updated At</span></dt>
                <dd>
                    <span>{{address.updatedAt}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/address-mv', address.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
