<div>
    <h2 id="page-heading">
        <span jhiTranslate="sspDcApp.address.home.title">Addresses</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-address-mv" [routerLink]="['/address-mv/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="sspDcApp.address.home.createLabel">
            Create new Address
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="addresses">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="sspDcApp.address.addr">Addr</span></th>
            <th><span jhiTranslate="sspDcApp.address.street">Street</span></th>
            <th><span jhiTranslate="sspDcApp.address.city">City</span></th>
            <th><span jhiTranslate="sspDcApp.address.zip">Zip</span></th>
            <th><span jhiTranslate="sspDcApp.address.region">Region</span></th>
            <th><span jhiTranslate="sspDcApp.address.state">State</span></th>
            <th><span jhiTranslate="sspDcApp.address.country">Country</span></th>
            <th><span jhiTranslate="sspDcApp.address.createdAt">Created At</span></th>
            <th><span jhiTranslate="sspDcApp.address.updatedAt">Updated At</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let address of addresses ;trackBy: trackId">
                <td><a [routerLink]="['/address-mv', address.id, 'view' ]">{{address.id}}</a></td>
                <td>{{address.addr}}</td>
                <td>{{address.street}}</td>
                <td>{{address.city}}</td>
                <td>{{address.zip}}</td>
                <td>{{address.region}}</td>
                <td>{{address.state}}</td>
                <td>{{address.country}}</td>
                <td>{{address.createdAt | date:'medium'}}</td>
                <td>{{address.updatedAt | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/address-mv', address.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/address-mv', address.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'address-mv/'+ address.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
