<div>
    <h2 id="page-heading">
        <span jhiTranslate="iaaApp.profile.home.title">Profiles</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-profile-mv" [routerLink]="['/profile-mv/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="iaaApp.profile.home.createLabel">
            Create new Profile
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="profiles">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="iaaApp.profile.firstName">First Name</span></th>
            <th><span jhiTranslate="iaaApp.profile.middleName">Middle Name</span></th>
            <th><span jhiTranslate="iaaApp.profile.lastName">Last Name</span></th>
            <th><span jhiTranslate="iaaApp.profile.prefMobile">Pref Mobile</span></th>
            <th><span jhiTranslate="iaaApp.profile.prefEmail">Pref Email</span></th>
            <th><span jhiTranslate="iaaApp.profile.refBy">Ref By</span></th>
            <th><span jhiTranslate="iaaApp.profile.suffix">Suffix</span></th>
            <th><span jhiTranslate="iaaApp.profile.type">Type</span></th>
            <th><span jhiTranslate="iaaApp.profile.isSpeaksSpanish">Is Speaks Spanish</span></th>
            <th><span jhiTranslate="iaaApp.profile.userId">User Id</span></th>
            <th><span jhiTranslate="iaaApp.profile.createdAt">Created At</span></th>
            <th><span jhiTranslate="iaaApp.profile.updatedAt">Updated At</span></th>
            <th><span jhiTranslate="iaaApp.profile.isActive">Is Active</span></th>
            <th><span jhiTranslate="iaaApp.profile.isDeleted">Is Deleted</span></th>
            <th><span jhiTranslate="iaaApp.profile.phone">Phone</span></th>
            <th><span jhiTranslate="iaaApp.profile.addr">Addr</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let profile of profiles ;trackBy: trackId">
                <td><a [routerLink]="['/profile-mv', profile.id, 'view' ]">{{profile.id}}</a></td>
                <td>{{profile.firstName}}</td>
                <td>{{profile.middleName}}</td>
                <td>{{profile.lastName}}</td>
                <td>{{profile.prefMobile}}</td>
                <td>{{profile.prefEmail}}</td>
                <td>{{profile.refBy}}</td>
                <td>{{profile.suffix}}</td>
                <td jhiTranslate="{{'iaaApp.ProfileType.' + profile.type}}">{{profile.type}}</td>
                <td>{{profile.isSpeaksSpanish}}</td>
                <td>{{profile.userId}}</td>
                <td>{{profile.createdAt | date:'medium'}}</td>
                <td>{{profile.updatedAt | date:'medium'}}</td>
                <td>{{profile.isActive}}</td>
                <td>{{profile.isDeleted}}</td>
                <td>{{profile.phone}}</td>
                <td>
                    <div *ngIf="profile.addrId">
                        <a [routerLink]="['../address-mv', profile.addrId , 'view' ]" >{{profile.addrId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/profile-mv', profile.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/profile-mv', profile.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'profile-mv/'+ profile.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
