<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-profile-mv-heading" jhiTranslate="iaaApp.profile.home.createOrEditLabel">Create or edit a Profile</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!profile.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="profile.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.profile.firstName" for="field_firstName">First Name</label>
                    <input type="text" class="form-control" name="firstName" id="field_firstName"
                        [(ngModel)]="profile.firstName" required/>
                    <div [hidden]="!(editForm.controls.firstName?.dirty && editForm.controls.firstName?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.firstName?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.profile.middleName" for="field_middleName">Middle Name</label>
                    <input type="text" class="form-control" name="middleName" id="field_middleName"
                        [(ngModel)]="profile.middleName" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.profile.lastName" for="field_lastName">Last Name</label>
                    <input type="text" class="form-control" name="lastName" id="field_lastName"
                        [(ngModel)]="profile.lastName" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.profile.prefMobile" for="field_prefMobile">Pref Mobile</label>
                    <input type="text" class="form-control" name="prefMobile" id="field_prefMobile"
                        [(ngModel)]="profile.prefMobile" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.profile.prefEmail" for="field_prefEmail">Pref Email</label>
                    <input type="text" class="form-control" name="prefEmail" id="field_prefEmail"
                        [(ngModel)]="profile.prefEmail" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.profile.refBy" for="field_refBy">Ref By</label>
                    <input type="text" class="form-control" name="refBy" id="field_refBy"
                        [(ngModel)]="profile.refBy" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.profile.suffix" for="field_suffix">Suffix</label>
                    <input type="text" class="form-control" name="suffix" id="field_suffix"
                        [(ngModel)]="profile.suffix" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.profile.type" for="field_type">Type</label>
                    <select class="form-control" name="type" [(ngModel)]="profile.type" id="field_type" >
                        <option value="AGENT">{{'iaaApp.ProfileType.AGENT' | translate}}</option>
                        <option value="FACILITY">{{'iaaApp.ProfileType.FACILITY' | translate}}</option>
                        <option value="ADMIN">{{'iaaApp.ProfileType.ADMIN' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.profile.isSpeaksSpanish" for="field_isSpeaksSpanish">Is Speaks Spanish</label>
                    <input type="checkbox" class="form-control" name="isSpeaksSpanish" id="field_isSpeaksSpanish"
                        [(ngModel)]="profile.isSpeaksSpanish" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.profile.userId" for="field_userId">User Id</label>
                    <input type="number" class="form-control" name="userId" id="field_userId"
                        [(ngModel)]="profile.userId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.profile.createdAt" for="field_createdAt">Created At</label>
                    <div class="d-flex">
                        <input id="field_createdAt" type="datetime-local" class="form-control" name="createdAt" [(ngModel)]="createdAt"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.profile.updatedAt" for="field_updatedAt">Updated At</label>
                    <div class="d-flex">
                        <input id="field_updatedAt" type="datetime-local" class="form-control" name="updatedAt" [(ngModel)]="updatedAt"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.profile.isActive" for="field_isActive">Is Active</label>
                    <input type="checkbox" class="form-control" name="isActive" id="field_isActive"
                        [(ngModel)]="profile.isActive" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.profile.isDeleted" for="field_isDeleted">Is Deleted</label>
                    <input type="checkbox" class="form-control" name="isDeleted" id="field_isDeleted"
                        [(ngModel)]="profile.isDeleted" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.profile.phone" for="field_phone">Phone</label>
                    <input type="text" class="form-control" name="phone" id="field_phone"
                        [(ngModel)]="profile.phone" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.profile.addr" for="field_addr">Addr</label>
                    <select class="form-control" id="field_addr" name="addr" [(ngModel)]="profile.addrId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="addressOption.id" *ngFor="let addressOption of addrs; trackBy: trackAddressById">{{addressOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
