<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="profile">
            <h2><span jhiTranslate="iaaApp.profile.detail.title">Profile</span> {{profile.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="iaaApp.profile.firstName">First Name</span></dt>
                <dd>
                    <span>{{profile.firstName}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.profile.middleName">Middle Name</span></dt>
                <dd>
                    <span>{{profile.middleName}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.profile.lastName">Last Name</span></dt>
                <dd>
                    <span>{{profile.lastName}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.profile.prefMobile">Pref Mobile</span></dt>
                <dd>
                    <span>{{profile.prefMobile}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.profile.prefEmail">Pref Email</span></dt>
                <dd>
                    <span>{{profile.prefEmail}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.profile.refBy">Ref By</span></dt>
                <dd>
                    <span>{{profile.refBy}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.profile.suffix">Suffix</span></dt>
                <dd>
                    <span>{{profile.suffix}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.profile.type">Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'iaaApp.ProfileType.' + profile.type}}">{{profile.type}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.profile.isSpeaksSpanish">Is Speaks Spanish</span></dt>
                <dd>
                    <span>{{profile.isSpeaksSpanish}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.profile.userId">User Id</span></dt>
                <dd>
                    <span>{{profile.userId}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.profile.createdAt">Created At</span></dt>
                <dd>
                    <span>{{profile.createdAt}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.profile.updatedAt">Updated At</span></dt>
                <dd>
                    <span>{{profile.updatedAt}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.profile.isActive">Is Active</span></dt>
                <dd>
                    <span>{{profile.isActive}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.profile.isDeleted">Is Deleted</span></dt>
                <dd>
                    <span>{{profile.isDeleted}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.profile.phone">Phone</span></dt>
                <dd>
                    <span>{{profile.phone}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.profile.addr">Addr</span></dt>
                <dd>
                    <div *ngIf="profile.addrId">
                        <a [routerLink]="['/address-mv', profile.addrId, 'view']">{{profile.addrId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/profile-mv', profile.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
