<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="packSubscription">
            <h2><span jhiTranslate="iaaApp.packSubscription.detail.title">Pack Subscription</span> {{packSubscription.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="iaaApp.packSubscription.packageId">Package Id</span></dt>
                <dd>
                    <span>{{packSubscription.packageId}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.packSubscription.zipAreaId">Zip Area Id</span></dt>
                <dd>
                    <span>{{packSubscription.zipAreaId}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.packSubscription.slots">Slots</span></dt>
                <dd>
                    <span>{{packSubscription.slots}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.packSubscription.duration">Duration</span></dt>
                <dd>
                    <span>{{packSubscription.duration}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.packSubscription.createdAt">Created At</span></dt>
                <dd>
                    <span>{{packSubscription.createdAt}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.packSubscription.updatedAt">Updated At</span></dt>
                <dd>
                    <span>{{packSubscription.updatedAt}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.packSubscription.validTill">Valid Till</span></dt>
                <dd>
                    <span>{{packSubscription.validTill}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.packSubscription.isActive">Is Active</span></dt>
                <dd>
                    <span>{{packSubscription.isActive}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.packSubscription.isDeleted">Is Deleted</span></dt>
                <dd>
                    <span>{{packSubscription.isDeleted}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.packSubscription.profile">Profile</span></dt>
                <dd>
                    <div *ngIf="packSubscription.profileId">
                        <a [routerLink]="['/profile-mv', packSubscription.profileId, 'view']">{{packSubscription.profileId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/pack-subscription-mv', packSubscription.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
