<div>
    <h2 id="page-heading">
        <span jhiTranslate="iaaApp.packSubscription.home.title">Pack Subscriptions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-pack-subscription-mv" [routerLink]="['/pack-subscription-mv/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="iaaApp.packSubscription.home.createLabel">
            Create new Pack Subscription
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="packSubscriptions">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="iaaApp.packSubscription.packageId">Package Id</span></th>
            <th><span jhiTranslate="iaaApp.packSubscription.zipAreaId">Zip Area Id</span></th>
            <th><span jhiTranslate="iaaApp.packSubscription.slots">Slots</span></th>
            <th><span jhiTranslate="iaaApp.packSubscription.duration">Duration</span></th>
            <th><span jhiTranslate="iaaApp.packSubscription.createdAt">Created At</span></th>
            <th><span jhiTranslate="iaaApp.packSubscription.updatedAt">Updated At</span></th>
            <th><span jhiTranslate="iaaApp.packSubscription.validTill">Valid Till</span></th>
            <th><span jhiTranslate="iaaApp.packSubscription.isActive">Is Active</span></th>
            <th><span jhiTranslate="iaaApp.packSubscription.isDeleted">Is Deleted</span></th>
            <th><span jhiTranslate="iaaApp.packSubscription.profile">Profile</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let packSubscription of packSubscriptions ;trackBy: trackId">
                <td><a [routerLink]="['/pack-subscription-mv', packSubscription.id, 'view' ]">{{packSubscription.id}}</a></td>
                <td>{{packSubscription.packageId}}</td>
                <td>{{packSubscription.zipAreaId}}</td>
                <td>{{packSubscription.slots}}</td>
                <td>{{packSubscription.duration}}</td>
                <td>{{packSubscription.createdAt | date:'medium'}}</td>
                <td>{{packSubscription.updatedAt | date:'medium'}}</td>
                <td>{{packSubscription.validTill | date:'medium'}}</td>
                <td>{{packSubscription.isActive}}</td>
                <td>{{packSubscription.isDeleted}}</td>
                <td>
                    <div *ngIf="packSubscription.profileId">
                        <a [routerLink]="['../profile-mv', packSubscription.profileId , 'view' ]" >{{packSubscription.profileId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/pack-subscription-mv', packSubscription.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/pack-subscription-mv', packSubscription.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'pack-subscription-mv/'+ packSubscription.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
