<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-pack-subscription-mv-heading" jhiTranslate="iaaApp.packSubscription.home.createOrEditLabel">Create or edit a Pack Subscription</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!packSubscription.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="packSubscription.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.packSubscription.packageId" for="field_packageId">Package Id</label>
                    <input type="number" class="form-control" name="packageId" id="field_packageId"
                        [(ngModel)]="packSubscription.packageId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.packSubscription.zipAreaId" for="field_zipAreaId">Zip Area Id</label>
                    <input type="number" class="form-control" name="zipAreaId" id="field_zipAreaId"
                        [(ngModel)]="packSubscription.zipAreaId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.packSubscription.slots" for="field_slots">Slots</label>
                    <input type="number" class="form-control" name="slots" id="field_slots"
                        [(ngModel)]="packSubscription.slots" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.packSubscription.duration" for="field_duration">Duration</label>
                    <input type="text" class="form-control" name="duration" id="field_duration"
                        [(ngModel)]="packSubscription.duration" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.packSubscription.createdAt" for="field_createdAt">Created At</label>
                    <div class="d-flex">
                        <input id="field_createdAt" type="datetime-local" class="form-control" name="createdAt" [(ngModel)]="createdAt"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.packSubscription.updatedAt" for="field_updatedAt">Updated At</label>
                    <div class="d-flex">
                        <input id="field_updatedAt" type="datetime-local" class="form-control" name="updatedAt" [(ngModel)]="updatedAt"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.packSubscription.validTill" for="field_validTill">Valid Till</label>
                    <div class="d-flex">
                        <input id="field_validTill" type="datetime-local" class="form-control" name="validTill" [(ngModel)]="validTill"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.packSubscription.isActive" for="field_isActive">Is Active</label>
                    <input type="checkbox" class="form-control" name="isActive" id="field_isActive"
                        [(ngModel)]="packSubscription.isActive" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.packSubscription.isDeleted" for="field_isDeleted">Is Deleted</label>
                    <input type="checkbox" class="form-control" name="isDeleted" id="field_isDeleted"
                        [(ngModel)]="packSubscription.isDeleted" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.packSubscription.profile" for="field_profile">Profile</label>
                    <select class="form-control" id="field_profile" name="profile" [(ngModel)]="packSubscription.profileId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="profileOption.id" *ngFor="let profileOption of profiles; trackBy: trackProfileById">{{profileOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
