<div class="container pt-2">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-3 col-lg-3 text-left pb-3">
          <div class="btn-group">
            <button type="button" class="btn" [ngClass]="{'btn-primary': mode=='donations','text-primary':mode!='donations'}" (click)="changeMode('donations')">DONATIONS</button>
            <button type="button" class="btn" [ngClass]="{'btn-primary': mode=='discounts','text-primary':mode!='discounts'}" (click)="changeMode('discounts')">DISCOUNTS</button>
          </div>
        </div>
        <div class="col-12 col-sm-12 offset-md-6 offset-lg-6 col-md-3 col-lg-3 pt-3" *ngIf="count">Count:{{count}}</div>
      </div>
      <form class="form-inline">
        <div class="row">
          <div class="col-lg-3 col-md-12 col-sm-12">
            <div class="form-group">
              <div class="input-group">
                <input class="form-control" placeholder="From date" name="from" [maxDate]="maxDate" [(ngModel)]="fromDate" ngbDatepicker
                  #fDate="ngbDatepicker" (ngModelChange)="checkDates()">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" (click)="fDate.toggle()" type="button">
                    <i class="fa fa-calendar"></i>
                  </button>
                </div>
              </div>
              <div *ngIf="invalidDates" class="text-danger small">
                From date must be lesser than To date
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-12 col-sm-12">
            <div class="form-group">
              <div class="input-group">
                <input class="form-control" placeholder="To date" name="to" [minDate]="fromDate" [maxDate]="maxDate" [(ngModel)]="toDate"
                  ngbDatepicker #tDate="ngbDatepicker" (ngModelChange)="checkDates()">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary calendar" (click)="tDate.toggle()" type="button">
                    <i class="fa fa-calendar"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 col-sm-12">
            <autocomplete [url]="stateUrl" [dropdown]="'no-dropdown'" [searchField]="stateSearchField" [title]="stateTitle" (selected)="changeState($event)"></autocomplete>
          </div>
          <div class="col-lg-2 col-md-12 col-sm-12">
            <autocomplete [url]="cityUrl" [dropdown]="'no-dropdown'" [searchField]="citySearchField" [title]="cityTitle" (selected)="changeCity($event)"></autocomplete>
          </div>
          <div class="col-lg-2 col-md-12 col-sm-12">
            <autocomplete [url]="schoolUrl" [dropdown]="'no-dropdown'" [searchField]="schoolSearchField" [title]="schoolTitle" (selected)="changeSchool($event)"></autocomplete>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <div class="input-group">
              <select class="form-control" name="status" [(ngModel)]="businessStatus">
                <option value=undefined disabled>Status</option>
                <option value="Active">Active</option>
                <option value="Active">Pending</option>
                <option value="Active">InActive</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <div class="input-group">
              <select class="form-control" name="type" [(ngModel)]="businessType">
                <option value=undefined disabled>Type</option>
                <option *ngFor="let category of categoriesList" [value]="category.name">{{category.name}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <div class="input-group">
              <select class="form-control" name="businessName" [(ngModel)]="businessName">
                <option value=undefined disabled>Name</option>
                <option *ngFor="let business of businessList" [value]="business.name">{{business.name}}</option>
              </select>
            </div>
          </div>
        </div>
      </form>

      <div class="d-md-block d-none d-xs-none d-sm-none">
        <div class="row">
          <div class="col-12 col-sm-12 offset-md-6 offset-lg-9 col-md-3 col-lg-3 text-right ">
            <button type="button" class="btn btn-success btns" (click)="getDonationsList()" [disabled]="!validDates || invalidDates">VIEW</button>
            <button type="button" class="btn btn-success btns" [disabled]="!validDates || invalidDates">DOWNLOAD</button>
          </div>
        </div>
      </div>
      <div class="table-responsive pt-5" *ngIf="donationsList && donationsList.length>0 && mode=='donations'">
        <table class="table table-bordered">
          <thead>
            <tr class="text-center">
              <th>DATE</th>
              <th>AMT</th>
              <th>NAME</th>
              <th>PHONE</th>
              <th>EMAIL</th>
              <th>ST ADD</th>
              <th>CITY</th>
              <th>STATE</th>
              <th>SCHOOL</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let donation of donationsList">
              <td>{{donation.date | date}}</td>
              <td>{{donation.amount}}</td>
              <td>{{donation.name}}</td>
              <td>{{donation.phone}}</td>
              <td>{{donation.email}}</td>
              <td>{{donation.street}}</td>
              <td>{{donation.city}}</td>
              <td>{{donation.state}}</td>
              <td>{{donation.school}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="table-responsive pt-5" *ngIf="mode=='discounts'">
        <table class="table table-bordered">
          <thead>
            <tr class="text-center">
              <th>DATE</th>
              <th>AMT</th>
              <th>NAME</th>
              <th>PHONE</th>
              <th>EMAIL</th>
              <th>ST ADD</th>
              <th>CITY</th>
              <th>STATE</th>
              <th>SCHOOL</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let donation of donationsList">
              <td>{{donation.date | date}}</td>
              <td>{{donation.amount}}</td>
              <td>{{donation.name}}</td>
              <td>{{donation.phone}}</td>
              <td>{{donation.email}}</td>
              <td>{{donation.street}}</td>
              <td>{{donation.city}}</td>
              <td>{{donation.state}}</td>
              <td>{{donation.school}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>