.btn {
    font-size: 15px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 8px;
    border-radius: 4px;
    margin:5px;
}

.calendar {
    font-size: 15px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 8px;
    border-radius: 2px;
    margin:0px;
}