<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="cart">
            <h2><span jhiTranslate="iaaApp.cart.detail.title">Cart</span> {{cart.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="iaaApp.cart.paymentId">Payment Id</span></dt>
                <dd>
                    <span>{{cart.paymentId}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.cart.createdAt">Created At</span></dt>
                <dd>
                    <span>{{cart.createdAt}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.cart.updatedAt">Updated At</span></dt>
                <dd>
                    <span>{{cart.updatedAt}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.cart.isCompleted">Is Completed</span></dt>
                <dd>
                    <span>{{cart.isCompleted}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.cart.isDeleted">Is Deleted</span></dt>
                <dd>
                    <span>{{cart.isDeleted}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.cart.subscriptions">Subscriptions</span></dt>
                <dd>
                    <span *ngFor="let subscriptions of cart.subscriptions; let last = last">
                        <a [routerLink]="['/pack-subscription-mv', subscriptions?.id, 'view' ]">{{subscriptions.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="iaaApp.cart.profile">Profile</span></dt>
                <dd>
                    <div *ngIf="cart.profileId">
                        <a [routerLink]="['/profile-mv', cart.profileId, 'view']">{{cart.profileId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/cart-mv', cart.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
