<div>
    <h2 id="page-heading">
        <span jhiTranslate="iaaApp.cart.home.title">Carts</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-cart-mv" [routerLink]="['/cart-mv/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="iaaApp.cart.home.createLabel">
            Create new Cart
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="carts">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="iaaApp.cart.paymentId">Payment Id</span></th>
            <th><span jhiTranslate="iaaApp.cart.createdAt">Created At</span></th>
            <th><span jhiTranslate="iaaApp.cart.updatedAt">Updated At</span></th>
            <th><span jhiTranslate="iaaApp.cart.isCompleted">Is Completed</span></th>
            <th><span jhiTranslate="iaaApp.cart.isDeleted">Is Deleted</span></th>
            <th><span jhiTranslate="iaaApp.cart.subscriptions">Subscriptions</span></th>
            <th><span jhiTranslate="iaaApp.cart.profile">Profile</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let cart of carts ;trackBy: trackId">
                <td><a [routerLink]="['/cart-mv', cart.id, 'view' ]">{{cart.id}}</a></td>
                <td>{{cart.paymentId}}</td>
                <td>{{cart.createdAt | date:'medium'}}</td>
                <td>{{cart.updatedAt | date:'medium'}}</td>
                <td>{{cart.isCompleted}}</td>
                <td>{{cart.isDeleted}}</td>
                <td>
                    <span *ngFor="let subscriptions of cart.subscriptions; let last = last">
                            <a class="form-control-static" [routerLink]="['../pack-subscription-mv', subscriptions?.id, 'view' ]">{{subscriptions.id}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td>
                    <div *ngIf="cart.profileId">
                        <a [routerLink]="['../profile-mv', cart.profileId , 'view' ]" >{{cart.profileId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/cart-mv', cart.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/cart-mv', cart.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'cart-mv/'+ cart.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
