<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-cart-mv-heading" jhiTranslate="iaaApp.cart.home.createOrEditLabel">Create or edit a Cart</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!cart.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="cart.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.cart.paymentId" for="field_paymentId">Payment Id</label>
                    <input type="number" class="form-control" name="paymentId" id="field_paymentId"
                        [(ngModel)]="cart.paymentId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.cart.createdAt" for="field_createdAt">Created At</label>
                    <div class="d-flex">
                        <input id="field_createdAt" type="datetime-local" class="form-control" name="createdAt" [(ngModel)]="createdAt"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.cart.updatedAt" for="field_updatedAt">Updated At</label>
                    <div class="d-flex">
                        <input id="field_updatedAt" type="datetime-local" class="form-control" name="updatedAt" [(ngModel)]="updatedAt"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.cart.isCompleted" for="field_isCompleted">Is Completed</label>
                    <input type="checkbox" class="form-control" name="isCompleted" id="field_isCompleted"
                        [(ngModel)]="cart.isCompleted" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.cart.isDeleted" for="field_isDeleted">Is Deleted</label>
                    <input type="checkbox" class="form-control" name="isDeleted" id="field_isDeleted"
                        [(ngModel)]="cart.isDeleted" />
                </div>

                <div class="form-group">
                    <label jhiTranslate="iaaApp.cart.subscriptions" for="field_subscriptions">Subscriptions</label>
                    <select class="form-control" id="field_subscriptions" multiple name="subscriptions" [(ngModel)]="cart.subscriptions">
                        <option [ngValue]="getSelected(cart.subscriptions, packSubscriptionOption)" *ngFor="let packSubscriptionOption of packsubscriptions; trackBy: trackPackSubscriptionById">{{packSubscriptionOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.cart.profile" for="field_profile">Profile</label>
                    <select class="form-control" id="field_profile" name="profile" [(ngModel)]="cart.profileId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="profileOption.id" *ngFor="let profileOption of profiles; trackBy: trackProfileById">{{profileOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
