<div>
  <header>
    <nav class="navbar navbar-expand-lg transparent-nav">
      <div class="container">
        <a class="navbar-brand" href="https://web.goigi.me/schoolsafetyprogram/">
          <img src="../../content/img/ssp-logo.png">
        </a>
        <div>
          Sponsored by MV1
          <a class="navbar-brand" href="https://www.mv1stop.com/">
            <img width=100 height=100 src="../../content/img/mv1-logo.png">
          </a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="right-nav">
          <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <button class="btn btn-primary">
                  Home
                </button>
              </li>
              <li class="nav-item">
                <button class="btn btn-primary" (click)="redirectToMV1()">
                  <span>
                    <i class="fa fa-reply"></i>
                  </span>Back
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </header>


  <div class="banner">
    <div class="container">
      <div class="banner-txt">
        <h1 class="text-center">
          <a href="https://web.goigi.me/schoolsafetyprogram/">School Safety Program</a> will be the beneficiary of the donation by default. You may change it by selecting the
          below Filters</h1>
        <br>
        <a href="#" class="btn btn-lg btn-success">Donate
          <i class="fa fa-angle-right"></i>
        </a>
      </div>

      <div class="search-filter">
        <form class="filter-frm">
          <div>
            <div class="row">
              <div class="col col-lg-4 form-control-holder">
                <multi-select [dropdownList]="statesList" [selectedItems]="selectedItems" [dropdownSettings]="statesSettings" (selectedItemsChanged)="changeState($event)"
                  (searchEvent)="searchStates($event)">
                </multi-select>
              </div>
              <div class="col col-lg-4 form-control-holder">
                <multi-select [dropdownList]="districtsList" [selectedItems]="selectedItems" [dropdownSettings]="districtsSettings" (selectedItemsChanged)="changeDistrict($event)"
                  (searchEvent)="searchDistricts($event)">
                </multi-select>
              </div>
              <div class="col col-lg-4 form-control-holder">
                <multi-select [dropdownList]="citiesList" [selectedItems]="selectedItems" [dropdownSettings]="citiesSettings" (selectedItemsChanged)="changeCity($event)"
                  (searchEvent)="searchCities($event)">
                </multi-select>
              </div>
            </div>
            <div class="row">
              <div class="col col-lg-12">
                <multi-select [dropdownList]="schoolSearchResult" [selectedItems]="selectedItems" [dropdownSettings]="schoolsSettings" (selectedItemsChanged)="changeSchool($event)"
                  (searchEvent)="searchSchool($event)">
                </multi-select>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>