.search-form {
    min-width: 150px;
    /* max-width: 500px;*/
    width: 100%;
}

.search-full-width {
    width: 100%;
}

.mat-focused .mat-form-field-underline {
    background-color: white !important;
}

.mat-autocomplete input::-webkit-input-placeholder {
    color: white !important;
}

.mat-autocomplete input:-moz-placeholder {
    /* Firefox 18- */
    color: white !important;
}

.mat-autocomplete input::-moz-placeholder {
    /* Firefox 19+ */
    color: white !important;
}

.mat-autocomplete input:-ms-input-placeholder {
    color: white !important;
}
