<div>
    <h2 id="page-heading">
        <span jhiTranslate="sspDcApp.card.home.title">Cards</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-card-mv" [routerLink]="['/card-mv/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="sspDcApp.card.home.createLabel">
            Create new Card
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="cards">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="sspDcApp.card.firstName">First Name</span></th>
            <th><span jhiTranslate="sspDcApp.card.lastName">Last Name</span></th>
            <th><span jhiTranslate="sspDcApp.card.number">Number</span></th>
            <th><span jhiTranslate="sspDcApp.card.createdAt">Created At</span></th>
            <th><span jhiTranslate="sspDcApp.card.updatedAt">Updated At</span></th>
            <th><span jhiTranslate="sspDcApp.card.validFrom">Valid From</span></th>
            <th><span jhiTranslate="sspDcApp.card.validTill">Valid Till</span></th>
            <th><span jhiTranslate="sspDcApp.card.isActive">Is Active</span></th>
            <th><span jhiTranslate="sspDcApp.card.isDeleted">Is Deleted</span></th>
            <th><span jhiTranslate="sspDcApp.card.profile">Profile</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let card of cards ;trackBy: trackId">
                <td><a [routerLink]="['/card-mv', card.id, 'view' ]">{{card.id}}</a></td>
                <td>{{card.firstName}}</td>
                <td>{{card.lastName}}</td>
                <td>{{card.number}}</td>
                <td>{{card.createdAt | date:'medium'}}</td>
                <td>{{card.updatedAt | date:'medium'}}</td>
                <td>{{card.validFrom | date:'medium'}}</td>
                <td>{{card.validTill | date:'medium'}}</td>
                <td>{{card.isActive}}</td>
                <td>{{card.isDeleted}}</td>
                <td>
                    <div *ngIf="card.profileId">
                        <a [routerLink]="['../profile-mv', card.profileId , 'view' ]" >{{card.profileId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/card-mv', card.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/card-mv', card.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'card-mv/'+ card.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
