<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="card">
            <h2><span jhiTranslate="sspDcApp.card.detail.title">Card</span> {{card.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="sspDcApp.card.firstName">First Name</span></dt>
                <dd>
                    <span>{{card.firstName}}</span>
                </dd>
                <dt><span jhiTranslate="sspDcApp.card.lastName">Last Name</span></dt>
                <dd>
                    <span>{{card.lastName}}</span>
                </dd>
                <dt><span jhiTranslate="sspDcApp.card.number">Number</span></dt>
                <dd>
                    <span>{{card.number}}</span>
                </dd>
                <dt><span jhiTranslate="sspDcApp.card.createdAt">Created At</span></dt>
                <dd>
                    <span>{{card.createdAt}}</span>
                </dd>
                <dt><span jhiTranslate="sspDcApp.card.updatedAt">Updated At</span></dt>
                <dd>
                    <span>{{card.updatedAt}}</span>
                </dd>
                <dt><span jhiTranslate="sspDcApp.card.validFrom">Valid From</span></dt>
                <dd>
                    <span>{{card.validFrom}}</span>
                </dd>
                <dt><span jhiTranslate="sspDcApp.card.validTill">Valid Till</span></dt>
                <dd>
                    <span>{{card.validTill}}</span>
                </dd>
                <dt><span jhiTranslate="sspDcApp.card.isActive">Is Active</span></dt>
                <dd>
                    <span>{{card.isActive}}</span>
                </dd>
                <dt><span jhiTranslate="sspDcApp.card.isDeleted">Is Deleted</span></dt>
                <dd>
                    <span>{{card.isDeleted}}</span>
                </dd>
                <dt><span jhiTranslate="sspDcApp.card.profile">Profile</span></dt>
                <dd>
                    <div *ngIf="card.profileId">
                        <a [routerLink]="['/profile-mv', card.profileId, 'view']">{{card.profileId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/card-mv', card.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
