<div>
    <h2 id="page-heading">
        <span jhiTranslate="iaaApp.searchLogs.home.title">Search Logs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-search-logs" [routerLink]="['/search-logs/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="iaaApp.searchLogs.home.createLabel">
            Create new Search Logs
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="searchLogs">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="iaaApp.searchLogs.fullName">Full Name</span></th>
            <th><span jhiTranslate="iaaApp.searchLogs.email">Email</span></th>
            <th><span jhiTranslate="iaaApp.searchLogs.phone">Phone</span></th>
            <th><span jhiTranslate="iaaApp.searchLogs.zip">Zip</span></th>
            <th><span jhiTranslate="iaaApp.searchLogs.searchType">Search Type</span></th>
            <th><span jhiTranslate="iaaApp.searchLogs.searchedDate">Searched Date</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let searchLogs of searchLogs ;trackBy: trackId">
                <td><a [routerLink]="['/search-logs', searchLogs.id, 'view' ]">{{searchLogs.id}}</a></td>
                <td>{{searchLogs.fullName}}</td>
                <td>{{searchLogs.email}}</td>
                <td>{{searchLogs.phone}}</td>
                <td>{{searchLogs.zip}}</td>
                <td>{{searchLogs.searchType}}</td>
                <td>{{searchLogs.searchedDate | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/search-logs', searchLogs.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/search-logs', searchLogs.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'search-logs/'+ searchLogs.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
