<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="searchLogs">
            <h2><span jhiTranslate="iaaApp.searchLogs.detail.title">Search Logs</span> {{searchLogs.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="iaaApp.searchLogs.fullName">Full Name</span></dt>
                <dd>
                    <span>{{searchLogs.fullName}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.searchLogs.email">Email</span></dt>
                <dd>
                    <span>{{searchLogs.email}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.searchLogs.phone">Phone</span></dt>
                <dd>
                    <span>{{searchLogs.phone}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.searchLogs.zip">Zip</span></dt>
                <dd>
                    <span>{{searchLogs.zip}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.searchLogs.searchType">Search Type</span></dt>
                <dd>
                    <span>{{searchLogs.searchType}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.searchLogs.searchedDate">Searched Date</span></dt>
                <dd>
                    <span>{{searchLogs.searchedDate}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/search-logs', searchLogs.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
