<style>
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: #e9ecef;
            color: #000;
            text-align: center;
        }
        </style>
<div class="footer">
  {{'footer.l2' | translate}} © {{currentDate | date:'yyyy'}} {{'footer.l1' | translate}}
      </div>
