<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-4 mb-3">
            <div class="search-container">
              <div class="input-group">
                <input type="text" class="form-control" style="margin-right:10px;" [(ngModel)]="searchText1" (keypress)="searchEnter($event)"
                  placeholder="Search">
                <span class="input-group-btn pt-2">
                  <i class="fa fa-search" aria-hidden="true" title="search" (click)="page=1;FilterData()"></i>
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-5 text-right mb-3">
            <button class="btn btn-info no-radius " type="button" style="margin-right:-15px;" *ngIf="!showFilterFlag"
              (click)="showFilter()">FILTERS</button>
            <button class="btn btn-info no-radius " type="button" style="margin-right:-15px;" *ngIf="showFilterFlag"
              (click)="hideFilter()">HIDE</button>
          </div>
          <div class="col-md-3 text-right mb-3">
            <div class="dropdown">
              <button [disabled]="mv1loader" type="button" class="btn btn-info no-radius dropdown-toggle"
                data-toggle="dropdown">
                <span *ngIf="!mv1loader">DOWNLOAD</span>
                <span *ngIf="mv1loader">DOWNLOADING <i class="fa fa-spinner fa-spin"></i> </span>
              </button>
              <div class="dropdown-menu" style="    border: 1px solid #7d8b92;
                  border-radius: 0;">
                <a class="dropdown-item" (click)="downloadCSV('CSV')">CSV</a>
                <a class="dropdown-item" (click)="downloadCSV('XLS')">XLS</a>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="showFilterFlag">
          <form (ngSubmit)="searchText1='';page=1;FilterData()">
            <div class="row mb-20">

              <div class="col-md-2">
                <label>ISN</label>
                <input class="form-control serachbox" type="text" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="isn" (keypress)="getisnList()" (blur)="emptyIsn()" />
                <ul class="list-overflow dropdown-menu"
                  [ngClass]="{'dynamicheight':!isnHide,'dnoneHeight':isnData == '','hiden':isn == '' }"
                  style="display: block">
                  <li class="list" *ngIf="isnData == ''"><a>No Data</a></li>
                  <li class="list" *ngFor="let k of isnData" (click)="changeisn(k)" [ngClass]="{'none':isnData == ''}"
                    [hidden]="isnHide"> <a>{{k}}</a></li>
                </ul>
              </div>

              <div class="col-md-2">
                <label>B-NAME</label>
                <input class="form-control serachbox" type="text" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="fName" (keypress)="getFirstName()" (blur)="emptyFname()" />
                <ul class="list-overflow dropdown-menu"
                  [ngClass]="{'dynamicheight':!fnamehide,'dnoneHeight':fnameData == '','hiden':fName == '' }"
                  style="display: block">
                  <li class="list" *ngIf="fnameData == ''"><a>No Data</a></li>
                  <li class="list" *ngFor="let k of fnameData" [ngClass]="{'none':fnameData == ''}"
                    (click)="changeFname(k)" [hidden]="fnamehide"> <a>{{k}}</a></li>
                </ul>
              </div>

              <div class="col-md-2">
                <label for="selectedStateName">STATE</label>
                <select class="form-control serachbox" name="selectedStateName" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="selectedStateName">
                  <option value="{{s}}" *ngFor="let s of stateData">{{s}}</option>
                </select>

              </div>
              <div class="col-md-2">

                <label>COUNTY</label>
                <input class="form-control serachbox" type="text" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="countyName" (keypress)="getCountyList()" (blur)="emptyCounty()" />
                <ul class="list-overflow dropdown-menu"
                  [ngClass]="{'dynamicheight':!countyHide,'dnoneHeight':options == '','hiden':countyName == '' }"
                  style="display: block;">
                  <li class="list" *ngIf="options == ''"><a>No Data</a></li>
                  <li class="list" *ngFor="let k of options" [ngClass]="{'none':options == ''}"
                    (click)="changeCounty(k)" [hidden]="countyHide">
                    <a> {{k}}</a> </li>

                </ul>

              </div>
              <div class="col-md-2">
                <label>ZIP</label>
                <input class="form-control serachbox" type="text" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="fZipcode" (keypress)="getZipList()" maxlength="5" (blur)="emptyZip()" />
                <ul class="list-overflow dropdown-menu"
                  [ngClass]="{'dynamicheight':!zipHide,'dnoneHeight':getZipData == '','hiden':fZipcode == '' }"
                  style="display: block">
                  <li class="list" *ngIf="getZipData == ''"><a>No Data</a></li>
                  <li class="list" *ngFor="let k of getZipData" [ngClass]="{'none':getZipData == ''}"
                    (click)="changezip(k)" [hidden]="zipHide"> <a>{{k}}</a></li>
                </ul>
              </div>


            </div>
            <div class="row mb-20">
              <div class="col-md-2">
                <label>CITY</label>
                <input class="form-control serachbox" type="text" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="fCity" (keypress)="getCityList()" (blur)="emptyCity()" />
                <ul class="list-overflow dropdown-menu"
                  [ngClass]="{'dynamicheight':!cityHide,'dnoneHeight':cityData == '','hiden':fCity == '' }"
                  style="display: block">
                  <li class="list" *ngIf="cityData == ''"><a>No Data</a></li>
                  <li class="list" *ngFor="let k of cityData" (click)="changeCity(k)" [hidden]="cityHide"> <a>{{k}}</a>
                  </li>
                </ul>
              </div>



              <div class="col-md-2">

                <label for="fincAB">INC A/B</label>
                <select class="form-control serachbox" name="fincAB" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="fincAB">
                  <option value="member">Member</option>
                  <option value="certified">Certified</option>
                  <option value="preCert">P-Certified</option>
                </select>

              </div>
              <div class="col-md-2">
                <label for="fincStatus">INC STATUS</label>
                <select class="form-control serachbox" name="fincStatus" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="fincStatus">
                  <option value="yes">ACTIVE</option>
                  <option value="no">INACTIVE</option>
                </select>

              </div>

              <div class="col-md-2">
                <label></label>
                <button class="btn btn-info btn-block no-radius" style="margin-top: 8px" type="submit">VIEW</button>
              </div>
              <div class="col-md-2">
                <label></label>
                <button class="btn btn-info btn-block no-radius" style="margin-top: 8px" (click)="resetFilterData()"
                  type="button">RESET</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="table-responsive">
            <table class="table table-bordered" style="border: 1px solid #dee2e6;">
              <thead>
                <tr>
                  <th>ISN </th>
                  <th>B-NAME</th>
                  <th>CITY</th>
                  <th>COUNTY</th>
                  <th>ZIP</th>
                  <th>WEEKDAY HOURS</th>
                  <th>SATURDAY HOURS</th>
                  <th>SUNDAY HOURS</th>
                  <th>PHONE</th>
                </tr>
              </thead>
              <tbody>

                <tr *ngFor="let facilityData of facilityDataList">
                  <td>
                    <span class="hoverIcon" (click)="editFacility(facilityData.profileId)">{{facilityData?.isn}}</span>
                  </td>
                  <td>{{facilityData?.name}}</td>
                  <td>{{facilityData?.city}}</td>
                  <td>{{facilityData?.county}}</td>
                  <td>{{facilityData?.zipCode}}</td>
                  <td>{{facilityData?.weekDayHours}}</td>
                  <td>{{facilityData?.saturdayHours }}</td>
                  <td>{{facilityData?.sundayHours}}</td>
                  <td>{{facilityData?.phone}}</td>
                </tr>
              </tbody>
            </table>
            <div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <ngb-pagination *ngIf="facilityDataList.length && totalPages!=1" [maxSize]="5" [pageSize]="50"
            [boundaryLinks]="true" [collectionSize]="totalElements" (pageChange)="pageChanged($event)" [(page)]="page">
          </ngb-pagination>
        </div>
        <div class="col-md-12 text-center" *ngIf="!facilityDataList.length">
          <h5>No Data Available</h5>
        </div>
      </div>

    </div>
  </div>
</div>




<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Facility Info </h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12 col-lg-12">
        <div class="form-body">
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Preferred Phone :</label>
                  <input type="text" id="prefPhone" [(ngModel)]="prefPhone" class="form-control" required
                    maxlength="10">

                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Preferred Email :</label>
                  <input type="email" id="prefEmail" disabled [(ngModel)]="sumbitFacilityData.prefEmail"
                    class="form-control" required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Mobile Phone :</label>
                  <input type="tel" id="prefMobile" [(ngModel)]="prefMobile" class="form-control" maxlength="10">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group has-success">
                  <label class="control-label">Do you speak Spanish</label>
                  <select class="form-control custom-select" [(ngModel)]="speaks_spanish">
                    <option value="false" default>No</option>
                    <option value="true">Yes</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Business/Agency Name :</label>
                  <input type="text" id="prefCompany" [(ngModel)]="prefCompany" class="form-control">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group has-success">
                  <label class="control-label">Mechanic on Duty?</label>
                  <select class="form-control custom-select" [(ngModel)]="mechDuty">
                    <option value="N" default>No</option>
                    <option value="Y">Yes</option>
                  </select>

                </div>

              </div>
              <div class="col-md-6">
                <div class="form-group has-success">
                  <label class="control-label">Comment</label>
                  <textarea class="form-control" type="text" [(ngModel)]="comments" maxlength="50"></textarea>

                </div>
              </div>
            </div>
            <div class="buttons" style="margin-top:-5px;margin-bottom:20px">
              <button [disabled]="modalLoader" type="submit" class="btn btn-info" type="submit"
                (click)="submitFacility(speaks_spanish)">
                <span *ngIf="!modalLoader">Update</span>
                <span *ngIf="modalLoader">Updating <i class="fa fa-spinner fa-spin"></i> </span>
              </button>
            </div>
            <hr>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">ISN :</label>
                  <input type="text" id="licenseName" disabled class="form-control" [(ngModel)]="sumbitFacilityData.isn"
                    required>

                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Mobile Phone :</label>
                  <input type="text" [(ngModel)]="sumbitFacilityData.mobile" disabled class="form-control" required>

                </div>
              </div>
            </div>
            <div class="row ">

              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Week Day Hours :</label>
                  <input type="text" id="weekDayHours" disabled [(ngModel)]="sumbitFacilityData.weekDayHours"
                    class="form-control" required>

                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label"> Saturday Hours :</label>
                  <input type="text" id="saturdayHours" disabled [(ngModel)]="sumbitFacilityData.saturdayHours"
                    class="form-control " required>

                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label"> Sunday Hours :</label>
                  <input type="text" id="licenseName" disabled [(ngModel)]="sumbitFacilityData.sundayHours"
                    class="form-control" required>

                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">City :</label>
                  <input type="text" id="city1" disabled [(ngModel)]="sumbitFacilityData.city" class="form-control"
                    required>

                </div>
              </div>
            </div>



            <div class="row">

              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">State :</label>
                  <input type="text" id="state" disabled [(ngModel)]="sumbitFacilityData.state" class="form-control"
                    required>

                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label"> County:</label>
                  <input type="text" id="county" disabled [(ngModel)]="sumbitFacilityData.county" class="form-control"
                    required>

                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label"> Zip:</label>
                  <input type="text" id="zipCode" disabled [(ngModel)]="sumbitFacilityData.zipCode" class="form-control"
                    required>

                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Business Name :</label>
                  <input type="text" id="licenseName" disabled class="form-control"
                    [(ngModel)]="sumbitFacilityData.name" required>

                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">BusinessAddress :</label>
                  <input type="text" id="address" disabled [(ngModel)]="sumbitFacilityData.address" class="form-control"
                    required>

                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Business Phone:</label>
                  <input type="text" id="licenseName" disabled [(ngModel)]="sumbitFacilityData.bPhone"
                    class="form-control" required>

                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Business Email :</label>
                  <input type="text" [(ngModel)]="sumbitFacilityData.bEmail" disabled class="form-control" required>

                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Inspection Type:</label>
                  <input type="text" id="insp_type" disabled [(ngModel)]="sumbitFacilityData.insp_type"
                    class="form-control" required>

                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label">Mech Duty:</label>
                  <input type="text" [(ngModel)]="sumbitFacilityData.mech_duty" disabled class="form-control" required>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
</ng-template>

<div *ngIf="listLoader" class="loader-conteiner">
  <div class="listloader">
  </div>
</div>