<div class="row">
  <div class="col-md-12">
    <h4>Subscriptions</h4>
  </div>
</div>

<div class="col-sm-12">
  <div class="card">
  <div class="row card-body">


  <div class="main-body col table-responsive">
 <table class="table table-bordered" *ngIf="!noFlag">
<thead>
  <tr>
    <th>Zipcode</th>
    <th>Duration</th>
    <th>Qty</th>
    <th>Price</th>
    <th>Membership</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let key of subscribeData">
    <td>{{key.zipcode}}</td>
    <td>{{key.duration}}</td>
    <td>{{key.slots}}</td>
    <td>
    <span *ngIf="key.packageId == 3">{{key.slots * 25}}</span>
    <span *ngIf="key.packageId == 1">{{key.slots * 100}}</span>
    <span *ngIf="key.packageId == 2">{{key.slots * 50}}</span>


    </td>
    <td>
     <span *ngIf="key.packageId == 3">INC A/B</span>
     <span *ngIf="key.packageId == 1">Page 1</span>
     <span *ngIf="key.packageId == 2">Page 2</span></td>
  </tr>
</tbody>
 </table>
 <div *ngIf="noFlag">
   <h4>No Subscription Purchased.</h4>
 </div>
  </div>
  </div>
  </div>
  </div>
