<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-4 mb-3">
            <div class="search-container">
              <div class="input-group">
                <input type="text" class="form-control"  style="margin-right:10px;"
                  [(ngModel)]="searchText1" placeholder="Search" (keypress)="searchEnter($event)">
                  <span class="input-group-btn pt-2" >
                      <i class="fa fa-search" aria-hidden="true" title="search" (click)="page=1;FilterData()" ></i>
                  </span>
              </div>
            </div>
          </div>
          <div class="col-md-5 text-right mb-3">
            <button class="btn btn-info no-radius " type="button" style="margin-right:-15px;" *ngIf="!showFilterFlag"
              (click)="showFilter()">FILTERS</button>
            <button class="btn btn-info no-radius " type="button" style="margin-right:-15px;" *ngIf="showFilterFlag"
              (click)="hideFilter()">HIDE</button>
          </div>
          <div class="col-md-3 text-right mb-3">
            <div class="dropdown">
              <button [disabled]="mv1loader" type="button" class="btn btn-info no-radius dropdown-toggle" data-toggle="dropdown">
                <span *ngIf="!mv1loader">DOWNLOAD</span>
                <span *ngIf="mv1loader">DOWNLOADING <i class="fa fa-spinner fa-spin"></i> </span>
              </button>
              <div class="dropdown-menu" style="    border: 1px solid #7d8b92;
              border-radius: 0;">
                <a class="dropdown-item" (click)="downloadCSV('CSV')">CSV</a>
                <a class="dropdown-item" (click)="downloadCSV('XLS')">XLS</a>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="showFilterFlag">
          <form (ngSubmit)="searchText1='';page=1;FilterData()">
            <div class="row mb-20">
              <div class="col-md-2">
                <label>FNAME</label>
                <input class="form-control serachbox" type="text" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="fName" (keypress)="getFirstName()" (blur)="emptyName()" />
                <ul class="list-overflow dropdown-menu"
                  [ngClass]="{'dynamicheight':!fnamehide,'dnoneHeight':fnameData == '','hiden':fName == '' }"
                  style="display: block">
                  <li class="list" *ngIf="fnameData == ''"><a>No Data</a></li>
                  <li class="list" *ngFor="let k of fnameData" [ngClass]="{'none':fnameData == ''}"
                    (click)="changeFname(k)" [hidden]="fnamehide"> <a>{{k}}</a></li>
                </ul>
              </div>

              <div class="col-md-2">
                <label>ZIP</label>
                <input class="form-control serachbox" type="text" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="fZip" (keypress)="getZip()" (blur)="emptyZip()" />
                <ul class="list-overflow dropdown-menu"
                  [ngClass]="{'dynamicheight':!fZiphide,'dnoneHeight':fZipData == '','hiden':fZip == '' }"
                  style="display: block">
                  <li class="list" *ngIf="fZipData == ''"><a>No Data</a></li>
                  <li class="list" *ngFor="let k of fZipData" [ngClass]="{'none':fZipData == ''}" (click)="changeZip(k)"
                    [hidden]="fZiphide"> <a>{{k}}</a></li>
                </ul>
              </div>

              <div class="col-md-2">
                <label>EMAIL</label>
                <input class="form-control serachbox" type="text" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="fEmail" (keypress)="getEmail()" (blur)="emptyEmail()" />
                <ul class="list-overflow dropdown-menu"
                  [ngClass]="{'dynamicheight':!fEmailhide,'dnoneHeight':fEmailData == '','hiden':fEmail == '' }"
                  style="display: block">
                  <li class="list" *ngIf="fEmailData == ''"><a>No Data</a></li>
                  <li class="list" *ngFor="let k of fEmailData" [ngClass]="{'none':fEmailData == ''}"
                    (click)="changeEmail(k)" [hidden]="fEmailhide"> <a>{{k}}</a></li>
                </ul>
              </div>

              <div class="col-md-2">
                <label>PHONE</label>
                <input class="form-control serachbox" type="text" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="fPhone" (keypress)="getPhone()" (blur)="emptyPhone()" />
                <ul class="list-overflow dropdown-menu"
                  [ngClass]="{'dynamicheight':!fPhonehide,'dnoneHeight':fPhoneData == '','hiden':fPhone == '' }"
                  style="display: block">
                  <li class="list" *ngIf="fPhoneData == ''"><a>No Data</a></li>
                  <li class="list" *ngFor="let k of fPhoneData" [ngClass]="{'none':fPhoneData == ''}"
                    (click)="changePhone(k)" [hidden]="fPhonehide"> <a>{{k}}</a></li>
                </ul>
              </div>



              <div class="col-md-2">
                <label>V-YEAR</label>
                <input class="form-control serachbox" type="text" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="fvYear" (keypress)="getvYear()" (blur)="emptyYear()" />
                <ul class="list-overflow dropdown-menu"
                  [ngClass]="{'dynamicheight':!fvYearhide,'dnoneHeight':fvYearData == '','hiden':fvYear == '' }"
                  style="display: block">
                  <li class="list" *ngIf="fvYearData == ''"><a>No Data</a></li>
                  <li class="list" *ngFor="let k of fvYearData" [ngClass]="{'none':fvYearData == ''}"
                    (click)="changevYear(k)" [hidden]="fvYearhide"> <a>{{k}}</a></li>
                </ul>
              </div>


              <div class="col-md-2">
                <label>COUNTY</label>
                <input class="form-control serachbox" type="text" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="fCounty" (keypress)="getCounty()" (blur)="emptyCounty()" />
                <ul class="list-overflow dropdown-menu"
                  [ngClass]="{'dynamicheight':!fCountyhide,'dnoneHeight':fCountyData == '','hiden':fCounty == '' }"
                  style="display: block">
                  <li class="list" *ngIf="fCountyData == ''"><a>No Data</a></li>
                  <li class="list" *ngFor="let k of fCountyData" [ngClass]="{'none':fCountyData == ''}"
                    (click)="changeCounty(k)" [hidden]="fCountyhide"> <a>{{k}}</a></li>
                </ul>
              </div>
            </div>

            <div class="row mb-20">
              <div class="col-md-2">
                <label for="searctType">U-TYPE</label>
                <select class="form-control serachbox" name="searctType" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="searctType">
                  <option value="AGENT">AGENT</option>
                  <option value="FACILITY">FACILITY</option>
                  <option value="INSURANCE">INSURANCE</option>
                </select>
              </div>


              <div class="col-md-2">
                <label>Company</label>
                <input class="form-control serachbox" type="text" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="fCompany" (keypress)="getCompany()" />
                <ul class="list-overflow dropdown-menu"
                  [ngClass]="{'dynamicheight':!fCompanyhide,'dnoneHeight':fCompanyData == '','hiden':fCompany == '' }"
                  style="display: block">
                  <li class="list" *ngIf="fCompanyData == ''"><a>No Data</a></li>
                  <li class="list" *ngFor="let k of fCompanyData" [ngClass]="{'none':fCompanyData == ''}"
                    (click)="changeCompany(k)" [hidden]="fCompanyhide"> <a>{{k}}</a></li>
                </ul>
              </div>
              <div class="col-md-2">
                <label>P-DATE</label>
                <input type="date" class="form-control serachbox" name="searchedDate"
                  [ngModelOptions]="{standalone: true}" [(ngModel)]="searchedDate">
              </div>
              <div class="col-md-3">
                <label>FROM</label>
                <input type="date" class="form-control serachbox" name="startDate" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="startDate">
              </div>
              <div class="col-md-3">
                <label>TO</label>
                <input type="date" class="form-control serachbox" name="endDate" [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="endDate">
              </div>
            </div>

            <div class="row mb-20" *ngIf="showFilterFlag">
              <div class="col-md-2">
                <button class="btn btn-info btn-block no-radius" style="margin-top: 8px" type="submit">VIEW</button>
              </div>

              <div class="col-md-2">
                <button class="btn btn-info btn-block no-radius" style="margin-top: 8px" (click)="resetFilterData()"
                  type="button">RESET</button>
              </div>
            </div>
          </form>
        </div>



        <div class="row">
          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table table-bordered" style="border: 1px solid #dee2e6;">
                <thead>
                  <tr>
                    <th>DATE <i class="fa fa-sort-asc iconsize" *ngIf="!npnFlag"
                        (click)="sortNpn('asc','searchedDate')"></i>
                      <i class="fa fa-sort-desc iconsize" (click)="sortNpn('desc','searchedDate')" *ngIf="npnFlag"></i>
                    </th>
                    <th>UTYPE <i class="fa fa-sort-asc iconsize" *ngIf="!userTypeFlag"
                        (click)="sortNpn('asc','searchType')"></i>
                      <i class="fa fa-sort-desc iconsize" (click)="sortNpn('desc','searchType')"
                        *ngIf="userTypeFlag"></i></th>

                    <th>FNAME <i class="fa fa-sort-asc iconsize" *ngIf="!nameTypeFlag"
                        (click)="sortNpn('asc','name')"></i>
                      <i class="fa fa-sort-desc iconsize" (click)="sortNpn('desc','name')" *ngIf="nameTypeFlag"></i>
                    </th>
                    <th>ZIP <i class="fa fa-sort-asc iconsize" *ngIf="!zipFlag" (click)="sortNpn('asc','zip')"></i>
                      <i class="fa fa-sort-desc iconsize" (click)="sortNpn('desc','zip')" *ngIf="zipFlag"></i></th>
                    
                    <th>EMAIL</th>

                    
                    <th>PHONE</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let u of userData  ">
                    <td>{{u.searchedDate | date:'MM/dd/yy'}}</td>
                    <td>
                      <span *ngIf="u.searchType != 'INSURANCE'">{{u.searchType}}</span>
                      <span *ngIf="u.searchType == 'INSURANCE'">POI</span>
                    </td>
                    <td>{{u.fullName | titlecase}}</td>
                    <td>{{u.zip}}</td>
                    
                    <td>{{u.email}}</td>
                  
                    <td>{{u.phone}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-md-12">
           
          </div>
          <div class="col-md-12">
            <ngb-pagination *ngIf="userData.length && totalPages!=1" [maxSize]="5" [boundaryLinks]="true"
              [rotate]="false" [collectionSize]="totalElements" [pageSize]="50" (pageChange)="pageChanged($event)"
              [(page)]="page"></ngb-pagination>
          </div>
          <div class="col-md-12 text-center" *ngIf="!userData.length">
            <h5>No Data Available</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="listLoader" class="loader-conteiner">
  <div class="listloader">
  </div>
</div>