<div id="modal" class="modalContainer signBg" [style.width]="'100%'">
  <div class="container-fluid p-0 fwh">

    <div class="modalContentContainer fwh" style="position: relative">
      <div class="modal-Contentbody" style="position: absolute;
            width: 500px;
            height:400px;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;">

        <div class="row match-height">
          <div class="col-md-12">
            <div class="card" style="background:none">
              <div class="card-body">
                <div class="px-0">
                  <div class="col-lg-12 " style="color:white">
                    <div [ngSwitch]="isActivated">
                      <div *ngSwitchCase="'success'">
                        <div class="logo clearfix text-center mb-2">
                          <a class="logo-text ">
                            <div class="logo-img">
                              <i class="fa fa-2x fa-unlock" style="color: #5087b7;"></i>
                            </div>
                          </a>
                        </div>
                        <div class="text-center font-lego f-30 mt-30 py-3"> User Activated Successfully
                        </div>
                      </div>
                      <div *ngSwitchCase="'pending'">
                          <div class="logo clearfix text-center mb-2">
                            <a class="logo-text ">
                              <div class="logo-img">
                                <i class="fa fa-2x fa-unlock" style="color: orange;"></i>
                              </div>
                            </a>
                          </div>
                          <div class="text-center font-lego f-30 mt-30 py-3">Processing User Activation  ...
                          </div>
                        </div>
                        <div *ngSwitchDefault>
                            <div class="logo clearfix text-center mb-2">
                              <a class="logo-text ">
                                <div class="logo-img">
                                  <i class="fa fa-2x fa-unlock" style="color: red;"></i>
                                </div>
                              </a>
                            </div>
                            <div class="text-center font-lego f-30 mt-30 py-3"> User Activativation Failed
                            </div>
                          </div>
                      <div class="row">
                        <div class="col-md-12" style="margin-bottom:10px">
                          <div class="form-group mb-0 text-center">
                            <button type="button" style="width:275px;margin-top:5px" [routerLink]="['/home']" class="text-bold-700 sh col-md-12 btn btn-light btn-raised btnc btnc">Login</button>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
