.center {
    float: center;
}

.black {
    color: black;
}

.modalContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    overflow: hidden;
    transition: 0.5s;
}

.background-image {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.closeIcon i {
    font-size: 36px;
    color: #000;
}

.fwh {
    height: 100%;
    width: 100%;
}

.fw {
    width: 100%;
}

.fh {
    height: 100%;
}

.closeIconContainer {
    position: relative;
}

.closeIcon {
    position: absolute;
    right: 45px;
    top: 45px;
}

.signBg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.fyo-Bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.bp-Bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.forgotPass {
    text-decoration: none;
}

.forgotPass:hover {
    text-decoration: underline;
}

.font-lego {
    font-family: sans-serif;
    color: #5087b7;
}

.f-55 {
    font-size: 55px;
}

.f-50 {
    font-size: 50px;
}

.f-45 {
    font-size: 45px;
}

.f-45 {
    font-size: 45px;
}

.f-15 {
    font-size: 15px;
}

.f-20 {
    font-size: 20px;
}

.f-18 {
    font-size: 18px;
}

.f-25 {
    font-size: 25px;
}

.f-30 {
    font-size: 30px;
}

.f-40 {
    font-size: 40px;
}

.topHeaderSection {
    height: 100%;
    width: 100%;
}

.ih {
    height: inherit;
}

.sw {
    width: 335px;
}

.sh {
    height: 55px;
}
