<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="donation">
            <h2><span jhiTranslate="sspDcApp.donation.detail.title">Donation</span> {{donation.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="sspDcApp.donation.amount">Amount</span></dt>
                <dd>
                    <span>{{donation.amount}}</span>
                </dd>
                <dt><span jhiTranslate="sspDcApp.donation.txnId">Txn Id</span></dt>
                <dd>
                    <span>{{donation.txnId}}</span>
                </dd>
                <dt><span jhiTranslate="sspDcApp.donation.orderId">Order Id</span></dt>
                <dd>
                    <span>{{donation.orderId}}</span>
                </dd>
                <dt><span jhiTranslate="sspDcApp.donation.status">Status</span></dt>
                <dd>
                    <span jhiTranslate="{{'sspDcApp.PayStatus.' + donation.status}}">{{donation.status}}</span>
                </dd>
                <dt><span jhiTranslate="sspDcApp.donation.gatewayResp">Gateway Resp</span></dt>
                <dd>
                    <span>{{donation.gatewayResp}}</span>
                </dd>
                <dt><span jhiTranslate="sspDcApp.donation.donee">Donee</span></dt>
                <dd>
                    <span>{{donation.donee}}</span>
                </dd>
                <dt><span jhiTranslate="sspDcApp.donation.schoolId">School Id</span></dt>
                <dd>
                    <span>{{donation.schoolId}}</span>
                </dd>
                <dt><span jhiTranslate="sspDcApp.donation.createdAt">Created At</span></dt>
                <dd>
                    <span>{{donation.createdAt}}</span>
                </dd>
                <dt><span jhiTranslate="sspDcApp.donation.updatedAt">Updated At</span></dt>
                <dd>
                    <span>{{donation.updatedAt}}</span>
                </dd>
                <dt><span jhiTranslate="sspDcApp.donation.isDeleted">Is Deleted</span></dt>
                <dd>
                    <span>{{donation.isDeleted}}</span>
                </dd>
                <dt><span jhiTranslate="sspDcApp.donation.profile">Profile</span></dt>
                <dd>
                    <div *ngIf="donation.profileId">
                        <a [routerLink]="['/profile-mv', donation.profileId, 'view']">{{donation.profileId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/donation-mv', donation.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
