<div>
    <h2 id="page-heading">
        <span jhiTranslate="sspDcApp.donation.home.title">Donations</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-donation-mv" [routerLink]="['/donation-mv/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="sspDcApp.donation.home.createLabel">
            Create new Donation
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="donations">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="sspDcApp.donation.amount">Amount</span></th>
            <th><span jhiTranslate="sspDcApp.donation.txnId">Txn Id</span></th>
            <th><span jhiTranslate="sspDcApp.donation.orderId">Order Id</span></th>
            <th><span jhiTranslate="sspDcApp.donation.status">Status</span></th>
            <th><span jhiTranslate="sspDcApp.donation.gatewayResp">Gateway Resp</span></th>
            <th><span jhiTranslate="sspDcApp.donation.donee">Donee</span></th>
            <th><span jhiTranslate="sspDcApp.donation.schoolId">School Id</span></th>
            <th><span jhiTranslate="sspDcApp.donation.createdAt">Created At</span></th>
            <th><span jhiTranslate="sspDcApp.donation.updatedAt">Updated At</span></th>
            <th><span jhiTranslate="sspDcApp.donation.isDeleted">Is Deleted</span></th>
            <th><span jhiTranslate="sspDcApp.donation.profile">Profile</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let donation of donations ;trackBy: trackId">
                <td><a [routerLink]="['/donation-mv', donation.id, 'view' ]">{{donation.id}}</a></td>
                <td>{{donation.amount}}</td>
                <td>{{donation.txnId}}</td>
                <td>{{donation.orderId}}</td>
                <td jhiTranslate="{{'sspDcApp.PayStatus.' + donation.status}}">{{donation.status}}</td>
                <td>{{donation.gatewayResp}}</td>
                <td>{{donation.donee}}</td>
                <td>{{donation.schoolId}}</td>
                <td>{{donation.createdAt | date:'medium'}}</td>
                <td>{{donation.updatedAt | date:'medium'}}</td>
                <td>{{donation.isDeleted}}</td>
                <td>
                    <div *ngIf="donation.profileId">
                        <a [routerLink]="['../profile-mv', donation.profileId , 'view' ]" >{{donation.profileId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/donation-mv', donation.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/donation-mv', donation.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'donation-mv/'+ donation.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
