<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-donation-mv-heading" jhiTranslate="sspDcApp.donation.home.createOrEditLabel">Create or edit a Donation</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!donation.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="donation.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sspDcApp.donation.amount" for="field_amount">Amount</label>
                    <input type="number" class="form-control" name="amount" id="field_amount"
                        [(ngModel)]="donation.amount" required/>
                    <div [hidden]="!(editForm.controls.amount?.dirty && editForm.controls.amount?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.amount?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.amount?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sspDcApp.donation.txnId" for="field_txnId">Txn Id</label>
                    <input type="text" class="form-control" name="txnId" id="field_txnId"
                        [(ngModel)]="donation.txnId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sspDcApp.donation.orderId" for="field_orderId">Order Id</label>
                    <input type="text" class="form-control" name="orderId" id="field_orderId"
                        [(ngModel)]="donation.orderId" required/>
                    <div [hidden]="!(editForm.controls.orderId?.dirty && editForm.controls.orderId?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.orderId?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sspDcApp.donation.status" for="field_status">Status</label>
                    <select class="form-control" name="status" [(ngModel)]="donation.status" id="field_status"  required>
                        <option value="INITIATED">{{'sspDcApp.PayStatus.INITIATED' | translate}}</option>
                        <option value="SUCCESS">{{'sspDcApp.PayStatus.SUCCESS' | translate}}</option>
                        <option value="FAILURE">{{'sspDcApp.PayStatus.FAILURE' | translate}}</option>
                        <option value="AWAITED">{{'sspDcApp.PayStatus.AWAITED' | translate}}</option>
                    </select>
                    <div [hidden]="!(editForm.controls.status?.dirty && editForm.controls.status?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.status?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sspDcApp.donation.gatewayResp" for="field_gatewayResp">Gateway Resp</label>
                    <input type="text" class="form-control" name="gatewayResp" id="field_gatewayResp"
                        [(ngModel)]="donation.gatewayResp" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sspDcApp.donation.donee" for="field_donee">Donee</label>
                    <input type="text" class="form-control" name="donee" id="field_donee"
                        [(ngModel)]="donation.donee" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sspDcApp.donation.schoolId" for="field_schoolId">School Id</label>
                    <input type="number" class="form-control" name="schoolId" id="field_schoolId"
                        [(ngModel)]="donation.schoolId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sspDcApp.donation.createdAt" for="field_createdAt">Created At</label>
                    <div class="d-flex">
                        <input id="field_createdAt" type="datetime-local" class="form-control" name="createdAt" [(ngModel)]="createdAt"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sspDcApp.donation.updatedAt" for="field_updatedAt">Updated At</label>
                    <div class="d-flex">
                        <input id="field_updatedAt" type="datetime-local" class="form-control" name="updatedAt" [(ngModel)]="updatedAt"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sspDcApp.donation.isDeleted" for="field_isDeleted">Is Deleted</label>
                    <input type="checkbox" class="form-control" name="isDeleted" id="field_isDeleted"
                        [(ngModel)]="donation.isDeleted" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sspDcApp.donation.profile" for="field_profile">Profile</label>
                    <select class="form-control" id="field_profile" name="profile" [(ngModel)]="donation.profileId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="profileOption.id" *ngFor="let profileOption of profiles; trackBy: trackProfileById">{{profileOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
