.logo-height {
    max-height: 80px;
    margin-left: 10px;
}

.btn-selected{
    background-color: green !important;
    color: white !important;
}

.login-button {
    border: none;
    background-color: blue;
    color: white;
    border-radius: 4px;
}

.navbar-toggler-icon{
    color: black;
}

.navbar-light .navbar-nav .nav-link{
    color:white !important;
}

