<div class="container" id="non-printable">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-light navbar-expand-lg">
                <a class="navbar-brand" href="javascript:void(0)">
                    <p style="margin-bottom: 1px;" *ngIf="showSponseredTitle">Sponsored by</p>
                    <img class="logo-height" [width]='logoWidth' [height]='logoHeight' [src]="imageUrl" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mt-10">
                        <li class="nav-item">
                            <a class="nav-link login-button" [ngClass]="getActiveButton('give')" [routerLink]="['/give']">
                                <i class="fa fa-home"></i> HOME</a>
                        </li>
                        <li class="nav-item" *ngIf="showBackButton">
                            <a class="nav-link login-button" href="#">
                                <i class="fa fa-reply"></i> BACK</a>
                        </li>
                        <li class="nav-item" *ngIf="showDiscountsButton">
                            <a class="nav-link login-button" [ngClass]="getActiveButton('businesses')" [routerLink]="['/businesses']">
                                DISCOUNTS </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>