<div>
    <h2 id="page-heading">
        <span jhiTranslate="iaaApp.city.home.title">Cities</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-city-mv" [routerLink]="['/city-mv/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="iaaApp.city.home.createLabel">
            Create new City
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="cities">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="iaaApp.city.name">Name</span></th>
            <th><span jhiTranslate="iaaApp.city.cityCode">City Code</span></th>
            <th><span jhiTranslate="iaaApp.city.stateCode">State Code</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let city of cities ;trackBy: trackId">
                <td><a [routerLink]="['/city-mv', city.id, 'view' ]">{{city.id}}</a></td>
                <td>{{city.name}}</td>
                <td>{{city.cityCode}}</td>
                <td>{{city.stateCode}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/city-mv', city.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/city-mv', city.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'city-mv/'+ city.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
