
:host /deep/ .completer-input {
    border-right: none !important;
    height: 44px !important;
  }
 
:host  /deep/ .completer-dropdown {
    width: 84% !important;
    background-color: #e1e1e1 !important;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 125px;
}

:host  /deep/ .completer-row {
    padding: 0px !important;
    margin: 0px !important;
    color: black;
    clear: both;
    display: inline-block;
    width: 90%;
    text-align: left;
}

 .completer-limit{
    width:77%;
}

.dropdown {
    border: 1px solid #e1e1e1; 
    border-left: none; 
    border-radius: 0 2px 1px 0;
}

.no-dropdown {
   display:none;
}


