<div class="form-group row">
    <div class="pr-0 border-right-1 with-chevron completer-limit">
        <ng2-completer #autocomplete [selectOnClick]="true" [fillHighlighted]="false" [openOnFocus]='true' [datasource]="dataService" [minSearchLength]="0"
            [placeholder]="title" (selected)="itemSelected($event)" [inputClass]="'form-control'" class="completer-limit" (focus)="onToggle(true)"
            (blur)="onToggle(false)"></ng2-completer>
    </div>
    <div [ngClass]="dropdownCss">
        <div class="chevron-holder">
            <span class="chevron fa" [ngClass]="{'fa-chevron-down': !isOpen, 'fa-chevron-up': isOpen}" (click)="showDropdown()" style="padding: 11px 5px;"></span>
        </div>
    </div>

</div>