<div class="container-fluid">
  <div class="wrapper">
    <div class="h-80">

      <h2>Cart menu</h2>


      <div class="card-body">
        <div class="row">
          <div class="col-md-6 box-line card border-none">
            <div class="row">
            </div>
            <div class="row show-margin" *ngIf="showZipFlag">
              <div class="col-md-5 mb-15">
                <div class="dropdown">
                  <input type="text" id="zip" class="form-control" style="border-radius: 0" [(ngModel)]="zipcode"
                    placeholder="Search Zipcode">

                </div>

              </div>
              <div class="col-md-5 mb-15">
                <button class="btn btn-info btn-block" style="border-radius: 0;
                      padding-bottom: 5px;" id="btn" type="submit" (click)="getZip()">SHOW</button>
              </div>
              <div class="col-md-2 mb-15"></div>

            </div>
            <div class="row cart-menu">
              <div class="col-md-12">
                <h4 *ngIf="nodataFlag">No Data Found</h4>
                <div>
                  <table class="table table-bordered" *ngIf="dataFound">
                    <thead>
                      <tr>
                        <th>{{newZipcode}}</th>
                        <th>Available</th>
                        <th>Listing</th>
                        <th>Price</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let key of slotList;let i = index" [hidden]="key.rank =='THREE'">
                        <td style="width: 40%;">
                          <span *ngIf="key.rank == 'ONE'"> Page 1</span>
                          <span *ngIf="key.rank == 'TWO'"> Page 2</span>
                          ${{key.price}}</td>
                        <td>{{key.slot}}</td>
                        <td>


                          <input placeholder="0" [hidden]="key.rank != 'ONE'" type="number"
                            class="form-control btn-border " [ngClass]="{'error-border':key.newSlotsFlag}"
                            id="cartPrice" min="0" max="1" [(ngModel)]="key.newSlots" #newSlots
                            (change)="checkPurchaseSlot(key.slot,key.newSlots,i,key)" />
                          <input placeholder="0" [hidden]="key.rank != 'TWO'" type="number"
                            class="form-control btn-border " [ngClass]="{'error-border':key.newSlotsFlag}"
                            id="cartPrice" min="0" max="1" [(ngModel)]="key.newSlots" #newSlots
                            (change)="checkPurchaseSlot(key.slot,key.newSlots,i,key)" />
                          <label *ngIf="key.newSlotsFlag && key.rank == 'ONE'" class="limit-slots">Max Limit 1</label>
                          <label *ngIf="key.newSlotsFlag && key.rank == 'TWO'" class="limit-slots">Max Limit 1</label>
                        </td>
                        <td>
                          <span *ngIf="key.rank == 'ONE' && key.newSlots > 0">
                            <span *ngIf="agentData <= 0">${{key.newSlots * 100}}</span>
                            <span *ngIf="agentData <= 3 && agentData > 0">${{key.newSlots * 300}}</span>
                            <span *ngIf="agentData == 4 || agentData == 5 && agentData > 0">${{key.newSlots * 400}}</span>
                          </span>
                          <span *ngIf="key.rank == 'TWO' && key.newSlots > 0">
                            <span *ngIf="agentData <= 0"> ${{key.newSlots * 50}}</span>
                            <span *ngIf="agentData <= 3 && agentData > 0"> ${{key.newSlots * 150}}</span>
                            <span *ngIf="agentData == 4 || agentData == 5 && agentData > 0"> ${{key.newSlots * 200}}</span>
                          </span>
                        </td>
                        <td>
                          <button class="btn btn-info btn-border" (click)="addToCart(key)"
                            [disabled]="key.newSlotsFlag || newSlots.value == 0">Add</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 card border-none">

            <div class="card-header bg-transparent">
              <h6 class="mb-0">
                <b>MY CART</b>
              </h6>
            </div>
            <div class="card-body table-responsive">
              <h4 *ngIf="cartEmptyFlag">Cart is empty</h4>
              <table class="table table-bordered" *ngIf="!cartEmptyFlag">
                <thead>
                  <tr>
                    <th>TYPE</th>
                    <th>ITEM</th>
                    <th>YEARLY PRICE</th>
                    <th>QTY</th>
                    <th>TOTAL</th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let i of cartInfo">
                    <td>
                      <span *ngIf="i.rank != 'THREE'" class="pl-2">Zip {{i.zip}}</span>
                      <span *ngIf="i.rank == 'THREE'" class="premiumn">Membership</span>
                    </td>
                    <td>
                      <span *ngIf="i.rank == 'THREE'" class="premiumn">INC A/B Member</span>
                      <span *ngIf="i.rank == 'ONE'"> Page 1 Listings</span>
                      <span *ngIf="i.rank == 'TWO'"> Page 2 Listings</span>
                    </td>
                    <td>
                      <span *ngIf="i.rank == 'ONE'">
                       <span *ngIf="agentData <= 0"> $100</span>  
                       <span *ngIf="agentData <= 3 && agentData > 0"> $300</span>  
                       <span *ngIf="agentData == 4 || agentData == 5 && agentData > 0"> $400</span>  
                        </span>
                      <span *ngIf="i.rank == 'TWO'">
                       <span *ngIf="agentData <= 0"> $50</span>  
                       <span *ngIf="agentData <= 3 && agentData > 0"> $150</span>  
                       <span *ngIf="agentData == 4 || agentData == 5 && agentData > 0"> $200</span>
                      </span>
                      <span *ngIf="i.rank == 'THREE'" class="premiumn"> $25</span>
                    </td>
                    <td>
                      <span class="premiumn" *ngIf="i.rank == 'THREE'">{{i.slots}}</span>
                      <span *ngIf="i.rank != 'THREE'">{{i.slots}}</span>
                    </td>
                    <td>
                      <span *ngIf="i.rank == 'ONE'">
                        
                         <span *ngIf="agentData <= 0">  ${{i.slots * 100}}</span>  
                         <span *ngIf="agentData <= 3 && agentData> 0"> ${{i.slots * 300}}</span>  
                         <span *ngIf="agentData == 4 || agentData == 5 && agentData > 0"> ${{i.slots * 400}}</span>
                        </span>
                      <span *ngIf="i.rank == 'TWO'">
                          <span *ngIf="agentData <= 0"> ${{i.slots * 50}}</span>  
                          <span *ngIf="agentData <= 3 && agentData > 0">  ${{i.slots * 150}}</span>  
                          <span *ngIf="agentData == 4 || agentData == 5 && agentData > 0"> ${{i.slots * 200}}</span>
                       
                      </span>
                      <span *ngIf="i.rank == 'THREE'" class="premiumn"> ${{i.slots * 25}}</span> </td>
                    <td *ngIf="i.rank != 'THREE'">
                      <button class="btn btn-danger btn-delete" (click)="removeCart(i)">
                        <i class="fa fa-trash" style="cursor:pointer;"></i>
                      </button>

                    </td>
                  </tr>

                </tbody>
              </table>
              <table class="table table-bordered" *ngIf="!cartEmptyFlag">
                <tbody>
                  <tr>
                    <td style="width: 73%">Total</td>
                    <!-- <td>${{total}}</td> -->
                    <td>${{totalAmount}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="card-footer bg-transparent text-right">
              <div class="row col-sm-12 col-md-12 border-grey py-2 ml-0 ">

                <button class="btn order btn btn-info  col-md-4 col-sm-12 mb-2 place-btn" *ngIf="!isAdmin"
                  [disabled]=" emptycartFlag" (click)="placeOrder()">BUY</button>
                <button class="btn order btn btn-info  col-md-4 col-sm-12 mb-2 place-btn" *ngIf="isAdmin"
                  [disabled]="emptycartFlag" (click)="placeOrder()">PROCCED</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Update Cart</h4>

  </div>
  <div class="modal-body">
    <div class="row">

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>TYPE</th>

            <th>YEARLY PRICE</th>
            <th>QTY</th>
          </tr>
        </thead>
        <tbody *ngFor="let p of editModalData;let k = index">
          <tr>

            <td>{{p.zip}}</td>

            <td>

              <span *ngIf="p.rank == 'ONE'">$100</span>
              <span *ngIf="p.rank == 'TWO'">$50</span>

            </td>
            <td>
              <input placeholder="0" type="number" max="3" class="form-control btn-border" id="cartPrice" min="0"
                [(ngModel)]="p.slots" (change)="checkEditCart(p.slots,k,p)" />
              <label *ngIf="key.newSlotsFlag" class="limit-slots">Max Limit 3</label>

            </td>

          </tr>
          <tr>
            <td><button type="button" class="btn btn-info" (click)="updateCart(c,p)">Update</button>
            </td>
          </tr>

        </tbody>
      </table>

    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="close(d)">Close</button>
  </div>
</ng-template>

<div *ngIf="listLoader" class="loader-conteiner">
  <div class="listloader">
  </div>
</div>