.pricing-table .card-footer {
    border: none;
    padding: 0.85rem 1.25rem;
}
.card-footer {
    border-top: 0px solid !important;
}
.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: white;
    border-bottom: none;
}
.card {
    border: 1px solid grey;
}
.unit {
    font-size: 21px;
    font-weight: 500;
    line-height: 1;
    top: -47px;
    position: relative;
    margin-right: 3px;
    color: black;
}
.cart-menu {
    margin-top: 10px;
}
.btn-border {
    border-radius: 0;
}
.show-margin {
    margin-top: 25px;
}
.border-none {
    border: 0px;
}
.order {
    background-color: white;
    font-size: 16 px;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0px 1px 3px 0 grey;
    outline: none;
    letter-spacing: -0.3px;
}

.order:hover {
    background-color: #1976d2;
    color: white;
    /* border: 1px solid rgb(219, 219, 219); */
    box-shadow: 0px 0px 0px 0 grey;
}
.place-btn {
    background-color: #1976d2;
    color: #ffffff;
    border: 0px;
}
.btn-delete {
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.premiumn {
    color: blue;
}
.mb-15 {
    margin-bottom: 15px;
}
.lb-pre {
    padding-top: 7px;
}
.card-body {
    padding: 0;
}
.container-fluid {
    padding: 0;
}
.box-line {
    border-right: 1px solid #d2cfcf;
}
.error-border{
    border-color:red !important
}
.limit-slots{
    font-size: 10px;
    color: red;
}