<div>
    <h2 id="page-heading">
        <span jhiTranslate="sspDcApp.paymentGateway.home.title">Payment Gateways</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-payment-gateway-mv" [routerLink]="['/payment-gateway-mv/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="sspDcApp.paymentGateway.home.createLabel">
            Create new Payment Gateway
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="paymentGateways">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="sspDcApp.paymentGateway.name">Name</span></th>
            <th><span jhiTranslate="sspDcApp.paymentGateway.desc">Desc</span></th>
            <th><span jhiTranslate="sspDcApp.paymentGateway.createdAt">Created At</span></th>
            <th><span jhiTranslate="sspDcApp.paymentGateway.updatedAt">Updated At</span></th>
            <th><span jhiTranslate="sspDcApp.paymentGateway.isActive">Is Active</span></th>
            <th><span jhiTranslate="sspDcApp.paymentGateway.isDeleted">Is Deleted</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let paymentGateway of paymentGateways ;trackBy: trackId">
                <td><a [routerLink]="['/payment-gateway-mv', paymentGateway.id, 'view' ]">{{paymentGateway.id}}</a></td>
                <td>{{paymentGateway.name}}</td>
                <td>{{paymentGateway.desc}}</td>
                <td>{{paymentGateway.createdAt | date:'medium'}}</td>
                <td>{{paymentGateway.updatedAt | date:'medium'}}</td>
                <td>{{paymentGateway.isActive}}</td>
                <td>{{paymentGateway.isDeleted}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/payment-gateway-mv', paymentGateway.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/payment-gateway-mv', paymentGateway.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'payment-gateway-mv/'+ paymentGateway.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
