<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="paymentGateway">
            <h2><span jhiTranslate="sspDcApp.paymentGateway.detail.title">Payment Gateway</span> {{paymentGateway.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="sspDcApp.paymentGateway.name">Name</span></dt>
                <dd>
                    <span>{{paymentGateway.name}}</span>
                </dd>
                <dt><span jhiTranslate="sspDcApp.paymentGateway.desc">Desc</span></dt>
                <dd>
                    <span>{{paymentGateway.desc}}</span>
                </dd>
                <dt><span jhiTranslate="sspDcApp.paymentGateway.createdAt">Created At</span></dt>
                <dd>
                    <span>{{paymentGateway.createdAt}}</span>
                </dd>
                <dt><span jhiTranslate="sspDcApp.paymentGateway.updatedAt">Updated At</span></dt>
                <dd>
                    <span>{{paymentGateway.updatedAt}}</span>
                </dd>
                <dt><span jhiTranslate="sspDcApp.paymentGateway.isActive">Is Active</span></dt>
                <dd>
                    <span>{{paymentGateway.isActive}}</span>
                </dd>
                <dt><span jhiTranslate="sspDcApp.paymentGateway.isDeleted">Is Deleted</span></dt>
                <dd>
                    <span>{{paymentGateway.isDeleted}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/payment-gateway-mv', paymentGateway.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
