<div class="div">
  <nav class="navbar navbar-expand-sm fixed-top navbar-light">
    <div class="container-fluid new-container">

      <a class="navbar-brand" href="#">
        <img class="img-box" src="assets/logo/logonew.jpg"></a>
      <div class="dropdown">
        <button type="button" class="btn btn-gray-dark dropdown-toggle hambuger-btn" data-toggle="dropdown">
          <i class="fa fa-bars"></i>
        </button>
        <div class="dropdown-menu" style="left:-117px">
          <a class="dropdown-item mouse menu-left" *ngIf="isLoggedIn" (click)="navigateProfile()">
            <img [src]=logoImage class="logoImageh"> {{loginUser | titlecase}}
          </a>
          <a class="dropdown-item menu-left" [routerLink]="['/agent-profile/login']" *ngIf="!isLoggedIn"> <img [src]=logoImage class="logoImageh">

            <span> Sign In</span><br>
            <span style="padding-left: 38px;">Agents/Facilities</span>
          </a>
          <a class="dropdown-item menu-left" (click)="openHelpPopup()"> <img [src]=logoImage class="logoImageh">

            Help
          </a>
          <a class="dropdown-item menu-left" href="https://www.schoolsafetyprogram.org" target="_blank"> <img [src]=logoImage class="logoImageh">

            School Safety
          </a>
          <a class="dropdown-item menu-left" [routerLink]="['/aboutus']"> <img [src]=logoImage class="logoImageh">

            About Us
          </a>
          <a class="dropdown-item menu-left" (click)="terms()"> <img [src]=logoImage class="logoImageh">

            Terms of Service
          </a>
          <a *ngIf="isLoggedIn" href="#" class="dropdown-item menu-left" (click)="logout()"> <img [src]=logoImage class="logoImageh">

            Logout
          </a>
        </div>
      </div>
    </div>
  </nav>
</div>


<div class="container mt-90 card">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <h3 class="font-s"><strong> Mission Statement </strong></h3>

          <p>MV1Stop is an insurance service platform used by customers at DMVs, License Plate Agencies, Dealerships,
          </p>
          <p>and Independent Vehicle Sales locations.  MV1Stop provides customers<b> FREE </b>access to: real-time local
          </p>
          <p>vehicle insurance agents and their Companies to get insurance; proof of insurance; and/or get information
            for</p>
          <p>certified inspection locations.</p>
          <p>MV1Stop provides <b>"Get It Now"</b> service to customers for <b>best value</b>  in
            price, service, and/or availability in </p>
          <p> compliance with Division of Motor Vehicle and Department of Insurance.</p>
          <hr>
          <p>When a consumer wants to obtain or renew a vehicle registration, they need 3 things:</p>
          <ul>
            <li>
              <p>Proof of Insurance</p>
            </li>
            <li>
              <p>Current Insurance</p>
            </li>
            <li>
              <p>Vehicle Inspection</p>
            </li>
          </ul>
          <p>MV1Stop's portals allow the consumer the ability to obtain the proper documentation in "Get It Now!" timing
            so
            they </p>
          <p>can move on with their busy lives. </p>
          <p>In addition, should the consumer choose to participate in the MV1Stop Membership Program:</p>
          <ul>
            <li>
              <p>Consumers can access discounts on various services for their vehicles and to any of the participating
                service </p>
              <p> providers that their vehicle can convey them.</p>
            </li>
            <li>
              <p> A part of the annual membership fee will go to support the School Safety Program in their local
                region.</p>
            </li>
            <li>
              <p> MV1Stop is a proud sponsor of the School Safety Program throughout the US.</p>
            </li>
          </ul>
          <h3 class="font-s text-center mt-30"><strong>Our Executive Team </strong></h3>
        </div>
      </div>
      <div class="row mb-20">
        <div class="col-md-12">
          <h3 class="color text-center colr"><strong> Kevin E. Bickford </strong></h3>
          <h5 class="color text-center"><strong>VP Business Development</strong></h5>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <img src="assets/aboutus/Kevin Picture.png" style="height: 145px;">
        </div>
        <div class="col-md-9">


          <p>Kevin is Retired Army Aviation with 21 years of service. </p>
          <p>He attended University of Maryland and Embry-Riddle Aeronautical University. OSHA Certified.
          </p>
          <p>He has 14 years of Licensed Insurance Experience and currently holds the following Insurance licenses:</p>
        </div>
        <div class="col-md-12">
          <p>Property & Casualty</p>
          <p>Life</p>
          <p>He is an active member of the Masonic Lodge #258 in Fuquay-Varina, NC.</p>
          <p>He has served in several community positions:</p>
          <p>Previous Ambassador with the Cary Chamber of Commerce</p>
          <p>Past president of Southern Wake Optimist Club.</p>
          <p>He enjoys Nascar, golf, horseback riding, skiing, hockey and soccer.</p>

        </div>
      </div>
      <div class="row mb-20">
        <div class="col-md-12">
          <h3 class="color text-center  mt-30-t colr"><strong>David A. Kauwe CLU ChFC LUTCF</strong></h3>
          <h5 class="color text-center"><strong>VP Training and Administration Operations</strong></h5>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <img src="assets/aboutus/Consultus Pic DAK.png" style="height: 145px;">
        </div>
        <div class="col-md-9">

          <p>David comes to us with over 38 years of Licensed Insurance Experience. He has spent the majority of his
            career
            in Sales Training and Management with 3 major insurance industry companies. </p>
          <p>He has focused his education in the
            area of Estate and Financial Planning for his customers dealing specifically in the areas of Trust Planning.
          </p>
        </div>
        <div class="col-md-12">
          <p style="margin-top: 20px;">
            He has authored 6 E-Books dealing in all areas of Insurance, Financial and Estate Planning. He currently
            holds the
            following Insurance licenses: </p>

          <ul>
            <li>
              <p>Accident Health or Sickness</p>
            </li>
            <li>
              <p>Life</p>
            </li>
            <li>
              <p>Medicare Supplement & Long Term Care</p>
            </li>
          </ul>
          <p>He earned his Chartered Life Underwriter and Chartered Financial Consultant Designations in 1989 from the
          </p>
          <p> American College in Bryn Mawr, Pennsylvania.</p>
          <p>
            He earned his Life Underwriter Training Council Fellow Designation also in 1989 after four years of study
            with
            the</p>
          <p> National Association of Life Underwriters. </p>
        </div>
      </div>
      <div class="row mb-20">
        <div class="col-md-12">
          <h3 class="color text-center  mt-30-t colr"><strong> Scott Dickinson</strong></h3>
          <h5 class="color text-center"><strong>Regional Sales Director</strong></h5>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <img src="assets/aboutus/r.png" style="height: 145px;">
        </div>
        <div class="col-md-9">


          <p class="line-space">As a Certified Inside Sales Professional (CISP) &amp; Insurance sales veteran of over
            32 years, Scott has always believed in focusing his career around building
            relationships. He truly believes in the products he represents and has the desire
            and integrity to find the right fit for each and every client he encounters.
          </p>
        </div>
        <div class="col-md-12">
          <p class="line-space">Scott maintained over 20 years of top line insurance sales awards with Reserve
            National, a division of Kemper Insurance Companies. To achieve this honor,
            he was continually in the top 25 agents in the company across the nation. This
            record earned him a position in management with the same company for the
            remainder of his career with Kemper. While in the management division for
            Reserve National, Scott’s agency was often #1 in Life Insurance sales, as well
            as recruiting not only in the Southeast Region but companywide.</p>
          <p class="line-space">Scott was born in The “Tall Corn State” of Iowa. He prides himself on bringing
            his Mid-western values to all he does. He enjoys spending time with his family,
            playing and teaching saxophone. Scott has recently ventured into teaching ESL
            to Mandarin students online, learning Swedish, volunteering for Habitat for
            Humanity and meeting new people.</p>

        </div>
      </div>

      <div class="row mb-20">
        <div class="col-md-12">
          <h3 class="color text-center  mt-30-t colr"><strong> Brian V. Barber CLTC LUTCF MA U.S.A. (Ret)</strong></h3>
          <h5 class="color text-center"><strong>Founder & General Manager</strong></h5>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <img src="assets/aboutus/Brianpic.png" style="height: 145px;">
        </div>
        <div class="col-md-9">


          <p>Brian has over 20+ years experience in the insurance profession.</p>
          <p>He owned a Nationwide Agency with several satellite offices providing insurance and investment products for
            clients.
          </p>

          <p>He has held series 6, 63 and 26 licenses during his career.</p>
        </div>
        <div class="col-md-12">
          <p style="margin-top: 20px;">
            He currently holds the following licenses:</p>
          <ul>
            <li>
              <p>Property & Casualty</p>
            </li>
            <li>
              <p>Life</p>
            </li>
            <li>
              <p>Accident Health or Sickness</p>
            </li>
            <li>
              <p>Long Term Care</p>
            </li>
          </ul>
        </div>

      </div>



    </div>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Contact our Service Center at 855-344-1918</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</ng-template>