
.logoImageh{
  height: 30px;
  width: 40px !important

}
.menu-left{
  padding-left:0;
  cursor: pointer;
  color: #000;
}
.footer-bottom {
  border-top: 1px solid #666;
  background: transparent;
  width: 100%;
}

.copyright-text p {
  color: #ccc;
  margin-top: 9px;
  margin-bottom: 0;
}

.navbar[_ngcontent-c1] img[_ngcontent-c1] {
  /* width: 56px; */
  /* margin-top: 13px; */
}

.social-link li {
  display: inline-block;
  margin: 0 5px;
}

.social-link li a {
  color: #ccc;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  transition: 0.5s;
}

.contact-list li span {
  color: white;
}

.contact-list a:hover {
  background-color: rgb(0, 17, 255) !important;
}

.contact-list li {
  display: inline-block;
  margin: 0 5px;
  list-style-type: none;
}

.contact-list li a {
  color: #ccc;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  transition: 0.5s;
}

.contact-list li span {
  color: white;
}

.navbar {
  /* position: absolute;
  top: 12%;
  right: 0;
  background-color: transparent; */
}

.navbar-brand {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.navbar img {
  width: 164px;
  /* height: 50px; */
}

.navbar-nav a {
  letter-spacing: 2px;
  color: white;
}

.navbar-nav a:hover {
  color: rgb(0, 183, 255);
}

.wrapper {
  /* position: absolute;
  top: 35%;
  left: 4%; */
}

.btn2 {
  margin-left: 12px !important;
}

.wrapper {
  /* background-image: url(https://ld-wp.template-help.com/wordpress_prod-19753/v1/wp-content/uploads/2018/07/main-bg.png); */
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -205px;
  /* padding: 218px 0px 216px 0px; */
  padding: 294px 0px 0px 0px;
  height: 432px;

  /* margin-top: -84px; */
}

.all-cards {
  margin-top: 0px;
  background: #fff;
}

.container {

  max-width: 800px;
}

.card-body {
  padding: 0 23px;
}

.nav-link {
  color: white !important;
}

@media (max-width: 768px) {
  h2 {
    font-size: 16px !important;
  }

  .btn-outline-success {
    margin-top: 15px !important;
  }
}

.tg-formbannersearch fieldset {
  background: #fff;
  overflow: hidden;
  border-radius: 5px;
  padding: 0 190px 0 0;
}

.tg-formtheme fieldset {
  margin: 0;
  border: 0;
  /* padding: 0; */
  width: 100%;
  float: left;
  position: relative;
}

.tg-formbannersearch .form-group:first-child {
  border: 0;
}

.tg-formbannersearch .form-group {
  margin: 0;
  float: left;
  width: 33.33%;
  padding: 0 0 0 60px;
  border-left: 1px solid #dbdbdb;
}

.tg-inputwithicon {
  position: relative;
}

.tg-formbannersearch .tg-inputwithicon i {
  left: 20px;
  color: #666;
  font-size: 20px;
  line-height: 60px;
}

.tg-inputwithicon i {
  top: 0;
  z-index: 2;
  position: absolute;
}

.tg-select select {
  z-index: 1;
  width: 100%;
  position: relative;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.tg-formbannersearch .form-group .form-control,
.tg-formbannersearch .form-group .tg-select select {
  border: 0;
  height: 60px;
  border-radius: 0;
  font-size: 16px;
  line-height: 30px;
  padding: 15px 15px 15px 0;
}

.tg-inputwithicon .form-control {
  z-index: 1;
  position: relative;
}

.icon-bullhorn:before {
  content: '\e976';
}

.fa-crosshairs:before {
  content: '\f05b';
  right: 15px;
  position: absolute;
  bottom: 20px;
  color: #797979;
  z-index: 100;
}

.tg-formbannersearch .tg-btn {
  top: 0;
  right: 0;
  padding: 0;
  z-index: 2;
  width: 191px;
  border-radius: 0;
  line-height: 60px;
  text-align: center;
  position: absolute;
}

.tg-formbannersearch .tg-btn {
  background: #1976d2;
}

.tg-formbannersearch .tg-btn :hover {
  background: #1976d2;
}

.tg-btn:before {
  top: 0;
  left: 0;
  z-index: -1;
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
}

.tg-btns .tg-btn:hover {
  /* background: #00cc67; */

  background: #1976d2;
  /* border-color: #1976d2; */
}

.tg-btns .tg-btn:hover {
  /* background: #00cc67; */

  background: #1976d2;
  /* border-color: #1976d2; */
}

.tg-btn {
  color: #fff;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  text-transform: capitalize;
  border: 0;
  /* background: rgba(0, 0, 0, 0.00); */
  font: 500 16px/46px 'Quicksand', Arial, Helvetica, sans-serif;
  border: 1px solid #1976d2;
}

.tg-btn:disabled {
  color: #1976d2;
  background-color: transparent;
}

textarea,
select,
.tg-select select,
.form-control,
input[type='text'],
.uneditable-input {
  color: #666;
  outline: none;
  height: 40px;
  background: #fff;
  font-size: 14px;
  line-height: 18px;
  padding: 10px 20px;
  border-radius: 4px;
  display: inline-block;
  vertical-align: middle;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #dbdbdb;
  /* text-transform: capitalize; */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.tg-formbannersearch .form-group .tg-select:after {
  line-height: 60px;
}

.tg-select:after {
  top: 0;
  right: 15px;
  z-index: 2;
  color: #666;
  display: block;
  content: '\f107';
  position: absolute;
  text-align: center;
  font-size: inherit;
  line-height: 40px;
  font-family: 'FontAwesome';
}

.tg-formbannersearch .tg-btn:hover {
  background: rgba(0, 0, 0, 0.2);
}

.tg-btn:hover,
.tg-btn:focus,
.tg-btn:active {
  color: #fff;
  background: rgba(0, 0, 0, 0.2);
  border: none !important;
}

button {
  cursor: pointer;
}

/* tab */

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

/* rating */

.rating i.voted {
  color: #ffc107;
}

.icon_star:before {
  content: '\e033';
}

.strip_list a.wish_bt {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  color: #555;
}

a.wish_bt {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 2;
  background-color: #000;
  background-color: rgba(202, 202, 202, 0.6);
  padding: 9px 10px;
  color: #fff;
  line-height: 1;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

a.wish_bt:hover {
  text-decoration: none;
  outline: 0;
  color: #e74e84;
}

.li-link li {
  display: inline-block;
}

.li-link li:first-child:after {
  content: '|';
  font-weight: 400;
  margin-left: 8px;
  margin-right: 8px;
  color: #ccc;
}

.center p {
  margin-bottom: 0;
}

ol,
ul,
dl {
  margin-top: 7px;
  margin-bottom: 0;
}

@media (max-width: 450px) {
  .card-button {
    margin-left: 5px;
  }
}

@media (max-width: 1300px) {
  .card-button {
    margin-left: 40px;
  }
}

@media (max-width: 991px) {
  .card-button {
    text-align: center;
    margin-left: 10px;
  }

  .Left {
    text-align: center;
    padding: 0;
  }

  .center {
    text-align: center;
  }

  .rating {
    text-align: end;
    display: block;
  }

  .tg-formbannersearch .form-group {
    width: 50%;
  }

  .tg-formbannersearch .form-group:nth-child(3) {
    border-left: 0;
    border-top: 1px solid #dbdbdb;
  }

  .tg-formbannersearch .tg-btn {
    padding: 0;
    width: 50%;
    position: relative;
    border-top: 1px solid #dbdbdb;
  }

  .tg-formbannersearch fieldset {
    padding: 0;
  }
}

@media (max-width: 568px) {
  .tg-formbannersearch .form-group:first-child {
    border-bottom: 1px solid #dbdbdb;
  }

  .tg-formbannersearch .form-group {
    width: 100%;
  }

  .tg-formbannersearch .form-group {
    width: 100%;
    border-bottom: 1px solid #dbdbdb;
  }

  .tg-formbannersearch .form-group:nth-child(3) {
    border-top: 0;
  }

  .tg-formbannersearch .form-group {
    width: 100%;
    border-bottom: 1px solid #dbdbdb;
  }

  .tg-formbannersearch .tg-btn {
    width: 100%;

    border: 0;
  }
}

.tg-formbannersearch .errorTooltip.form-group:first-child,
.tg-formbannersearch .errorTooltip {
  border: 1px solid red;
  color: red;
}

.loaderContainer {
  margin: 20px 0;
}

.loader {
  border: 6px solid #f3f3f3;
  /* Light grey */
  border-top: 6px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.mb-0 {
  margin-bottom: 0;
}

.box-property {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
}

.gutters {
  margin-left: 0;
  margin-right: 0;
}

.mt-15 {
  margin-top: 15px;
}

.dynamic-red {
  background: #184194;
}

.card:hover.card {
  cursor: pointer;
}

.homeContainer {
  margin-bottom: 200px;
}

.dropdown-toggle::after {
  display: none;
}

.img-box {
  /* width: 200px !important;
  height: 150px !important;
  margin-top: 15px !important; */
  height: 70px;
}

.dropdown-menu {
  left: -117 !important;
}

.fixed-top {
  padding-left: 0;
  padding-right: 0;
  top: -8px;
}

.new-container {
  background: #fff;
  height: 64px;
  padding-bottom: 0;
  padding-left: 0;
}

.head-label {
  font-size: 1rem;
  font-weight: bold;
  color: #000;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}
.lang-item {
  position: absolute;
  right: 75px;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  color:#184194;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .head-label {
    font-size: 12px;
    font-weight: bold;
    color: #000;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
  }
  .lang-item {
    position: absolute;
    right: 56px;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    font-weight: 600;
  }
}

.sec-head {
  font-weight: bold;
  color: #184194;
  font-size: 1.2rem;
}

.btn-red {
  border-radius: 0;
  background: #184194;
  border: 1px solid #184194;
}

.hambuger-btn {
  background: transparent;
}

.label-color {
  color: #184194;
}

.grey-back {
  background: #999999;
}

.input-back {
  background-color: #e9ecef !important;
  border-radius: 0 !important;
}

.ab-row {
  /* width: 100%; */
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 58px;
}

.img-set {
  height: 28%;
}

.img1 {
  margin-left: 0;
}

.img2 {
  margin-right: 0;
}

.heading-label {
  font-size: 2rem;
}

.lg-mt {
  padding-top: 25px;
}

.f-size {
  font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
  .ab-row {
    position: relative;
  }

  .img-set {
    height: 91px;
  }

  .img2 {
    position: absolute;
    bottom: 59px;
  }

  .f-size {
    font-size: 0.8rem;
  }

  .mt-15 {
    margin-top: 15px !important
  }
  .lang-item {
    position: absolute;
    right: 30px;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    font-weight: 600;
  }
  .trad-img{
    display: none
  }

}

@media screen and (max-width: 375px) {
  .ab-row {
    position: relative;
    bottom: 81px;
  }

  .img-set {
    height: 80px;
  }

  .img2 {
    position: absolute;
    bottom: 83px;
  }

  .f-size {
    font-size: 1.2rem;
  }
  .trad-img{
    display: none
  }
  .questions{
    text-align: center !important
  }
}

@media screen and (max-width: 320px) {
  .f-size {
    font-size: 1.1rem;
  }

  .lg-mt {
    padding-top: 100px;
  }
  .trad-img{
    display: none
  }
  .navbar img {
    width: 70px;
    /* height: 50px; */
  }
  .questions{
    text-align: center
  }

}

@media screen and (min-width: 1800px) {
  .img-set {
    height: 33%;
  }

  .lg-mt {
    margin-top: 60px;
  }

  .mt-25 {
    margin-top: 28px;
  }
  /* .trad-img{
    display: none
  } */
  /* .img-box {
    width: 130px !important;
    margin-top: 5px !important;
  } */
}

.mt-10 {
  margin-top: 10px;
}

.mr-head {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mr-20 {
  margin-right: 20px;
}

.info-icon {
  position: absolute;
  top: 13px;
  right: 0;
  background-color: #000;
  color: #fff;
  border-radius: 42px;
  padding-bottom: 3px;
  padding-top: 2px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 10px;
  cursor: pointer;
}

.d-none {
  display: none
}

.animatediv {
  position: relative;
  -webkit-animation: mymove 0.2s infinite;
  /* Safari 4.0 - 8.0 */
  animation: mymove 0.2s infinite;
}

.animatedivback {
  position: relative;
  -webkit-animation: backmove 0.2s infinite;
  /* Safari 4.0 - 8.0 */
  animation: backmove 0.2s infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
  from {
    left: 0px;
  }

  to {
    left: 50px;
  }
}

@keyframes mymove {
  from {
    left: 0px;
  }

  to {
    left: 50px;
  }
}

@-webkit-keyframes backmove {
  from {
    right: 0px;
  }

  to {
    right: 50px;
  }
}

@keyframes backmove {
  from {
    right: 0px;
  }

  to {
    right: 50px;
  }
}


.mouse {
  cursor: pointer;
}

.inputhover:focus {
  color: #000;
  font-weight: bold;
  background-color: #fff !important
}

.errorborder {
  border-color: red !important
}

.error {
  color: red;
  font-size: 12px;
}

.phoneinput {
  padding-right: 0 !important
}

.p0 {
  padding-left: 0;
  padding-right: 0;
}


.l-s{
  position: absolute;
  right: 144px;
}
.trad-img{
  width: 100px !important;
  height: 50px !important;
  position: absolute;
  top: 22px;
  left: 140px;
}
.p-0{
  padding: 0
}
.questions{
  text-align: right
}
.emission-color{
  color: red;
  font-size: 15px
}
.d-block{
  display: block;
}
.para-mb{
  margin-bottom: 0
}
.mt-90{
  margin-top: 90px;
}
.font-s{
  font-size:18pt;
  color:#000
}
p{
  font-family: serif;
  color: #000;
}
.color{
  color:#000
}
.mt-30{
  margin-top:30px;
  margin-bottom:30px
}
.mt-30-t{
  margin-top:30px;

}
.mb-20{
  margin-bottom: 20px;
}
.colr{
  color: blue;
}
.line-space{
  line-height: 35px;
}
