<div id="modal" class="modalContainer signBg" [style.width]="'100%'">
  <div class="container-fluid p-0 fwh">

    <div class="modalContentContainer fwh" style="position: relative">
      <div class="modal-Contentbody" style="position: absolute;
              height:400px;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              margin: auto;">

        <div class="row match-height">
          <div class="col-md-12 text-center">
              <img src="assets/logo/logonew.jpg" style="width: 130px" alt="Home" />

            <h3>Reset Password</h3>
          </div>
          <div class="col-md-4"></div>

          <div class="col-md-4 text-center">
            <div class="card" >
              <div class="card-body">
                <div class="px-0">
                  <div class="col-lg-12 " style="color:white">
                    <form>
                      <div class="form-group">
                        <input type="password" class="form-control" name="password" [(ngModel)]="password" [minlength]="8"  placeholder="Password">
                      </div>
                      <div class="form-group">
                        <input type="password" class="form-control" name="newPassword" [minlength]="8" [(ngModel)]="model.newPassword" placeholder="Confirm Password" (blur)="matchPass()">
                        <label class="e-color" *ngIf="errorFlag">Password does not Match</label>
                      </div>
                      <div class="form-group">
                        <button type="button" class="btn btn-info btn-block no-radius" [disabled]="errorFlag || model.newPassword ==''" (click)="submit()">Submit</button>
                        </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4"></div>
        </div>

      </div>
    </div>
  </div>
</div>
