<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="state">
            <h2><span jhiTranslate="iaaApp.state.detail.title">State</span> {{state.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="iaaApp.state.name">Name</span></dt>
                <dd>
                    <span>{{state.name}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.state.stateCode">State Code</span></dt>
                <dd>
                    <span>{{state.stateCode}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/state-mv', state.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
