.shopping {
    background-color: white;
    font-size: 16px;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0px 1px 3px 0 grey;
    outline: none;
    letter-spacing: -0.3px;
}
.shopping:hover {
    background-color: #1976d2;
    color: white;
    /* border: 1px solid rgb(219, 219, 219); */
    box-shadow: 0px 0px 0px 0 grey;
}

.order {
    background-color: white;
    font-size: 16 px;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0px 1px 3px 0 grey;
    outline: none;
    letter-spacing: -0.3px;
}

.order:hover {
    background-color: #1976d2;
    color: white;
    /* border: 1px solid rgb(219, 219, 219); */
    box-shadow: 0px 0px 0px 0 grey;
}
.place-btn {
    background-color: #1976d2;
    color: #ffffff;
    border: 0px;
}
.btn-delete {
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.premiumn {
    color: red;
}
