<div class="container">
  <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="row">
          <div class="col-md-8">
              <div class="card border-none">
                  <div class="card-header bg-transparent">
                      <h6 class="mb-0">
                          <b>MY CART&nbsp;(1)</b>
                      </h6>
                  </div>
                  <div class="card-body table-responsive">
                    <h4 *ngIf="cartEmptyFlag">Cart is empty</h4>
                    <table class="table table-bordered" *ngIf="!cartEmptyFlag">
                      <thead>
                        <tr>
                          <th>TYPE</th>
                          <th>ITEM</th>
                          <th>YEARLY PRICE</th>
                          <th>QTY</th>
                          <th>TOTAL</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let i of cartInfo">
                          <td>
                            <span *ngIf="i.rank != 'THREE'" class="pl-2">Zip {{i.zip}}</span>
                            <span *ngIf="i.rank == 'THREE'" class="premiumn">Membership</span>
                          </td>
                          <td>
                              <span *ngIf="i.rank == 'THREE'" class="premiumn">INC A/B Member</span>
                              <span *ngIf="i.rank == 'ONE'"> Page 1 Listings</span>
                              <span *ngIf="i.rank == 'TWO'"> Page 2 Listings</span>
                           </td>
                          <td>
                            <span *ngIf="i.rank == 'ONE'"> $100</span>
                            <span *ngIf="i.rank == 'TWO'"> $50</span>
                            <span *ngIf="i.rank == 'THREE'" class="premiumn"> $25</span>
                            </td>
                          <td>
                          <span class="premiumn" *ngIf="i.rank == 'THREE'">{{i.slots}}</span>
                          <span  *ngIf="i.rank != 'THREE'">{{i.slots}}</span>
                          </td>
                          <td>
                              <span *ngIf="i.rank == 'ONE'"> ${{i.slots * 100}}</span>
                              <span *ngIf="i.rank == 'TWO'">${{i.slots * 50}}</span>
                              <span *ngIf="i.rank == 'THREE'" class="premiumn"> ${{i.slots * 25}}</span> </td>
                          <td >
                              <button [hidden]="i.rank == 'THREE'" class="btn btn-danger btn-delete" (click)="removeCart(i)">
                                  <i class="fa fa-trash" style="cursor:pointer;" ></i>
                               </button>

                          </td>
                          <td > <button [hidden]="i.rank == 'THREE'" class="btn btn-info btn-delete" (click)="editCart(i,content)">
                              <i class="fa fa-pencil" style="cursor:pointer;" ></i>
                           </button></td>
                        </tr>

                      </tbody>
                    </table>
                    <table class="table table-bordered" *ngIf="!cartEmptyFlag">
                      <tbody>
                          <tr>
                              <td style="width: 73%">Total</td>
                              <td>${{total}}</td>
                            </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="card-footer bg-transparent text-right">
                      <div class="row col-sm-12 col-md-12 border-grey py-2 ml-0 ">
                         
                          <button class="btn order  col-md-4 col-sm-12 mb-2 place-btn" [disabled]="cartEmptyFlag" (click)="placeOrder()">BUY</button>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card border-none" style="">
                  <div class="card-header bg-transparent">
                      <h6 class="mb-0 text-secondary"><b>PRICE DETAILS</b></h6>
                  </div>
                  <div class="card-body" style="font-size:14px">
                      <div>
                          <p class="card-text float-left">Items</p>
                          <span class="float-right">{{itemQuantity}}</span>
                      </div>
                      <div class="clearfix"></div>

                      <div class="clearfix"></div>

                      <div class="pt-4 pb-4" style="border-top:1px dashed rgb(209, 209, 209)">
                          <p class="card-text float-left mb-0">Amount Payable</p>
                          <span class="float-right">${{total}}</span>
                      </div>
                      <div class="clearfix"></div>
                  </div>
              
              </div>
          </div>


      </div>
  </div>
</div>


<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Update Cart</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>TYPE</th>
                    <th>ITEM</th>
                    <th>YEARLY PRICE</th>
                    <th>QTY</th>
                  </tr>
                </thead>
                <tbody *ngFor="let p of editModalData">
                  <tr >
                    <td>{{p.zip}}</td>
                    <td>
                        <select class="form-control" id="sel1" [(ngModel)]="p.rank">
                            <option>ONE</option>
                            <option>TWO</option>
                            <option>THREE</option>
                          </select>
                    </td>
                    <td>

                    <span *ngIf="p.rank == 'ONE'">$100</span>
                    <span *ngIf="p.rank == 'TWO'">$50</span>
                    <span *ngIf="p.rank == 'THREE'">$25</span>
                    </td>
                    <td>
                      <select class="form-control" id="sel1" [(ngModel)]="p.slots">
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option>
                          <option>5</option>
                        </select>
                    </td>

                  </tr>
                  <tr>
                      <td><button type="button" class="btn btn-info" (click)="updateCart(c,p)">Update</button>
</td>
                  </tr>

                </tbody>
              </table>
        </div>
      </div>
    </div>
  </ng-template>
