<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-4 mb-3">
            <div class="search-container">
              <div class="input-group">
                <input type="text" class="form-control" style="margin-right:10px;"
                [(ngModel)]="searchText1" placeholder="Search" (keypress)="searchEnter($event)">
                <span class="input-group-btn pt-2" >
                    <i class="fa fa-search" aria-hidden="true" title="search" (click)="page=1;FilterData()" ></i>
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <select class="form-control" #cdr (change)="changeCdr(cdr.value)">
              <option value='all' [selected]>All</option>
              <option value="iaa">Iaa</option>
              <option value="unknown">Unknown</option>
            </select>
          </div>
          <div class="col-md-2 text-right mb-3">
          </div>
          <div class="col-md-3 text-right mb-3">
            <div class="dropdown">
              <button [disabled]="mv1loader" type="button" class="btn btn-info no-radius dropdown-toggle" data-toggle="dropdown">
                <span *ngIf="!mv1loader">DOWNLOAD</span>
                <span *ngIf="mv1loader">DOWNLOADING <i class="fa fa-spinner fa-spin"></i> </span>
              </button>
              <div class="dropdown-menu" style="    border: 1px solid #7d8b92;
                      border-radius: 0;">
                <a class="dropdown-item" (click)="downloadCSV('CSV')">CSV</a>
                <a class="dropdown-item" (click)="downloadCSV('XLS')">XLS</a>
              </div>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered" style="border: 1px solid #dee2e6;;overflow-x:auto">
            <thead>
              <tr>
                <th>Date</th>
                <th>NPN</th>
                <th>Agent Name</th>
                <th>Extension</th>
                <th>Agent Number</th>
                <th>Src</th>
                <th>Dst</th>
                <th>Duration</th>
                <th>LinkDid</th>
              </tr>
            </thead>
            <tbody>
               
              <tr *ngFor="let d of cdrData ">
               
                <td>{{d.callDate | date:'MM/dd/yy'}}</td>
                <td>{{d.npn}}</td>
                <td>{{d.agentName}}</td>
                <td>{{d.extension}}</td>
                <td>{{d.agentNumber}}</td>
                <td>{{d.src}}</td>
                <td>{{d.dst}}</td>
                <td>{{d.duration }}</td>
                <td>{{d.linkedid}}</td>
              </tr>
            </tbody>
          </table>
          <div class="col-md-12">
            <ngb-pagination *ngIf="cdrData?.length && totalPages!=1" [maxSize]="5" [boundaryLinks]="true" [rotate]="false"
              [collectionSize]="totalElements" [pageSize]="50" (pageChange)="pageChanged($event)" [(page)]="page"></ngb-pagination>
          </div>
          <div class="col-md-12" *ngIf="!cdrData?.length">
            <h5>No Data Available</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #cdrContent let-c="close" let-d="dismiss" let-modal>
  <div class="modal-header">
    <h4 class="modal-title">CDR</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-6">
        <label class="control-label">Npn</label>
        <input type="text" class="form-control" [(ngModel)]="modalData.npn" disabled />
      </div>
      <div class="col-md-6">
        <label class="control-label">Call Date</label>
        <input type="text" class="form-control" [ngModel]="modalData.callDate | date:'MM/dd/yy'" disabled />
      </div>
      <div class="col-md-6">
        <label class="control-label">Agent Name</label>
        <input type="text" class="form-control" [(ngModel)]="modalData.agentName" disabled />
      </div>
      <div class="col-md-6">
        <label class="control-label">Extension</label>
        <input type="text" class="form-control" [(ngModel)]="modalData.extension" disabled />
      </div>
      <div class="col-md-6">
        <label class="control-label">Clid</label>
        <input type="text" class="form-control" [(ngModel)]="modalData.clid" disabled />
      </div>
      <div class="col-md-6 ">

        <label class="control-label">Src</label>
        <input type="text" class="form-control" [(ngModel)]="modalData.src" disabled />
      </div>
      <div class="col-md-6 ">

        <label class="control-label">Dst</label>
        <input type="text" class="form-control" [(ngModel)]="modalData.dst" disabled />
      </div>
      <div class="col-md-6 ">

        <label class="control-label">D-Context</label>
        <input type="text" class="form-control" [(ngModel)]="modalData.dcontext" disabled />
      </div>
      <div class="col-md-6 ">
        <label class="control-label">Channel</label>
        <input type="text" class="form-control" [(ngModel)]="modalData.channel" disabled />
      </div>
      <div class="col-md-6 ">
        <label class="control-label">Dst-Channel</label>
        <input type="text" class="form-control" [(ngModel)]="modalData.dstchannel" disabled />
      </div>
      <div class="col-md-6 ">
        <label class="control-label">Lastapp</label>
        <input type="text" class="form-control" [(ngModel)]="modalData.lastapp" disabled />
      </div>
      <div class="col-md-6 ">
        <label class="control-label">Last Data</label>
        <input type="text" class="form-control" [(ngModel)]="modalData.lastdata" disabled />
      </div>
      <div class="col-md-6 ">
        <label class="control-label">duration</label>
        <input type="text" class="form-control" [(ngModel)]="modalData.duration" disabled />
      </div>
      <div class="col-md-6 ">
        <label class="control-label">Billsec</label>
        <input type="text" class="form-control" [(ngModel)]="modalData.billsec" disabled />
      </div>
      <div class="col-md-6 ">
        <label class="control-label">Disposition</label>
        <input type="text" class="form-control" [(ngModel)]="modalData.disposition" disabled />

      </div>
      <div class="col-md-6">
        <label class="control-label">Amaflags</label>
        <input type="text" class="form-control" [(ngModel)]="modalData.amaflags" disabled />
      </div>
      <div class="col-md-6">
        <label class="control-label">Accountcode</label>
        <input type="text" class="form-control" [(ngModel)]="modalData.accountcode" disabled />
      </div>
      <div class="col-md-6 ">
        <label class="control-label">Uniqueid</label>
        <input type="text" class="form-control" [(ngModel)]="modalData.uniqueid" disabled />
      </div>
      <div class="col-md-6 ">
        <label class="control-label">Userfield</label>
        <input type="text" class="form-control" [(ngModel)]="modalData.userfield" disabled />
      </div>
      <div class="col-md-6">
        <label class="control-label">Did</label>
        <input type="text" class="form-control" [(ngModel)]="modalData.did" disabled />
      </div>
      <div class="col-md-6 ">
        <label class="control-label">Recordingfile</label>
        <input type="text" class="form-control" [(ngModel)]="modalData.recordingfile" disabled />
      </div>
      <div class="col-md-6 ">
        <label class="control-label">Cnum</label>
        <input type="text" class="form-control" [(ngModel)]="modalData.cnum" disabled />
      </div>
      <div class="col-md-6 ">
        <label class="control-label">Cnam</label>
        <input type="text" class="form-control" [(ngModel)]="modalData.cnam" disabled />
      </div>
      <div class="col-md-6 ">
        <label class="control-label">Outbound cnum</label>
        <input type="text" class="form-control" [(ngModel)]="modalData.outbound_cnum" disabled />
      </div>
      <div class="col-md-6 ">
        <label class="control-label">Outbound cnam</label>
        <input type="text" class="form-control" [(ngModel)]="modalData.outbound_cnam" disabled />
      </div>
      <div class="col-md-6 ">
        <label class="control-label">Dst cnam</label>
        <input type="text" class="form-control" [(ngModel)]="modalData.dst_cnam" disabled />
      </div>
      <div class="col-md-6 ">
        <label class="control-label">linkedid</label>
        <input type="text" class="form-control" [(ngModel)]="modalData.linkedid" disabled />
      </div>
      <div class="col-md-6 ">
        <label>Peeraccount</label>
        <input type="text" class="form-control" [(ngModel)]="modalData.peeraccount" disabled />
      </div>
      <div class="col-md-6 ">
        <label class="control-label">Sequence</label>
        <input type="text" class="form-control" [(ngModel)]="modalData.sequence" disabled />
      </div>
    </div>
  </div>
</ng-template>

<div *ngIf="listLoader" class="loader-conteiner">
  <div class="listloader">
  </div>
</div>
