.table.table-bordered thead tr th {
    border-right: 1px solid #dee2e6;
  }
  
  .table.table-bordered thead tr th:last-child {
    border-right: 0;
  }
  
  .btn.btnc {
    border-radius: 5px;
  }
  
  .form-actions .card-body button:first-child {
    margin-right: 20px;
  }
  
  .editLink {
    cursor: pointer;
  }
  
  .editLink:hover {
    color: #5c4ac7;
  }
  .no-radius {
    border-radius: 0;
  }
  .hoverIcon {
    cursor: pointer;
    color: #1976d2;
    text-decoration: underline;
  }
  .credits {
    padding-top: 1rem;
  }
  .nav-tabs {
    margin-bottom: 0;
  }
  .content {
    padding: 25px;
  }
  .list {
    border: 1px solid #fff;
    border-radius: 0;
    cursor: pointer;
    height: 31px;
    background: #fff;
    /* padding-left: 10px; */
  }
  ul {
    list-style-type: none;
    padding-left: 0;
    padding-bottom: 0;
    padding-top: 0;
    margin: 0;
  }
  .list-overflow {
    overflow: auto;
    display: block;
    top: 71px;
    left: 15px;
    width: 100%;
  }
  .dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    cursor: pointer;
  }
  .dropdown-menu {
    border: none;
    border-bottom: none;
    border-left: 1px solid #7d8b92;
    border-right: 1px solid #7d8b92;
  }
  .dropdown-menu > li > a:hover {
    background-color: #ef8b36fa;
    color: #fff;
  }
  .dropdown-menu > li {
    /* border-bottom: 1px solid #f5f0f0; */
  }
  .dynamicheight {
    height: 114px;
  }
  .none {
    display: none;
  }
  .dnoneHeight {
    height: 33px;
  }
  .hiden {
    height: 0;
  }
  .text-camlecase {
    text-transform: capitalize;
  }
  .iconsize {
    margin-left: 7px;
    cursor: pointer;
  }
  .serachbox {
    border: 2px solid #b5b0b0;
    border-radius: 0;
  }
  .control-label {
    font-weight: 600;
  }
  
  .mb-20{
  margin-bottom: 20px
  }
  .dropdown-item:hover{
    cursor: pointer;
    background-color:orange;
    color: #fff !important
    }
  