<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="lPALocations">
            <h2><span jhiTranslate="iaaApp.lPALocations.detail.title">LPA Locations</span> {{lPALocations.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="iaaApp.lPALocations.branch">Branch</span></dt>
                <dd>
                    <span>{{lPALocations.branch}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.lPALocations.address">Address</span></dt>
                <dd>
                    <span>{{lPALocations.address}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.lPALocations.city">City</span></dt>
                <dd>
                    <span>{{lPALocations.city}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.lPALocations.state">State</span></dt>
                <dd>
                    <span>{{lPALocations.state}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.lPALocations.postalCode">Postal Code</span></dt>
                <dd>
                    <span>{{lPALocations.postalCode}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.lPALocations.country">Country</span></dt>
                <dd>
                    <span>{{lPALocations.country}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.lPALocations.mainPhone">Main Phone</span></dt>
                <dd>
                    <span>{{lPALocations.mainPhone}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.lPALocations.faxNumber">Fax Number</span></dt>
                <dd>
                    <span>{{lPALocations.faxNumber}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.lPALocations.weekdaysHrs">Weekdays Hrs</span></dt>
                <dd>
                    <span>{{lPALocations.weekdaysHrs}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.lPALocations.saturdayHrs">Saturday Hrs</span></dt>
                <dd>
                    <span>{{lPALocations.saturdayHrs}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.lPALocations.directions">Directions</span></dt>
                <dd>
                    <span>{{lPALocations.directions}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/lpa-locations', lPALocations.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
