<div>
    <h2 id="page-heading">
        <span jhiTranslate="iaaApp.lPALocations.home.title">LPA Locations</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-lpa-locations" [routerLink]="['/lpa-locations/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="iaaApp.lPALocations.home.createLabel">
            Create new LPA Locations
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="lPALocations">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="iaaApp.lPALocations.branch">Branch</span></th>
            <th><span jhiTranslate="iaaApp.lPALocations.address">Address</span></th>
            <th><span jhiTranslate="iaaApp.lPALocations.city">City</span></th>
            <th><span jhiTranslate="iaaApp.lPALocations.state">State</span></th>
            <th><span jhiTranslate="iaaApp.lPALocations.postalCode">Postal Code</span></th>
            <th><span jhiTranslate="iaaApp.lPALocations.country">Country</span></th>
            <th><span jhiTranslate="iaaApp.lPALocations.mainPhone">Main Phone</span></th>
            <th><span jhiTranslate="iaaApp.lPALocations.faxNumber">Fax Number</span></th>
            <th><span jhiTranslate="iaaApp.lPALocations.weekdaysHrs">Weekdays Hrs</span></th>
            <th><span jhiTranslate="iaaApp.lPALocations.saturdayHrs">Saturday Hrs</span></th>
            <th><span jhiTranslate="iaaApp.lPALocations.directions">Directions</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let lPALocations of lPALocations ;trackBy: trackId">
                <td><a [routerLink]="['/lpa-locations', lPALocations.id, 'view' ]">{{lPALocations.id}}</a></td>
                <td>{{lPALocations.branch}}</td>
                <td>{{lPALocations.address}}</td>
                <td>{{lPALocations.city}}</td>
                <td>{{lPALocations.state}}</td>
                <td>{{lPALocations.postalCode}}</td>
                <td>{{lPALocations.country}}</td>
                <td>{{lPALocations.mainPhone}}</td>
                <td>{{lPALocations.faxNumber}}</td>
                <td>{{lPALocations.weekdaysHrs}}</td>
                <td>{{lPALocations.saturdayHrs}}</td>
                <td>{{lPALocations.directions}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/lpa-locations', lPALocations.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/lpa-locations', lPALocations.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'lpa-locations/'+ lPALocations.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
