<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-lpa-locations-heading" jhiTranslate="iaaApp.lPALocations.home.createOrEditLabel">Create or edit a LPA Locations</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!lPALocations.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="lPALocations.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.lPALocations.branch" for="field_branch">Branch</label>
                    <input type="text" class="form-control" name="branch" id="field_branch"
                        [(ngModel)]="lPALocations.branch" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.lPALocations.address" for="field_address">Address</label>
                    <input type="text" class="form-control" name="address" id="field_address"
                        [(ngModel)]="lPALocations.address" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.lPALocations.city" for="field_city">City</label>
                    <input type="text" class="form-control" name="city" id="field_city"
                        [(ngModel)]="lPALocations.city" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.lPALocations.state" for="field_state">State</label>
                    <input type="text" class="form-control" name="state" id="field_state"
                        [(ngModel)]="lPALocations.state" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.lPALocations.postalCode" for="field_postalCode">Postal Code</label>
                    <input type="text" class="form-control" name="postalCode" id="field_postalCode"
                        [(ngModel)]="lPALocations.postalCode" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.lPALocations.country" for="field_country">Country</label>
                    <input type="text" class="form-control" name="country" id="field_country"
                        [(ngModel)]="lPALocations.country" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.lPALocations.mainPhone" for="field_mainPhone">Main Phone</label>
                    <input type="text" class="form-control" name="mainPhone" id="field_mainPhone"
                        [(ngModel)]="lPALocations.mainPhone" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.lPALocations.faxNumber" for="field_faxNumber">Fax Number</label>
                    <input type="text" class="form-control" name="faxNumber" id="field_faxNumber"
                        [(ngModel)]="lPALocations.faxNumber" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.lPALocations.weekdaysHrs" for="field_weekdaysHrs">Weekdays Hrs</label>
                    <input type="text" class="form-control" name="weekdaysHrs" id="field_weekdaysHrs"
                        [(ngModel)]="lPALocations.weekdaysHrs" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.lPALocations.saturdayHrs" for="field_saturdayHrs">Saturday Hrs</label>
                    <input type="text" class="form-control" name="saturdayHrs" id="field_saturdayHrs"
                        [(ngModel)]="lPALocations.saturdayHrs" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.lPALocations.directions" for="field_directions">Directions</label>
                    <input type="text" class="form-control" name="directions" id="field_directions"
                        [(ngModel)]="lPALocations.directions" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
