<div>
    <h2 id="page-heading">
        <span jhiTranslate="iaaApp.facility.home.title">Facilities</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-facility-mv" [routerLink]="['/facility-mv/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="iaaApp.facility.home.createLabel">
            Create new Facility
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="facilities">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="iaaApp.facility.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="isn"><span jhiTranslate="iaaApp.facility.isn">Isn</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="type"><span jhiTranslate="iaaApp.facility.type">Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="website"><span jhiTranslate="iaaApp.facility.website">Website</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="weekdayHours"><span jhiTranslate="iaaApp.facility.weekdayHours">Weekday Hours</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="saturdayHours"><span jhiTranslate="iaaApp.facility.saturdayHours">Saturday Hours</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="sundayHours"><span jhiTranslate="iaaApp.facility.sundayHours">Sunday Hours</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createdAt"><span jhiTranslate="iaaApp.facility.createdAt">Created At</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="updatedAt"><span jhiTranslate="iaaApp.facility.updatedAt">Updated At</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="verifiedAt"><span jhiTranslate="iaaApp.facility.verifiedAt">Verified At</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="isVerified"><span jhiTranslate="iaaApp.facility.isVerified">Is Verified</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="isActive"><span jhiTranslate="iaaApp.facility.isActive">Is Active</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="isDeleted"><span jhiTranslate="iaaApp.facility.isDeleted">Is Deleted</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="profileId"><span jhiTranslate="iaaApp.facility.profile">Profile</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="businessId"><span jhiTranslate="iaaApp.facility.business">Business</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let facility of facilities ;trackBy: trackId">
                <td><a [routerLink]="['/facility-mv', facility.id, 'view' ]">{{facility.id}}</a></td>
                <td>{{facility.name}}</td>
                <td>{{facility.isn}}</td>
                <td jhiTranslate="{{'iaaApp.InspectionType.' + facility.type}}">{{facility.type}}</td>
                <td>{{facility.website}}</td>
                <td>{{facility.weekdayHours}}</td>
                <td>{{facility.saturdayHours}}</td>
                <td>{{facility.sundayHours}}</td>
                <td>{{facility.createdAt | date:'medium'}}</td>
                <td>{{facility.updatedAt | date:'medium'}}</td>
                <td>{{facility.verifiedAt | date:'medium'}}</td>
                <td>{{facility.isVerified}}</td>
                <td>{{facility.isActive}}</td>
                <td>{{facility.isDeleted}}</td>
                <td>
                    <div *ngIf="facility.profileId">
                        <a [routerLink]="['../profile-mv', facility.profileId , 'view' ]" >{{facility.profileId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="facility.businessId">
                        <a [routerLink]="['../business-mv', facility.businessId , 'view' ]" >{{facility.businessId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/facility-mv', facility.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/facility-mv', facility.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'facility-mv/'+ facility.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="facilities && facilities.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
