<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-facility-mv-heading" jhiTranslate="iaaApp.facility.home.createOrEditLabel">Create or edit a Facility</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!facility.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="facility.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.facility.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="facility.name" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.facility.isn" for="field_isn">Isn</label>
                    <input type="text" class="form-control" name="isn" id="field_isn"
                        [(ngModel)]="facility.isn" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.facility.type" for="field_type">Type</label>
                    <select class="form-control" name="type" [(ngModel)]="facility.type" id="field_type" >
                        <option value="EMISSION">{{'iaaApp.InspectionType.EMISSION' | translate}}</option>
                        <option value="SAFETY">{{'iaaApp.InspectionType.SAFETY' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.facility.website" for="field_website">Website</label>
                    <input type="text" class="form-control" name="website" id="field_website"
                        [(ngModel)]="facility.website" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.facility.weekdayHours" for="field_weekdayHours">Weekday Hours</label>
                    <input type="text" class="form-control" name="weekdayHours" id="field_weekdayHours"
                        [(ngModel)]="facility.weekdayHours" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.facility.saturdayHours" for="field_saturdayHours">Saturday Hours</label>
                    <input type="text" class="form-control" name="saturdayHours" id="field_saturdayHours"
                        [(ngModel)]="facility.saturdayHours" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.facility.sundayHours" for="field_sundayHours">Sunday Hours</label>
                    <input type="text" class="form-control" name="sundayHours" id="field_sundayHours"
                        [(ngModel)]="facility.sundayHours" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.facility.createdAt" for="field_createdAt">Created At</label>
                    <div class="d-flex">
                        <input id="field_createdAt" type="datetime-local" class="form-control" name="createdAt" [(ngModel)]="createdAt"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.facility.updatedAt" for="field_updatedAt">Updated At</label>
                    <div class="d-flex">
                        <input id="field_updatedAt" type="datetime-local" class="form-control" name="updatedAt" [(ngModel)]="updatedAt"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.facility.verifiedAt" for="field_verifiedAt">Verified At</label>
                    <div class="d-flex">
                        <input id="field_verifiedAt" type="datetime-local" class="form-control" name="verifiedAt" [(ngModel)]="verifiedAt"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.facility.isVerified" for="field_isVerified">Is Verified</label>
                    <input type="checkbox" class="form-control" name="isVerified" id="field_isVerified"
                        [(ngModel)]="facility.isVerified" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.facility.isActive" for="field_isActive">Is Active</label>
                    <input type="checkbox" class="form-control" name="isActive" id="field_isActive"
                        [(ngModel)]="facility.isActive" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.facility.isDeleted" for="field_isDeleted">Is Deleted</label>
                    <input type="checkbox" class="form-control" name="isDeleted" id="field_isDeleted"
                        [(ngModel)]="facility.isDeleted" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.facility.profile" for="field_profile">Profile</label>
                    <select class="form-control" id="field_profile" name="profile" [(ngModel)]="facility.profileId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="profileOption.id" *ngFor="let profileOption of profiles; trackBy: trackProfileById">{{profileOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.facility.business" for="field_business">Business</label>
                    <select class="form-control" id="field_business" name="business" [(ngModel)]="facility.businessId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="businessOption.id" *ngFor="let businessOption of businesses; trackBy: trackBusinessById">{{businessOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
