<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="facility">
            <h2><span jhiTranslate="iaaApp.facility.detail.title">Facility</span> {{facility.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="iaaApp.facility.name">Name</span></dt>
                <dd>
                    <span>{{facility.name}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.facility.isn">Isn</span></dt>
                <dd>
                    <span>{{facility.isn}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.facility.type">Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'iaaApp.InspectionType.' + facility.type}}">{{facility.type}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.facility.website">Website</span></dt>
                <dd>
                    <span>{{facility.website}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.facility.weekdayHours">Weekday Hours</span></dt>
                <dd>
                    <span>{{facility.weekdayHours}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.facility.saturdayHours">Saturday Hours</span></dt>
                <dd>
                    <span>{{facility.saturdayHours}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.facility.sundayHours">Sunday Hours</span></dt>
                <dd>
                    <span>{{facility.sundayHours}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.facility.createdAt">Created At</span></dt>
                <dd>
                    <span>{{facility.createdAt}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.facility.updatedAt">Updated At</span></dt>
                <dd>
                    <span>{{facility.updatedAt}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.facility.verifiedAt">Verified At</span></dt>
                <dd>
                    <span>{{facility.verifiedAt}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.facility.isVerified">Is Verified</span></dt>
                <dd>
                    <span>{{facility.isVerified}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.facility.isActive">Is Active</span></dt>
                <dd>
                    <span>{{facility.isActive}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.facility.isDeleted">Is Deleted</span></dt>
                <dd>
                    <span>{{facility.isDeleted}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.facility.profile">Profile</span></dt>
                <dd>
                    <div *ngIf="facility.profileId">
                        <a [routerLink]="['/profile-mv', facility.profileId, 'view']">{{facility.profileId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="iaaApp.facility.business">Business</span></dt>
                <dd>
                    <div *ngIf="facility.businessId">
                        <a [routerLink]="['/business-mv', facility.businessId, 'view']">{{facility.businessId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/facility-mv', facility.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
