<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-4 mb-3">
            <div class="search-container">
              <div class="input-group">
                <input type="text" class="form-control custom-auto-search" style="margin-right:10px;" [(ngModel)]="searchText1" placeholder="Search" (keypress)="searchEnter($event)">
                <span class="input-group-btn pt-2 cursor-pointer">
                  <i class="fa fa-search" aria-hidden="true" title="search" (click)="page=1;FilterData()"></i>
                </span>
              </div>
            </div>
          </div>
        </div>


        <div class="table-responsive" style="overflow-x: auto;">
          <table class="table table-bordered" style="border: 1px solid #dee2e6;;overflow-x:auto">
            <thead>
              <tr>
                <th class="text-center">NPN
                  <i class="fa fa-sort-asc iconsize" *ngIf="!npnFlag" (click)="sortNpn('asc','npn')"></i>
                  <i class="fa fa-sort-desc iconsize" (click)="sortNpn('desc','npn')" *ngIf="npnFlag"></i>
                </th>
                <th>EFF DATE <i class="fa fa-sort-asc iconsize" *ngIf="!dateFlag" (click)="sortNpn('asc','effDate')"></i>
                  <i class="fa fa-sort-desc iconsize" (click)="sortNpn('desc','effDate')" *ngIf="dateFlag"></i></th>
                  <th>F NAME
                    <i class="fa fa-sort-asc iconsize" *ngIf="!nameFlag" (click)="sortNpn('asc','firstName')"></i>
                    <i class="fa fa-sort-desc iconsize" (click)="sortNpn('desc','firstName')" *ngIf="nameFlag"></i>
                  </th>
                  <th>L NAME</th>
                  <th>EMAIL</th>
                 
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let agentData of agentDataList ">
                <td class="text-center">
                  <span class="hoverIcon" (click)="redirectToCart(agentData.profileId,agentData.isRegistered,agentData.npn) ">{{agentData?.npn}}</span>
                </td>
                <td>{{agentData?.effectiveDate | date:'MM/dd/yy'}}</td>
                <td>{{agentData?.firstName | titlecase}}</td>
                <td>{{agentData?.lastName | titlecase}}</td>
                <td>{{agentData?.bEmail}}</td>
              
              </tr>
            </tbody>
          </table>
          <div class="col-md-12">
            <ngb-pagination *ngIf="agentDataList.length && totalPages!=1" [maxSize]="5" [pageSize]="50" [boundaryLinks]="true" [collectionSize]="totalElements"
              (pageChange)="pageChanged($event)" [(page)]="page">
            </ngb-pagination>
          </div>
          <div class="col-md-12 text-center" *ngIf="!agentDataList.length">
            <h5>No Data Available</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="listLoader" class="loader-conteiner">
  <div class="listloader">
  </div>
</div>
