.table.table-bordered thead tr th {
    border-right: 1px solid #dee2e6;
}

.table.table-bordered thead tr th:last-child {
    border-right: 0;
}

.btn.btnc {
    border-radius: 5px;
}

.form-actions .card-body button:first-child {
    margin-right: 20px;
}

.editLink {
    cursor: pointer;
}

.editLink:hover {
    color: #5c4ac7;
}
.click-here{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
.mt-top-15 {
    margin-top: 15px;
}
.control-label {
    font-weight: 600;
}
.mt-20 {
    margin-top: 20px;
}



.search-con{
    border: 1px solid #e2dcdc;
    list-style: none;
    border-top: none;
    padding-left: 20px;
    cursor: pointer;
    padding-bottom: 6px;
    padding-top: 6px;
    border-bottom: none;
    float: left;
    width: 100%;
    text-align: left;
  }
  .search-con:hover{
    background-color: #c7e0f1;
    color: #000;
  }
  .search-con:nth-last-child(1){
    border-bottom: 1px solid #e2dcdc;
  }