<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title"></h4>
        <div class="row">
          <div class="col-md-12 col-lg-12">
            <div class="form-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label">Preferred Phone :</label>
                    <input type="text" id="prefPhone" [(ngModel)]="prefPhone" class="form-control" required>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label">Second Phone :</label>
                    <input type="email" id="secondPhone" maxlength="10" [(ngModel)]="submitAgentData.secondPhone"
                      class="form-control" required>

                  </div>
                </div>

              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label">Preferred Email :</label>
                    <input type="email" id="prefEmail" disabled [(ngModel)]="submitAgentData.prefEmail"
                      class="form-control" required>

                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label">Mobile Phone :</label>
                    <input type="tel" id="prefMobile" [(ngModel)]="prefMobile" class="form-control" maxlength="10">
                  </div>
                </div>

              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group has-success">
                    <label class="control-label">Do you speak Spanish</label>
                    <select class="form-control custom-select" [(ngModel)]="submitAgentData.speaksSpanish">
                      <option value="true">Yes</option>
                      <option value="false" default>No</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label">Business/Agency Name :</label>
                    <input type="text" id="prefCompany" [(ngModel)]="prefCompany" class="form-control">
                  </div>
                </div>

              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group has-success">
                    <label class="control-label">Are you an Independent agent?</label>
                    <select class="form-control custom-select" [(ngModel)]="comments">
                      <option value="no" default>No</option>
                      <option value="yes">Yes</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label">Who is your Primary Insurance Company?</label>
                    <input type="text" id="prefCompany" (keyup)="getCompanyNameArray($event)" [(ngModel)]="insuranceCompany" class="form-control">
                    <li class="search-con" [hidden]="selectedCompanyName" *ngFor="let k of dataCompany"
                    (click)="selectCompnayName(k)">{{k.name}}</li>
                  </div>
                </div>

              </div>
              <div class="row" *ngIf="!arryaFlag">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label">Additional Carriers</label><br>
                    <label class="text-small">Adding 'additional carriers' to your profile will increase the per slot rates for Page1 and Page 2.
                      <span class="click-here"> <a  (click)="openInfo()">Click here to know more </a></span> </label>
                    <ng-multiselect-dropdown  (click)="dropdownEvent()"   [disabled]="!validFlag" [placeholder]="'Select Company'" [data]="dropdownList"
                      [(ngModel)]="selectedItems" [ngModelOptions]="{standalone: true}" [settings]="dropdownSettings"
                      (onSelect)="onItemSelectInc($event)" (onDeSelect)="OnItemDeSelect($event)" >
                    </ng-multiselect-dropdown>
                  </div>
                </div>
                <div class="col-md-6 update-style">
                  <label class="control-label"></label>
                  <button type="submit" style="    margin-top: 29px;" class="btn btn-info" type="submit"
                    (click)="submitAgent(submitAgentData.speaksSpanish)">
                    Update</button>
                </div>
              </div>
              <hr>
              <div class="row mt-20">
                <div class="col-md-12">
                  <h4 class="card-title m-t-38">Purchased Subscription:</h4>
                  <div>
                    <div class="row card-body">
                      <div class="main-body col">
                        <table class="table table-bordered" *ngIf="!noFlag">
                          <thead>
                            <tr>
                              <th>Zip</th>
                              <th>Membership</th>
                              <th>From</th>
                              <th>To</th>
                              <th>Qty</th>
                              <th>Price</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let key of subscribeData">
                              <td>
                                <span *ngIf="key.packageId == 3">INC A/B</span>
                                <span *ngIf="key.packageId != 3">{{key.zipcode}}</span>
                              </td>
                              <td>
                                <span *ngIf="key.packageId == 3">INC A/B</span>
                                <span *ngIf="key.packageId == 1">Page 1</span>
                                <span *ngIf="key.packageId == 2">Page 2</span></td>
                              <td>{{key.createdAt | date:'MM/dd/yy'}}</td>
                              <td>{{key.validTill | date:'MM/dd/yy'}}</td>
                              <td>{{key.slots}}</td>
                              <td>
                                <!-- <span *ngIf="key.packageId == 3">$ {{key.slots * 25}}</span>
                                <span *ngIf="key.packageId == 1">$ {{key.slots * 100}}</span>
                                <span *ngIf="key.packageId == 2">$ {{key.slots * 50}}</span> -->

                                <span *ngIf="key.packageId == 1">
                        
                                  <span *ngIf="agentData <= 0">  ${{key.slots * 100}}</span>  
                                  <span *ngIf="agentData <= 3 && agentData> 0"> ${{key.slots * 300}}</span>  
                                  <span *ngIf="agentData == 4 || agentData == 5 && agentData > 0"> ${{key.slots * 400}}</span>
                                 </span>
                               <span *ngIf="key.packageId == 2">
                                   <span *ngIf="agentData <= 0"> ${{key.slots * 50}}</span>  
                                   <span *ngIf="agentData <= 3 && agentData > 0">  ${{key.slots * 150}}</span>  
                                   <span *ngIf="agentData == 4 || agentData == 5 && agentData > 0"> ${{key.slots * 200}}</span>
                                
                               </span>
                               <span *ngIf="key.packageId == 3" class="premiumn"> ${{key.slots * 25}}</span>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <div *ngIf="noFlag" style="text-align: center">
                          <h4>No Subscription Purchased.</h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row mt-top-15">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label">License Number :</label>
                    <input type="text" id="licenseName" class="form-control" [(ngModel)]="submitAgentData.licNumber"
                      required readonly>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label">NPN :</label>
                    <input type="text" id="npn" class="form-control" [(ngModel)]="submitAgentData.npn" required
                      readonly>
                  </div>
                </div>
              </div>
              <div class="row ">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label"> First Name :</label>
                    <input type="text" id="firstName" [(ngModel)]="submitAgentData.firstName" class="form-control"
                      required readonly>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label"> Middle Name :</label>
                    <input type="text" id="middleName" [(ngModel)]="submitAgentData.middleName" class="form-control"
                      required readonly>
                  </div>
                </div>
              </div>
              <div class="row ">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label"> Last Name :</label>
                    <input type="text" id="lastName" [(ngModel)]="submitAgentData.lastName" class="form-control "
                      required readonly>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group has-success">
                    <label class="control-label">Suffix </label>
                    <select class="form-control custom-select" [(ngModel)]="submitAgentData.suffix" disabled>
                      <option value="Jr">Jr</option>
                      <option value="Sr" default>Sr</option>
                    </select>
                  </div>
                </div>
              </div>
              <h4 class="card-title m-t-38">Business Info :</h4>
              <hr>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label"> Business Entity Name :</label>
                    <input type="text" id="businessName" [(ngModel)]="submitAgentData.businessName" class="form-control"
                      required readonly>
                  </div>
                </div>
                <div class="col-md-6 ">
                  <div class="form-group">
                    <label class="control-label"> Business Address 1 :</label>
                    <input type="text" class="form-control" [(ngModel)]="submitAgentData.bAddr1" required readonly>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 ">
                  <div class="form-group">
                    <label class="control-label"> Business Address 2 :</label>
                    <input type="text" [(ngModel)]="submitAgentData.bAddr2" class="form-control" readonly>
                  </div>
                </div>
                <div class="col-md-6 ">
                  <div class="form-group">
                    <label class="control-label"> Business Address 3 :</label>
                    <input type="text" [(ngModel)]="submitAgentData.bAddr3" class="form-control" readonly>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label"> Business City :</label>
                    <input type="text" [(ngModel)]="submitAgentData.bCityName" class="form-control" required readonly>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label">Business State :</label>
                    <input type="text" [(ngModel)]="submitAgentData.bStateName" class="form-control" required readonly>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label">Business Zip :</label>
                    <input type="text" [(ngModel)]="submitAgentData.bZip" class="form-control" required readonly
                      maxlength="5">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label"> Business County :</label>
                    <input type="text" [(ngModel)]="submitAgentData.bCountyName" class="form-control" required readonly>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label"> Business Country :</label>
                    <select [(ngModel)]="submitAgentData.bCountry" class="form-control custom-select" required readonly>
                      <option default>--Select your Country--</option>
                      <option value="India">India</option>
                      <option value="US">US</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label">Business Phone :</label>
                    <input type="text" [(ngModel)]="submitAgentData.bPhone" class="form-control" readonly>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label">Business Mobile :</label>
                    <input type="text" [(ngModel)]="submitAgentData.bMobile" class="form-control" required readonly>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label">Business Email :</label>
                    <input type="email" [(ngModel)]="submitAgentData.bEmail" class="form-control" required readonly>
                  </div>
                </div>
              </div>
              <h4 class="card-title">Licence Info :</h4>
              <hr>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label">License Type :</label>
                    <input type="text" id="licenseName" [(ngModel)]="submitAgentData.licType" class="form-control"
                      required readonly>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label">Line of Authority :</label>
                    <input type="text" id="licenseName" [(ngModel)]="submitAgentData.lineAuth" class="form-control"
                      required readonly>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label"> Licence Status :</label>
                    <input type="text" [(ngModel)]="submitAgentData.licStatus" class="form-control" required readonly>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label">First Active Date :</label>
                    <input type="text" id="firstActiveDate"
                      [ngModel]="submitAgentData.firstActiveDate | date:'MM/dd/yy'" class="form-control" required
                      readonly>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label">Effective Date :</label>
                    <input type="text" id="effectiveDate" [ngModel]="submitAgentData.effectiveDate | date:'MM/dd/yy'"
                      class="form-control" required readonly>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label">Expiration Date :</label>
                    <input type="text" id="expDate" [ngModel]="submitAgentData.expDate | date:'MM/dd/yy'"
                      class="form-control" required readonly>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label">Domicile State :</label>
                    <input type="text" id="dStateName" [(ngModel)]="submitAgentData.dStateName" class="form-control"
                      required readonly>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label">Resident State :</label>
                    <input type="text" id="resState" [(ngModel)]="submitAgentData.resState" class="form-control"
                      required readonly>
                  </div>
                </div>
              </div>
              <h4 class="card-title">Mailing Info :</h4>
              <hr>
              <div class="row">
                <div class="col-md-6 ">
                  <div class="form-group">
                    <label class="control-label"> Mailing Address 1</label>
                    <input type="text" [(ngModel)]="submitAgentData.pAddr1" class="form-control" required readonly>
                  </div>
                </div>
                <div class="col-md-6 ">
                  <div class="form-group">
                    <label class="control-label"> Mailing Address 2</label>
                    <input type="text" [(ngModel)]="submitAgentData.pAddr2" class="form-control" readonly>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 ">
                  <div class="form-group">
                    <label class="control-label"> Mailing Address 3</label>
                    <input type="text" [(ngModel)]="submitAgentData.pAddr3" class="form-control" readonly>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label"> Mailing City</label>
                    <input type="text" [(ngModel)]="submitAgentData.pCityName" class="form-control" required readonly>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label"> Mailing State</label>
                    <input type="text" [(ngModel)]="submitAgentData.pStateName" class="form-control" required readonly>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label"> Mailing Country :</label>
                    <select [(ngModel)]="submitAgentData.pCountry" class="form-control custom-select" disabled>
                      <option default>--Select your Country--</option>
                      <option value="India">India</option>
                      <option value="US">US</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label">Mailing County:</label>
                    <input type="text" [(ngModel)]="submitAgentData.pCountyName" class="form-control" required readonly>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label">Mailing zip:</label>
                    <input type="text" [(ngModel)]="submitAgentData.pZip" class="form-control" required readonly>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group has-success">
                    <label class="control-label">Is Mailing CE Compliance :</label>
                    <select class="form-control custom-select" [(ngModel)]="submitAgentData.isCECompliant" required
                      readonly disbabled>
                      <option value="true">True</option>
                      <option value="false" default>False</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #infoView let-p="close" let-q="dismiss" let-modal>

  <div class="modal-body">
<div class="row">
  <div class="col-md-12 text-center">
    <h4>Disclaimer</h4>
  </div>
</div>
  </div>
</ng-template>

<ng-template #alertModal let-p="close" let-q="dismiss" let-modal>

    <div class="modal-body">
  <div class="row">
    <div class="col-md-12 text-center">
      <h4>Alert</h4>
    </div>
    <div class="col-md-12">
     <p>
       The last update for additional companies was less than 90 day's ago kindly try later.
     </p>
    </div>
    <div class="col-md-12 text-center">
      <button class="btn btn-info" (click)="q('Cross click')">Ok</button>
    </div>
  </div>
    </div>
  </ng-template>

  <div *ngIf="listLoader" class="loader-conteiner">
    <div class="listloader">
    </div>
  </div>