.d-none {
    display: none;
}

ul.signUpTopNav.left {
    float: left;
}
ul.signUpTopNav.right {
    float: right;
}
ul.signUpTopNav li {
    display: inline-block;
}
.error {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #ef5350;
}
.no-radius {
    border-radius: 0;
}
.ver-btn {
    padding-bottom: 4px;
}
.m-top {
    margin-top: 10px;
}
.img-trad{
  position: relative;
  left: -38px;
  right: 0;
  top: 5px;
  margin: auto;
  width: 90px;
}
