<section [ngSwitch]="currentUserType" id="wrapper" class="login-register login-sidebar"
  style="background-image:url(assets/images/background/login-register.jpg);">
  <div *ngSwitchCase="'agent-profile'" class="login-box card">

    <div class="card-body" style="position:relative;overflow: auto;">


      <div class="row ">
        <div class="col">
          <ul class="signUpTopNav left">
            <li class="px-0">

            </li>
          </ul>
          <ul class="signUpTopNav right">
            <li class=" text-bold-600 " style="font-size:15px;padding-right:12px">
              <a [routerLink]="['/home']">
                Home
              </a>
            </li>

            <li class=" text-bold-600 " style="font-size:15px;padding-right:12px">
              <a [routerLink]="['/agent-profile/login']">
                SignIn
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
      </div>
      <div class="row" *ngIf="selectFlag">
        <div class="col">
          <form>
            <div class="col-md-12">
              <div class="logo clearfix text-center mb-2">
                <a class="logo-text ">
                  <div class="logo-img" style="cursor:default">
                    <img style="cursor:default;width: 130px" src="assets/logo/logonew.jpg" />
                    
                  </div>
                </a>
              </div>
            </div>
            <div style="margin: 25px 0 10px 0;">
              <h2 class="text-center">Select Sign Up</h2>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                  <div class="form-group">
                    <select class="form-control" id="sel1" #signUp (change)="changeSignup(signUp.value)">
                      <option disabled selected>Select</option>
                      <option value="agent-profile">AGENT</option>
                      <option value="facility-profile">FACILITY</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-2"></div>
              </div>
            </div>

          </form>

        </div>
      </div>
      <div class="row" *ngIf="!signUpFlag">
        <div class="col">
          <form>

            <div style="margin: 0 0 10px 0;">
              <h2 class="text-center"> NPN Verification Form </h2>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-md-2 col-sm-12 m-top text-center"> <label style="margin-top: 7px;" for="npm">NPN</label>
                </div>
                <div class="col-md-6 col-sm-12 m-top">
                  <input type="text" class="form-control no-radius" name="npn" [(ngModel)]="npmverification"
                    #npn="ngModel" minlength="4" required />
                  <div *ngIf="npn.invalid " class="invalid-feedback">
                  
                    <div *ngIf="npn.invalid">NPN is required</div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-12 m-top">
                  <button class="btn btn-info btn-block no-radius ver-btn" [disabled]="!verifyloading || npn.invalid"
                    (click)="verifyNpn()">
                    <span *ngIf="verifyloading"> Verify</span>
                    <span *ngIf="!verifyloading"><i class="fa fa-spinner fa-spin"></i></span>
                  </button>
                </div>
              </div>
            </div>

          </form>

        </div>
      </div>


      <div class="row" *ngIf="!signUpFacFlag">
        <div class="col">
          <form>

            <div style="margin: 0 0 10px 0;">
              <h2 class="text-center"> ISN Verification Form </h2>
            </div>

            <div class="form-group">
              <div class="row">
                <div class="col-md-2 col-sm-12 m-top text-center"> <label style="margin-top: 7px;" for="isn">ISN</label>
                </div>
                <div class="col-md-6 col-sm-12 m-top">
                  <input type="text" class="form-control no-radius" name="isn" [(ngModel)]="isnVerification"
                    #isn="ngModel" minlength="4" required />
                  <div *ngIf="isn.invalid " class="invalid-feedback">
                   
                    <div *ngIf="isn.invalid">ISN is required</div>
                  </div>
                </div>
                <div class="col-md-4 col-sm-12 m-top">
                  <button class="btn btn-info btn-block no-radius ver-btn" [disabled]="!verifyloading || isn.invalid"
                    (click)="verifyIsn()">
                    <span *ngIf="verifyloading"> Verify</span>
                    <span *ngIf="!verifyloading"><i class="fa fa-spinner fa-spin"></i></span>
                  </button>
                </div>
              </div>
            </div>

          </form>

        </div>
      </div>


      <div class="row">
        <div class="col">
          <form [ngClass]="{'d-none':isSignUpFlag}" style="
            position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 80%;" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate class="form-horizontal form-material"
            id="loginform" action="index.html" *ngIf="npmVerifyFlag">
            <div class="col-md-12">
              <div class="logo clearfix text-center mb-2">
                <a class="logo-text ">
                  <div class="logo-img" style="cursor:default">
                    <img style="cursor:default;width: 130px" src="assets/logo/logonew.jpg" />
                    
                  </div>
                </a>
              </div>
            </div>
           
            <div style="margin: 0 0 10px 0;">
              <h2 class="text-center"> Agent Signup </h2>

            </div>

            <div class="form-group" *ngIf="showNpn">
              <label for="npn">NPN</label>
              <input type="text" class="form-control" name="npn" [(ngModel)]="model.npn" #npn="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && npn.invalid }" required />
              <div *ngIf="f.submitted && npn.invalid " class="invalid-feedback">
              
                <div *ngIf="f.submitted && npn.invalid">NPN is required</div>
              </div>
            </div>

            <div class="form-group">
              <label for="firstName">First Name</label>
             
              <input type="text" class="form-control" name="firstName" [(ngModel)]="model.firstName"
                #firstName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && firstName.invalid }" required
                maxlength="24" />
              <div *ngIf="f.submitted && firstName.invalid " class="invalid-feedback">
               
                <div *ngIf="f.submitted && firstName.invalid">First Name is required</div>

              </div>
            </div>

            <div class="form-group">
              <label for="lastName">Last Name</label>
  
              <input type="text" class="form-control" name="lastName" [(ngModel)]="model.lastName" #lastName="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && lastName.invalid }" required maxlength="24" />
              <div *ngIf="f.submitted && lastName.invalid " class="invalid-feedback">
                <div *ngIf="f.submitted && lastName.invalid">Last Name is required</div>

              </div>
            </div>

            <div class="form-group">
              <label for="email">Preferred Email</label>
          
              <input type="email" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && email.invalid }"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required />
              <div *ngIf="f.submitted && email.invalid " class="invalid-feedback">
                <div *ngIf="f.submitted && email.invalid">Preferred Email is required</div>
              </div>
            </div>

            <div class="form-group">
              <label for="phone">Preferred Phone</label>
              <input type="text" class="form-control" name="phone" [(ngModel)]="model.phone" #phone="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && phone.invalid }" required maxlength="10" />
              <div *ngIf="f.submitted && phone.invalid " class="invalid-feedback">
                <div *ngIf="f.submitted && phone.invalid">Preferred Phone is required</div>
              </div>
            </div>
            <div class="form-group">
              <label for="secondPhone"> Preferred Phone 2 </label>
              <input type="text" class="form-control" name="secondPhone" [(ngModel)]="model.secondPhone"
                #secondPhone="ngModel" maxlength="10" />
            
            </div>

            <div class="form-group">
              <label for="preferredMobile"> Mobile Phone(Optional)</label>
              <input type="text" class="form-control" name="preferredMobile" [(ngModel)]="model.preferredMobile"
                #preferredMobile="ngModel" maxlength="10" />
            
            </div>

            <div class="form-group">
              <label for="lang">Speak Spanish</label>
              <select class="form-control custom-select" name="lang" [(ngModel)]="model.lang" #lang="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && lang.invalid }" required>
                <option value="US" [selected]="true">No</option>
                <option value="ES">Yes</option>

              </select>

              <div *ngIf="f.submitted && lang.invalid " class="invalid-feedback">
                <div *ngIf="f.submitted && lang.invalid">Please Select Language</div>
              </div>
            </div>

            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password" [(ngModel)]="model.password"
                #password="ngModel" (keyup)="checkpassword()"
                [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required [minlength]="8" />

              <div *ngIf="f.submitted && password.invalid " class="invalid-feedback">
                <div *ngIf="password.touched && password.errors.required">Password is required</div>
                <div *ngIf="f.submitted && password.invalid">Password should be minimum 8 characters</div>
              </div>

            </div>
            <div class="form-group">
              <label for="confpassword">Confirm Password </label>
              <input type="password" class="form-control" name="confpassword" [(ngModel)]="model.confpassword"
                (keyup)="checkpassword()" #confpassword="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required [minlength]="8" />
              <div>
                <div class="error" *ngIf="model.password != confpassword.value ||f.submitted && confpassword.invalid ">
                  Password not match</div>

              </div>

            </div>
            <div class="form-group">
              <label for="refBy">Referred By (Optional)</label>
              <input type="text" class="form-control" name="refBy" [(ngModel)]="model.refBy" #refBy="ngModel" />
            </div>

            <div class="form-group">
              <label for="prefCompany">Business/Agency Name</label>
              <input type="text" class="form-control" name="prefCompany" [(ngModel)]="model.prefCompany"
                #prefCompany="ngModel" />
            </div>

            <div class="form-group">
              <label for="prefCompany">Primary Insurance Company</label>
              <input type="text" class="form-control" name="insuranceCompany" [(ngModel)]="model.insuranceCompany"
                #prefCompany="ngModel" />
            </div>
            <!-- <div class="form-group">
              <label for="prefCompany">Select Company </label>
              <ng-multiselect-dropdown [placeholder]="'Select Company'" [data]="dropdownList"
                [(ngModel)]="selectedItems" [ngModelOptions]="{standalone: true}" [settings]="dropdownSettings"
                (onSelect)="onItemSelect($event)" (onDeSelect)="onItemDeSelect($event)">
              </ng-multiselect-dropdown>
            </div> -->
           

            <div class="form-group">
              <label for="comments">Are you an Independent agent?</label>
              <select class="form-control custom-select" name="comments" [(ngModel)]="model.comments"
                #comments="ngModel">
                <option value="no" [selected]="true">No</option>
                <option value="yes">Yes</option>

              </select>

             
            </div>
            <div class="form-group text-center m-t-20">
              <div class="col-xs-12">
                <button type="submit"
                  class="btn btn-info no-radius btn-lg btn-block text-uppercase waves-effect waves-light"
                  [disabled]="!loading || passNotMatchFlag">
                  <span *ngIf="loading">Sign Up</span>
                  <span *ngIf="!loading"><i class="fa fa-spinner fa-spin"></i></span>
                </button>
              </div>
            </div>
          </form>



          <form [ngClass]="{'d-none':isSignUpFlag}" style="
            position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 80%;" (ngSubmit)="fac.form.valid && onFacilitySubmit()" *ngIf="facilityVerify" #fac="ngForm" novalidate
            class="form-horizontal form-material" id="loginform" action="index.html">
            <div class="col-md-12">
              <div class="logo clearfix text-center mb-2">
                <a class="logo-text ">
                  <div class="logo-img" style="cursor:default">
                    <img style="cursor:default;width: 130px" src="assets/logo/logonew.jpg" />
                   
                  </div>
                </a>
              </div>
            </div>
           

            <div style="margin: 0 0 10px 0;">
              <h2 class="text-center"> Facility Signup </h2>
            </div>
            <div class="form-group" *ngIf="showNpn">
              <label for="isn">ISN</label>
              <input type="text" class="form-control" name="isn" [(ngModel)]="facilityModel.isn" #isn="ngModel"
                [ngClass]="{ 'is-invalid': fac.submitted && isn.invalid }" required />
              <div *ngIf="fac.submitted && isn.invalid " class="invalid-feedback">
              
                <div *ngIf="fac.submitted && isn.invalid">ISN is required</div>
              </div>
            </div>

            <div class="form-group">
              <label for="firstName">First Name</label>
            
              <input type="text" class="form-control" name="firstName" [(ngModel)]="facilityModel.firstName"
                #firstName="ngModel" [ngClass]="{ 'is-invalid': fac.submitted && firstName.invalid }" required
                maxlength="24" />
              <div *ngIf="fac.submitted && firstName.invalid " class="invalid-feedback">
            
                <div *ngIf="fac.submitted && firstName.invalid">First Name is required</div>

              </div>
            </div>

            <div class="form-group">
              <label for="lastName">Last Name</label>
              <input type="text" class="form-control" name="lastName" [(ngModel)]="facilityModel.lastName"
                #lastName="ngModel" [ngClass]="{ 'is-invalid': fac.submitted && lastName.invalid }" required
                maxlength="24" />
              <div *ngIf="fac.submitted && lastName.invalid " class="invalid-feedback">
                
                <div *ngIf="fac.submitted && lastName.invalid">Last Name is required</div>

              </div>
            </div>

            <div class="form-group">
              <label for="email">Preferred Email</label>
              <input type="text" class="form-control" name="email" [(ngModel)]="facilityModel.email" #email="ngModel"
                [ngClass]="{ 'is-invalid': fac.submitted && email.invalid }" required />
              <div *ngIf="fac.submitted && email.invalid " class="invalid-feedback">
                
                <div *ngIf="fac.submitted && email.invalid">Preferred Email is required</div>

              </div>
            </div>


            <div class="form-group">
              <label for="phone">Preferred Phone</label>
              <input type="text" class="form-control" name="phone" [(ngModel)]="facilityModel.phone" #phone="ngModel"
                [ngClass]="{ 'is-invalid': fac.submitted && phone.invalid }" required maxlength="10" />
              <div *ngIf="fac.submitted && phone.invalid " class="invalid-feedback">
               
                <div *ngIf="fac.submitted && phone.invalid">Preferred Phone is required</div>
              </div>
            </div>

            <div class="form-group">
              <label for="preferredMobile">Mobile Phone (Optional)</label>
              <input type="text" class="form-control" name="preferredMobile" [(ngModel)]="facilityModel.preferredMobile"
                #preferredMobile="ngModel" [ngClass]="{ 'is-invalid': fac.submitted && preferredMobile.invalid }"
                maxlength="10" />
              <div *ngIf="fac.submitted && preferredMobile.invalid " class="invalid-feedback">
               
              </div>
            </div>

            <div class="form-group">
              <label for="lang">Speak Spanish</label>
              <select class="form-control custom-select" name="lang" [(ngModel)]="facilityModel.lang" #lang="ngModel"
                [ngClass]="{ 'is-invalid': fac.submitted && lang.invalid }" required>
                <option value="US" [selected]="true">No</option>
                <option value="ES">Yes</option>

              </select>

              <div *ngIf="fac.submitted && lang.invalid " class="invalid-feedback">
                <div *ngIf="fac.submitted && lang.invalid">Please Select Language</div>
              </div>
            </div>

            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password" [(ngModel)]="facilityModel.password"
                #password="ngModel" (keyup)="checkfacpassword()"
                [ngClass]="{ 'is-invalid': fac.submitted && password.invalid }" required [minlength]="8" />

              <div *ngIf="fac.submitted && password.invalid " class="invalid-feedback">
                <div *ngIf="password.touched && password.errors.required">Password is required</div>
                <div *ngIf="fac.submitted && password.invalid">Password should be minimum 8 characters</div>
              </div>

            </div>
            <div class="form-group">
              <label for="confpassword">Confirm Password </label>
              <input type="password" class="form-control" name="confpassword" [(ngModel)]="facilityModel.confpassword"
                (keyup)="checkfacpassword()" #confpassword="ngModel"
                [ngClass]="{ 'is-invalid': fac.submitted && password.invalid }" required [minlength]="8" />
              <div>
                <div class="error"
                  *ngIf="facilityModel.password != confpassword.value ||fac.submitted && confpassword.invalid ">Password
                  not match</div>

              </div>

            </div>

            <div class="form-group">
              <label for="refBy">Referred By (Optional)</label>
              <input type="text" class="form-control" name="refBy" [(ngModel)]="facilityModel.refBy" #refBy="ngModel" />
              
            </div>

            <div class="form-group">
              <label for="preferedCompany">Business/Agency Name</label>
              <input type="text" class="form-control" name="prefCompany" [(ngModel)]="facilityModel.prefCompany"
                #prefCompany="ngModel" />
            </div>

            <div class="form-group">
              <label for="comments">Comment</label>
              <textarea type="text" class="form-control" name="comments" maxlength="50"
                [(ngModel)]="facilityModel.comments" #comments="ngModel"></textarea>
            </div>


            <div class="form-group">
              <label for="mechDuty">Mechanic on Duty?</label>
              <select class="form-control custom-select" name="mechDuty" [(ngModel)]="facilityModel.mechDuty"
                #mechDuty="ngModel" [ngClass]="{ 'is-invalid': fac.submitted && mechDuty.invalid }" required>
                <option value="no" [selected]="true">No</option>
                <option value="yes">Yes</option>

              </select>

              <div *ngIf="fac.submitted && mechDuty.invalid " class="invalid-feedback">
                <div *ngIf="fac.submitted && mechDuty.invalid">Required</div>
              </div>
            </div>
          
            <div class="form-group text-center m-t-20">
              <div class="col-xs-12">
                <button type="submit"
                  class="btn btn-info no-radius btn-lg btn-block text-uppercase waves-effect waves-light"
                  [disabled]="!facLoading || facpassNotMatchFlag">
                 
                  <span *ngIf="facLoading">Sign Up</span>
                  <span *ngIf="!facLoading"><i class="fa fa-spinner fa-spin"></i></span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div *ngIf="isSignUpSuccess">
        <form class="form-horizontal" [ngClass]="{'d-none':!isSignUpFlag}" action="index.html">

          <div class="form-group ">
            <div class="col-xs-12">
              <h3> Sign UP Successfull</h3>
              <p class="text-muted">Activation Link has been sent to your Email {{model.email}} {{facilityModel.email}}
              </p>
            </div>
          </div>

          <div class="form-group text-center m-t-20">
            <div class="col-xs-12">
              <a class="btn btn-primary btn-lg btn-block text-uppercase waves-effect waves-light"
                [routerLink]="['/agent-profile/login']">Go
                To Login </a>
            </div>
          </div>
        </form>
      </div>
      <div *ngIf="!isSignUpSuccess">
        <form class="form-horizontal" [ngClass]="{'d-none':!isSignUpFlag}" action="index.html">

          <div class="form-group ">
            <div class="col-xs-12">
              <h3>Sign UP Failed</h3>
              <p class="text-muted">Please Try Again </p>
            </div>
          </div>

          <div class="form-group text-center m-t-20">
            <div class="col-xs-12">
              <a class="btn btn-danger btn-lg btn-block text-uppercase waves-effect waves-light"
                (click)="activateSignup()">Go
                Back to Signup</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>




  <div *ngSwitchCase="'facility-profile'" class="login-box card">
    <div class="card-body" style="position:relative;overflow: auto;">

      <div class="row ">
        <div class="col">
          <ul class="signUpTopNav left">
            <li class="px-0">
            </li>
          </ul>
          <ul class="signUpTopNav right">
            <li class=" text-bold-600 " style="font-size:15px;padding-right:12px">
              <a [routerLink]="['/home']">
                Home
              </a>
            </li>

            <li class=" text-bold-600 " style="font-size:15px;padding-right:12px">
              <a [routerLink]="['/facility-profile/login']">
                SignIn
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>


</section>