<div class="div">
  <nav class="navbar navbar-expand-sm fixed-top navbar-light">
    <div class="container-fluid new-container">

      <a class="navbar-brand" href="#">
        <img class="img-box" src="assets/logo/logonew.jpg">
      </a>


      <label class="optional-label" *ngIf="agenData.type == 'AGENT' && agenData.companyName">
        Result for Company <span class="zip-text" style="text-decoration:underline">{{agenData.companyName}}</span>
        , for a different Company<i class="fa fa-arrow-right arrow-icon"></i><i
          class="fa fa-arrow-up arrow-up-icon"></i>
      </label>
      <button *ngIf="agenData.type == 'AGENT' && agenData.companyName" type="button" class=" btn-info btn-header"
        (click)="goBack()" style="left:78% !important"> GO BACK</button>
      <label class="optional-label" *ngIf="agenData.type == 'AGENT' && agenData.agentName">
        Result for Agent Name <span class="zip-text" style="text-decoration:underline">{{agenData.agentName}}</span>
        , for a different Agent<i class="fa fa-arrow-right arrow-icon"></i><i class="fa fa-arrow-up arrow-up-icon"></i>
      </label>
      <button *ngIf="agenData.type == 'AGENT' && agenData.agentName" type="button" class=" btn-info btn-header"
        (click)="goBack()" style="left:78% !important">GO BACK</button>

      <label
        *ngIf="agenData.type != 'AGENT' || (agenData.type == 'AGENT' && !agenData.agentName && !agenData.companyName)"
        class="optional-label">Result for zip code <span class="zip-text"
          style="text-decoration:underline">{{agenData.zip}}</span>
        , for a different zip code <i class="fa fa-arrow-right arrow-icon"></i><i
          class="fa fa-arrow-up arrow-up-icon"></i>
      </label>

      <button
        *ngIf="agenData.type != 'AGENT' || (agenData.type == 'AGENT' && !agenData.agentName && !agenData.companyName)"
        type="button" class=" btn-info btn-header" (click)="goBack()">GO BACK</button>
      <div class="dropdown">
        <button type="button" class="btn btn-gray-dark dropdown-toggle hambuger-btn" data-toggle="dropdown">
          <i class="fa fa-bars"></i>
        </button>
        <div class="dropdown-menu" style="left:-117px">
          <a class="dropdown-item mouse menu-left" *ngIf="isLoggedIn" (click)="navigateProfile()">
            <img class="logoImageh" [src]=logoImage> {{loginUser | titlecase}}
          </a>
          <a class="dropdown-item menu-left" [routerLink]="['/agent-profile/login']" *ngIf="!isLoggedIn"><img
              class="logoImageh" [src]=logoImage>

            <span> Sign In</span><br>
            <span style="padding-left: 38px;">Agents/Facilities</span>
          </a>
          <a class="dropdown-item menu-left" href="#"><img class="logoImageh" [src]=logoImage>

            Help
          </a>
          <a class="dropdown-item menu-left" href="https://www.schoolsafetyprogram.org" target="_blank"><img
              class="logoImageh" [src]=logoImage>
            School Safety
          </a>
          <a class="dropdown-item menu-left" [routerLink]="['/aboutus']"><img class="logoImageh" [src]=logoImage>

            About Us
          </a>
          <a class="dropdown-item menu-left" style="cursor:pointer" (click)="terms()"><img class="logoImageh"
              [src]=logoImage>

            Terms of Service
          </a>
          <a *ngIf="isLoggedIn menu-left" class="dropdown-item" href="#" (click)="logout()"><img class="logoImageh"
              [src]=logoImage>

            Logout
          </a>
        </div>
      </div>
    </div>
  </nav>
</div>


<div class="newdiv secdiv" style="    margin-top: 125px;" [style.height.px]="dynamicHeight - 150">

  <div class="row backImage">
    <div class="col-md-3 firstImage" [style.height.px]="dynamicHeight - 100"></div>

    <div class="col-md-6 central">
      <div class="row card" class="info-c" *ngIf="searchType == 'INSURANCE' && !showAgentListFlag">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12 f-bold" style="font-size: 17px;">
              Provide this information to your agent or insurance company's service representative
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <span class="f-bold">
                Proof of insurance to be sent to:
              </span>
              <span>
                {{this.selectedOption}}
              </span>
            </div>
          </div>
          <div class="row" *ngIf="this.selectedFlag">
            <div class="col-md-12">
              <span class="f-bold">Email Address :
              </span>
              <span>
                {{this.selectedValue}}
              </span>
            </div>
          </div>
          <div class="row" *ngIf="this.selectedFlag1">
            <div class="col-md-12">
              <span class="f-bold">Phone #:
              </span>
              <span>
                {{this.selectedValue}}
              </span>
            </div>
          </div>
          <div class="row" *ngIf="this.selectedFlag4">
            <div class="col-md-12">
              <span class="f-bold">Location :
              </span>
              <span>
                {{this.selectedValue}}
              </span>
            </div>
          </div>
          <div *ngIf="this.selectedFlag2 || this.selectedFlag3">

            <div class="row">
              <div class="col-md-12">
                <span class="f-bold"> Name :</span>
                <span *ngIf="selectedFlag2">
                  {{this.selectedValue.branch}}
                </span>
                <span *ngIf="selectedFlag3">
                  {{this.selectedValue.name}}
                </span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <span class="f-bold"> City :
                </span>
                <span>
                  {{this.selectedValue.city}}
                </span>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <span class="f-bold">Fax Number :
                </span>
                <span>
                  {{this.selectedValue.faxNumber}}
                </span>
              </div>

            </div>
            <div class="row">
              <div class="col-md-12">
                <span class="f-bold">Postal Code :
                </span>
                <span>
                  {{this.selectedValue.postalCode}}
                </span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <span class="f-bold"> Phone :
                </span>
                <span>
                  {{this.selectedValue.mainPhone}}
                </span>
              </div>
            </div>

          </div>

        </div>
      </div>

      <div class="col-md-12" *ngFor="let list of searchList ;let i=index">
        <div class="card" *ngIf="searchType == 'AGENT' ">

          <div class="card-body" *ngIf="agenData.agentName == '' ">
            <div class="row backImage">
                    <div class="col-md-8" *ngIf="customerServiceFlag">
                        <p class="mb-0"><label class="agent-name mb-0">
                            {{list?.insurance_company}}
                          </label>
                        </p>
        
                        <p class="mb-0"><label class="agent-bname mb-0">
                            Customer Service
                          </label></p>
                    </div>
                    <div class="col-md-4" *ngIf="customerServiceFlag">
                        <button class="btn btn-rounded btn btn-info agent-button" (click)="callNow(i , list)"><i
                            class="fa fa-phone "></i>
                          Call Now</button>
                    </div>

              <div class="col-md-12"  *ngIf="!customerServiceFlag">
                  <p class="mb-0"> <label class="agent-name mb-0">{{list?.firstName}} {{list?.lastName}}  
                      <span class="agent-bname mb-0 fw-100">
                          &nbsp; 
                          <span *ngIf="agenData.type == 'AGENT' && !agenData.companyName">{{list?.insurance_company}}</span>
                                <span *ngIf="agenData.type == 'AGENT' && agenData.companyName">
                                  <span  *ngIf="list?.extension == '1001' || list?.extension == '1002' ">{{list?.insurance_company}}</span>
                                  <span  *ngIf="list?.extension != '1001' && list?.extension != '1002'">{{agenData.companyName}}</span>
                                </span>
                      </span>
                      <span *ngIf="list?.comments == 'yes'" style="margin-bottom:0" class="agent-inde">- Independent Agent <i
                        class="fa fa-info info-icon" placement="right" ngbTooltip="Can Quote From Many Companies"></i>
                      </span>
                  </label>
                  </p>
                  <!-- <p class="mb-0"></p> -->
                  <!-- <p style="margin-bottom:0" ></p> -->
              </div>
              <div class="col-md-9"  *ngIf="!customerServiceFlag">
                <p class="mb-0" *ngIf="list.carriers.length != 0">
                  <span class="agent-name-avail mb-0" *ngIf="list.carriers.length != 0"> Additional Carriers<br /></span>

                  <label class="agent-bname mb-0" *ngFor="let j of list.carriers">
                    <span *ngFor="let k of list.carrierList">
                      <span *ngIf="k.id == j">{{k?.carrier}}, </span>

                    </span>
                   
                  </label>
                  <span *ngIf="checkPrimaryCompany" class="agent-bname" >{{list?.insurance_company}}</span>
                </p>
              </div>
              <div class="col-md-3 "  *ngIf="!customerServiceFlag">
                <button class="btn btn-rounded btn btn-info agent-button call-now-col" (click)="callNow(i,list)"><i
                    class="fa fa-phone "></i>
                  Call Now</button>
              </div>
              <div class="col-md-12"  *ngIf="!customerServiceFlag">
                  <p class="mb-0"><label class="agent-bname-black  mb-0">
                    <span class="fw-bold"> {{list?.city }} <span *ngIf="list?.city && list?.state != ''">{{','}}</span> {{list?.state}}</span>
                    </label></p>
              </div>
              
            </div>
          </div>

          <div class="card-body" *ngIf="agenData.agentName != ''">
            <div class="row backImage">
              <div class="col-md-12">
                  <p class="mb-0"> <label class="agent-name mb-0">{{list?.firstName}} {{list?.lastName}} 
                      <span class="agent-bname mb-0 fw-100">
                         &nbsp; {{list?.insurance_company}}</span>
                    <span class="agent-inde"  *ngIf="list?.comments == 'yes'" style="margin-bottom:0">- Independent Agent <i
                    class="fa fa-info info-icon" placement="right" ngbTooltip="Can Quote From Many Companies"></i>
                    </span></label>
                  </p>
                  <!-- <p class="mb-0"><label class="agent-bname mb-0">
                      {{list?.insurance_company}}
  
                    </label></p> -->
                  <!-- <p style="margin-bottom:0"></p> -->
                 
              </div>
              <div class="col-md-9">
                <p class="mb-0" *ngIf="list.carriers.length != 0">
                  <span class="agent-name-avail mb-0" *ngIf="list.carriers.length != 0"> Additional Carriers<br /></span>

                  <label class="agent-bname mb-0" *ngFor="let j of list.carriers">
                    <span *ngFor="let k of list.carrierList">
                      <span *ngIf="k.id == j" style="font-size: 13px">{{k.carrier}}, </span>

                    </span>
                  </label>
                </p>
              </div>
              <div class="col-md-3 ">
                <button class="btn btn-rounded btn btn-info agent-button call-now-col" (click)="callNow(i , list)"><i
                    class="fa fa-phone "></i>
                  Call Now</button>
              </div>
             
              <div class="col-md-12">
                  <p class="mb-0"><label class="agent-bname-black mb-0">
                      <span class="fw-bold"> {{list?.city}}, {{list?.state}}</span>
                      </label></p>
              </div>
             
              
            </div>
          </div>

        </div>
        <div class="card" *ngIf="searchType == 'FACILITY'">
          <div class="card-body">
            <div class="row backImage">
              <div class="col-md-8">
                <p class="mb-0"><label class="agent-bname-com mb-0">
                    <span *ngIf="list?.pref_company == ''"> {{list?.bName}}</span>
                    <span *ngIf="list?.pref_company != ''"> {{list?.pref_company}}</span>
                  </label></p>

                <p class="mb-0"><label class="agent-bname mb-0">
                    <span *ngIf="list?.addr_1 != ''"> {{list?.addr_1}},<br> {{list?.city}},<br> {{list?.state}},<br>
                      {{list?.zip}} </span>
                    <span *ngIf="list?.addr_2 != ''"> {{list?.addr_2}}</span>
                    <span *ngIf="list?.addr_3 != ''"> {{list?.addr_3}}</span>
                  </label></p>
                <p class="mb-0"><label class="agent-bname">
                    Phone: {{list?.phone}}
                  </label>
                </p>

              </div>
              <div class="col-md-4">
                <button class="btn btn-rounded btn btn-info agent-button" (click)="callNow(i , list)"><i
                    class="fa fa-phone "></i>
                  Call Now</button>
              </div>
            </div>
          </div>
        </div>


        <div class="card" *ngIf="searchType == 'INSURANCE' && !showAgentListFlag">

          <div class="card-body">

            <div class="row backImage">
              <div class="col-md-8" *ngIf="list.zip==null">
                <p class="mb-0"><label class="agent-name mb-0">
                    {{list?.insurance_company}}
                  </label>
                </p>

                <p class="mb-0"><label class="agent-bname mb-0">
                    Customer Service
                  </label></p>
              </div>

              <div class="col-md-8" *ngIf="list.zip!=null">
                <p class="mb-0"> <label class="agent-name mb-0">{{list?.firstName}} {{list?.lastName}}</label>
                </p>
                <p class="mb-0"><label class="agent-bname mb-0">
                    {{list?.insurance_company}}

                  </label></p>
                <p *ngIf="list?.comments == 'yes'"><label class="agent-inde">Independent Agent <i
                      class="fa fa-info info-icon" placement="right" ngbTooltip="Can Quote From Many Companies"></i>
                  </label></p>
              </div>
              <div class="col-md-4">
                <button class="btn btn-rounded btn btn-info agent-button" (click)="callNow(i , list)"><i
                    class="fa fa-phone "></i>
                  Call Now</button>
              </div>
            </div>
          </div>


        </div>
      </div>
      <div class="card" *ngIf="searchType == 'INSURANCE' && showAgentListFlag">
        <div class="card-body" style="padding: 26px 23px;background-color: #fff">
          <div class="row backImage">
            <div class="col-md-12 text-center">
              <span class="heading-strong">Where do you want proof of insurance sent? </span><br>
              <span style="font-size:14px">(Provide this information to your agent or insurance company's service
                representative)</span>
            </div>
            <div class="col-md-12">
              <hr>

            </div>
            <div class="col-md-12" style="
            padding-right: 0;">
              <div class="row">
                <div class="col-md-6 ">
                  <div class="radio">
                    <label><input type="radio" name="proof" (click)="selectProof('HOME')">Email<br>
                      <span style="font-size:9px">(Give your email address to agent)</span>
                    </label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="radio">
                    <label><input type="radio" name="proof" (click)="selectProof('PHONE')">Sent as text to your
                      phone
                      <br>
                      <span style="font-size:9px">(Give your cell phone number to agent)</span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 ">
                  <div class="radio">
                    <label><input type="radio" name="proof" (click)="selectProof('VEH')">Vehicle Sales Location
                      <br>
                      <span style="font-size:9px">(Have fax number and email address to the dealership)</span> </label>
                  </div>
                </div>
                <div class="col-md-6 ">
                  <div class="radio">
                    <label><input type="radio" name="proof" (click)="selectProof('LPA')">Licence Plate Agency </label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="radio">
                    <label><input type="radio" name="proof" (click)="selectProof('DMV')">Driver's License
                      Office</label>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-md-12">
              <div class="row" *ngIf="selectedFlag">
                <div class="col-md-3"></div>
                <div class="col-md-6"> <input type="email" class="form-control" #box1 id="box1"
                    [ngClass]="{'box1':selectedFlag}" autofocus placeholder="Enter email address"
                    [(ngModel)]="saveSearchList.home" /></div>
                <div class="col-md-3"></div>
              </div>
              <div class="row" *ngIf="selectedFlag1">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                  <input type="text" class="form-control" #box2 id="box2" [ngClass]="{'box1':selectedFlag1}"
                    placeholder="Enter Phone" autofocus [(ngModel)]="saveSearchList.phone">
                </div>
                <div class="col-md-3"></div>
              </div>
              <div class="row" *ngIf="selectedFlag2">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                  <input type="text" class="form-control" #box3 id="box3" [ngClass]="{'box1':selectedFlag2}"
                    placeholder="Enter City " autofocus [(ngModel)]="lpaAddress" (keyup)="getLpa()">
                </div>
                <div class="col-md-3"></div>
              </div>

              <div class="row" *ngIf="selectedFlag3">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                  <input type="text" class="form-control" #box4 id="box4" [ngClass]="{'box1':selectedFlag3}"
                    placeholder="Enter City" autofocus [(ngModel)]="dmvAddress" (keyup)="getDMv()">
                </div>
                <div class="col-md-3"></div>
              </div>

              <div class="row" *ngIf="selectedFlag4">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                  <input type="text" class="form-control" [(ngModel)]="saveSearchList.location" #box5 id="box5"
                    [ngClass]="{'box1':selectedFlag4}" autofocus placeholder="Enter Sales Location">
                </div>
                <div class="col-md-3"></div>
              </div>
            </div>
          </div>
          <hr>

          <div class="row" *ngIf="selectedFlag">
            <div class="col-md-12 text-right">
              <button class="btn btn-info" type="button" (click)="saveInsuranceSent()">Next</button>
            </div>
          </div>
          <div class="row" *ngIf="selectedFlag1">
            <div class="col-md-12 text-right">
              <button class="btn btn-info" type="button" (click)="saveInsuranceSent()">Next</button>
            </div>
          </div>
          <div class="row" *ngIf="selectedFlag4">
            <div class="col-md-12 text-right">
              <button class="btn btn-info" type="button" (click)="saveInsuranceSent()">Next</button>
            </div>
          </div>
          <div class="row" *ngIf="selectedFlag2">
            <div class="col-md-12 text-center">
              License Plate Agency
              <br>
              <span style="font-size: 12px">(Click on blue box for complete office information)</span>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4" style="margin-bottom:20px">

            </div>
            <div class="col-md-4"></div>

            <div class="col-md-2"></div>
            <div class="col-md-8">
              <div class="row" *ngFor="let k of dataArray; let i = index" style="margin-bottom:10px">
                <div class="col-md-2 text-right" style="margin-top: 10px;">

                </div>
                <div class="col-md-10">
                  <a href="#List-{{ i }}" class="btn btn-info" data-toggle="collapse"
                    style="width: 100%;text-align: left" (click)="collapseAll(i,k)">
                    {{k.branch}}

                    <span title="{{k.city}}" class="city-c">, {{k.city}}</span>
                  </a>


                  <div id="List-{{ i }}" *ngIf="!k.isCollapsed" style="    width: 100%;">
                    <div class="card">
                      <div class="card-body" style="background-color:#fff">

                        <p>Address: {{k.address}}</p>
                        <p>Phone: {{k.mainPhone}}</p>
                        <p>Fax: {{k.faxNumber}}</p>
                        <p>City: {{k.city}}</p>
                        <p> <a href="{{k.directions}}" target="_blank">Get Directions</a> </p>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-12 text-right">
              <button class="btn btn-info" type="button" (click)="saveInsuranceSent()">Next</button>
            </div>
          </div>

          <div class="row" *ngIf="selectedFlag3">
            <div class="col-md-12 text-center">
              Driver's License Office
              <br>
              <span style="font-size: 12px">(Click on blue box for complete office information)</span>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4" style="margin-bottom:20px">

            </div>
            <div class="col-md-4"></div>

            <div class="col-md-2"></div>
            <div class="col-md-8">
              <div class="row" *ngFor="let k of dataArray1; let i = index" style="margin-bottom:10px">
                <div class="col-md-2 text-right" style="margin-top: 10px;">

                </div>
                <div class="col-md-10">
                  <a href="#List-{{ i }}" class="btn btn-info" data-toggle="collapse"
                    style="width: 100%;text-align: left" (click)="collapseAllDrivers(i,k)">
                    {{k.name}}
                    <span title="{{k.city}}" class="city-c">, {{k.city}}</span>

                  </a>


                  <div id="List-{{ i }}" *ngIf="!k.isCollapsed1" style="    width: 100%;">
                    <div class="card">
                      <div class="card-body" style="background-color:#fff">
                        <p>Address: {{k.address}}</p>
                        <p>Phone: {{k.mainPhone}}</p>
                        <p>Fax: {{k.faxNumber}}</p>
                        <p> <a href="{{k.directions}}" target="_blank">Get Directions</a> </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-12 text-right">
              <button class="btn btn-info" type="button" (click)="saveInsuranceSent()">Next</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <label *ngIf="totalRecords != 0 && agenData.agentName == ''" class="additional">Additional Options</label>
        <ngb-pagination *ngIf="totalRecords != 0 && agenData.agentName == ''" [maxSize]="maxSize" [rotate]="true"
          [ellipses]="false" [boundaryLinks]="true" [collectionSize]="totalElements" [pageSize]="pageSize"
          (pageChange)="pageChanged($event)" [(page)]="currentPage"></ngb-pagination>


        <ngb-pagination *ngIf="((totalRecords != 0 && searchType == 'INSURANCE') || (totalRecords != 0 && searchType == 'FACILITY'))"  [maxSize]="maxSize" [rotate]="true"
          [ellipses]="false" [boundaryLinks]="true" [collectionSize]="totalElements" [pageSize]="pageSize"
          (pageChange)="insurancePageChanged($event)" [(page)]="currentPage"></ngb-pagination>
      </div>
    </div>
    <div class="col-md-3 secondImage" [style.height.px]="dynamicHeight - 100"></div>
  </div>

  <div class="row backImage">
    <div class="col-md-12">

    </div>
    <div class="col-md-12 text-center no-data display-n" [ngClass]="{'display-block':OopsFlag}">
      <h5>Oops! We could not locate your

        <span *ngIf="agenData.type == 'AGENT' && agenData.companyName !== ''">Company
        </span>
        <span *ngIf="agenData.type == 'AGENT' && agenData.agentName !== ''">Agent
        </span>
        <span *ngIf="agenData.type == 'AGENT' && agenData.companyName == ''
        && agenData.agentName == ''"> Agent</span>



        <span *ngIf="agenData.type == 'FACILITY'">Facility</span>
        <span *ngIf="agenData.type == 'INSURANCE'">Insurance</span>
         within the zipcode that you provided!
        Please verify the information and try again.</h5>

    </div>
  </div>
</div>

<div class="loader" *ngIf="loader">
</div>
<div class="loader-message" *ngIf="loader">
  Getting List...
</div>
<div class="divMessageBox animated fadeIn fast" [ngClass]="{'d-block': notifyFlag}" id="divMessageBox">
  <div class="MessageBoxContainer animated fadeIn fast" id="Msg1">
    <div class="MessageBoxMiddle">
      <span class="MsgTitle">Hang on, we are connecting your call to the
        <span *ngIf="agenData.type == 'AGENT'">Agent</span>
        <span *ngIf="agenData.type == 'FACILITY'">Facility</span>
        <span *ngIf="agenData.type == 'INSURANCE'">Insurance</span>
        with the number you provided! </span>
      <span id="targetText"></span>
      <p class="pText" id="targetErroText"></p>
      <div class="MessageBoxButtonSection">
        <button id="bot1-Msg1" (click)="hideNotification()" class="btn btn-default btn-sm botTempo"> Okay</button>
      </div>
    </div>
  </div>
</div>


<ng-template #prompt let-p="close" let-q="dismiss" let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Instructions</h4>
    <button type="button" class="close" aria-label="Close" (click)="q('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <label>Agent is Not Certified and Call might not go through</label>
        <p>Do you still want to proceed?</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9"></div>
      <div class="col-md-1">
        <button class="btn btn-info" id=closeButton type="button" (click)="q('Cross click')">No</button>
      </div>
      <div class="col-md-1">
        <button class="btn btn-info" type="button" (click)="confirmCall()">Yes</button>
      </div>
    </div>
  </div>
</ng-template>

<!-- <ng-template #promptToCheckPage let-p="close" let-q="dismiss" let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Instructions</h4>
    <button type="button" class="close" aria-label="Close" (click)="q('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <label>The next set of agents are Not Certified and Call might not go through </label>
        <p>Click 'YES' to call the next available certified agent, and 'NO' to procced.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9"></div>
      <div class="col-md-1">
        <button class="btn btn-info" id=closeButton type="button" (click)="no(q)">No</button>
      </div>
      <div class="col-md-1">
        <button class="btn btn-info" type="button" id="clickYes" (click)="callNowGinAgent()">Yes</button>
      </div>
    </div>
  </div>
</ng-template> -->

<ng-template #alertmodal let-p="close" let-q="dismiss" let-modal>

  <div class="modal-body">
    <div class="row" *ngIf="thankyouFlag">
      <div class="col-md-12 text-center">
        <h3>Thank you for visiting MV1Stop</h3>
        <h4>Have a great day !</h4>
      </div>
      <div class="col-md-12 text-center">
        <button class="btn btn-info" id=closeButton type="button" (click)="closeThankYou(p)">Close</button>
      </div>
    </div>
    <div class="row" [hidden]=thankyouFlag>
      <div class="col-md-12 text-center">
        <h4>Disclaimer</h4>
      </div>
      <div class="col-md-12 alertmodal" *ngIf="firstFlag">
        <p class="alert-font">MV1Stop will attempt to connect with you with the company/Agent selected; however,if they
        </p>
        <p class="alert-font"> are not available, you will be connected to the next available MV1Stop certified local
          agent.</p>
      </div>
      <div class="col-md-12 alertmodal" *ngIf="secondFlag">
        <p class="alert-font">If the company's local agent you selected is not available, will you accept any available
        </p>
        <p class="alert-font">MV1Stop certified local agent from another company and/or the next available servicing
          company?</p>
      </div>
      <div class="col-md-12 alertmodal" *ngIf="thirdFlag">
        <p class="alert-font">If the specific agent you selected is not available, will you accept any available MV1Stop
        </p>
        <p class="alert-font">Certified local agent from another company and/or the next available servicing comapny?
        </p>
      </div>
    </div>
    <div class="row" [hidden]="thankyouFlag">
      <div class="col-md-12 text-right">
        <button class="btn btn-info" *ngIf="firstFlag" id=closeButton type="button"
          (click)="q('Cross click');displaySearchList(q)">Close</button>
        <button class="btn btn-info" style="    margin: 20px;" *ngIf="secondFlag || thirdFlag" id=closeButton
          type="button" (click)="confirmSelection(q)">No</button>
        <button class="btn btn-info" *ngIf="secondFlag || thirdFlag" id=closeButton type="button"
          (click)="q('Cross click'); displaySearchList(q)">Yes</button>
      </div>
    </div>
  </div>
</ng-template>