.footer-bottom {
    border-top: 1px solid #666;
    background: transparent;
    width: 100%;
}
.optional-label{
  position: absolute;
  left: 0px;
  right: 140px;
  margin: auto;
  text-align: center;
  font-weight: bold
}
.arrow-up-icon{
  visibility:hidden

}
.heading-strong{
    font-weight: bold;
    color: #000;
    font-size: 20px
}
.btn-header{
  position: absolute;
  right: 0;
  left: 60%;
  margin: auto;
  text-align: center;
}
.additional{
  font-weight: bold
}

.copyright-text p {
    color: #ccc;
    margin-top: 9px;
    margin-bottom: 0;
}

.navbar[_ngcontent-c1] img[_ngcontent-c1] {
    /* width: 56px; */
    /* margin-top: 13px; */
}

.social-link li {
    display: inline-block;
    margin: 0 5px;
}

.social-link li a {
    color: #ccc;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    transition: 0.5s;
}

.contact-list li span {
    color: white;
}

.contact-list a:hover {
    background-color: rgb(0, 17, 255) !important;
}

.contact-list li {
    display: inline-block;
    margin: 0 5px;
    list-style-type: none;
}

.contact-list li a {
    color: #ccc;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    transition: 0.5s;
}

.contact-list li span {
    color: white;
}

.navbar {
    /* position: absolute;
top: 12%;
right: 0;
background-color: transparent; */
}

.navbar-brand {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

/* .navbar img {
    width: 70px;
    height: 50px;
} */

.navbar-nav a {
    letter-spacing: 2px;
    color: white;
}

.navbar-nav a:hover {
    color: rgb(0, 183, 255);
}

.wrapper {
    /* position: absolute;
top: 35%;
left: 4%; */
}

.btn2 {
    margin-left: 12px !important;
}

/* .wrapper {
  background-image: url(https://ld-wp.template-help.com/wordpress_prod-19753/v1/wp-content/uploads/2018/07/main-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -120px;
  padding: 294px 0px 0px 0px;
  height: 432px;
} */

.all-cards {
    margin-top: 0px;
    background: #fff;
}
.container-box {
    background: #fff;
}
.container{
  /* max-width: 720px; */
}
/* .newdiv{
  margin-left: 0rem;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(assets/slider/11.png),url(assets/slider/13.png);
  background-size: contain;
  overflow: auto;
  background-repeat:no-repeat;
  background-position:left center, right center

} */

/* /* .secdiv{
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: contain;
  overflow: auto;
  background-repeat:no-repeat;
  background-image: url(assets/slider/Artboard2icons1.svg);
  background-position:right


} */
.firstImage{
  position: fixed;
  width: 100%;
  background-image: url(assets/search/11.png);
  background-size: contain;
  overflow: auto;
  background-repeat: no-repeat;
  background-position: center;
}
.secondImage{
  position: fixed;
  width: 100%;
  background-image: url(assets/search/13.png);
  background-size: contain;
  overflow: auto;
  background-repeat: no-repeat;
  background-position: center;
  right: 0;

}
.central{
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
}
.card-body {
    padding: 0 23px;
    padding-top: 20px;
    background: #e4e3e3;
}

.card-box {
    padding: 15px 0;
    border-radius: 9px 9px 9px 9px;
    background: #999999;
    height: 125px;
}
.trad-img{
  width: 100px !important;
  height: 50px !important;
  position: absolute;
  top: 25px;
  left: 125px

}
.nav-link {
    color: white !important;
}

@media (max-width: 768px) {
    h2 {
        font-size: 16px !important;
    }

    .btn-outline-success {
        margin-top: 15px !important;
    }
    /* .trad-img{
      display: none
    } */
}

.tg-formbannersearch fieldset {
    background: #fff;
    overflow: hidden;
    border-radius: 5px;
    padding: 0 190px 0 0;
}

.tg-formtheme fieldset {
    margin: 0;
    border: 0;
    /* padding: 0; */
    width: 100%;
    float: left;
    position: relative;
}

.tg-formbannersearch .form-group:first-child {
    border: 0;
}

.tg-formbannersearch .form-group {
    margin: 0;
    float: left;
    width: 33.33%;
    padding: 0 0 0 60px;
    border-left: 1px solid #dbdbdb;
}

.tg-inputwithicon {
    position: relative;
}

.tg-formbannersearch .tg-inputwithicon i {
    left: 20px;
    color: #666;
    font-size: 20px;
    line-height: 60px;
}

.tg-inputwithicon i {
    top: 0;
    z-index: 2;
    position: absolute;
}

.tg-select select {
    z-index: 1;
    width: 100%;
    position: relative;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.tg-formbannersearch .form-group .form-control,
.tg-formbannersearch .form-group .tg-select select {
    border: 0;
    height: 60px;
    border-radius: 0;
    font-size: 16px;
    line-height: 30px;
    padding: 15px 15px 15px 0;
}

.tg-inputwithicon .form-control {
    z-index: 1;
    position: relative;
}

.icon-bullhorn:before {
    content: '\e976';
}

.fa-crosshairs:before {
    content: '\f05b';
    right: 15px;
    position: absolute;
    bottom: 20px;
    color: #797979;
    z-index: 100;
}

.tg-formbannersearch .tg-btn {
    top: 0;
    right: 0;
    padding: 0;
    z-index: 2;
    width: 191px;
    border-radius: 0;
    line-height: 60px;
    text-align: center;
    position: absolute;
}
.tg-formbannersearch .tg-btn {
    background: #1976d2;
}
.tg-formbannersearch .tg-btn :hover {
    background: #1976d2;
}
.tg-btn:before {
    top: 0;
    left: 0;
    z-index: -1;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
}
.tg-btns .tg-btn:hover {
    /* background: #00cc67; */

    background: #1976d2;
    /* border-color: #1976d2; */
}
.tg-btns .tg-btn:hover {
    /* background: #00cc67; */

    background: #1976d2;
    /* border-color: #1976d2; */
}

.tg-btn {
    color: #fff;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    text-transform: capitalize;
    border: 0;
    /* background: rgba(0, 0, 0, 0.00); */
    font: 500 16px/46px 'Quicksand', Arial, Helvetica, sans-serif;
    border: 1px solid #1976d2;
}
.tg-btn:disabled {
    color: #1976d2;
    background-color: transparent;
}

textarea,
select,
.tg-select select,
.form-control,
input[type='text'],
.uneditable-input {
    color: #666;
    outline: none;
    height: 40px;
    background: #fff;
    font-size: 14px;
    line-height: 18px;
    padding: 10px 20px;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #dbdbdb;
    text-transform: capitalize;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.tg-formbannersearch .form-group .tg-select:after {
    line-height: 60px;
}

.tg-select:after {
    top: 0;
    right: 15px;
    z-index: 2;
    color: #666;
    display: block;
    content: '\f107';
    position: absolute;
    text-align: center;
    font-size: inherit;
    line-height: 40px;
    font-family: 'FontAwesome';
}

.tg-formbannersearch .tg-btn:hover {
    background: rgba(0, 0, 0, 0.2);
}

.tg-btn:hover,
.tg-btn:focus,
.tg-btn:active {
    color: #fff;
    background: rgba(0, 0, 0, 0.2);
    border: none !important;
}

button {
    cursor: pointer;
}

/* tab */

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}
.lang-item {
  position: absolute;
  right: 75px;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  color:#184194;
  font-weight: 600;
}

/* rating */

.rating i.voted {
    color: #ffc107;
}

.icon_star:before {
    content: '\e033';
}

.strip_list a.wish_bt {
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.05);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    color: #555;
}

a.wish_bt {
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 2;
    background-color: #000;
    background-color: rgba(202, 202, 202, 0.6);
    padding: 9px 10px;
    color: #fff;
    line-height: 1;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

a.wish_bt:hover {
    text-decoration: none;
    outline: 0;
    color: #e74e84;
}

.li-link li {
    display: inline-block;
}

.li-link li:first-child:after {
    content: '|';
    font-weight: 400;
    margin-left: 8px;
    margin-right: 8px;
    color: #ccc;
}

.center p {
    margin-bottom: 0;
}

ol,
ul,
dl {
    margin-top: 7px;
    margin-bottom: 0;
}

@media (max-width: 450px) {
    .card-button {
        margin-left: 5px;
    }
}

@media (max-width: 1300px) {
    .card-button {
        margin-left: 40px;
    }
}

@media (max-width: 991px) {
    .card-button {
        text-align: center;
        margin-left: 10px;
    }

    .Left {
        text-align: center;
        padding: 0;
    }

    .center {
        text-align: center;
    }

    .rating {
        text-align: end;
        display: block;
    }

    .tg-formbannersearch .form-group {
        width: 50%;
    }

    .tg-formbannersearch .form-group:nth-child(3) {
        border-left: 0;
        border-top: 1px solid #dbdbdb;
    }

    .tg-formbannersearch .tg-btn {
        padding: 0;
        width: 50%;
        position: relative;
        border-top: 1px solid #dbdbdb;
    }

    .tg-formbannersearch fieldset {
        padding: 0;
    }
}

@media (max-width: 568px) {
    .tg-formbannersearch .form-group:first-child {
        border-bottom: 1px solid #dbdbdb;
    }

    .tg-formbannersearch .form-group {
        width: 100%;
    }

    .tg-formbannersearch .form-group {
        width: 100%;
        border-bottom: 1px solid #dbdbdb;
    }

    .tg-formbannersearch .form-group:nth-child(3) {
        border-top: 0;
    }

    .tg-formbannersearch .form-group {
        width: 100%;
        border-bottom: 1px solid #dbdbdb;
    }

    .tg-formbannersearch .tg-btn {
        width: 100%;

        border: 0;
    }
}

.tg-formbannersearch .errorTooltip.form-group:first-child,
.tg-formbannersearch .errorTooltip {
    border: 1px solid red;
    color: red;
}

.loaderContainer {
    margin: 20px 0;
}

.loader {
    border: 6px solid #f3f3f3; /* Light grey */
    border-top: 6px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.mb-0 {
    margin-bottom: 0;
}
.box-property {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
}
.gutters {
    margin-left: 0;
    margin-right: 0;
}
.mt-15 {
    margin-top: 15px;
}
.dynamic-red {
    background: #cc0000;
}
.card:hover.card {
    cursor: pointer;
}

.homeContainer {
    margin-bottom: 200px;
}
.dropdown-toggle::after {
    display: none;
}
.img-box {
  /* width: 178px !important;
  height: 137px !important;
  margin-top: 0px !important; */
  height: 70px;
}

.dropdown-menu {
    left: -117 !important;
}
.fixed-top {
    padding-left: 0;
    padding-right: 0;
    top: -8px;
}
.new-container {
    background: #fff;
    height: 80px;
    padding-bottom: 0;
    padding-left: 0;
}
.head-label {
    font-size: 1rem;
    font-weight: bold;
    color: #000;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}
@media screen and (max-width: 768px) {
    .head-label {
        font-size: 12px;
        font-weight: bold;
        color: #000;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
    }
    .lang-item {
      position: absolute;
      right: 56px;
      cursor: pointer;
      padding-left: 10px;
      padding-right: 10px;
      font-size: 15px;
      font-weight: 600;
    }
    .optional-label{
      position: absolute;
      right: 0;
      left: 24%;
      margin: auto;
      text-align: center;
      font-weight: bold;
      top: 70%;
      font-size: 10px
    }
    .arrow-icon{
      display: none
    }
    .arrow-up-icon{
visibility:visible
    }
    .btn-header{
      position: absolute;

      left: 75%;
      right: 10%;
      margin: auto;
      text-align: center;
      border-radius: 10px;
      font-size: 10px;
    }
}
.sec-head {
    font-weight: bold;
    color: #000;
}
.btn-red {
    background: #cc0000;
}
.margin-6 {
    margin-top: 6rem !important;
}
body {
    background: #e9ecef !important;
}
.hambuger-btn {
    background: transparent;
}
.row-box {
    position: absolute;

    background: #fff;
    width: 100%;
    padding-top: 6rem;
    margin-left: 0;
    margin-right: 0;
}
.card-footer {
    background-color: #c9cbce;
}
.mouse{
  cursor: pointer;
}
.agent-name{
  /* margin-top: 20px; */
  font-weight: bold;
  color: #208220
}
.agent-name-avail{
    /* margin-top: 20px; */
    font-weight: bold;
    color: #208220;
    font-size: 14px
  }
.agent-head{
  font-weight: bold;
  color: #000
}
.agent-button{
  margin-top: 15px;
  margin-bottom: 15px;
  
}
.call-now-col{
 margin-top: 0px;
 margin-bottom: 0px
}
.no-data{
  position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 400px
}
.loader {
  border: 7px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 72px;
  height: 72px;
  animation: spin 2s linear infinite;
  position: absolute;
  left: 0;
  top: 20%;
  right: 0;
  margin: auto;
  text-align: center;
}
.loader1{
  border: 3px solid #f3f3f3;
  border-top: 3px solid #3498db;
  border-radius: 50%;
  width: 27px;
  height: 27px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#divMessageBox {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .6);
    z-index: 100000;
    display: none
}
.MessageBoxContainer {
    top: 35%;
    color: #fff;
    position: relative;
    width: 100%;
    background-color: #184194;
    padding: 20px;
}
.MessageBoxMiddle {
    position: relative;
    left: 20%;
    width: 60%;
}
.MessageBoxMiddle .MsgTitle {
    letter-spacing: -1px;
    font-size: 24px;
    font-weight: 300;
}
p {
    margin: 0 0 9px;
}
.MessageBoxButtonSection {
    width: 100%;
    height: 30px;
}
.MessageBoxButtonSection button {
    float: right;
    margin-right: 7px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
    font-weight: 700;
}
.d-block{
  display: block;
}
/* .btn-success{
  background-color: #184194;
  border: 1px solid #184194;
  box-shadow: 0 2px 2px 0 rgba(40, 190, 189, 0.14), 0 3px 1px -2px rgba(40, 190, 189, 0.2), 0 1px 5px 0 rgba(40, 190, 189, 0.12);
  transition: 0.2s ease-in;
  color: #fff
} */
.agent-bname{
  color: #208220;
  font-size: 14px
}
.agent-bname-com{
  color: #208220;
  font-size: 14px;
  font-weight: bold;

}
.agent-inde{
  color: #000;
  font-size: 14px;
  font-weight: 100
}
.display-n{
  display: none;
}
.display-block{
  display: block
}
.loader-message{
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  top: 43%;
  font-size: 18px;
  font-weight: 700;
}
@media screen and (max-width: 375px) {

  /* .trad-img{
    display: none
  } */

}

@media screen and (max-width: 320px) {

  /* .trad-img{
    display: none
  } */

}
.backbutton{
  position: absolute;
  left: 250px;
  right: 0;
  font-size: 1rem;
  color: blue;
  font-weight: 600;
  cursor: pointer;
  z-index: 10000;
  width: 47px;
}
.backImage{
 margin-left: 0;
 margin-right: 0

}
.d-none{
  display: none
}


@media screen and (max-width: 768px) {
/*
  .newdiv{
    margin-left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: none;
    background-size: contain;
    overflow: auto
  } */
  .firstImage{
    background-image: none;
    position: relative;
  }
  .secondImage{
    background-image: none;
    position: relative;
  }


}

.info-icon{
  height: 16px;
  background: #484242;
  color: #fff;
  border-radius: 20px;
  width: 18px;
  padding-left: 7px;
  padding-top: 2px;
  cursor: pointer;
  font-size: 11px;
}
.mb-0{
  margin-bottom: 0
}
.zip-text{
  font-weight:bold;
  color: #208220
}
.city-c {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}
.info-c {
    margin:14px;
    background: #e4e3e3;
    padding: 5px;
    /* font-weight: bold; */
    font-size: 15px;
    color: #393838;
}

.f-bold {
    font-weight: bold;
}
.box1{
    background-color: #fdfdd6 !important
}
.agent-bname-black {
    font-size: 14px;
    color: #000
}
.alertmodal{
    font-weight: bold;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.logoImageh{
    height: 30px;
  }
  .menu-left{
    padding-left:0;
    cursor: pointer;
    color: #000;
  }
  .alert-font{
    font-size: 0.9rem;
  }
  .fw-100{
      font-weight: 100
  }
  .fw-bold{
      font-weight: bold
  }