<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="agent">
            <h2><span jhiTranslate="iaaApp.agent.detail.title">Agent</span> {{agent.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="iaaApp.agent.npn">Npn</span></dt>
                <dd>
                    <span>{{agent.npn}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.agent.naicno">Naicno</span></dt>
                <dd>
                    <span>{{agent.naicno}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.agent.fein">Fein</span></dt>
                <dd>
                    <span>{{agent.fein}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.agent.residentState">Resident State</span></dt>
                <dd>
                    <span>{{agent.residentState}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.agent.createdAt">Created At</span></dt>
                <dd>
                    <span>{{agent.createdAt}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.agent.updatedAt">Updated At</span></dt>
                <dd>
                    <span>{{agent.updatedAt}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.agent.verifiedAt">Verified At</span></dt>
                <dd>
                    <span>{{agent.verifiedAt}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.agent.isVerified">Is Verified</span></dt>
                <dd>
                    <span>{{agent.isVerified}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.agent.isActive">Is Active</span></dt>
                <dd>
                    <span>{{agent.isActive}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.agent.isDeleted">Is Deleted</span></dt>
                <dd>
                    <span>{{agent.isDeleted}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.agent.profile">Profile</span></dt>
                <dd>
                    <div *ngIf="agent.profileId">
                        <a [routerLink]="['/profile-mv', agent.profileId, 'view']">{{agent.profileId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="iaaApp.agent.lic">Lic</span></dt>
                <dd>
                    <div *ngIf="agent.licId">
                        <a [routerLink]="['/agent-lic-mv', agent.licId, 'view']">{{agent.licId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="iaaApp.agent.domicileState">Domicile State</span></dt>
                <dd>
                    <div *ngIf="agent.domicileStateId">
                        <a [routerLink]="['/state-mv', agent.domicileStateId, 'view']">{{agent.domicileStateId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="iaaApp.agent.business">Business</span></dt>
                <dd>
                    <div *ngIf="agent.businessId">
                        <a [routerLink]="['/business-mv', agent.businessId, 'view']">{{agent.businessId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/agent-mv', agent.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
