<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-agent-mv-heading" jhiTranslate="iaaApp.agent.home.createOrEditLabel">Create or edit a Agent</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!agent.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="agent.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.agent.npn" for="field_npn">Npn</label>
                    <input type="text" class="form-control" name="npn" id="field_npn"
                        [(ngModel)]="agent.npn" required/>
                    <div [hidden]="!(editForm.controls.npn?.dirty && editForm.controls.npn?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.npn?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.agent.naicno" for="field_naicno">Naicno</label>
                    <input type="text" class="form-control" name="naicno" id="field_naicno"
                        [(ngModel)]="agent.naicno" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.agent.fein" for="field_fein">Fein</label>
                    <input type="text" class="form-control" name="fein" id="field_fein"
                        [(ngModel)]="agent.fein" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.agent.residentState" for="field_residentState">Resident State</label>
                    <input type="checkbox" class="form-control" name="residentState" id="field_residentState"
                        [(ngModel)]="agent.residentState" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.agent.createdAt" for="field_createdAt">Created At</label>
                    <div class="d-flex">
                        <input id="field_createdAt" type="datetime-local" class="form-control" name="createdAt" [(ngModel)]="createdAt"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.agent.updatedAt" for="field_updatedAt">Updated At</label>
                    <div class="d-flex">
                        <input id="field_updatedAt" type="datetime-local" class="form-control" name="updatedAt" [(ngModel)]="updatedAt"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.agent.verifiedAt" for="field_verifiedAt">Verified At</label>
                    <div class="d-flex">
                        <input id="field_verifiedAt" type="datetime-local" class="form-control" name="verifiedAt" [(ngModel)]="verifiedAt"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.agent.isVerified" for="field_isVerified">Is Verified</label>
                    <input type="checkbox" class="form-control" name="isVerified" id="field_isVerified"
                        [(ngModel)]="agent.isVerified" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.agent.isActive" for="field_isActive">Is Active</label>
                    <input type="checkbox" class="form-control" name="isActive" id="field_isActive"
                        [(ngModel)]="agent.isActive" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.agent.isDeleted" for="field_isDeleted">Is Deleted</label>
                    <input type="checkbox" class="form-control" name="isDeleted" id="field_isDeleted"
                        [(ngModel)]="agent.isDeleted" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.agent.profile" for="field_profile">Profile</label>
                    <select class="form-control" id="field_profile" name="profile" [(ngModel)]="agent.profileId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="profileOption.id" *ngFor="let profileOption of profiles; trackBy: trackProfileById">{{profileOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.agent.lic" for="field_lic">Lic</label>
                    <select class="form-control" id="field_lic" name="lic" [(ngModel)]="agent.licId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="agentLicOption.id" *ngFor="let agentLicOption of lics; trackBy: trackAgentLicById">{{agentLicOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.agent.domicileState" for="field_domicileState">Domicile State</label>
                    <select class="form-control" id="field_domicileState" name="domicileState" [(ngModel)]="agent.domicileStateId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="stateOption.id" *ngFor="let stateOption of states; trackBy: trackStateById">{{stateOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.agent.business" for="field_business">Business</label>
                    <select class="form-control" id="field_business" name="business" [(ngModel)]="agent.businessId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="businessOption.id" *ngFor="let businessOption of businesses; trackBy: trackBusinessById">{{businessOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
