<div>
    <h2 id="page-heading">
        <span jhiTranslate="iaaApp.agent.home.title">Agents</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-agent-mv" [routerLink]="['/agent-mv/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="iaaApp.agent.home.createLabel">
            Create new Agent
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="agents">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="iaaApp.agent.npn">Npn</span></th>
            <th><span jhiTranslate="iaaApp.agent.naicno">Naicno</span></th>
            <th><span jhiTranslate="iaaApp.agent.fein">Fein</span></th>
            <th><span jhiTranslate="iaaApp.agent.residentState">Resident State</span></th>
            <th><span jhiTranslate="iaaApp.agent.createdAt">Created At</span></th>
            <th><span jhiTranslate="iaaApp.agent.updatedAt">Updated At</span></th>
            <th><span jhiTranslate="iaaApp.agent.verifiedAt">Verified At</span></th>
            <th><span jhiTranslate="iaaApp.agent.isVerified">Is Verified</span></th>
            <th><span jhiTranslate="iaaApp.agent.isActive">Is Active</span></th>
            <th><span jhiTranslate="iaaApp.agent.isDeleted">Is Deleted</span></th>
            <th><span jhiTranslate="iaaApp.agent.profile">Profile</span></th>
            <th><span jhiTranslate="iaaApp.agent.lic">Lic</span></th>
            <th><span jhiTranslate="iaaApp.agent.domicileState">Domicile State</span></th>
            <th><span jhiTranslate="iaaApp.agent.business">Business</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let agent of agents ;trackBy: trackId">
                <td><a [routerLink]="['/agent-mv', agent.id, 'view' ]">{{agent.id}}</a></td>
                <td>{{agent.npn}}</td>
                <td>{{agent.naicno}}</td>
                <td>{{agent.fein}}</td>
                <td>{{agent.residentState}}</td>
                <td>{{agent.createdAt | date:'medium'}}</td>
                <td>{{agent.updatedAt | date:'medium'}}</td>
                <td>{{agent.verifiedAt | date:'medium'}}</td>
                <td>{{agent.isVerified}}</td>
                <td>{{agent.isActive}}</td>
                <td>{{agent.isDeleted}}</td>
                <td>
                    <div *ngIf="agent.profileId">
                        <a [routerLink]="['../profile-mv', agent.profileId , 'view' ]" >{{agent.profileId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="agent.licId">
                        <a [routerLink]="['../agent-lic-mv', agent.licId , 'view' ]" >{{agent.licId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="agent.domicileStateId">
                        <a [routerLink]="['../state-mv', agent.domicileStateId , 'view' ]" >{{agent.domicileStateId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="agent.businessId">
                        <a [routerLink]="['../business-mv', agent.businessId , 'view' ]" >{{agent.businessId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/agent-mv', agent.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/agent-mv', agent.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'agent-mv/'+ agent.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
