<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-business-mv-heading" jhiTranslate="iaaApp.business.home.createOrEditLabel">Create or edit a Business</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!business.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="business.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.business.businessName" for="field_businessName">Business Name</label>
                    <input type="text" class="form-control" name="businessName" id="field_businessName"
                        [(ngModel)]="business.businessName" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.business.createdAt" for="field_createdAt">Created At</label>
                    <div class="d-flex">
                        <input id="field_createdAt" type="datetime-local" class="form-control" name="createdAt" [(ngModel)]="createdAt"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.business.updatedAt" for="field_updatedAt">Updated At</label>
                    <div class="d-flex">
                        <input id="field_updatedAt" type="datetime-local" class="form-control" name="updatedAt" [(ngModel)]="updatedAt"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.business.verifiedAt" for="field_verifiedAt">Verified At</label>
                    <div class="d-flex">
                        <input id="field_verifiedAt" type="datetime-local" class="form-control" name="verifiedAt" [(ngModel)]="verifiedAt"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.business.isVerified" for="field_isVerified">Is Verified</label>
                    <input type="checkbox" class="form-control" name="isVerified" id="field_isVerified"
                        [(ngModel)]="business.isVerified" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.business.isActive" for="field_isActive">Is Active</label>
                    <input type="checkbox" class="form-control" name="isActive" id="field_isActive"
                        [(ngModel)]="business.isActive" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.business.isDeleted" for="field_isDeleted">Is Deleted</label>
                    <input type="checkbox" class="form-control" name="isDeleted" id="field_isDeleted"
                        [(ngModel)]="business.isDeleted" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iaaApp.business.address" for="field_address">Address</label>
                    <select class="form-control" id="field_address" name="address" [(ngModel)]="business.addressId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="addressOption.id" *ngFor="let addressOption of addresses; trackBy: trackAddressById">{{addressOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
