<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="business">
            <h2><span jhiTranslate="iaaApp.business.detail.title">Business</span> {{business.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="iaaApp.business.businessName">Business Name</span></dt>
                <dd>
                    <span>{{business.businessName}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.business.createdAt">Created At</span></dt>
                <dd>
                    <span>{{business.createdAt}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.business.updatedAt">Updated At</span></dt>
                <dd>
                    <span>{{business.updatedAt}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.business.verifiedAt">Verified At</span></dt>
                <dd>
                    <span>{{business.verifiedAt}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.business.isVerified">Is Verified</span></dt>
                <dd>
                    <span>{{business.isVerified}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.business.isActive">Is Active</span></dt>
                <dd>
                    <span>{{business.isActive}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.business.isDeleted">Is Deleted</span></dt>
                <dd>
                    <span>{{business.isDeleted}}</span>
                </dd>
                <dt><span jhiTranslate="iaaApp.business.address">Address</span></dt>
                <dd>
                    <div *ngIf="business.addressId">
                        <a [routerLink]="['/address-mv', business.addressId, 'view']">{{business.addressId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/business-mv', business.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
