<div>
    <h2 id="page-heading">
        <span jhiTranslate="iaaApp.business.home.title">Businesses</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-business-mv" [routerLink]="['/business-mv/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="iaaApp.business.home.createLabel">
            Create new Business
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="businesses">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="iaaApp.business.businessName">Business Name</span></th>
            <th><span jhiTranslate="iaaApp.business.createdAt">Created At</span></th>
            <th><span jhiTranslate="iaaApp.business.updatedAt">Updated At</span></th>
            <th><span jhiTranslate="iaaApp.business.verifiedAt">Verified At</span></th>
            <th><span jhiTranslate="iaaApp.business.isVerified">Is Verified</span></th>
            <th><span jhiTranslate="iaaApp.business.isActive">Is Active</span></th>
            <th><span jhiTranslate="iaaApp.business.isDeleted">Is Deleted</span></th>
            <th><span jhiTranslate="iaaApp.business.address">Address</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let business of businesses ;trackBy: trackId">
                <td><a [routerLink]="['/business-mv', business.id, 'view' ]">{{business.id}}</a></td>
                <td>{{business.businessName}}</td>
                <td>{{business.createdAt | date:'medium'}}</td>
                <td>{{business.updatedAt | date:'medium'}}</td>
                <td>{{business.verifiedAt | date:'medium'}}</td>
                <td>{{business.isVerified}}</td>
                <td>{{business.isActive}}</td>
                <td>{{business.isDeleted}}</td>
                <td>
                    <div *ngIf="business.addressId">
                        <a [routerLink]="['../address-mv', business.addressId , 'view' ]" >{{business.addressId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/business-mv', business.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/business-mv', business.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'business-mv/'+ business.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
