<section id="wrapper" class="login-register login-sidebar" style="background-image:url(assets/images/background/login-register.jpg);">
    <div class="login-box card">
        <div class="card-body" style="position:relative;overflow:auto">

            <div class="row ">
                <div class="col">
                    <ul class="signInTopNav left">
                       <li class="px-0">
                        <div class="logo clearfix text-center mb-2">
                          <a class="logo-text ">
                            <div class="logo-img" style="cursor:default">
                             
                            </div>
                          </a>
                        </div>
                      </li>
                    </ul>
                  <ul class="signInTopNav right">
                      <li class=" text-bold-600 "  style="font-size:15px;padding-right:12px">
                          <a [routerLink]="['/home']">
                            Home
                          </a>
                        </li>


                  </ul>
                </div>
              </div>
            <form #f=ngForm  (ngSubmit)="f.form.valid && loginSubmit()" class="form-horizontal form-material" id="loginform" action="index.html" style="
          position: absolute;
            top: 38px;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            width: 80%;" *ngIf="loginFormFlag">
                <a href="javascript:void(0)" class="text-center db">

                    <br/>
                    <img src="assets/logo/logonew.jpg" style="width: 130px" alt="Home" />

                </a>
                <div class="form-group m-t-40">
                    <div class="col-xs-12">
                        <input [(ngModel)]="userLogin.username"  #username name="username" [ngClass]="{ 'is-invalid': f.submitted && username.invalid }"  [ngModelOptions]="{standalone: true}" class="form-control"  type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required placeholder="Email">
                        <div *ngIf="f.submitted && username.invalid " class="invalid-feedback">
                            <div *ngIf="f.submitted && username.invalid">Email is required</div>

                          </div>
                      </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input [(ngModel)]="userLogin.password" #password name="password" [ngModelOptions]="{standalone: true}" class="form-control" type="password" required placeholder="Password">
                        <div *ngIf="f.submitted && password.invalid " class="invalid-feedback">
                            <div *ngIf="f.submitted && password.invalid">Password is required</div>

                          </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12 pl-0">
                        <div class="checkbox checkbox-primary pull-left p-t-0">
                            <input [(ngModel)]="userLogin.rememberMe" [ngModelOptions]="{standalone: true}" id="checkbox-signup" type="checkbox">
                            <label class="re-label" for="checkbox-signup"> Remember me </label>
                        </div>
                        <a (click)="recover()" id="to-recover" class="text-dark pull-right">
                            <i class="fa fa-lock m-r-5"></i> Forgot pwd?</a>
                    </div>
                </div>
                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit" [disabled]="!loading">
                        <span *ngIf="loading">Log In</span>
                        <span *ngIf="!loading"><i class="fa fa-spinner fa-spin"></i></span>

                        </button>
                    </div>
                </div>
         
                <div class="form-group m-b-0" *ngIf="currentUserType != 'user'">
                    <div class="col-sm-12 text-center">
                        <p>Don't have an account?
                            <a class="text-info m-l-5" [routerLink]="[ '/'+currentUserType,'signup']">
                                <b>Sign Up</b>
                            </a>
                        </p>
                    </div>
                </div>
            </form>
            <form  class="form-horizontal"  *ngIf="hideResetForm" action="index.html">
                <div class="form-group ">
                    <div class="col-xs-12">
                        <h3>Recover Password </h3>
                        <p class="text-muted">Enter your Email and instructions will be sent to you! </p>
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-xs-12">
                        <input class="form-control" type="email" name="resetEmail" [(ngModel)]="resetEmail" [ngModelOptions]="{standalone: true}" required placeholder="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                    </div>
                </div>
                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" (click)="forgotPassword()" [disabled]="resetEmail == ''"  type="button">Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
