.d-none {
    display: none;
}

ul.signInTopNav.left {
    float: left;
}
ul.signInTopNav.right {
    float: right;
}
ul.signInTopNav li {
    display: inline-block;
}
.pl-0 {
    padding-left: 0;
    padding-right: 0;
}
.re-label {
    padding-left: 6px;
}
#to-recover{
    cursor:pointer;
}
.img-trad{
  position: relative;
  left: -38px;
  right: 0;
  top: 5px;
  margin: auto;
  width: 90px;
}
